@import 'node_modules/bootstrap/scss/mixins/_grid';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid-framework';

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.center {
  display: flex;
  justify-content: center;
}

.middle {
  display: flex;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

@include make-grid-columns();
