{% macro result() %}
  <div class="row bw-follows middle">
    <div class="col-md-1">
      <img src="../public/avatar.jpg" />
    </div>
    <div class="col-md-9">
      <div class="padding-left-3">
        <div><a href="">AnusProductions</a></div>
        <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn-inverse">Follow</button> <!-- TODO Change states if the user is following the other user -->
    </div>
  </div>
  <div class="padding-left-3">
    <div class="col-md-11 offset-1 v-spacing-top-3 v-spacing-3 divider-light"></div>
  </div>
{% endmacro %}

{% macro results(count) %}
  {% for i in range(count) -%}
    {{ result()}}
  {%- endfor %}
{% endmacro %}