<div>
  <div class="divider-light"></div>
  <div class="padding-3 v-padding-2 between font-weight-bold">
    <div>240 sounds</div>
    <div>Sounds</div>
    <div class="font-weight-normal text-light-grey">Sort by:</div>
  </div>
  <div class="divider-light"></div>
</div>