.balloon {
  display:inline-block;
   width:120px;
  height:145px;
  background: #301ebe;
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 3s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:#301ebe;
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:153px;
  position:absolute;
  height:250px;
  width:1px;
  margin:0 auto;
  content:"";
  background:rgba(0,0,0,0.2);
}

.balloon:nth-child(2){ background: #1e847f; animation-duration:3.5s; }
.balloon:nth-child(2):before { color:#1e847f;  }

.balloon:nth-child(3){ background: #26da55; animation-duration:3s; }
.balloon:nth-child(3):before { color:#26da55;  }

.balloon:nth-child(4){ background: #feda31; animation-duration:4.5s; }
.balloon:nth-child(4):before { color:#feda31;  }

.balloon:nth-child(5){ background: #fc4e1e; animation-duration:5s; }
.balloon:nth-child(5):before { color:#fc4e1e;  }


#balloons {
    position: absolute;
    width: 100%;
    height: 300px;
    text-align:center;
    animation: 5s slide-up linear;
    opacity: 0;
    z-index: 999;
}

@keyframes slide-up {
    0%   { opacity: 0; top: 600px;}
    10%   { opacity: 1; top: 500px;}
    80% { opacity: 1; top:-200px }
    100% { opacity: 0; top:-400px }
}
