#h1 {
    padding: 3px;
    font-size: 20px;
    margin: 5px 0;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    z-index: 10;
}

#h2 {
    padding: 3px;
    font-size: 18px;
    margin: 2px 0;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    z-index: 10;
}

#h3 {
    padding: 3px;
    font-size: 10px;
    margin: 2px 0;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    z-index: 10;
}

#chart {
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
}

#chart-container {
    background-color: rgba(128, 128, 128, 0.1);
    width: 100%;
    height: 600px;
    position: relative;
}

#graph {
    position: absolute;
    top: 0;
    left: 0;
}

#player-container {
    background-color: rgba(128, 128, 128, 0.2);
    width: 200px;
    height: 80px;
    position: relative;
    top: 5px;
    float: right;
    right: 5px;
}

.clustering-facet{
    margin: 5px;
}