/*
General
*/


.tagrecommendation_body {
    font-family: Tahoma, sans-serif;
    font-size: 80%;
    color:#444444;
    margin-top:20px;
    margin-left:40px;
    margin-bottom:40px;
}

/*
a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    color: #FF6633;
}*/

.tr_tagging_interface_wrapper{

}

.tr_tagging_interface_gray_area{
    width:800px;
    /*padding-top:10px;
    padding-bottom:10px;
    padding-right:7px;
    margin-bottom: 10px;*/
    padding:5px;
    border-left: 2px solid #eee;
    background: #f7f7f7;
    /* disable user selection */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tr_copypaste{
    float:right;
}

.tr_button_icon{
    margin-right:2px;
}

.tr_button_icon:active{
    background-color: #DeDeDe;
    border-radius:2px;
}

.tr_recommended_categories{
    width: 800px;
    margin-top: 20px;
    line-height: 20px;
}

.tr_recommended_tags{
    z-index:999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border: 1px solid #888888;
    border-radius:10px;
    border-top-left-radius: 0px;
    border-style: dashed;
    background-color:white;
    max-width:400px;
    min-width:400px;
    line-height: 30px;
}

.tr_tag_in_recommendation_list{
    display:inline-block;
    color: #444444;
    font-size: 13px;
    padding-left:12px;
    padding-right:4px;
    background: url(../images/tagrecommendation/tag_long4.png) no-repeat left top;
    background-size:200px 28px;
    background-position: 0px 2px;
    margin-right:2px;

}

.tr_category_information{
    width: 800px;
    margin-top: 20px;
}

.tr_tagline{
    float:left;
    width: 700px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tr_tag{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    padding-left:12px;
    padding-right:4px;
    /*padding-top: 2px;*/
    background: url(../images/tagrecommendation/tag_long4.png) no-repeat left top;
    background-size:200px 28px;
    background-position: 0px 1px;
    margin-right:10px;
    margin-top:2px;
    height:30px;
    line-height: 30px;
}

.tr_tag_chained_last{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    padding-left:12px;
    padding-right:4px;
    /*padding-top: 2px;*/
    background: url(../images/tagrecommendation/tag_long8.png) no-repeat left top;
    background-size:200px 28px;
    background-position: 0px 1px;
    margin-left:-1px;
    margin-right:10px;
    margin-top:2px;
    height:30px;
    line-height: 30px;
}

.tr_tag_chained{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    padding-left:12px;
    padding-right:4px;
    /*padding-top: 2px;*/
    background: url(../images/tagrecommendation/tag_long8.png) no-repeat left top;
    background-size:200px 28px;
    background-position: 0px 1px;
    margin-left:0px;
    margin-right:-2px;
    margin-top:2px;
    height:30px;
    line-height: 30px;
}

.tr_tag_category{
    display:inline-block;
    vertical-align: middle;
    color: black;
    margin-left:2px;
    padding-left: 3px;
    padding-right: 3px;
    /*padding-top: 4px;*/
    font-size: 13px;
    /*background-color: #deec9a; /*#9ADA55;*/
    border: 2px solid #deec9a; /*#9ADA55;*/
    border-radius:5px;
    margin-top:2px;
    height:24px;
    line-height: 24px;

}

.tr_tag_category_selected{
    display:inline-block;
    vertical-align: middle;
    color: black;
    margin-left:2px;
    padding-left: 3px;
    padding-right: 3px;
    /*padding-top: 4px;*/
    font-size: 13px;
    /*background-color: #cedc8a;*/
    border: 2px solid #cedc8a;
    border-radius:5px;
    margin-top:2px;
    height:24px;
    line-height: 24px;
}

.tr_input_box_wrapper{
}

.tr_input_box_inline_wrapper{
    margin-left: -6px;
}

.tr_input_box{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    /*width:150px;*/
    width:15px;
    min-width:15px;
    padding-left: 4px;
    padding-right: 4px;
    /*margin-top:0px;*/
    border: 1px solid #888888;
    /* Background color of normal tags */
    background-color: #f7f6dd;
    border-radius:5px;
    border-style: dashed;
    margin-top:2px;
    height:24px;
}

.tr_input_box_inline{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    /*width:150px;*/
    width:15px;
    min-width:15px;
    padding-left: 4px;
    padding-right: 4px;
    /*margin-top:0px;*/
    border: 1px solid #888888;
    /* Background color of green tags */
    background-color: #e4ecb1;
    /*background-color: #f4fcc1;*/
    border-radius:5px;
    border-style: dashed;
    margin-top:2px;
    height:24px;
}

.tr_first_input_box{
    display:inline-block;
    vertical-align: middle;
    color: #444444;
    font-size: 13px;
    /*width:150px;*/
    width:85px;
    min-width:85px;
    padding-left: 4px;
    padding-right: 4px;
    margin:2px;
    border: 1px solid #888888;
    /* Background color of normal tags */
    background-color: #f7f6dd;
    border-radius:5px;
    border-style: dashed;
    margin-top:2px;
    height:24px;
}

.tr_text_width_measurer{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    padding: 4px;
    font-size: 15px;
    background-color: red;
    color:white;
}

.tr_hide {
    display:none;
}

.tr_add_tag_icon {
    display: inline-block;
    vertical-align: middle;
	width: 16px;
    height: 21px;
	background: url(../images/tagrecommendation/add_tag_both2.png) center no-repeat;
    background-position: 0px -1px;
}
.tr_add_tag_icon:hover {
	background-position: -16px -1px;
}

.tr_remove_tag_icon {
    display: inline-block;
    vertical-align: middle;
	width: 16px;
	height: 21px;
	background: url(../images/tagrecommendation/remove_tag_both2.png) bottom no-repeat;
    background-position: 0px -1px;
}
.tr_remove_tag_icon:hover {
	background-position: -16px -1px;
}

.tr_no_wrapping_span{
    display: inline-block;
}

.tr_no_wrapping_tag_with_categories_span{
    display: inline-block;
}

.tr_draggable_category{
    background-color: #eefcaa;
    border-radius:5px;
}

.tr_draggable_outside_category{
    background-color: #f7f6dd;
    border-radius:5px;
}

.tr_recommended_tags_info{
    font-size:13px;
    margin-bottom: 4px;
    float:left;
    max-width: 380px;
    line-height: 22px;
}

.tr_tag_category_description{
    color:#bccb79;
    margin-bottom:5px;
}

.tr_category_name_in_description{
    color:black;
    padding: 4px;
    border: 2px solid #deec9a;
    border-radius:5px;
}

.tag_recommendation_close_button{
    float: right;
    margin-top:-10px;
}