{% import '../../atoms/icons.njk' as icons %}

<div class="between middle">
  <div></div>
  <input type="text" placeholder="Start browsing here" class="bw-search__input" id="search-input-browse"/>
  <span class="bw-search_remove-query" id="remove-content-search">{{ icons.icon('close') }}</span>
</div>