{% import '../../atoms/select.njk' as selects %}
<div>
  <div class="divider-light"></div>
  <div class="padding-3 v-padding-2 between middle font-weight-bold">
    <div>240 sounds</div>
    <div>Sounds</div>
    <div class="browse__search-overview-sorter">
      <span class="font-weight-normal text-light-grey">Sort by:</span>
      {{ selects.select(['Relevance', 'Upload date', 'Upload modification'], 'sort-by') }}
    </div>
  </div>
  <div class="divider-light"></div>
</div>