
{% import '../atoms/comment.njk' as comment %}

{% macro newSection() %}
  <div>
    <h6 class="text-26 no-margins ">Comments</h6>
    <div class="row">
      <div class="col-md-9">
        <textarea class="v-spacing-top-4 bw-comments_textarea" placeholder="Write your comment here..."></textarea>
      </div>
      <div class="col-md-3">
        <button class="v-spacing-top-4 btn-inverse text-14">Post comment</button>
      </div>
    </div>
    <div class="v-spacing-top-5">
      {{ comment.comments(5) }}
      <div class="v-spacing-top-4 center">
        <button class="v-spacing-top-1 btn-inverse">Show all comments</button> 
      </div>
    </div>
  </div>
{% endmacro %}