<footer class="bw-footer bg-black padding-7">
  <div class="center">
    <div class="footer-logo-container">
      <div class="row">
        <div class="col-sm">
          <img class="w-100" src="../public/upf_logo.png" />
        </div>
        <div class="col-sm">
          <img class="w-100" src="../public/phonos_logo.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="row v-spacing-top-4 center">
    <a class="bw-link--grey h-spacing-1">About Freesound</a>
    <a class="bw-link--grey h-spacing-1">Donors</a>
    <a class="bw-link--grey h-spacing-1">Help</a>
    <a class="bw-link--grey h-spacing-1">Developers</a>
    <a class="bw-link--grey h-spacing-1">Freesound Blog</a>
    <a class="bw-link--grey h-spacing-1">Freesound Labs</a>
    <a class="bw-link--grey h-spacing-1">Get your Freesound T-shirt</a>
    <a class="bw-link--grey h-spacing-1">Terms of use</a>
  </div>
  <div class="center v-spacing-top-4">
    <span>© 2018</span>
  </div>
  <div class="center">
    <span>Freesound</span>
  </div>

</footer>