{% macro navbarCommonActions() %}
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Sounds</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Packs</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Forum</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Map</a>
  </li>
  <li class="bw-nav__action dropdown">
    <a class="bw-link--grey bw-nav__menu dropdown-toggle no-hover bw-icon-ellipsis" id="three-dots-menu" aria-haspopup="true"
          aria-expanded="false" data-toggle="dropdown"></a>
    <ul class="dropdown-menu" aria-labelledby="three-dots-menu">
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Tags
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Charts
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Donors
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Help
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Developers
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound Blog
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound Labs
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound t-Shirt
            </a>
      </li>
    </ul>
  </li>
{% endmacro %}

{% macro userDropDown() %}
  <li class="bw-nav__action dropdown">
    <a class="bw-link--grey avatar bw-nav__menu--avatar-with-notifications dropdown-toggle no-hover" id="avatar-menu"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
      <img src="../public/avatar.jpg" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="avatar-menu">
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">View profile</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Manage uploads</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Bookmarks</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">My messages
              <span class="text-red">(3)</span>
        </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Account settings</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Manage API settings</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Donate</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--grey" href="">Logout</a>
      </li>
    </ul>
  </li>
{% endmacro %}

{% macro userSection(loggedIn) %}
  {% if loggedIn %}
    {{ userDropDown() }}
  {% endif %}
  <li class="bw-nav__action">
    <button class="btn-secondary" data-toggle="modal" data-target="{% if loggedIn %}#donateModal{% else %}#loginModal{% endif %}">
      {% if loggedIn %}
        Donate
        {% else %}
        Log in
      {% endif %}
    </button>
  </li>
  <li class="bw-nav__action">
    <button class="btn-primary" data-toggle="modal" data-target="#registerModal">
      {% if loggedIn %}
        Upload sound
        {% else %}
        Join
      {% endif %}
    </button>
  </li>
{% endmacro %}

{% macro frontNavbar(loggedIn) %}
  <nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo-with-text">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro browseNavbar(loggedIn) %}
  <nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro defaultNavbar(loggedIn) %}
  <nav class="bw-nav">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}


{% macro messagesNavbar(activePage) %}
  <ul class="navbar-messages">
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'inbox'%} active {% endif %}" href="#">Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'sent'%} active {% endif %}" href="#">Sent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'archived'%} active {% endif %}" href="#">Archived</a>
    </li>
</ul>
{% endmacro %}

{% macro editProfileNavbar(activePage) %}
  <ul class="navbar-profile">
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'profile'%} active {% endif %}" href="#">Edit profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'password'%} active {% endif %}" href="#">Change password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'notifications'%} active {% endif %}" href="#">E-mail notifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'api'%} active {% endif %}" href="#">Manage API keys</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'account'%} active {% endif %}" href="#">Close account</a>
    </li>
  </ul>
{% endmacro %}

{% macro followersNavbar(page) %}
  <div class="bw-nav__followers v-spacing-top-5">
    <ol>
      <li class="{% if page == 'followers' %}active{% endif %}"><a href="">Followers</a></li>
      <li class="{% if page == 'following' %}active{% endif %}"><a href="">Following</a></li>
      <li class="{% if page == 'tags' %}active{% endif %}"><a href="">Tags following</a></li>
    </ol>
  </div>
{% endmacro %}

{% macro forumsHotNavbar(activePage) %}
  <ul class="navbar-forums-hot">
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'hot'%} active {% endif %}" href="#">Hot threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'most'%} active {% endif %}" href="#">Most commented</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if activePage == 'list'%} active {% endif %}" href="#">Forums list</a>
    </li>
  </ul>
{% endmacro %}

{% macro forumsListsThreads(breadcrumb) %}
  <ul class="navbar-forums-hot navbar-breadcrumb">
    {% for bread in breadcrumb %}
      <li class="nav-item">
        {% if bread.url != '' %}
          <a class="nav-link" href="{{ bread.url }}">{{ bread.name }}</a>
        {% else %}
          {{ bread.name }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}