{% macro navbarCommonActions() %}
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Sounds</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Packs</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Forum</a>
  </li>
  <li class="bw-nav__action">
    <a class="bw-link--grey font-weight-bold" href="">Map</a>
  </li>
  <li class="bw-nav__action dropdown">
    <a class="bw-link--grey bw-nav__menu dropdown-toggle no-hover bw-icon-ellipsis" id="three-dots-menu" aria-haspopup="true"
          aria-expanded="false" data-toggle="dropdown"></a>
    <ul class="dropdown-menu" aria-labelledby="three-dots-menu">
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Tags
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Charts
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Donors
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Help
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Developers
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound Blog
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound Labs
            </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">
              Freesound t-Shirt
            </a>
      </li>
    </ul>
  </li>
{% endmacro %}

{% macro userDropDown() %}
  <li class="bw-nav__action dropdown">
    <a class="bw-link--grey avatar bw-nav__menu--avatar-with-notifications dropdown-toggle no-hover" id="avatar-menu"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
      <img src="../public/avatar.jpg" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="avatar-menu">
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">View profile</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Manage uploads</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Bookmarks</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">My messages
              <span class="text-red">(3)</span>
        </a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Account settings</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Manage API settings</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--black" href="">Donate</a>
      </li>
      <li class="bw-nav__action dropdown-item">
        <a class="bw-link--grey" href="">Logout</a>
      </li>
    </ul>
  </li>
{% endmacro %}

{% macro userSection(loggedIn) %}
  {% if loggedIn %}
    {{ userDropDown() }}
  {% endif %}
  <li class="bw-nav__action">
    <button class="btn-secondary" data-toggle="modal" data-target="{% if loggedIn %}#donateModal{% else %}#loginModal{% endif %}">
      {% if loggedIn %}
        Donate
        {% else %}
        Log in
      {% endif %}
    </button>
  </li>
  <li class="bw-nav__action">
    <button class="btn-primary" data-toggle="modal" data-target="#registerModal">
      {% if loggedIn %}
        Upload sound
        {% else %}
        Join
      {% endif %}
    </button>
  </li>
{% endmacro %}

{% macro frontNavbar(loggedIn) %}
  <nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo-with-text">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro browseNavbar(loggedIn) %}
  <nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro defaultNavbar(loggedIn) %}
  <nav class="bw-nav">
    <div class="container bw-nav__container">
      <div class="bw-nav__logo-search-container">
        <div class="bw-nav__logo">
          <a href="" class="no-hover"></a>
        </div>
        <div class="input-wrapper">
          <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
        </div>
      </div>
      <ul class="bw-nav__actions">
        {{ navbarCommonActions() }}
        {{ userSection(loggedIn) }}
      </ul>
    </div>
  </nav>
{% endmacro %}

{% macro followersNavbar(page) %}
  <div class="bw-nav__followers v-spacing-top-5">
    <ol>
      <li class="{% if page == 'followers' %}active{% endif %}"><a href="">Followers</a></li>
      <li class="{% if page == 'following' %}active{% endif %}"><a href="">Following</a></li>
      <li class="{% if page == 'tags' %}active{% endif %}"><a href="">Tags following</a></li>
    </ol>
  </div>
{% endmacro %}
