{% import './molecules/modal.njk' as modals %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Freesound</title>
    <meta name="description" content="Freesound: collaborative database of creative-commons licensed sound for musicians and sound lovers. Have you freed your sound today?">
    <meta name="keywords" content="free, sound">
    {% block extrahead %}
    {% endblock %}
  </head>

  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div class="notifications-wrapper"></div>
    <div class="bw-page">
    {% block content %}
    {% endblock %}
    </div>
    <script src="../src/index.js"></script>
    {{ modals.login() }}
    {{ modals.forgottenPassword() }}
    {{ modals.register() }}
    {% block extrabody %}
    {% endblock %}
  </body>
</html>
