{% import './pages/browse/sound.njk' as sound %}
{% import './pages/browse/filters.njk' as filters %}
{% import './pages/browse/activeFilters.njk' as activeFilters %}
{% import './molecules/navbar.njk' as navbars %}
{% import './molecules/pagination.njk' as pagination %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-3">
      <div class="v-spacing-6 v-spacing-top-4">
        {% include './pages/browse/searchInput.njk' %}
      </div>
      {% include './pages/browse/searchOverview.njk' %}
    </div>
    <div class="row no-gutters">
      <aside class="col-3">
        {{ filters.checkboxSection('Licenses', ['Creative commons 0', 'Sampling +', 'Attribution', 'Non-commercial']) }}
        {{ filters.checkboxSection('Type', ['aiff', 'wav', 'mp3', 'FLAC']) }}
        {{ filters.tagsSection('Related tags', ['Electronic', 'world', 'ambient', 'synth', 'analog', 'distortion', 'techno', 'dub', 'cc0', 'good', 'mic']) }}
        {{ filters.checkboxSection('Sample rate', ['11025', '22050', '44100', '48000', '96000']) }}
        {{ filters.checkboxSection('Bit depth', ['16', '24', '32', '8']) }}
        {{ filters.checkboxSection('Bitrate', ['1378', '1379', '1411', '1500', '2250']) }}
        {{ filters.checkboxSection('Channels', ['2', '1', '6']) }}
        {{ filters.checkboxSection('Search only in ', ['Tags', 'File names', 'Descriptions', 'Sound ids', 'User names']) }}
      </aside>
      <main class="col-8 offset-1">
        <div class="v-spacing-3 v-spacing-top-1">
          {{ activeFilters.list(['Creative commons 0', 'mp3'])}}
        </div>
        <div class="v-spacing-6">
          {{ sound.results(20) }}
        </div>
        <div class="">
          {{ pagination.pagination(20, 20) }}
        </div>
      </main>
    </div>
  </div>
  {% include './molecules/footer.njk' %}
  {% block extrabody %}
    <script src="../src/pages/search.js"></script>
  {% endblock %}
{% endblock %}