{% import './molecules/navbar.njk' as navbars %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="row navbar-space-filler v-spacing-top-6 v-spacing-6 bw-profile__hero bw-edit-profile">
      <aside class="col-3 offset-1">
        {{ navbars.editProfileNavbar('notifications') }}
      </aside>
      <div class="col-7 offset-1 bw-edit-profile__info">
        <h1>E-mail notifications</h1>
        <div class="v-spacing-top-7 w-100">
          <p class="text-grey v-spacing-4">Send me an e-mail when:</p>
          <form class="bw-edit-profile__form w-100">
            <label for="onesoundSelected" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="onesoundSelected" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                One of my sounds is selected as a random sound of the day
              </div>
            </label>
            <label for="newprivatemessage" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="newprivatemessage" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                New private message received
              </div>
            </label>
            <label for="newcommentsound" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="newcommentsound" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                New comment on one of my sounds
              </div>
            </label>
            <label for="newcommentthreads" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" checked={true} class="bw-checkbox" id="newcommentthreads" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                New comment on one of my threads
              </div>
            </label>
            <label for="newfollower" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="newfollower" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                New follower
              </div>
            </label>
            <label for="weeklyupdate" class="between checkboxNotification">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="weeklyupdate" onchange="">
              </div>
              <div class="bw-search__filter-name h-spacing-left-1">
                Weekly update on all users and tags you follow
              </div>
            </label>
            <button class="btn-primary w-100 v-spacing-top-5">Update E-mail notifications</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% include './molecules/footer.njk' %}
{% endblock %}

{% block extrabody %}
  <script src="../src/pages/editProfile.js"></script>
{% endblock %}