{% import './molecules/navbar.njk' as navbars %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="row navbar-space-filler v-spacing-top-6 v-spacing-6 bw-profile__hero bw-edit-profile">
      <aside class="col-3 offset-1">
        {{ navbars.editProfileNavbar('profile') }}
      </aside>
      <div class="col-7 offset-1 bw-edit-profile__info">
        <h1>Edit profile</h1>
        <div class="v-spacing-top-6">
          <img id="imageProfile" src="../public/avatar.jpg" />
        </div>
        <div class="bw-edit-profile__username v-spacing-top-2">
          <h2>Michimuc2</h2>
        </div>
        <div class="v-spacing-top-3">
          <label for="file" class="btn-inverse bw-edit-profile__label_file">Change avatar</label>
          <input type="file" id="file" class="bw-edit-profile__input_file" />
          <button class="btn-inverse h-spacing-left-2">Delete avatar</button>
        </div>
        <div class="v-spacing-top-7 w-100">
          <form class="bw-edit-profile__form w-100">
            <label for="name" class="text-grey">
              Name
            </label>
            <input id="name" type="text" placeholder="Write your name here" />
            <label for="lastName" class="text-grey">
              Last name
            </label>
            <input id="lastName" type="text" placeholder="Write your last name here" />
            <label for="email" class="text-grey">
              E-mail
            </label>
            <input id="email" type="email" placeholder="Write your E-mail here" />
            <label for="location" class="text-grey">
              Location
            </label>
            <input id="location" type="text" placeholder="Write your location here" />
            <label for="about" class="text-grey">
              About
            </label>
            <textarea id="about" type="text" placeholder="Write something about yourself"></textarea>
            <button class="btn-primary w-100">Update profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% include './molecules/footer.njk' %}
{% endblock %}

{% block extrabody %}
  <script src="../src/pages/editProfile.js"></script>
{% endblock %}