{% import './molecules/navbar.njk' as navbars %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="row navbar-space-filler v-spacing-top-6 v-spacing-6 bw-profile__hero bw-edit-profile">
      <aside class="col-3 offset-1">
        {{ navbars.editProfileNavbar('password') }}
      </aside>
      <div class="col-7 offset-1 bw-edit-profile__info">
        <h1>Change password</h1>
        <div class="v-spacing-top-7 w-100">
          <form class="bw-edit-profile__form w-100">
            <label for="oldpassword" class="text-grey">
              Old password
            </label>
            <input id="oldpassword" type="password" placeholder="Enter your old password" />
            <label for="newpassword" class="text-grey">
              New password
            </label>
            <input id="newpassword" type="password" placeholder="At least 5 characters" />
            <label for="newpasswordconfirmation" class="text-grey">
              New password confirmation
            </label>
            <input id="newpasswordconfirmation" type="password" placeholder="Enter your new password again" />
            <button class="btn-primary w-100">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% include './molecules/footer.njk' %}
{% endblock %}

{% block extrabody %}
  <script src="../src/pages/editProfile.js"></script>
{% endblock %}