{% import './molecules/navbar.njk' as navbars %}
{% import './molecules/pagination.njk' as pagination %}
{% import './atoms/threads.njk' as thread %}
{% import './atoms/select.njk' as selects %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-7">
      <div class="row">
        <div class="col-md-7">
          {{ navbars.forumsListsThreads([{name: 'Freesound Forums', url: '/'}, {name: 'New thread', url: ''}]) }}
        </div>
      </div>
      <div class="divider-light v-spacing-top-1 v-spacing-5"></div>
      <div class="v-spacing-top-5">
          <form class="bw-new-thread__form w-100">
            <div class="row">
              <div class="col-md-7 offset-3">
                  <label for="title" class="text-grey">
                    Title
                  </label>
                  <input id="title" type="text" placeholder="Write your new thread title" />
                  <label for="forum" class="text-grey">
                    Forum
                  </label>
                  {{ selects.forumSelect(['Select a forum to publish your thread', 'Upload date', 'Upload modification'], 'forum') }}
              </div>
            </div>
            <div class="bw-edit-profile__textarea_block v-spacing-top-5">
              <div class="row">
                <div class="col-md-1"><img class="bw-post__avatar v-spacing-top-5" src="../public/avatar.jpg" /></div>
                <div class="col-md-2">
                  <h6 class="text-16 no-margins padding-top-5"><a href="">funnyenglish</a></h6>
                  <p class="text-grey no-margins">65 sounds</p>
                  <p class="text-grey no-margins">245 posts</p>
                </div>
                <div class="col-md-9 row">
                  <div class="col-md-12">
                    <label for="about-new-thread-textarea" class="text-grey">
                      message
                    </label>
                    <textarea id="about-new-thread-textarea" class="bw-post__textarea" placeholder="Write your repry here"></textarea>
                    <label for="notify-me" class="between w-100">
                      <div class="bw-search__filter-checkbox">
                        <input type="checkbox" class="bw-checkbox" id="notify-me" name="notify-me">
                      </div>
                      <div class="bw-search__filter-name text-14">
                        Notify me when people post in this thread
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row v-spacing-top-5">
              <div class="col-md-7 offset-3">
                <button class="btn-primary w-100">Create thread</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>

  {% include './molecules/footer.njk' %}
{% endblock %}
{% block extrabody %}
  <script src="../src/components/forumSelect.js"></script>
{% endblock %}