{% import './molecules/navbar.njk' as navbars %}
{% import './atoms/message.njk' as message %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container bw-messages">
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-7">
      <h1 class="text-32">Messages</h1>
      <div class="divider-light v-spacing-top-4"></div>
      <div class="row">
        <div class="col-md-4 middle row">
          <div class="col-md-5">
            <label for="selectAll" class="between w-100 label-message-action">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="selectAll" onchange="">
              </div>
              <div class="bw-search__filter-name text-grey text-16 line-height-21">
                Select all
              </div>
            </label>
          </div>
          <div class="col-md-5">
            <label for="markasread" class="between w-100 label-message-action checked-action">
              <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="markasread" onchange="">
              </div>
              <div class="bw-search__filter-name text-grey text-16 line-height-21">
                Mark as read
              </div>
            </label>
          </div>
          <div class="col-md-2">
            <a class="text-grey text-16 archive-action checked-action">Archive</a>
          </div>
        </div>
        <div class="col-md-4 center">
          {{ navbars.messagesNavbar('inbox') }}
        </div>
        <div class="col-md-4 middle end">
          <button class="btn-inverse btn-profile-adapt text-15">New message</button>
        </div>
      </div>
      <div class="divider-light"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="v-padding-3 text-light-grey relative">
            <input type="search" class="bw-nav__search" placeholder="Browse messages..." />
          </div>
          <div>
            {{ message.messages(20) }}
          </div>
        </div>
        <div class="col-md-8">hola</div>
      </div>
    </div>
  </div>
  {% include './molecules/footer.njk' %}
{% endblock %}
{% block extrabody %}
  <script src="../src/pages/messages.js"></script>
{% endblock %}