
{% import './molecules/navbar.njk' as navbars %}
{% import './pages/browse/sound.njk' as sound %}
{% import './atoms/icons.njk' as icons %}
{% import './atoms/tags.njk' as tags %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="row navbar-space-filler v-spacing-top-6 v-spacing-6 bw-profile__hero">
      <div>
        <img src="../public/avatar.jpg" />
      </div>
      <div class="bw-profile__username v-spacing-top-2">
        <h1>Spidimateo</h1>
      </div>
      <div class="v-spacing-top-3">
        <button class="btn-inverse">Follow</button> <!-- TODO Check if the user is logged or not and change the button -->
        <button class="btn-inverse h-spacing-left-2">Message</button> <!-- TODO Check if the user is logged or not and change the button -->
      </div>
      <div class="bw-profile__description v-spacing-top-3">
        Lorem ipsum! 😃 Dolor sit amet, consectetur adipiscing elit. Morbi a tortor non sapien pellentesque vulputate. Morbi accumsan sapien ut.
      </div>
      <div class="bw-profile__stats v-spacing-top-3">
        <div><a href="">5 followers</a></div>
        <div><a href="">17 following</a></div>
        <div><a href="">23 tags following</a></div>
      </div>
    </div>
    <div class="divider-light"></div>
    <div class="row bw-profile__taps_nav">
      <ol>
        <li class="active" data-toggle="tap" data-target="#tapSounds">Sounds</li>
        <li data-toggle="tap" data-target="#tapPacks">Packs</li>
        <li data-toggle="tap" data-target="#tapDownloaded">Downloaded</li>
      </ol>
    </div>
    <div class="divider-light"></div>
    <div class="row no-gutters">
      <div class="col-8 v-spacing-top-4">
        <div class="bw-profile__tap_container bw-profile__tap_container__active" id="tapSounds">
          {{ sound.results(10) }}
        </div>
        <div class="bw-profile__tap_container" id="tapPacks">
          packs
        </div>
        <div class="bw-profile__tap_container" id="tapDownloaded">
          downloaded
        </div>
      </div>
      <aside class="col-3 offset-1 bw-profile__sections">
        <section class="bw-profile__section_stats v-spacing-top-7">
          <ol>
            <li>
              {{ icons.icon('download', 'bw-icon__download_reverse text-light-grey') }} <span>42</span> <span>uploads</span>
            </li>
            <li>
              {{ icons.icon('star', 'text-light-grey') }} <span>4.0</span> <span>average rate</span>
            </li>
            <li>
              {{ icons.icon('download', 'text-light-grey') }} <span>85</span> <span>downloads</span>
            </li>
          </ol>
        </section>
        <div class="divider-light"></div>
        <section class="v-spacing-top-5 padding-bottom-5">
          <h5 class="padding-bottom-3">Most used tags</h5>
          {{ tags.tags(['Electronic', 'world', 'ambient', 'synth', 'analog', 'distortion', 'techno', 'dub', 'cc0', 'good', 'mic'])}}
        </section>
        <div class="divider-light"></div>
        <section class="v-spacing-top-5">
          <h5 class="padding-bottom-3">Latest geotags</h5>
        </section>
      </aside>
    </div>
  </div>
  {% include './molecules/footer.njk' %}
{% endblock %}

  {% block extrabody %}
    <script src="../src/pages/profile.js"></script>
  {% endblock %}