
{% import './molecules/player.njk' as players %}
{% import './molecules/navbar.njk' as navbars %}
{% import './atoms/stars.njk' as stars %}
{% import './atoms/icons.njk' as icons %}
{% extends "base.njk" %}

{% block content %}
  {{ navbars.browseNavbar(true) }}
  <div class="container">
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-5">
      <div class="row no-gutters">
        <div class="col-8">
          {{ players.bigPlayer() }}
          <div class="bw-sound-page__information v-spacing-top-7">
            <div class="row middle">
              <div class="col-10">
                <h1>Electric Guitar 01</h1>
              </div>
              <div class="col-2 text-right">
                <div class="text-grey">
                  <button title="Find similar sounds" class="btn-neutral">
                    {{ icons.icon('similar') }}
                  </button>
                  <span class="h-spacing-2"></span>
                  <button title="Save as favorite" class="btn-neutral">
                    {{ icons.icon('bookmark') }}
                  </button>
                </div>
              </div>
            </div>
            <div class="middle v-spacing-top-2">{{ stars.stars(2.5) }} <span class="text-grey h-spacing-left-1">Overall rating (15)</span></div> <!-- TODO: check after merge browser page -->
          </div>
        </div>
        <div class="col-3 offset-1">
          sidebar
        </div>
      </div>
    </div>
  </div>
{% endblock %}