$button-border-radius: 100px;

button {
  position: relative;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  letter-spacing: -1px;
  @include rounded-button($red, $red-hover, $primary-button-font-color);
}

.btn-secondary {
  letter-spacing: -1px;
  @include rounded-button($black, $black-hover, $secondary-button-font-color);
}

.btn-blue {
  letter-spacing: -1px;
  @include rounded-button($blue, $blue-hover, $blue-button-font-color);
}

.btn-inverse {
  letter-spacing: -1px;
  @include rounded-button(
    transparent,
    $inverse-button-hover,
    $inverse-button-font-color
  );
  color: $navy-grey;
  @include active() {
    &:not(:disabled) {
      color: $inverse-button-hover-font-color;
    }
  }
  border: 1px solid $navy-light-grey;
}

.btn-neutral {
  @include reset-rounded-button($navy-grey, $black);
  @include reset-border-bottom-on-hover();
}

.btn-profile-adapt {
  color: $black;
  font-weight: 500;
}
