.bw-carousel-container {
  position: relative;
  
  //@media (hover) {
    // If hover is not supported (touch devices), don't add this hover as it will require two taps in touch devices for interaction with carousel dots/arrows
    // NOTE: for the moment we keep the default hover-on-tap behaviour as it is not that bad actually
    &:hover > .bw-carousel-icon {
      opacity: 1; 
    }
  //}
}

.bw-carousel-wrapper {
  overflow: hidden;
}

.bw-carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.bw-carousel-icon {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: $white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /*@media (hover: none) {
    // Make arrows always visible for devices that don't support hover (touch devices)
    opacity: 1;
    width: 25px;
    height: 25px;
    font-size: 80%;
  }*/
}

.carousel-right {
  transform: translateX(50%) translateY(-50%);
  right: 0px;

  .bw-icon-arrow:hover {
    color: $red;
  }
}

.carousel-left {
  transform: rotate(-180deg) translateY(50%) translateX(50%);
  left: 0;

  .bw-icon-arrow:hover {
    color: $red;
  }
}

.carousel-nav-hidden {
  display: none;
}

.carousel__dot-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 0.5em;
  opacity: 0;
  background-color: $carousel-bg-color;
  border-radius: 5%;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;

  @media (hover: none) {
    // Make dots always visible for devices that don't support hover (touch devices) to suggest carousel interaction
    opacity: 0.2;
  }

  .bw-carousel-container:hover > & {
    opacity: 1;
  }

  &.dots-distance-0 {
    bottom: -1px;
  }

  &.dots-distance-1 {
    bottom: -10px;
  }

  &.dots-distance-2 {
    bottom: -20px;
  }

  &.dots-distance-3 {
    bottom: -30px;
  }

  &.dots-distance-4 {
    bottom: -40px;
  }

  .bw-icon-atom:hover {
    color: $red;
  }

  > * {
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.2;
    cursor: pointer;

    &:hover,
    &.active-point {
      opacity: 1;
    }
  }
}
