input.bw-checkbox {
  display: none;
}

.bw-icon-checkbox {
  border: 2px solid $navy-light-grey;
  width: 15px;
  height: 15px;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.3;
  }
}

.bw-icon-checkbox.disabled:hover {
  opacity: 1.0!important;
}

.bw-checkbox:checked + .bw-checkbox-container .bw-icon-checkbox {
  opacity: 1;
  border: none;
}

.bw-multiple-checkbox {

  ul.bw-checkbox {
    padding: 0;
  }

  ul.bw-checkbox li {
    list-style: none;
    margin-bottom: nth($spacing-values-list, 1);
  }
}

.bw-checkbox-label {
  color: $black!important;
  cursor: pointer;

  .bw-checkbox-container {
    vertical-align: -10%;
    margin-right: 10px;
  }

  &:hover .bw-icon-checkbox {
    opacity: 0.3;
  }
}
