.collapsable-block {
  overflow: hidden;

  &-close {
    max-height: 0px;
  }

  &-close-gradient {
    background: linear-gradient(
      to bottom,
      rgba($black, 1) 0%,
      rgba($black, 1) 50%,
      rgba($black, 0) 100%
    );
    background-clip: text;
    color: transparent;
  }
}

.collapsable-toggle {
  color: $navy-grey;
  cursor: pointer;

  &:hover {
    color: $black;
  }
}
