.bw-icon-half-star {
  display: flex;

  .path2 {
    margin-left: -15px;

    &:before {
      margin-left: 0;
    }
  }
}

.cleanIcon {
  > span {
    display: flex;
  }
}

.bw-icon-facebook {
  .path1:before {
    color: $navy-grey;
  }

  &:hover .path1:before {
    color: $navy-grey;
    color: rgb(59, 89, 152);
  }
}

.bw-icon-google-plus {
  .path1:before {
    color: $navy-grey;
  }

  &:hover .path1:before {
    color: $navy-grey;
    color: rgb(255, 53, 70);
  }
}

.bw-icon-twitter {
  .path1:before {
    color: $navy-grey;
  }

  &:hover .path1:before {
    color: $navy-grey;
    color: rgb(85, 172, 238);
  }
}

.bw-icon-tumblr {
  .path1:before {
    color: $navy-grey;
  }

  &:hover .path1:before {
    color: $navy-grey;
    color: rgb(20, 20, 36);
  }
}

.bw-icon-embed-stroke {
  .path1:before {
    color: $navy-grey;
  }

  &:hover .path1:before {
    color: $navy-grey;
    color: rgb(255, 53, 70);
  }
}

.bw-icon__chevron_left {
  transform: rotate(180deg);
  display: inline-block;
}
