.bw-icon-half-star {
  display: flex;

  .path2 {
    margin-left: -15px;

    &:before {
      margin-left: 0;
    }
  }
}

.bw-icon__download_reverse {
  transform: rotate(180deg);
  display: inline-block;
}
