.bw-message {
  &__container {
    cursor: pointer;

    .bw-checkbox-container {
      display: none;
    }

    .bw-checkbox:checked {
      & + .bw-checkbox-container {
        display: block !important;
      }
    }

    &:hover {
      h6 {
        color: $red;
      }

      p {
        color: $black;
      }

      .bw-checkbox-container {
        display: block;
      }

      .date {
        display: none;
      }

      .icons {
        display: block;

        a {
          color: $navy-light-grey;
          position: relative;

          &:hover {
            color: $black;
            text-decoration: none;
          }

          &:before {
            display: none;
          }

          &[title]:hover::after {
            content: attr(title);
            position: absolute;
            top: -40px;
            left: -50px;
            width: max-content;
            border-radius: 100px;
            background-color: $black;
            color: $white;
            padding: 2px 18px;
          }
        }
      }
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 49px;
    height: 49px;
  }

  &__avatar-detail {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__info {
    padding-bottom: 20px;
    border-bottom: 1px solid $navy-grey;
    color: $navy-grey;

    &.active {
      h6 {
        color: $red;
      }

      p {
        color: $black;
      }
    }

    &.unread {
      color: $black;

      .date {
        color: $navy-grey;
      }
    }

    .icons {
      display: none;
    }
  }

  &__detail_container {
    width: 100%;
    border-bottom: 1px solid $navy-light-grey;

    &:focus {
      outline: none;
    }
  }
}
