@use "sass:list";
input.bw-radio {
  display: none;
}

input.bw-radio:disabled ~ .bw-radio-container{
  cursor: not-allowed;
  opacity: $disabled-input-opacity;
  color: gray;
}

.bw-icon-radio-unchecked {
  width: 15px;
  height: 15px;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.bw-radio:checked ~ span {
  opacity: 1;
  color: $black;
}

.bw-radio2 {
  ul {
    padding: 0;
    padding-inline: 0px;
    background-color: red;
  }

  li {
    list-style: none;
  }
}

.bw-radio-label {

  color: $black!important;

  cursor: pointer;

  .bw-radio-container {
    vertical-align: -6%;
    margin-right: 10px;
  }
}

.bw-multiple-radio {

  ul.bw-radio {
    padding: 0;
  }

  ul.bw-radio li {
    list-style: none;
    margin-bottom: list.nth($spacing-values-list, 2);
  }
}

.bw-inline-radio {
  ul.bw-radio {
    padding: 0;
  }

  ul.bw-radio li {
    display: inline;
    list-style: none;
    margin-bottom: list.nth($spacing-values-list, 1);
    margin-right: list.nth($spacing-values-list, 3);
  }

  .bw-radio-container {
    margin-right: 5px; /* Reduce margin as it expects space between icon and label text */
  }
  
}