.bw-radio {
  display: none;
}

.bw-icon-radio-unchecked {
  width: 15px;
  height: 15px;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.bw-radio:checked ~ span {
  opacity: 1;
  color: $black;
}
