.bw-rating__container {
  input {
    display: none;
  }

  label {
    padding: 0 2px;
    float: right;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  input ~ label:hover,
  input ~ label:hover ~ label {
    span {
      color: $yellow!important;

      :before {
        color: $yellow!important;
      }
      
    }
  }
}

.bw-rating__star-no-editable {
  padding: 0 2px;
  float: right;
  opacity: 0.3;
}

.bw-sound-page__information {
  .bw-rating__star-no-editable {
    opacity: 1.0!important;
  }
}
