.bw-selectable-object {
  margin: 8px;
  padding: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;

  &.selected {
    background-color: $search-bg;
    outline-color: $navy-light-grey;
    border: 2px solid $navy-light-grey;
    transition: border-color 0.3s linear;
  }
}
