.bw-threads {
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__mini_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__avatars-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__avatar-mini-container {
    position: relative;
    margin-left: 8px;
    height: 32px;
  }

  &__avatar-mini {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__avatar-mini-cover {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $navy-light-grey;
    color: $white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  &__last_thread {
    color: $black !important;
    font-size: 16px !important;
    font-weight: bold;
    width: 330px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .forum-icon-round {
    background-image: url('assets/logos/logo-red-inverted.svg');
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 70px;
  }

  .new-posts-notification {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: ' ';
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: $red;
      top: calc(100% + 6px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    margin: 0;
    color: $navy-grey;
  }

  h6 {
    margin: 0;
    font-size: 18px;
  }
}

.bw-post {
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
  }

  &__edited {
    text-align: right;
  }

  &__report {
    cursor: pointer;
  }

  h6 {
    font-size: 18px;
    margin: 0;
  }

  i {
    margin: 0 2px;
  }

  blockquote {
    border-radius: 5px;
    background-color: rgba(150, 150, 170, 0.1);
    border: 1px solid rgba(150, 150, 170, 0.08);
    padding: 24px;
    margin: 0px;

    p {
      color: $black;
    }
  }
}
