.bw-threads {
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__mini_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__avatars-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__avatar-mini-container {
    position: relative;
    margin-left: 8px;
    height: 32px;
  }

  &__avatar-mini {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__avatar-mini-cover {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #141424a6;
    color: $white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  &__last_thread {
    color: $black !important;
    font-size: 16px !important;
    font-weight: bold;
    width: 330px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  p {
    margin: 0;
    color: $navy-grey;
    font-size: 14px;
  }

  h6 {
    margin: 0;
    font-size: 18px;
  }
}

.bw-post {
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__report {
    cursor: pointer;
  }

  h6 {
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 14px;
  }

  i {
    font-size: 12px;
    margin: 0 2px;
  }

  blockquote {
    border-radius: 5px;
    background-color: rgba(150, 150, 170, 0.1);
    border: 1px solid rgba(150, 150, 170, 0.08);
    padding: 24px;
    margin: 0px;

    p {
      font-size: 15px;
      line-height: 20px;
      color: #333;
    }

    blockquote {
      padding: 0;
      border: 0;
    }
  }

  &__textarea {
    width: 100%;
    //border: 1px solid $border-input-profile; TODO After edit page merged change
    border: 1px solid #efeff2;
    background-color: $background-textarea;
    padding: 10px 20px;
    border-radius: 5px;

    &::placeholder {
      color: $navy-light-grey;
    }

    &:focus {
      background-color: $white;
      border: 1px solid $black;
    }

    min-height: 100px;
    resize: none;

    &:focus {
      background-color: $white;
      border: 1px solid $black;
      outline: none;
    }
  }
}
