/* Tooltip right */
.tooltip_right { position: relative; }
.tooltip_right .tooltiptext {
    visibility: hidden;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 200px;
    top: 0px;
    left: 105%;
}
.tooltip_right:hover .tooltiptext { visibility: visible; }
.tooltip_right:hover { cursor: pointer; }
.tooltip_right .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 20px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $black transparent transparent;
}

/* Tooltip left */
.tooltip_left { position: relative; }
.tooltip_left .tooltiptext {
    visibility: hidden;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 200px;
    top: 0px;
    right: 105%;
}
.tooltip_left:hover .tooltiptext { visibility: visible; }
.tooltip_left:hover { cursor: pointer; }
.tooltip_left .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 20px;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $black;
}

/* Tooltip top */
.tooltip_top { position: relative; }
.tooltip_top .tooltiptext {
    visibility: hidden;
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: 115%;
    left: 0%;
}
.tooltip_top:hover .tooltiptext { visibility: visible; }
.tooltip_top:hover { cursor: pointer; }
.tooltip_top .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black transparent transparent transparent;
}
