<div id="map_canvas" style="width: {{m_width}}px; height: {{m_height}}px; border: 1px solid black;"></div>
<script type="text/javascript">
    var url;
    {% if username %}
        url = "{{url}}{{ username }}";
    {% else %}
        {% if tag %}
            url = "{{url}}{{ tag }}";
        {% else %}
            var box = document.location.hash.slice(5,document.location.hash.length);
            url = "{{url}}?box="+box; // TODO: the template tag could use other URLs
        {% endif %}
    {% endif %}
    make_sounds_map(url, 'map_canvas', undefined, updateURL, {{center_lat}}, {{center_lon}}, {{ zoom }});

    function updateURL(map_element_id, lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon){
        var new_url = window.location.href;
        new_url = updateQueryStringParameter(new_url, 'c_lat', lat);
        new_url = updateQueryStringParameter(new_url, 'c_lon', lon);
        new_url = updateQueryStringParameter(new_url, 'z', zoom);
        window.history.replaceState( {} , document.title, new_url );
        document.location.hash = "box=" + box_bl_lat + "," + box_bl_lon+"," + box_tr_lat+"," + box_tr_lon;
	}
</script>
