<div id="map_canvas" style="width: {{m_width}}px; height: {{m_height}}px; border: 1px solid black;"></div>
<script type="text/javascript">	
	
    function updateHash(bounds){
        document.location.hash=
        "box="+bounds.getSouthWest().lat()+","+
        bounds.getSouthWest().lng()+","+
        bounds.getNorthEast().lat()+","+
        bounds.getNorthEast().lng();
    }

    var map = new google.maps.Map(
        document.getElementById('map_canvas'), {
          center: new google.maps.LatLng(24, 22),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.SATELLITE,
          scrollwheel: false,
          streetViewControl: false,
    });
    var infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(infowindow, 'closeclick', function() {
        stopAll();
    });
    
    var box = document.location.hash.slice(5,document.location.hash.length);

    {% if username %}
        var url = "{{url}}{{ username }}";
    {% else %}
        {% if tag %}
            var url = "{{url}}{{ tag }}";
        {% else %}
            var url = "{{url}}?box="+box // TODO: the template tag could use other URLs
        {% endif %}
    {% endif %}

    var bounds = new google.maps.LatLngBounds();
    var markers = [];

    getSoundsLocations(url, function(data){
        $.each(data, function(index, item) {
            var id = item[0];
            var lat = item[1];
            var lon = item[2];

            var point = new google.maps.LatLng(lat, lon);
            var marker = new google.maps.Marker({'position': point {% if clusters != "on" %}, 'map': map {% endif %} });
            bounds.extend(point);

            google.maps.event.addListener(marker, 'click', function()
            {
                stopAll();
                ajaxLoad( '/geotags/infowindow/' + id, function(data, responseCode)
                {
                    infowindow.setContent(data.response);
                    infowindow.open(map, marker);
                    setTimeout(function() {
                        makePlayer('.infowindow_player .player');
                    }, 500);
                });
            });


            {% if clusters == "on" %}
                markers.push(marker);
            {% endif %}
        });		
       
        {% if borders == "automatic" %}
            if (!bounds.isEmpty()) map.fitBounds(bounds);
        {% else %}
            // Set center and zoom
            map.setCenter(new google.maps.LatLng({{center_lat}}, {{center_lon}}));
            map.setZoom({{zoom}});
        {% endif %}

        {% if clusters == "on" %}
            var mcOptions = { gridSize: 50, maxZoom: 12, imagePath:'/media/images/js-marker-clusterer/m' };
            var markerCluster = new MarkerClusterer(map, markers, mcOptions);
        {% endif %}
        updateHash(map.getBounds());
    });
    
    //GEvent.addListener( map, 'zoomend',   function() {updateHash(map.getBounds())} );
    //GEvent.addListener( map, 'moveend', function() {updateHash(map.getBounds())});
    google.maps.event.addListener( map, 'bounds_changed', function() {updateHash(map.getBounds())});
</script>

