
<div id="map_canvas" style="width: 910px; height: 600px; border: 1px solid black;"></div>

<script type="text/javascript">
	
	
	function updateHash(bounds){
		document.location.hash=
        	"box="+bounds.getSouthWest().lat()+","+
        	bounds.getSouthWest().lng()+","+
        	bounds.getNorthEast().lat()+","+
        	bounds.getNorthEast().lng();
	}
    var map = new GMap2($("#map_canvas").get(0));    
    GEvent.addListener(map, 'infowindowclose', function() {
        stopAll();
    });
    
   
        
    map.setUIToDefault();
    map.disableScrollWheelZoom();

    map.setCenter(new GLatLng(24, 22), 2);
    map.setMapType( G_SATELLITE_MAP );
    map.enableContinuousZoom();
    
    
    var box = document.location.hash.slice(5,document.location.hash.length);
    var url = "/geotags/geotags_box_json/?box="+box // TODO: the template tag could use other URLs    
    GDownloadUrl(url, function(data, responseCode)
    {
        var bounds = new GLatLngBounds();
        var markers = [];
        $.each($.parseJSON(data), function(index, item)
        {
            var id = item[0];
            var lat = item[1];
            var lon = item[2];

            var point = new GLatLng(lat, lon);
            var marker = new GMarker(point);
            bounds.extend(point);
            GEvent.addListener(marker, "click", function()
            {
                GDownloadUrl( "/geotags/infowindow/" + id, function(data, responseCode)
                {
                    marker.openInfoWindowHtml(data);
                    setTimeout(function() {
                        makePlayer('.infowindow_player .player');
                    }, 500);
                });
            });
            markers.push(marker);
        });		
       
        if (!bounds.isEmpty()) zoomToBounds(map, bounds);
        
        var mcOptions = { gridSize: 50, maxZoom: 12 };
        var markerCluster = new MarkerClusterer(map, markers, mcOptions);
        updateHash(map.getBounds());
        
    });
    GEvent.addListener( map, 'zoomend',   function() {updateHash(map.getBounds())} );
    GEvent.addListener( map, 'moveend', function() {updateHash(map.getBounds())});
</script>

