{% load display_geotags %}
{% load maps %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
    <head>
        <script src="{{media_url}}js/jquery-1.5.2.min.js" type="text/javascript"></script>
        {% maps_js_scripts %}

        <link href='http://fonts.googleapis.com/css?family=Inconsolata&v1' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="{{ media_url }}html_player/embed.css" />
        <link rel="stylesheet" type="text/css" href="{{ media_url }}html_player/player.css" />
        <script src="{{ media_url }}html_player/soundmanager2.js"></script>
        <script type="text/javascript" src="{{ media_url }}html_player/player.js"></script>

        <script type="text/javascript">
            var isLoggedIn = {{request.user.is_authenticated|yesno:"true,false"}};
        </script>

        <script src="{{media_url}}js/ajax_utils.js" type="text/javascript"></script>
    </head>

<body>

{% if not username and not tag %}
    {% display_geotags "/geotags/geotags_box_barray/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% elif username  %}
    {% display_geotags "/geotags/sounds_barray/user/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% elif tag %}
    {% display_geotags "/geotags/sounds_barray/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% endif %}

</body>
</html>
