{% extends "sounds/_section.html" %}

{% load absurl %}
{% load maps_js_scripts %}

{% block title %}geotags{% endblock title %}

{% block head %}
{{ block.super }}

{% maps_js_scripts %}

<script type="text/javascript">
    function hideLoadingIndicator(){
        $("#indicator").hide();
    }

    function toggleEmbed(){
        if (!$("#embed_controls").is(':visible')){
            $("#embed_controls").show(100);
            $("#embed_label").text("Hide embed options");
        }else{
            $("#embed_controls").hide(100);
            $("#embed_label").text("Embed this map");
        }
    }

</script>

{% endblock head %}

{% block section_content %}

{% if username %}
    <h1>Geotags for <a href="{% url "account" username %}">{{ username }}</a></h1>
{% else %}
    {% if tag %}
        <h1>Geotags tagged with <a href="{% url "tags" tag %}">{{tag}}</a></h1>
    {% else %}
        <h1>Geotags</h1>
    {% endif %}
{% endif %}

<div id="map_canvas" style="width: 942px; height: 600px; border: 1px solid black;"></div>

<div id="indicator"><img width="12px" height="12px" src="{{ media_url }}images/indicator.gif" style="float:right;margin-top:3px;"></div>
{% if username or tag %}
    <p>You can also view <a href="{% url "geotags" %}">all geotags</a></p>
{% endif %}

<p style="margin-top:20px;">
    <a id="embed_label" href="javascript:void(0);" onclick="toggleEmbed();">Embed this map</a>
</p>
<div id="embed_controls" style="display:none;">
    <p>
        Embed width: <input type="number" min="100" step="1" value="900" id="embed_width" onchange="changeEmbedWidthHeightCluster();" style="width: 50px;"/>&nbsp;&nbsp;
        Embed height: <input type="number" min="100" step="1" value="600" id="embed_height" onchange="changeEmbedWidthHeightCluster();" style="width: 50px;"/>&nbsp;&nbsp;
        Show clusters in embed: <input type="checkbox" checked id="embed_cluster" onchange="changeEmbedWidthHeightCluster();" />
    </p>
    <p>
        <textarea id="embed_code" rows="4" cols="40" readonly style="width:100%;height:45px;"></textarea>
    </p>
</div>

<script type="text/javascript">
    var url;
    var center_lat;
    var center_lon;
    var zoom;

    {% if username %}
        url = '{% url "geotags-for-user-barray" username %}';
    {% else %}
        {% if tag %}
            url = '{% url "geotags-barray" tag %}';
        {% else %}
            url = '{% url "geotags-barray" %}';
            center_lat = 24;
            center_lon = 20;
            zoom = 2;
            var box = document.location.hash.slice(5,document.location.hash.length);
            if (box !== ''){
                // If box is given, get the geotags only from that box
                 url = '{% url "geotags-box-barray" %}?box=' + box;
            }
        {% endif %}
    {% endif %}

    {% if center_lat and center_lon and zoom %}
        center_lat = {{ center_lat }};
        center_lon = {{ center_lon }};
        zoom = {{ zoom }};
    {% endif %}

    var show_search = true;
    make_sounds_map(url, 'map_canvas', hideLoadingIndicator, updateEmbedCode, center_lat, center_lon, zoom, show_search);

    var current_lat;
    var current_lon;
    var current_zoom;
    var current_box_bl_la;
    var current_box_bl_lon;
    var current_box_tr_lat;
    var current_box_tr_lon;

    function updateEmbedCode(_, lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon){
        // Store lat, lon and zoom globally so we can use them later to call updateEmbedCode without accessing map
        current_lat = lat;
        current_lon = lon;
        current_zoom = zoom;
        current_box_bl_la = box_bl_lat;
        current_box_bl_lon = box_bl_lon;
        current_box_tr_lat = box_tr_lat;
        current_box_tr_lon = box_tr_lon;

        // Generate embed code
        var box = "#box=" + box_bl_lat + "," + box_bl_lon+"," + box_tr_lat+"," + box_tr_lon;
        var width = parseInt($("#embed_width").val(), 10);
        var height = parseInt($("#embed_height").val(), 10);
        var cluster = 'on';
        if (!$('#embed_cluster').is(':checked')) {
            cluster = 'off';
        }
        var embed_code = "<iframe frameborder=\"0\" scrolling=\"no\" src=\"{% absurl 'embed-geotags-box-iframe' %}?c_lat=" + lat + "&c_lon=" + lon + "&z=" + zoom + "&c=" + cluster + "&w=" + width + "&h=" + height {% if username %}+ "&username={{ username }}"{% endif %}{% if tag %}+ "&tag={{ tag }}"{% endif %} + box + "\" width=\"" + width + "\" height=\"" + height + "\"></iframe>";
        var embed_code_element = $("#embed_code");
        embed_code_element.text(embed_code);

        // Update page URL so it can directly be used to share the map
        var new_url = window.location.href;
        new_url = updateQueryStringParameter(new_url, 'c_lat', lat);
        new_url = updateQueryStringParameter(new_url, 'c_lon', lon);
        new_url = updateQueryStringParameter(new_url, 'z', zoom);
        window.history.replaceState( {} , document.title, new_url );
	}

	function changeEmbedWidthHeightCluster(){
        updateEmbedCode(undefined, current_lat, current_lon, current_zoom, current_box_bl_la, current_box_bl_lon, current_box_tr_lat, current_box_tr_lon);
    }

</script>

{% endblock %}
