{% extends "sounds/_section.html" %}
{% load display_geotags %}
{% load maps %}
{% block title %}geotags{% endblock title %}

{% block head %}
{{ block.super }}
{% maps_js_scripts %}
{% endblock head %}

{% block section_content %}

{% if not username and not tag %}
    {% display_geotags "/geotags/geotags_box_barray/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% elif username  %}
    {% display_geotags "/geotags/sounds_barray/user/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% elif tag %}
    {% display_geotags "/geotags/sounds_barray/" m_width m_height clusters center_lat center_lon zoom username tag %}
{% endif %}


{% endblock %}
