{% extends "sounds/_section.html" %}

{% load absurl %}
{% load maps %}

{% block title %}geotags{% endblock title %}

{% block head %}
{{ block.super }}

{% maps_js_scripts %}

<script type="text/javascript">
    function toggleShareControls(){
        if ($("#share_controls").css('display') == 'none'){
            $("#share_controls").show('blind', {}, 500, function() {});
        }else{
            $("#share_controls").hide('blind', {}, 500, function() {});
        }
    }

    function toggleIndicator(){
        if ($("#indicator").css('display') == 'none'){
            $("#indicator").show('blind', {}, 500, function() {});
        }else{
            $("#indicator").hide('blind', {}, 500, function() {});
        }
    }

</script>

{% endblock head %}

{% block section_content %}

{% if for_user %}
    <h1>Geotags for <a href="{% url "account" for_user.username %}">{{for_user.username}}</a></h1>
{% else %}
    {% if tag %}
        <h1>Geotags tagged with <a href="{% url "tags" tag %}">{{tag}}</a></h1>
    {% else %}
        <h1>Geotags</h1>
    {% endif %}
{% endif %}

<div id="map_canvas" style="width: 910px; height: 600px; border: 1px solid black;"></div>


<div id="indicator"><img width="12px" height="12px" src="{{ media_url }}images/indicator.gif"/></div>
{% if for_user or tag %}
    <p>You can also view <a href="{% url "geotags" %}">all geotags</a></p>
{% endif %}


    <p><span id="share_control_link"><br><a onClick = "toggleShareControls()">Share this map</a><span></p>
    <div id="share_controls" style="display:none">

        <table>
        <tr>
        <td width="320px">
            Embed this map:<br>
            <textarea id="embed_code" rows="4" cols="40">
            </textarea>

        </td>
        <td>
            Link:<br>
            <textarea id="link_code" rows="4" cols="40">
            </textarea>

        </td>
        </tr>
        </table>

    </div>


<script type="text/javascript">

    var url;
    var center_lat;
    var center_lon;
    var zoom;
    {% if for_user %}
        url = '{% url "geotags-for-user-barray" for_user.username %}';
    {% else %}
        {% if tag %}
            url = '{% url "geotags-barray" tag %}';
        {% else %}
            url = '{% url "geotags-barray" %}';
            center_lat = 24;
            center_lon = 20;
            zoom = 2;
        {% endif %}
    {% endif %}
    make_sounds_map(url, 'map_canvas', toggleIndicator, updateEmbedCode, center_lat, center_lon, zoom);

    function updateEmbedCode(lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon){

        // Generate embed and link codes
        var box = "#box=" + box_bl_lat + "," + box_bl_lon+"," + box_tr_lat+"," + box_tr_lon;
        var width = 910;
        var height = 600;
        var embed_code = "<iframe frameborder=\"0\" scrolling=\"no\" src=\"{% absurl 'embed-geotags-box-iframe' %}?c_lat=" + lat + "&c_lon=" + lon + "&z=" + zoom {% if for_user %}+ "&username={{ for_user.username }}"{% endif %}{% if tag %}+ "&tag={{ tag }}"{% endif %} + box + "\" width=\"" + width + "\" height=\"" + height + "\"></iframe>";
        var link_code = "{% absurl 'geotags-box' %}?c_lat=" + lat + "&c_lon=" + lon + "&z=" + zoom {% if for_user %}+ "&username={{ for_user.username }}"{% endif %}{% if tag %}+ "&tag={{ tag }}"{% endif %} + box;

        // Display code in elements
        var share_control_element = $("#share_control_link");
        var embed_code_element = $("#embed_code");
        var link_code_element = $("#link_code");
        if (zoom > 2){
            embed_code_element.text(embed_code);
            link_code_element.text(link_code);
            share_control_element.html('<br><a onClick = "toggleShareControls()">Share this map</a>');
        }else{
            embed_code_element.text("");
            link_code_element.text("");
            share_control_element.text("");
        }
	}
</script>

{% endblock %}
