{% extends "sounds/_section.html" %}

{% load absurl %}
{% load maps_js_scripts %}

{% block title %}geotags{% endblock title %}

{% block head %}
{{ block.super }}

{% maps_js_scripts %}

<script type="text/javascript">
    function toggleIndicator(){
        if ($("#indicator").css('display') == 'none'){
            $("#indicator").show('blind', {}, 500, function() {});
        }else{
            $("#indicator").hide('blind', {}, 500, function() {});
        }
    }

</script>

{% endblock head %}

{% block section_content %}

{% if username %}
    <h1>Geotags for <a href="{% url "account" username %}">{{ username }}</a></h1>
{% else %}
    {% if tag %}
        <h1>Geotags tagged with <a href="{% url "tags" tag %}">{{tag}}</a></h1>
    {% else %}
        <h1>Geotags</h1>
    {% endif %}
{% endif %}

<div id="map_canvas" style="width: 942px; height: 600px; border: 1px solid black;"></div>

<div id="indicator"><img width="12px" height="12px" src="{{ media_url }}images/indicator.gif" style="float:right;margin-top:3px;"></div>
{% if username or tag %}
    <p>You can also view <a href="{% url "geotags" %}">all geotags</a></p>
{% endif %}
<p style="margin-top:20px;">
    Embed this map:<br><textarea id="embed_code" rows="4" cols="40" readonly style="width:100%;height:40px;"></textarea>
</p>

<script type="text/javascript">
    var url;
    var center_lat;
    var center_lon;
    var zoom;

    {% if username %}
        url = '{% url "geotags-for-user-barray" username %}';
    {% else %}
        {% if tag %}
            url = '{% url "geotags-barray" tag %}';
        {% else %}
            url = '{% url "geotags-barray" %}';
            center_lat = 24;
            center_lon = 20;
            {% if use_gmaps %}
                zoom = 2;
            {% else %}
                zoom = 1;
            {% endif %}
            var box = document.location.hash.slice(5,document.location.hash.length);
            if (box !== ''){
                // If box is given, get the geotags only from that box
                 url = '{% url "geotags-box-barray" %}?box=' + box;
            }
        {% endif %}
    {% endif %}

    {% if center_lat and center_lon and zoom %}
        center_lat = {{ center_lat }};
        center_lon = {{ center_lon }};
        zoom = {{ zoom }};
    {% endif %}

    var show_search = true;
    make_sounds_map(url, 'map_canvas', toggleIndicator, updateEmbedCode, center_lat, center_lon, zoom, show_search);

    function updateEmbedCode(map_element_id, lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon){
        // Generate embed code
        var box = "#box=" + box_bl_lat + "," + box_bl_lon+"," + box_tr_lat+"," + box_tr_lon;
        var width = 942;
        var height = 600;
        var embed_code = "<iframe frameborder=\"0\" scrolling=\"no\" src=\"{% absurl 'embed-geotags-box-iframe' %}?c_lat=" + lat + "&c_lon=" + lon + "&z=" + zoom + "&w=" + width + "&h=" + height {% if username %}+ "&username={{ username }}"{% endif %}{% if tag %}+ "&tag={{ tag }}"{% endif %} + box + "\" width=\"" + width + "\" height=\"" + height + "\"></iframe>";
        var embed_code_element = $("#embed_code");
        embed_code_element.text(embed_code);

        // Update page URL so it can directly be used to share the map
        var new_url = window.location.href;
        new_url = updateQueryStringParameter(new_url, 'c_lat', lat);
        new_url = updateQueryStringParameter(new_url, 'c_lon', lon);
        new_url = updateQueryStringParameter(new_url, 'z', zoom);
        window.history.replaceState( {} , document.title, new_url );
	}
</script>

{% endblock %}
