<div class="infowindow_player" style="display: inline; float: left; margin-right: 5px; height: 50px;">
    {% include "sounds/player_small.html" %}
</div>

<p style="width: 170px; margin-bottom: 0;"><a class="title" href="{% url sound sound.user.username sound.id %}">
    {{sound.original_filename}}</a>
    by <a class="user" href="{% url account sound.user.username %}">
    {{sound.user.username}}</a>
    {% comment %}
    <strong>Tags:</strong>
    {% for tag_link in sound.tags.all %}
        <a href="{% url tags tag_link.tag.name %}">{{tag_link.tag.name}}</a>{% if forloop.last %}{% else %} | {% endif %}
    {% endfor %}
    <strong>Description:</strong> "{{sound.description|striptags|safe}}"<br/>
    {% endcomment %}
    (<a href="javascript:setMaxZoomCenter(map, {{sound.geotag.lat}}, {{sound.geotag.lon}}, {{sound.geotag.zoom}})">zoom in</a>)
</p>
<br class="clear />
