
<div class="infowindow_player" style="display: inline; float: left; margin-right: 5px; height: 50px;">
    {% include "sounds/player_small.html" %}
</div>

<p style="width: 190px; margin-bottom: 0;"><a class="title" target="_blank" href="{% url "sound" sound.user.username sound.id %}">
    {{sound.original_filename}}</a>
    by <a target="_blank" class="user" href="{% url "account" sound.user.username %}">
    {{sound.user.username}}</a>
    (<a href="javascript:setMaxZoomCenter(map, {{sound.geotag.lat}}, {{sound.geotag.lon}}, {{sound.geotag.zoom}})">zoom in</a>)
</p>
<br class="clear />
