{% spaceless %}
<ul class="pagination">
	
	{% if page.has_other_pages %}
	
		{% if page.has_previous %}
			<li class="previous-page"><a href="{{ url_prev_page }}{% if anchor %}#{{anchor}}{% endif %}" title="Previous Page">previous</a></li>
		{% else %}
			<li class="disabled-previous-next">previous</li>
		{% endif %}
		
		{% if page.has_next %}
			<li class="next-page"><a href="{{ url_next_page }}{% if anchor %}#{{anchor}}{% endif %}" title="Next Page">next</a></li>
		{% else %}
			<li class="disabled-previous-next"><span style="color:#888">next</span></li>
		{% endif %}
		
		
		{% if show_first %}
			<li class="first-page"><a href="{{ url_first_page }}{% if anchor %}#{{anchor}}{% endif %}" title="First Page">1</a></li>
			<li class="dots">...</li>
		{% endif %}
		
		{% for num in page_numbers %}
		  {% ifequal num current_page %}
		    <li class="current-page">{{ num }}</li> 
		  {% else %}
		    <li class="other-page"><a href="{{ url }}{{ num }}{% if anchor %}#{{anchor}}{% endif %}" title="Page {{ num }}">{{ num }}</a></li>
		  {% endifequal %}
		{% endfor %}
		
		{% if show_last %}
			<li class="dots">...</li>
			<li class="last-page"><a href="{{ url_last_page }}{% if anchor %}#{{anchor}}{% endif %}" title="Last Page">{{paginator.num_pages}}</a></li>
		{% endif %}


		<p class="number_of_results">
            {% if non_grouped_number_of_results > 0 %}
                &nbsp|&nbsp {{non_grouped_number_of_results}} {{ anchor }}s
            {% else %}
                &nbsp|&nbsp {{ paginator.count }} {{ anchor }}s
            {% endif %}
        </p>


	
	{% else %}
	
		<p class="number_of_results">
            {% comment %}
			{% if paginator.count > 0 %}
				{{ paginator.count }} {{ anchor }}{{ paginator.count|pluralize }}
			{% endif %}
			{% endcomment %}

            {% if non_grouped_number_of_results > 0 %}
                {{non_grouped_number_of_results}} {{ anchor }}{{ non_grouped_number_of_results|pluralize }}
            {% else %}
                {{ paginator.count }} {{ anchor }}{{ paginator.count|pluralize }}
            {% endif %}
		</p>
	
	{% endif %}
	
</ul>
{% endspaceless %}

