{% if aggregate_pageviews %}
        <script defer data-domain="freesound.org" src="https://analytics.freesound.org/js/plausible.manual.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        <script>
          let redactedUrl = window.location.href.replace(/\/\d+\//g, "/_ID_/"); // Replace numberic IDs
          redactedUrl = redactedUrl.replace(/people\/(\w+)\//ig, "people/_ID_/");  // Replace usernames
          redactedUrl = redactedUrl.replace(/browse\/geotags\/(\w+)\//ig, "browse/geotags/_TAG_/");  // Replace tag frm geotags
          redactedUrl = redactedUrl.replace(/browse\/tags\/.*/ig, "browse/tags/_TAGS_/");  // Replace multiple tags form tags
          {% if separate_frontends %}redactedUrl = redactedUrl.replace('freesound.org/', 'freesound.org/NG/'); // Alter path to indicate NG front end{% endif %}
          plausible('pageview', { u: redactedUrl });
        </script>
{% else %}
        <script async defer data-domain="freesound.org" src="https://analytics.freesound.org/js/plausible.js"></script>
{% endif %}