{% load static %}
{% load util %}
{% load absurl %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <script type="text/javascript" src="{% static 'bw-frontend/public/embeds/jquery-1.5.2.min.js' %}" type="text/javascript"></script>
        <link href='//fonts.googleapis.com/css?family=Inconsolata&v1' rel='stylesheet' type='text/css' />
        <link type="text/css" rel="stylesheet" href="{% static 'bw-frontend/public/embeds/html_player/embed.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'bw-frontend/public/embeds/html_player/player.css' %}" />
        <script type="text/javascript" src="{% static 'bw-frontend/public/embeds/html_player/soundmanager2.js' %}"></script>
        <script type="text/javascript">
            var isEmbed = true;
            var spectrogramByDefault = {{ use_spectrogram|yesno:"true,false" }};
            var showToggleDisplayButton = {{ show_toggle_display_button|yesno:"true,false" }};
            {% if size == "full_size" or "full_size_no_info" %}
                function adjust_size_for_twitter_card() {
                    var sampleInfoElement = document.getElementById('sample_info_element');
                    var sampleInfoElementHeight = 0;
                    if (sampleInfoElement !== null){        
                        sampleInfoElementHeight = sampleInfoElement.offsetHeight;
                    } 
                
                    var playerElement = document.getElementById('player_element');

                    // Get width of player and height of header
                    var playerWidth = playerElement.offsetWidth;
                    var sampleInfoHeight = sampleInfoElementHeight
                        + parseInt(window.getComputedStyle(playerElement).getPropertyValue('margin-top'), 10);

                    // Twitter required card aspect ratio is 3.3, adjust player height accordingly
                    var adjustedPlayerHeight = (playerWidth / 3.38) - sampleInfoHeight;
                    playerElement.style.height = adjustedPlayerHeight.toString() + 'px';
                }
                window.onresize = function(event) {
                    adjust_size_for_twitter_card();
                };
                window.onload = function(event) {
                    adjust_size_for_twitter_card();
                }
            {% endif %}

        </script>
        <script type="text/javascript" src="{% static 'bw-frontend/public/embeds/html_player/player.js' %}"></script>
    </head>
    <body class="{{ size }}" {% if size == "full_size" %}onload="adjust_size_for_twitter_card()"{% endif %}>

        {% if size == 'large' %}
        <div class="widget large">
            <div class="sample_info">
                <nobr>
                    <img class="avatar" src="{{user_profile_locations.avatar.S.url}}" alt="avatar" />
                    <h3>{{ sound.username }} - {{ sound.original_filename|truncate_string:120 }}</h3>
                        {% include "embeds/sound_widget_license.html" %}
                        <a href="{% absurl 'sound' sound.username sound.id %}" alt="see this sound on freesound" target="_parent"></a>
                </nobr>
                <br style="clear: both;" />
            </div>
            <div class="player large">
            <div class="metadata">
                {% with 'L' as size %}
                    {% include 'embeds/sound_metadata.html' %}
                {% endwith %}
            </div>
            </div>
        </div>
        {% endif %}

        {% if size == 'medium' %}
        <div class="widget medium">
            <div class="player_wrapper">
                <div class="player small">
                    <div class="metadata">
                        {% with 'M' as size %}
                            {% include 'embeds/sound_metadata.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>

            <div class="sample_info">
                <span class="title">
                    <nobr><h3>{{ sound.original_filename|truncate_string:45 }}</h3>
                          {% include "embeds/sound_widget_license.html" %}
                    </nobr>
                </span>
                <div class="sample_info_left">
                     <img class="avatar" src="{{user_profile_locations.avatar.M.url}}" alt="avatar" />
                     <span class="username">{{ sound.username|truncate_string:16 }}</span>
                     <a href="{% absurl 'sound' sound.username sound.id %}" alt="see this sound on freesound" target="_parent"></a>
                </div>
                <div class="sample_info_right">
                    <ul id="tags">
                        {% for tag_link in sound.tags.all %}
                            <li><span>{{tag_link.tag.name}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <br style="clear: both;" />
            </div>
        </div>
        {% endif %}

        {% if size == 'small' %}
        <div class="widget small">
            <nobr>
                <div class="player mini">
                    <div class="metadata">
                    {% with 'S' as size %}
                            {% include 'embeds/sound_metadata.html' %}
                    {% endwith %}
                    </div>
                </div>
                <div class="sample_info">
                    <a href="{% absurl 'sound' sound.username sound.id %}" target="_parent"><h3>{{ username_and_filename|truncate_string:53 }}</h3></a>
                    <img src="{% static 'bw-frontend/public/embeds/images/widgets/external.png' %}" />
                </div>
            </nobr>
            <br style="clear: both;" />
        </div>
        {% endif %}

        {% if size == 'mini' %}
        <div class="widget mini">
            <div class="player mini">
                <div class="metadata">
                    {% with 'S' as size %}
                        {% include 'embeds/sound_metadata.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if size == 'large_no_info' %}
        <div class="widget large">
            <div class="player large">
            <div class="metadata">
                {% with 'L' as size %}
                    {% include 'embeds/sound_metadata.html' %}
                {% endwith %}
            </div>
            </div>
        </div>

        {% endif %}

        {% if size == 'medium_no_info' %}
        <div class="widget medium">
            <div class="player_wrapper">
                <div class="player small">
                    <div class="metadata">
                        {% with 'M' as size %}
                            {% include 'embeds/sound_metadata.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if size == 'full_size' %}
        <div class="widget large full_size">
            <div class="sample_info" id="sample_info_element">
                <div class="user_avatar">
                    <img class="avatar" src="{{user_profile_locations.avatar.S.url}}" alt="avatar" />
                </div>
                <div class="sound_name">
                    <h3>{{ sound.username }} - {{ sound.original_filename|truncate_string:120 }}</h3>
                </div>
                <div class="freesound_link">
                    <a href="{% absurl 'sound' sound.username sound.id %}" alt="see this sound on freesound" target="_parent"></a>
                </div>
                <div class="license">
                    {% include "embeds/sound_widget_license.html" %}
                </div>
            </div>
            <div class="player large full_size" id="player_element">
                <div class="metadata">
                    {% with 'L' as size %}
                        {% include 'embeds/sound_metadata.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if size == 'full_size_no_info' %}
        <div class="widget large full_size">
            <div class="player large full_size" id="player_element">
                <div class="metadata">
                    {% with 'L' as size %}
                        {% include 'embeds/sound_metadata.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endif %}

    </body>
</html>
