{% extends "messages/_section.html" %}

{% load util %}
{% load smileys %}

{% block title %}messages - {{message.subject}} - {{message.user_from.username}}{% endblock %}

{% block section_content %}

<div class="message_container">
	<dl class="message_header">
		<dt>From: </dt> <dd><a href="{% url account message.user_from.username %}">{{message.user_from.username}}</a></dd>
		<dt>To: </dt> <dd><a href="{% url account message.user_to.username %}">{{message.user_to.username}}</a></dd>
		<dt>Date: </dt> <dd>{{message.created|date:"F jS, Y"}}</dd>
		<dt>Subject:</dt> <dd>{{message.subject}}</dd>
	</dl>
	
	<div class="message-body">
		{{message.body.body|smileys|safe|linebreaks}}
	</div>
</div>

{% endblock %}