<a class="mp3_file" href="{{sound.locations.preview.LQ.mp3.url}}" title="mp3 file">{{sound.original_filename}} - mp3 version</a>
<a class="ogg_file" href="{{sound.locations.preview.LQ.ogg.url}}" title="ogg file">{{sound.original_filename}} - ogg version</a>
<a class="waveform" href="{% if size == 'L' %}{{sound.locations.display.wave_bw.L.url}}{% else %}{{sound.locations.display.wave_bw.M.url}}{% endif %}"
   title="waveform file">{{sound.original_filename}} - waveform</a>
<a class="spectrum" href="{% if size == 'L' %}{{sound.locations.display.spectral_bw.L.url}}{% else %}{{sound.locations.display.spectral_bw.M.url}}{% endif %}"
   title="spectrogram file">{{sound.original_filename}} - spectrogram</a>
<span class="duration" title="duration in seconds">{{sound.duration_ms}}</span>
