<template id="sound-card-template">
<div class="col-md-4 col-6">
  <div class="bw-selectable-object" data-object-id="">
    <div style="min-width: 0;width:100%;">
      <div class="v-spacing-3 overflow-hidden">
        <div class="bw-player"
             data-size="small"
             data-collection="false"
             data-bookmark="false"
             data-similar-sounds="false"
             data-remix-group="false"
             data-show-milliseconds="false"
             data-favorite="false"
             tabindex="0">
        </div>
        <div class="between line-height-percentage-150 v-spacing-top-1">
          <h5 class="ellipsis">
            <a class="bw-link--black js-sound-link" href=""></a>
          </h5>
          <div class="js-small-icons js-small-icons-line1 right text-light-grey col-auto" style="max-height:22px;overflow:hidden;padding-right:0!important;padding-left:0!important;"></div>
        </div>
        <div class="between">
          <div class="ellipsis">
            <a class="js-user-link" href=""></a>
          </div>
          <div class="js-small-icons js-small-icons-line2 right text-light-grey col-auto" style="max-height:22px;overflow:hidden;padding-right:0!important;padding-left:0!important;"></div>
        </div>
        <div>
          <span class="text-grey js-date"></span>
        </div>
        <div class="v-spacing-top-1 bw-player__description-height js-description"></div>
      </div>
    </div>
  </div>
</div>
</template>
