<div class="modal-content">
    <div class="modal-header"><span class="close-modal">&times;</span>
        Support Freesound
    </div>
    <div class="modal-body">
        <p>Thanks for downloading <b>{{ sound_name }}</b>!</p>
        <p>It looks like you have downloaded a significant number of sounds recently.
        If Freesound is useful to you, please consider supporting us by
        <a href="{% url 'donate' %}">making a donation</a>.
        Help us to keep Freesound open and free :)
        </p>
    </div>

    <div style="display: flex; justify-content: center;">
        <a class="donate-button" href="{% url 'donate' %}">Donate Now</a>
    </div>
</div>