<div class="modal-content">
    <div class="modal-header"><span class="close-modal">&times;</span>
        Participate in the Freesound Survey
    </div>
    <div class="modal-body">
        Thanks for downloading <b>{{ sound_name }}</b>!<br />
        Please, consider participating in the <a href="javascript:void(0);"
                                                 onclick="openSurveyPage();hideModal();hideFooterBanner();setSurveyVisited();">
        Freesound Survey 2017</a> if you have not participated yet :)
    </div>
</div>