{% extends "sounds/_section.html" %}

{% load util %}
{% load cache %}
{% load paginator %}
{% load display_sound %}
{% load flag_user %}
{% load filter_img %}

{% block title %}
    {% if mode == "by_user" %}
        Comments by {{ user.username }}
    {% elif mode == "for_user" %}
        Comments for sounds by {{ user.username }}
    {% elif mode == "latest" %}
        Latest comments
    {% endif %}
{% endblock title %}

{% block section_content %}

{% if mode == "by_user" %}
    <h1>Comments by <a href="{% url "account" user.username %}">{{user.username}}</a></h1>
{% elif mode == "for_user" %}
    <h1>Comments for sounds by <a href="{% url "account" user.username %}">{{user.username}}</a></h1>
{% elif mode == "latest" %}
    <h1>Latest comments</h1>
{% endif %}

{% show_paginator paginator page current_page request "comment" %}
<ul id="comments" style="margin-top:-20px;">
    {% for comment in comments %}
    <li>
        <div style="float:right; text-align: right; font-size: 10px">
            {%  flag_user "SC" comment comment.user %}
        </div>
        <img src="{{comment.user.profile.locations.avatar.S.url}}" alt="avatar" class="comment_avatar" />
        <div class="comment_info">
            <span class="comment_author"><a href="{% url "account" comment.user.username %}">{{comment.user.username}}</a></span>
            <span class="comment_date">{{comment.created|timesince}} ago</span>
        </div>
        {{comment.comment|replace_img|safe|linebreaks}}
        <div style="margin-top:10px;">
            On sound:  <a class="title" href="{% url "sound" comment.sound.user.username comment.sound.id %}" title="{{comment.sound.original_filename}}">{{comment.sound.original_filename|truncate_string:27}}</a> by <a href="{% url "account" comment.sound.user.username %}">{{comment.sound.user.username}}</a>
        </div>
    </li>
    {% endfor %}
</ul><p></p>
{% show_paginator paginator page current_page request "comment" %}
{% endblock %}
