{% load cache %}

{% if pack %}
{% cache 3600 display_pack pack.0.id %}
{% with pack.0 as pack %}

<div class="pack_display" id="{{pack.id}}">
<div class="pack_description">

<h4><a href="{% url "pack" pack.user.username pack.id %}">{{pack.name}}</a> <span style="font-weight:normal;">({{ pack.num_sounds }} sound{{ pack.num_sounds|pluralize }}) </span></h4>
<p class="text">by <a href="{% url "account" pack.user.username %}">{{pack.user.username}}</a>.
<a href="{% url "pack-downloaders" pack.user.username pack.id %}">Downloaded {{pack.num_downloads}} times.</a>
<br>Tags of sounds inside the pack:
{% with pack.get_pack_tags as tags %}
    {% if tags == -1 %}
            Tag information is not available right now.
    {% else %}
        {% for tag in tags.tags %}
            <a href="{% url "tags" tag %}" class="tags" >{{ tag }}</a>
        {% endfor %}
        {% if tags.num_tags == 20 %}
            <span class="dots">...</span>
        {% endif %}
    {% endif %}
{% endwith %}
</p>
</div>


<div class="sounds_in_pack">
{% with pack.get_random_sounds_from_pack as sounds %}
    <span class="text">Some random samples from the pack:</span><br>
    {% for sound in sounds %}
        <div class="sound">
        {% include "sounds/player_medium.html" %}
        </div>
    {% endfor %}
{% endwith %}
</div>
</div>

{% endwith %}
{% endcache %}
{% endif %}

