{% load bw_templatetags %}
<div class="bw-selectable-object with-actions" data-object-id="{{ sound.id }}" data-featured="{% if is_featured %}true{% else %}false{% endif %}">
    <div style="min-width: 0;width:100%;">
        {% include "sounds/display_sound.html" %}
    </div>
    <div class="bw-object-actions">
        <button type="button" class="btn-inverse featured-toggle {% if is_featured %}active{% endif %}" data-action="featured">
            <span class="label-default">Make Featured</span>
            <span class="label-hover">Make Featured</span>
            <span class="label-active-default">Featured</span>
            <span class="label-active-hover">Unfeature</span>
        </button>
        <button type="button" class="btn-inverse remove-toggle" data-action="remove" title="Remove from collection" data-container-active-class="marked-for-removal" data-active-title="Undo removal" data-disables="featured">
            <span class="label-default">{% bw_icon 'trash' %}</span>
            <span class="label-hover">Undo</span>
        </button>
    </div>
</div>
