{% load util %}
{% load bw_templatetags %}
<div class="right text-light-grey col-auto" style="max-height: 22px;overflow: hidden;padding-right:0px!important;padding-left:0px!important;">                    
    {% if sound.num_downloads %}
    <div class="h-spacing-left-1" title="{{ sound.num_downloads }} downloads">
        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'sound-downloaders' sound.username sound.id %}?ajax=1" class="bw-link--grey-light">
            <span class="bw-icon-download" style="font-size:90%;"></span> {{ sound.num_downloads|formatnumber }}
        </a>
    </div>
    {% endif %}
    {% if sound.num_comments %}
    <div class="h-spacing-left-1" title="{{ sound.num_comments }} comments">
        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'sound-comments' sound.username sound.id %}?ajax=1" class="bw-link--grey-light">
            <span class="bw-icon-comments" style="font-size:90%;"></span> {{ sound.num_comments|formatnumber }}
        </a>
    </div>
    {% endif %}
    {% if sound.pack_id %}
    <div class="h-spacing-left-1" title="Pack: {{ sound.pack_name }}">
        <a href="{% url 'pack' sound.username sound.pack_id %}" class="bw-link--grey-light">
            <span class="bw-icon-stack"></span>
        </a>
    </div>
    {% endif %}
    {% if sound.geotag_id %}
    <div class="h-spacing-left-1" title="Geotag: {{ sound.get_geotag_name }}">
        <a href="{% url 'sound-geotag' sound.username sound.id %}" class="bw-link--grey-light">
            <span class="bw-icon-pin"></span>
        </a>
    </div>
    {% endif %}
    <div class="h-spacing-left-1" title="License: {{ sound.license_name }}">
        <span class="bw-icon-{{ sound.license_bw_icon_name }}"></span>
    </div>
    {% if sound.num_ratings >= min_num_ratings %}
    <div class="h-spacing-left-1" title="{{ sound.get_ratings_count_text }}">
        <span class="bw-icon-star"></span><span class="bw-rating__avg">{{ sound.avg_rating_0_5|floatformat:1 }}</span>
    </div>
    {% endif %}
</div>