{% load cache %}
{% load util %}
{% load display_sound %}
{% load bw_templatetags %}

{% if size == 'small' %}
    <div class="bw-display-pack v-spacing-3 overfow-hidden">
        <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
                <div class="bw-carousel with-dots dots-distance-02">
                    {% for sound_data in pack.selected_sounds_data %}
                        <div>
                            {% if show_bookmark_similarity_buttons %}
                            {% display_sound_small_no_sound_object sound_data %}
                            {% else %}
                            {% display_sound_small_no_sound_object_no_bookmark sound_data %}
                            {% endif %}
                        </div>
                    {% empty %}
                        <div class="bw-player-small-thumbnail-empty-space"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="between line-height-percentage-150 v-spacing-top-1">
            <h5 class="ellipsis">
                <span class="bw-icon-stack h-spacing-1 text-light-grey"></span><a class="bw-link--black" href="{% url "pack" pack.user.username pack.id %}" title="{{ pack.name }}">{{ pack.name }}</a>
            </h5>
            {% if not pack.should_display_small_icons_in_second_line %}{% include 'sounds/display_pack_small_icons.html' %}{% endif %}
        </div>
        <div class="between">
            <div>
                <a href="{% url "account" pack.user.username %}" title="Username: {{ pack.user.username }}">{{ pack.user.username|truncate_string:15 }}</a><span class="text-grey h-spacing-left-1 h-spacing-1">
            </div>
            {% if pack.should_display_small_icons_in_second_line %}{% include 'sounds/display_pack_small_icons.html' %}{% endif %}
        </div>
        <div>
            <span class="text-grey">{{ pack.created|timesince }} ago</span>
        </div>
        <div class="v-spacing-top-1 bw-player__description-height">
            {% if pack.description %}
                {% with pack.description|striptags|safe as preprocessed_description %}
                <div {% if preprocessed_description|length >= 55%}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                    {{ preprocessed_description|truncatechars_html:55 }}
                </div>
                {% endwith %}
            {% else %}
                This pack has no description.
            {% endif %}
        </div>
    </div>
    {% if pack.show_unpublished_sounds_warning %}
    {% with pack.num_sounds_unpublished as num_sounds_unpublished %}
        {% if num_sounds_unpublished > 0 %}
            <div class="v-spacing-3 v-spacing-top-negative-2 text-blue">
                {% bw_icon "notification" %}Has {{ num_sounds_unpublished}} unpublished sound{{ num_sounds_unpublished|pluralize }}
            </div>
        {% endif %}
    {% endwith %}
    {% endif %}
{% elif size == 'big' %}
    <div class="bw-display-pack">
        {% if pack.selected_sounds_data %}
        <div class="row no-margins" style="margin-left: -15px">
            {% for sound_data in pack.selected_sounds_data %}
                <div class="col-4">
                    {% if show_bookmark_similarity_buttons %}
                    {% display_sound_small_no_sound_object sound_data %}
                    {% else %}
                    {% display_sound_small_no_sound_object_no_bookmark sound_data %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="bw-player-small-thumbnail-empty-space"></div>
        {% endif %}
        <div class="between v-spacing-top-1">
            <div>
                <h5><span class="bw-icon-stack h-spacing-1 text-light-grey"></span><a class="bw-link--black ellipsis" href="{% url "pack" pack.user.username pack.id %}" title="{{ pack.name }}">{{ pack.name }}</a></h5>
            </div>
            <div class="text-grey text-right between padding-right-1">
                <div style="min-width:130px;" class="top right">{% bw_generic_stars pack.avg_rating %}<span class="text-grey h-spacing-left-1">{% if pack.num_ratings %}({{ pack.num_ratings|formatnumber }}){% endif %}</span></div>
            </div>
        </div>
        <div class="between">
            <div class="text-black v-spacing-top-1 padding-right-2 v-spacing-1">
                {% if pack.description %}
                    {% with pack.description|striptags|safe as preprocessed_description %}
                    <div {% if preprocessed_description|wordcount >= 20%}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                        {{ preprocessed_description|truncatewords_html:20 }}
                    </div>
                    {% endwith %}
                {% else %}
                    This pack has no description.
                {% endif %}
            </div>
            {% with pack.get_pack_tags_bw as tags %}
                {% if tags %}
                    <div class="right wrap">
                    {% for tag in tags|slice:":5" %}
                        {% bw_tag tag.name 1 '' tag.browse_url %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="between middle v-spacing-2">
            <div class="">
                <div class="middle text-grey h-spacing-1">
                    <div class="h-spacing-1">
                        {% bw_user_avatar pack.user_profile_locations.avatar.S.url pack.user.username 32 %}
                    </div>
                    <a href="{% url 'account' pack.user %}">{{ pack.user | truncate_string:15 }}</a>
                    <span class="h-spacing-left-1 text-light-grey">{{ pack.created|date:"F jS, Y" }}</span>
                </div>
            </div>
            <div class="text-light-grey right padding-right-1">
                <div title="{{ pack.num_sounds|bw_intcomma }} sound{{ pack.num_sounds|pluralize }}">
                    <a href="{{ pack.get_pack_sounds_in_search_url }}" class="bw-link--grey-light">
                        <span class="bw-icon-wave"></span> {{ pack.num_sounds|formatnumber }}
                    </a>
                </div>
                {% if pack.has_geotags %}
                    <div class="h-spacing-left-2" title="Pack has geotags">
                        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'pack-geotags' pack.user.username pack.id %}?ajax=1" class="bw-link--grey-light">
                            <span class="bw-icon-pin"></span>
                        </a>
                    </div>
                {% endif %}
                <div class="h-spacing-left-2" title="{{ pack.num_downloads|bw_intcomma }} download{{ pack.num_downloads|pluralize }}">
                    <a href="{% url 'pack-downloaders' pack.user.username pack.id %}" class="bw-link--grey-light">
                        <span class="bw-icon-download"></span> {{ pack.num_downloads|formatnumber }}
                    </a>
                </div>
                <div class="h-spacing-left-2" title="License: {{ pack.license_summary_name_and_id.0 }}">
                    <span class="bw-icon-{{ pack.license_bw_icon_name }}"></span>
                </div>
            </div>
        </div>
    </div>
{% endif %}
