{% load cache %}
{% load util %}
{% load bw_templatetags %}

{% if sound %}
    {% if player_size == 'small' or player_size == 'moderation' %}
        {% comment %}This is the default size which includes the basic player with sound metadatata{% endcomment %}
        {% if is_explicit and player_size != 'moderation' %}
            <div class="explicit-sound-blocker blocker-small">
                <p><b>Warning</b>: this sound may be inappropriate for some users</p>
                <button class="btn-primary">Show anyway</button>
            </div>
        {% endif %}
        <div class="v-spacing-3 overfow-hidden {% if is_explicit %}blur{% endif %}" aria-label="Sound {{ sound.original_filename }} by {{ sound.username }}">
            {% include "sounds/player.html" %}
            {% cache 43200 bw_display_sound sound.id player_size is_authenticated %}
            {% if show_rate_widget %}<div class="display-none bw-player__rate__widget">{% bw_sound_stars sound %}</div>{% endif %}
            <div class="between line-height-percentage-150 v-spacing-top-1">
                <h5 class="ellipsis">
                    <a class="bw-link--black" href="{% url 'sound' sound.username sound.id %}" title="{{ sound.original_filename }}">{{ sound.original_filename }}</a>
                </h5>
                {% if not sound.should_display_small_icons_in_second_line %}{% include 'sounds/display_sound_small_icons.html' %}{% endif %}
            </div>
            <div class="between">
                <div class="ellipsis">
                    <a href="{% url 'account' sound.username %}" title="Username: {{ sound.username }}">{{ sound.username }}</a>
                </div>
                {% if sound.should_display_small_icons_in_second_line %}{% include 'sounds/display_sound_small_icons.html' %}{% endif %}
            </div>
            <div>
                <span class="text-grey timesince-target">{{ sound.created|date:"F jS, Y" }}</span>
            </div>
            {% if player_size != 'moderation' %}
                {% with sound.description|striptags|safe as preprocessed_description %}
                <div class="v-spacing-top-1 bw-player__description-height" {% if preprocessed_description|length >= 55 %}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                    {{ preprocessed_description|truncatechars_html:55 }}
                </div>
                {% endwith %}
            {% else %}
                <div id="collapsable-sound-info-{{ sound.id }}-{{ random_number }}" class="v-spacing-top-1 collapsable-block">
                    {% comment %}When showing information for moderation pages we put the full description and also the tags in a collapsable element{% endcomment %}
                    {% for tag in sound.tag_array%}
                        {% bw_tag tag %}
                    {% endfor %}
                    <div class="v-spacing-top-1">
                        {{ sound.description|safe|linebreaks }}
                    </div>
                </div>
                <div class="text-center v-spacing-top-1 v-spacing-2">
                    <span data-target="collapsable-sound-info-{{ sound.id }}-{{ random_number }}" data-show-text="Show more info" data-hide-text="Show less info" data-max-height-when-closed="150" data-hide-on-load class="collapsable-toggle"></span>
                </div>
            {% endif %}
            {% endcache %}
        </div>
        {% if is_explicit and player_size == 'moderation'%}
        <div class="v-spacing-top-1">
            <div class="text-grey">
                {% bw_icon "notification" %} Marked as explicit
            </div>
        </div>
        {% endif %}
        {% if sound.show_moderation_ticket and sound.ticket_key and player_size != 'moderation' %}
        <div class="v-spacing-3 v-spacing-top-negative-2">
            <a class="bw-link--black" href="{% url 'tickets-ticket' sound.ticket_key %}">{% bw_icon "file-text" %} See moderation ticket</a>
        </div>
        {% endif %}
        {% if sound.show_processing_status or player_size == 'moderation' %}
        <div class="v-spacing-3 v-spacing-top-negative-2">
            {% include 'sounds/sound_state_processing_indicator.html' %}
        </div>
        {% endif %}
        {% if sound.show_moderation_status or player_size == 'moderation' %}
        <div class="v-spacing-3 v-spacing-top-negative-2">
            {% include 'sounds/sound_state_moderation_indicator.html' %}
        </div>
        {% endif %}

    {% elif player_size == 'middle' %}
        {% comment %}This is the default player shown in search results and in places where the sound takes
        "full" width {% endcomment %}
        {% if is_explicit %}
            <div class="explicit-sound-blocker blocker-small blocker-force-almost-full-width">
                <p><b>Warning</b>: this sound may be inappropriate for some users</p>
                <button class="btn-primary">Show anyway</button>
            </div>
        {% endif %}
        <div class="{% if is_explicit %}blur{% endif %}" aria-label="Sound {{ sound.original_filename }} by {{ sound.username }}">
            <div class="row no-gutters no-wrap">
                <div class="col-4 col-lg-3">
                    {% include "sounds/player.html" %}
                </div>
                {% cache 43200 bw_display_sound sound.id player_size is_authenticated %}
                <div class="col-8 col-lg-9">
                    <div class="padding-left-3">
                        <div class="between">
                            <div>
                                <h5 class="v-spacing-1"><a class="bw-link--black" href="{% url 'sound' sound.username sound.id %}" title="{{ sound.original_filename }}">{{ sound.original_filename|truncate_string:52 }}</a></h5>
                            </div>
                            <div class="text-grey text-right between stars-margin-top-middle-player">
                                <div style="min-width:130px;" class="top right">{% bw_sound_stars sound %}<span class="bw-rating__count text-grey h-spacing-left-1">{{ sound.get_ratings_count_text_short }}</span></div>
                            </div>
                        </div>
                        {% with sound.description|striptags|safe as preprocessed_description %}
                        <div class="max-h-60px-md-50px text-black overflow-hidden v-spacing-1" {% if preprocessed_description|wordcount > 28 %}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                            {{ preprocessed_description|truncatewords_html:28 }}
                        </div>
                        {% endwith %}
                        <div class="bw-player__tags-list-height">
                        {% for tag in sound.tag_array|slice:":5" %}
                            {% bw_tag tag %}
                        {% endfor %}
                        </div>
                        {% if sound.moderation_state != 'OK' %}
                        <div class="right">
                            {% include 'sounds/sound_state_moderation_indicator.html' %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="between v-spacing-top-1 v-spacing-2">
                <div class="middle text-grey h-spacing-1">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-12 middle">
                            <div class="h-spacing-1">
                                {% bw_user_avatar user_profile_locations.avatar.S.url sound.username 32 %}
                            </div>
                            <a href="{% url 'account' sound.username %}">{{ sound.username | truncate_string:15 }}</a>
                            <div class="text-light-grey h-spacing-left-1 d-none d-lg-block no-text-wrap">{{ sound.created|date:"F jS, Y" }}</div>
                        </div>
                        <div class="col-lg-4 d-lg-none text-light-grey">
                            {{ sound.created|date:"F jS, Y" }}
                        </div>
                    </div>
                </div>
                <div class="middle text-light-grey bw_sound-info-extended right">
                    {% if sound.pack_id %}
                    <div class="h-spacing-left-2" title="Pack: {{ sound.pack_name }}">
                        <a href="{% url 'pack' sound.username sound.pack_id %}" class="bw-link--grey-light">
                            <span class="bw-icon-stack"></span> {{ sound.pack_name|truncatechars:20 }}
                        </a>
                    </div>
                    {% endif %}
                    {% if sound.geotag_id %}
                    <div class="h-spacing-left-2" title="Geotag: {{ sound.get_geotag_name }}">
                        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'sound-geotag' sound.username sound.id %}?ajax=1" class="bw-link--grey-light">
                            <span class="bw-icon-pin"></span> {{ sound.get_geotag_name|truncatechars:20 }}
                        </a>
                    </div>
                    {% endif %}
                    <div class="h-spacing-left-2" title="{{ sound.num_downloads }} downloads">
                        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'sound-downloaders' sound.username sound.id %}?ajax=1" class="bw-link--grey-light">
                            <span class="bw-icon-download"></span> {{ sound.num_downloads|formatnumber }}
                        </a>
                    </div>
                    <div class="h-spacing-left-2" title="{{ sound.num_comments }} comments">
                        <a href="javascript:void(0)" data-toggle="modal-default" data-modal-content-url="{% url 'sound-comments' sound.username sound.id %}?ajax=1" class="bw-link--grey-light">
                            <span class="bw-icon-comments"></span> {{ sound.num_comments|formatnumber }}
                        </a>
                    </div>
                    <div class="h-spacing-left-2" title="License: {{ sound.license_name }}">
                        <span class="bw-icon-{{ sound.license_bw_icon_name }}"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endcache %}

    {% elif player_size == 'big_no_info' %}
        {% comment %}This size includes a placeholder for the controls of the big player but shows no sound
        metadata{% endcomment %}
        <div aria-label="Sound {{ sound.original_filename }} by {{ sound.username }}">
        {% include "sounds/player.html" %}
        <div class="bw-player-big__controls"></div>
        </div>

    {% elif player_size == 'small_no_info' %}
        {% comment %}This size will be used inside a pack carousel. For this size we only include the basic
        player and show no sound metadata{% endcomment %}
        <div aria-label="Sound {{ sound.original_filename }} by {{ sound.username }}">
        {% include "sounds/player.html" %}
        {% if show_rate_widget %}<div class="display-none bw-player__rate__widget">{% bw_sound_stars sound %}</div>{% endif %}
        </div>

    {% elif player_size == 'minimal' %}
        {% comment %}This size is used in map info windows and only includes a play/stop and loop button{% endcomment %}
        <div aria-label="Sound {{ sound.original_filename }} by {{ sound.username }}">
        {% include "sounds/player.html" %}
        </div>

    {% endif %}
{% endif %}