{% load cache %}
{% load util %}
{% load ratings %}
{% if sound %}

{% comment %}
    If you change this cache index, be sure to change the invalidation in
    ratings/views.py as well
{% endcomment %}
{% cache 43200 display_sound sound_id request.user.is_authenticated sound.0.processing_state sound.0.moderation_state %}

{% with sound.0 as sound %}
<div class="sample_player_small" id="{{ sound_id }}">

    <div class="sample_player">

        <div class="small_player">
            {% include "sounds/player_medium.html" %}
        </div><!-- .small_player -->

        <div class="sound_title">
            <div class="sound_filename">
               <a class="title" href="{% url sound sound.user.username sound.id %}" title="{{sound.original_filename}}">{{sound.original_filename|truncate_string:27}}</a>
            </div><!-- .sound_filename -->
            <div class="sound_stars">
               <ul class="star-rating">
                   <li class="current-rating" style="width:{{sound.rating_percent}}%;">Currently {{sound.avg_rating|stringformat:"%.1f"}}/5 Stars.</li>
                   <li><a href="{{sound|rating_url:"1"}}" title="pretty bad :-(" class="one-star{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">1</a></li>
                   <li><a href="{{sound|rating_url:"2"}}" title="quite good" class="two-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">2</a></li>
                   <li><a href="{{sound|rating_url:"3"}}" title="good :-)" class="three-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">3</a></li>
                   <li><a href="{{sound|rating_url:"4"}}" title="very good" class="four-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">4</a></li>
                   <li><a href="{{sound|rating_url:"5"}}" title="amazing :-o" class="five-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">5</a></li>
               </ul>
            </div><!-- .sound_stars -->
            
            <div class="sound_description">
                <p class="description">{{sound.description|striptags|safe|truncatewords:20}}</p>
            </div><!-- .sound_description -->
            
            <div class="sound_tags">

                <ul class="tags">
                    {% for tag_link in sound_tags %}
                        <li><a href="{% url tags tag_link.tag.name %}">{{tag_link.tag.name}}</a></li>
                    {% endfor %}
                </ul>
                <br style="clear: both;"/>

            </div><!-- .sound_tags -->
            
            <div id="bookmark_form_{{sound.id}}" class="bookmark_form"></div> <!-- to be filled dynamically with ajax -->
            
            {% if sound.moderation_state != 'OK' or sound.processing_state != 'OK' %}
                <p style="font-size:10px; color:gray">
                {% if sound.processing_state != 'OK' %}
                    Processing state:
                    {% if sound.processing_state == 'PE' %}
                        Pending
                    {% else %}
                        {% if sound.processing_state == 'QU' %}
                            Queued
                        {% else %}
                            {% if sound.processing_state == 'FA' %}
                                Failed
                            {% else %}
                                {% if sound.processing_state == 'PR' %}
                                    Processing
                                {% else %}
                                    {{sound.processing_state}}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                 <br>
                {% endif %}

                {% if sound.moderation_state != 'OK' %}
                    Moderation state:
                    {% if sound.moderation_state == 'PE' %}
                        Pending
                    {% else %}
                        {% if sound.moderation_state == 'DE' %}
                            Deferred
                        {% else %}
                            {{sound.moderation_state}}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

          </div><!-- .sound_title -->
    </div><!-- .sample_player -->

    <div class="sample_information">
        <a class="user" href="{% url account sound.user.username %}">{{sound.user.username}}</a><br />
        <span class="date">{{sound.created|date:"F jS, Y"}}</span><br />
        <span class="download_count"><a href="{% url sound-downloaders sound.user.username sound.id %}">{{sound.num_downloads}} download{{sound.num_downloads|pluralize}}</a></span><br />
        <a class="comments" href="{% url sound sound.user.username sound.id %}#comments">{{sound.num_comments}} comment{{sound.num_comments|pluralize}}</a>

        <div class="sound_attributes">
            
            {% if request.user.is_authenticated %}
            <a class="bookmark" href="javascript:void(0)" onclick="show_hide_bookmark_form({{sound.id}})">
                <img src="{{media_url}}images/fugue-icons/icons/address-book-blue.png" width="16" height="16" alt="Bookmark" title="Bookmark this sound" />
            </a>
            
            <!-- maybe move this code somewhere else? function is duplicated for each sound...-->
            <script type="text/javascript">
            function show_hide_bookmark_form(id)
            {
                if( $("#bookmark_form_"  + id.toString()).is(':hidden') ) { // Only do the request when expanding the div
                    $("#bookmark_form_"  + id.toString()).html('&nbsp;').load("/home/bookmarks/get_form_for_sound/" + id.toString())
                }
                $("#bookmark_form_"  + id.toString()).toggle();
            }
            </script>
            
            {% endif %}
            
            {% if sound.similarity_state == 'OK' %}
            <a class="similar" rel="nofollow" href="{% url sound-similar sound.user.username sound.id %}">
                <img src="{{media_url}}images/fugue-icons/icons/headphone--plus.png" width="16" height="16" alt="Similar" title="Similar Sounds" />
            </a>
            {% endif %}
            {% if sound.pack %}
            <a class="pack" href="{% url pack sound.user.username sound.pack.id %}">
                <img src="{{media_url}}images/fugue-icons/icons/folder-open-document-music.png" width="16" height="16" alt="Pack" title="This sound belongs to the pack: {{ sound.pack.name }}" />
            </a>
            {% endif %}
            {% if sound.remix_group.all.count %}
             <a class="remixes" href="{% url sound-remixes sound.user.username sound.id %}">
                <img src="{{media_url}}images/remixes.png" width="16" height="16" alt="Remixes" title="This sound has remixes" />
            </a>
            {% endif %}
            {% if sound.geotag %}
            <a class="geotag" href="{% url sound-geotag sound.user.username sound.id %}">
                <img src="{{media_url}}images/geotag.png" width="16" height="16" alt="Geotagged" title="This sound has a geotag" />
            </a>
            {% endif %}
            <!-- license icons -->
            {% if sound.license.name == 'Sampling+' %}
                <img class="cc_license" src="{{media_url}}images/licenses/sampling.png" width="16" height="16" alt="Sampling+ license" title="This sound is licensed under the sampling+ license." />
            {% endif %}
            {% if sound.license.name == 'Creative Commons 0' %}
                <img class="cc_license" src="{{media_url}}images/licenses/nolaw.png" width="16" height="16" alt="Public Domain license" title="This sound is public domain." />
            {% endif %}
            {% if sound.license.name == 'Attribution' %}
                <img class="cc_license" src="{{media_url}}images/licenses/by.png" width="16" height="16" alt="Creative Commons Attribution license" title="This sound is licensed under the Creative Commons Attribution license." />
            {% endif %}
            {% if sound.license.name == 'Attribution Noncommercial' %}
                <img class="cc_license" src="{{media_url}}images/licenses/bync.png" height="16" alt="Creative Commons Attribution Non-Commercial license" title="This sound is licensed under the Creative Commons Attribution Non-Commercial license." />
            {% endif %}
            <!-- /license icons -->
            
        </div><!-- .sound_attributes -->

    </div><!-- .sample_information -->
</div><!-- .sample_player_small -->
{% endwith %}

{% endcache %}

{% endif %}
