<div id="center">
	<div id="fig">
    	<script type="text/javascript+protovis">
// Graph DATA
var data = {{ data|safe }};

/* ======== PROTOVIS STUFF-START ======== */
var vis = new pv.Panel()
				.def("i", -1)
    			.width(205)
    			.height(data.length * 160)
				.bottom(0)
				.top(0)
				.right(15);

var arc = vis.add(pv.Layout.Arc)
    .nodes(data.nodes)
    .links(data.links)
	.orient("right");

arc.link.add(pv.Line)
   .strokeStyle(function(d, p)  connections(d,p));

arc.node.add(pv.Dot)
    .size(function(d) d.linkDegree + 4)
	.fillStyle(function(d) vis.i() == this.index ? "#F1D9FF" : "#DBDBDB")
    .strokeStyle(function() this.fillStyle().darker())
    .radius(function() vis.i() == this.index ? 10 : 5)
    .event("mouseover", function(d) (d.active = true, arc, vis.i(this.index)))
    .event("mouseout", function(d) (clearBackgrounds(), d.active = false, arc, vis.i(-1)))
	.event("click", function(d) goToSound(d.id,d.username));

vis.render();
/* ======== PROTOVIS STUFF-END ======== */

/* ======== helper functions ========= */
function connections(d, p) {
	if (p.sourceNode.active == true) {
		$("#"+p.targetNode.id+"").animate({backgroundColor: "#DBDBDB"});
		$("#"+p.sourceNode.id+"").animate({backgroundColor: "#F1D9FF"});
		return "orange";
	} else if (p.targetNode.active == true) {	
		$("#"+p.targetNode.id+"").animate({backgroundColor: "#F1D9FF"});
		$("#"+p.sourceNode.id+"").animate({backgroundColor: "#DBDBDB"});
		return "orange";
	} else
		return "#c7c7c7";
}
function goToSound(soundId, username) {
	window.location.href = "/people/"+username+"/sounds/"+soundId+"/remixes";
}
function clearBackgrounds() {
	for (var i=0; i<data.nodes.length; i++) {
		$("#"+data.nodes[i].id+"").animate({backgroundColor: "#ffffff"});
	}
}
    	</script>
  	</div>
</div>  	

  