{% load cache %}
{% load util %}
{% load ratings %}
{% if sound %}

{% comment %}
    If you change this cache index, be sure to change the invalidation in
    ratings/views.py as well
{% endcomment %}
{% cache 43200 display_sound sound_id is_authenticated is_explicit %}

<div class="sample_player_small" id="{{ sound_id }}">

    {% if is_explicit %}
    <div class="explicit_content_text">
        <span>Warning: this sound may be inappropriate for some users <a href="#">Dismiss</a></span>
    </div>
    {% endif %}

    <div class="sample_player {% if is_explicit %}blur{% endif %}">
        <div class="small_player">
            {% include "sounds/player_medium.html" %}
        </div><!-- .small_player -->

        <div class="sound_title">
            <div class="sound_filename">
               <a class="title" href="{% url "sound" sound_user sound.id %}" title="{{sound.original_filename}}">{{sound.original_filename|truncate_string:27}}</a>
            </div><!-- .sound_filename -->
            <div class="sound_stars">
               {% sound_ratings %}
            </div><!-- .sound_stars -->

            <div class="sound_description">
                <p class="description">{{sound.description|striptags|safe|truncatewords:20}}</p>
            </div><!-- .sound_description -->

            <div class="sound_tags">

                <ul class="tags">
                    {% for tag in sound_tags %}
                        <li><a href="{% url "tags" tag %}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
                <br style="clear: both;"/>

            </div><!-- .sound_tags -->

            <div id="bookmark_form_{{sound.id}}" class="bookmark_form"></div> <!-- to be filled dynamically with ajax -->

            {% if sound.moderation_state != 'OK' or sound.processing_state != 'OK' %}
                <p style="font-size:10px; color:gray">
                {% if sound.processing_state != 'OK' %}
                    Processing state:
                    {% if sound.processing_state == 'PE' %}
                        Pending
                    {% else %}
                        {% if sound.processing_state == 'QU' %}
                            Queued
                        {% else %}
                            {% if sound.processing_state == 'FA' %}
                                Failed
                            {% else %}
                                {% if sound.processing_state == 'PR' %}
                                    Processing
                                {% else %}
                                    {{sound.processing_state}}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    {% endif %}
                 <br>
                {% endif %}

                {% if sound.moderation_state != 'OK' %}
                    Moderation state:
                    {% if sound.moderation_state == 'PE' %}
                        Pending
                    {% elif sound.moderation_state == 'DE' %}
                        Deferred
                    {% else %}
                        {{sound.moderation_state}}
                    {% endif %}
                {% endif %}
            {% endif %}

          </div><!-- .sound_title -->
    </div><!-- .sample_player -->

    <div class="sample_information {% if is_explicit %}blur{% endif %}">
        <a class="user" href="{% url "account" sound_user %}">{{sound_user}}</a><br />
        <span class="date">{{sound.created|date:"F jS, Y"}}</span><br />
        <span class="download_count"><a href="{% url "sound-downloaders" sound_user sound.id %}">{{sound.num_downloads}} download{{sound.num_downloads|pluralize}}</a></span><br />
        <a class="comments" href="{% url "sound" sound_user sound.id %}#comments">{{sound.num_comments}} comment{{sound.num_comments|pluralize}}</a>

        <div class="sound_attributes">

            {% if request.user.is_authenticated %}
            <a class="bookmark" href="javascript:void(0)" onclick="show_hide_bookmark_form({{sound.id}})">
                <img src="{{media_url}}images/fugue-icons/icons/address-book-blue.png" width="16" height="16" alt="Bookmark" title="Bookmark this sound" />
            </a>
            {% endif %}

            {% if sound.similarity_state == 'OK' %}
            <a class="similar" rel="nofollow" href="{% url "sound-similar" sound_user sound.id %}">
                <img src="{{media_url}}images/fugue-icons/icons/headphone--plus.png" width="16" height="16" alt="Similar" title="Similar Sounds" />
            </a>
            {% endif %}
            {% if sound.pack_id %}
            <a class="pack" href="{% url "pack" sound_user sound.pack_id %}">
                <img src="{{media_url}}images/fugue-icons/icons/folder-open-document-music.png" width="16" height="16" alt="Pack" title="This sound belongs to the pack: {{ sound.pack_name }}" />
            </a>
            {% endif %}
            {% if sound.remixgroup_id %}
             <a class="remixes" href="{% url "sound-remixes" sound_user sound.id %}">
                <img src="{{media_url}}images/remixes.png" width="16" height="16" alt="Remixes" title="This sound has remixes" />
            </a>
            {% endif %}
            {% if sound.geotag_id %}
            <a class="geotag" href="{% url "sound-geotag" sound_user sound.id %}">
                <img src="{{media_url}}images/geotag.png" width="16" height="16" alt="Geotagged" title="This sound has a geotag" />
            </a>
            {% endif %}
            <!-- license icons -->
            {% if license_name == 'Sampling+' %}
                <img class="cc_license" src="{{media_url}}images/licenses/sampling.png" width="16" height="16" alt="Sampling+ license" title="This sound is licensed under the sampling+ license." />
            {% endif %}
            {% if license_name == 'Creative Commons 0' %}
                <img class="cc_license" src="{{media_url}}images/licenses/nolaw.png" width="16" height="16" alt="Public Domain license" title="This sound is public domain." />
            {% endif %}
            {% if license_name == 'Attribution' %}
                <img class="cc_license" src="{{media_url}}images/licenses/by.png" width="16" height="16" alt="Creative Commons Attribution license" title="This sound is licensed under the Creative Commons Attribution license." />
            {% endif %}
            {% if license_name == 'Attribution Noncommercial' %}
                <img class="cc_license" src="{{media_url}}images/licenses/bync.png" height="16" alt="Creative Commons Attribution Non-Commercial license" title="This sound is licensed under the Creative Commons Attribution Non-Commercial license." />
            {% endif %}
            <!-- /license icons -->

        </div><!-- .sound_attributes -->
    </div><!-- .sample_information -->
</div><!-- .sample_player_small -->

{% endcache %}

{% endif %}
