{% extends "sounds/_section.html" %}


{% load display_sound %}
{% load paginator %}

{% block title %}Sound by {{sound_user.username}}{% endblock title %}

{% block section_content %}
<h1>Sounds by <a href="{% url "account" sound_user.username %}">{{sound_user.username}}</a></h1>

{% show_paginator paginator page current_page request "sound" %}

{% for sound in user_sounds %}
    {% display_raw_sound sound %}
{% endfor %}

{% show_paginator paginator page current_page request "sound" %}

{% endblock %}
