{% extends "sounds/_section.html" %}
{% load maps %}

{% block title %}&quot;{{sound.original_filename}}&quot; by {{sound.user.username}} - geotag{% endblock title %}

{% block head %}
{{ block.super }}
{% maps_js_scripts %}
{% endblock head %}

{% block section_content %}
<h1>Geotag</h1>
<p>
    This map displays the geotag of the sound <a href="{% url "sound" sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url "account" sound.user.username %}">{{sound.user.username}}</a>.<br />
    For the full map of all geotags see our <a href="{% url "geotags" %}">global geotag map</a>
</p>
<div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid black;"></div>
<script type="text/javascript">
    var map = new google.maps.Map(
        document.getElementById('map_canvas'), {
          center: new google.maps.LatLng({{sound.geotag.lat}}, {{sound.geotag.lon}}),
          zoom: {{sound.geotag.zoom}},
          mapTypeId: google.maps.MapTypeId.SATELLITE,
          scrollwheel: false,
          streetViewControl: false,
    });
    var infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(infowindow, 'closeclick', function() {
        stopAll();
    });

    var point = new google.maps.LatLng({{sound.geotag.lat}}, {{sound.geotag.lon}});
    var marker = new google.maps.Marker({'position': point, 'map':map});

    google.maps.event.addListener(marker, 'click', function()
    {
        stopAll();
        ajaxLoad( "{% url "geotags-infowindow" sound.id %}", function(data, responseCode)
        {
            infowindow.setContent(data.response);
            infowindow.open(map, marker);
            setTimeout(function() {
                makePlayer('.infowindow_player .player');
            }, 500);
        });
    });

</script>
{% endblock %}
