{% extends "sounds/_section.html" %}
{% load maps %}

{% block title %}&quot;{{sound.original_filename}}&quot; by {{sound.user.username}} - geotag{% endblock title %}

{% block head %}
{{ block.super }}
{% maps_js_scripts %}
{% endblock head %}

{% block section_content %}
<h1>Geotag</h1>
<p>
    This map displays the geotag of the sound <a href="{% url "sound" sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url "account" sound.user.username %}">{{sound.user.username}}</a>.<br />
    For the full map of all geotags see our <a href="{% url "geotags" %}">global geotag map</a>
</p>
<div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid black;"></div>
<script type="text/javascript">
    make_sounds_map('{% url "geotags-for-sound-barray" sound.id %}', 'map_canvas', undefined, undefined, {{sound.geotag.lat}}, {{sound.geotag.lon}}, {{sound.geotag.zoom}});
</script>
{% endblock %}
