{% load cache %}
{% load display_sound %}

<!-- recent additions -->
{% cache 600 latest_sounds %}
<div id="recent_additions" class="content_box">
    <h3>Recent Additions</h3>
    {% for sound in latest_sounds %}
        {% display_sound sound.id %}
        {% if sound.n_other_sounds %}
        <div class="sample_more"><img src="{{media_url}}images/plus.png" alt="" />
            {{sound.n_other_sounds}} more sound{{sound.n_other_sounds|pluralize}} from
            <a href="{% url 'account' sound.user.username %}">{{sound.user.username}}</a> in the last 48 hours</div>
        {% endif %}
    {% empty %}
      <p>No sounds in the database!
    {% endfor %}
    <p class="more_button" ><a href="{% url 'sounds-search' %}?q=&f=&s=Date+added+(newest+first)">more...</a></p>
</div>
{% endcache %}
