
    {{ form.errors }}
    <div id="license-form-wrapper">
        <div id="license-left">
            <div id="license-left-top">Very free :)</div>
            <div id="license-left-bottom">Less free :(</div>
        </div>

        <div id="license-arrow">
            <img src="{{media_url}}images/license_arrow.png"/>
        </div>

        <div id="license-middle">
            {{ form.as_table }}
        </div>

        <div id="license-right">

            <div id="license-middle-top" class="license-description">
                 <h3>Public Domain</h3>
                 <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png"/>
            </div>

            <div id="license-middle-middle" class="license-description">
                <h3>Attribution</h3>
                <img src="http://i.creativecommons.org/l/by/3.0/88x31.png"/>
            </div>


            <div id="license-middle-bottom" class="license-description">
                <h3>Attribution Non-Commercial</h3>
                <img src="http://i.creativecommons.org/l/by-nc/3.0/nl/88x31.png"/>
            </div>

        </div>
    </div>

