    <div id="license-form-wrapper">
        {{ form.errors }}
        <div id="license-left">
            <div id="license-left-top">Very free :)</div>
            <div id="license-left-bottom">Less free :(</div>
        </div>

        <div id="license-arrow">
            <img src="{{media_url}}images/license_arrow.png"/>
        </div>

        <div id="license-right">

            <div id="license-middle-top" class="license-description">
                <input type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_0" value="{{ cc0_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons 0" {% if form.data.license.name == 'Creative Commons 0' %}checked{% endif %}>
                 <h3>Creative Commons Zero</h3>
                 <div class="license-explanation">
                      <a href = "https://creativecommons.org/publicdomain/zero/1.0/" target=_blank>
                     <img style="float: left; margin-right: 10px;" src="https://licensebuttons.net/p/zero/1.0/88x31.png"/></a>
                     <p>You let people use your sounds and they can do whatever they want. They don't even need to credit you.
                     <a href = "https://creativecommons.org/publicdomain/zero/1.0/" target=_blank>Read more..</a>
                 </div>
            </div>

            <div id="license-middle-middle" class="license-description">
                <input type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_1" value="{{ cc_by_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons Attribution"  {% if form.data.license.name == 'Attribution' %}checked{% endif %}>
                <h3>Creative Commons Attribution</h3>
                <div class="license-explanation">
                    <a href = "https://creativecommons.org/licenses/by/4.0/" target=_blank>
                    <img style="float: left; margin-right: 10px;" src="https://licensebuttons.net/l/by/4.0/88x31.png"/></a>
                    <p>You let people use your sounds, for commercial purposes, but they always need to credit you.
                    <a href = "https://creativecommons.org/licenses/by/4.0/" target=_blank>Read more..</a>
                </div>
            </div>


            <div id="license-middle-bottom" class="license-description">
                <input type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_2" value="{{ cc_by_nc_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons Attribution Non-Commercial" {% if form.data.license.name == 'Attribution Noncommercial' %}checked{% endif %}>
                <h3>Creative Commons Attribution Non-Commercial</h3>
                <div class="license-explanation">
                    <a href = "https://creativecommons.org/licenses/by-nc/4.0/" target=_blank>
                    <img style="float: left; margin-right: 10px;" src="https://licensebuttons.net/l/by-nc/4.0/88x31.png"/></a>
                    <p>You let people use your sounds, but not for commercial purposes. They also always need to credit you.
                    <a href = "https://creativecommons.org/licenses/by-nc/4.0/" target=_blank>Read more..</a>
                </div>
            </div>

        </div>
    </div>

