{% extends "molecules/modal_base.html" %}
{% load util %}

{% block id %}soundAttributionModal{% endblock %}
{% block extra-class %}{% endblock %}
{% block aria-label %}Get attribution text{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Get attribution text</h4>
    </div>
    <div class="v-spacing-4">
        <div class="bw-form">
            <div>
                Format:
                <select>
                    <option value="{{ sound.attribution_texts.plain_text|safe|force_escape }}">Plain text</option>
                    <option value="{{ sound.attribution_texts.html|safe|force_escape }}">HTML</option>
                    <option value="{{ sound.attribution_texts.json|safe|force_escape }}">JSON</option>
                </select>
            </div>
            <textarea></textarea>
        </div>
        <button class="btn-primary v-spacing-top-1 w-100">Copy text</button>
    </div>
</div>
{% endblock %}
