{% extends "molecules/modal_base.html" %}
{% load util %}

{% block id %}flagSoundModal{% endblock %}
{% block extra-class %}{% endblock %}
{% block aria-label %}Flag sound modal{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Flag sound</h4>
    </div>
    <div class="v-spacing-4">
        <form method="post" action="{% url 'sound-flag' sound.user.username sound.id %}?ajax=1." class="disable-on-submit bw-form bw-form-less-spacing form-flag-sound" novalidate>{% csrf_token %}
            {{ flag_form.as_p }}
            <button class="btn-primary v-spacing-top-4">Flag this sound</button>
        </form>
    </div>
</div>
{% endblock %}
