{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}pack: {{pack.name}} by {{pack.user.username}}{% endblock title %}

{% block section_content %}
<h1>Pack: {{pack.name}} by <a href="{% url account pack.user.username %}">{{pack.user.username}}</a></h1>
{% if pack.description %}
<p>
    {{pack.description}}
</p>
{% endif %}
<p>
    See <a href="{% url packs-for-user pack.user.username %}">more packs</a> by <a href="{% url account pack.user.username %}">{{pack.user.username}}</a>
</p>

{% if not pack.is_dirty %}
<div id="download">
    <a href="{% url pack-download pack.user.username pack.id %}{{ pack.friendly_filename }}" onclick="_gaq.push(['_trackEvent', 'Pack', 'Download', 'pack_id:{{ pack.id }}']);" id="download_button" title="download pack"></a>
    <div id="download_text">Downloaded<br /><b>{{pack.num_downloads}}</b> times</div>
</div>
{% endif %}

{% show_paginator paginator page current_page request %}

{% for sound in page.object_list %}
    {% display_sound sound %}
{% endfor %}

{% show_paginator paginator page current_page request %}

{% endblock %}
