{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}pack: {{pack.name}} by {{pack.user.username}}{% endblock title %}

{% block head %}
    {{ block.super }}

<script type="text/javascript">
    var sounds = [];

    function collectSounds()
    {
        $("#save-button").attr("disabled", "disabled");
        $("#sound_ids").val(sources.join(","))
    }

    function addSound(element, soundId)
    {
        if ($.inArray(soundId, sounds) == -1)
        {
            sounds.push(soundId);
            
            var el = $(element).clone().appendTo("#current_pack_sounds");
            addRemoveLink(el,soundId);
            $($(el[0]).children()).children(".add_sound").remove();
            $("#pack_sounds").val(sounds.join(","));
        }
    }
    function addRemoveLink(element, soundId){
        var title = $($(element).children(".sample_player")[0]).children(".sound_title"); 
        var msg = "<br/><a class=\"remove_sound\" onclick=\"removeSound(this, "+soundId+")\">remove </a>"
        title.after(msg);
    }

    function removeSound(element, soundId)
    {
        var index = $.inArray(soundId, sounds);
        if (index != -1)
        {
            sounds.splice(index, 1);
            $(element).parent().parent().remove();
            $("#pack_sounds").val(sounds.join(","));
        }
    }

    function removePackSounds(){
        $('#search-results .sample_player_small').each( function () {
            var element = $(this);
            var snd_id = parseInt(element[0].id);
            var index = $.inArray(snd_id, sounds);
            if (index != -1)element.remove();
        });
    }

    function appendLinks(){
        $('#search-results .sample_player_small').each( function () {
            var element = $(this);
            var snd_pack = element.children(".sample_information").find(".pack");
            var snd_id = element[0].id;
            var link_id = "a"+snd_id;
            var title = $($(this).children(".sample_player")[0]).children(".sound_title");            
            var msg = "<br/><a id=\""+link_id+"\" class=\"add_sound\" >add";
            if(snd_pack.length>0){
                var pack_msg = snd_pack[0].children[0].title;
                var pack_name = pack_msg.split(":")[1];
                msg = msg + "<span style=\"font-size:11px\"> (remove from pack:"+pack_name+")</span>";
            };
            msg = msg+"</a>";
            
            var result = $(title).after(msg);
            $("#"+link_id).click(function(){
                addSound(element, parseInt(snd_id));
                return false;
            });
        });
    }

    function searchSounds(){
        $("#search-results").load("{% url 'sounds-search' %}",
         $.param({
            "q": $("#search-q").val(),
            "f":"username:\"{{user.username}}\"",
            "s":"created+desc",
            "ajax": 1}),
            function(){makePlayer('.player');removePackSounds();appendLinks();}
        );
    }

    $(function()
    {
        var ids = $("#pack_sounds").val().split(",");
        if(ids)sounds = $.map(ids, function (soundId) { return parseInt(soundId) });
        $("#save-button").click(function () {
            collectSounds();
            return false;
        });

        $("#search-button").click(function () {
            searchSounds();
            return false;
        });
        $('#current_pack_sounds .sample_player_small').each( function () {
            var snd_id = $(this)[0].id;
            addRemoveLink($(this), snd_id);

        });
        searchSounds();
    });


    $(function() {
        unsecureImageCheck($('#id_description'));
    })

</script>

{% endblock head %}

{% block section_content %}
<h1>Edit Pack</h1>
<p>You can edit the name, description and sounds of this pack. Click on the "submit" button to save all your changes.</p>
<form method="post" action="#pack_edit">{% csrf_token %}

    <div id ="pack_edit_form">
    {{form.name.errors}}
    <p>
       Name:<br/>{{form.name}}
    </p>

    {{form.description.errors }}
    <p>
        Description:<br/>{{form.description }}
    </p>
  {{form.pack_sounds}}
    </div>
    <input type="submit" value="Submit"/>
</form>
<div style="display:flex;min-height: 200px;">
    <div id="current_pack_sounds" class="sound_list_minimal">
        <h4> Current sounds</h4>
        {% for sound in current_sounds %}
                {% display_sound sound %}
        {% endfor %}
    </div>

    <div id="pack_edit_search" class="sound_list_minimal" >
        <h4> Other sounds</h4>
        <p> Use the list and search box below to add some of your sounds<br /> to the pack. Remember that sounds can only be in one pack!
        <p>
            <input type="text" name="q" id="search-q" size="25" /> 
            <input type="button" name="submit" value="search" id="search-button"/>
        </p>  
        <div id="search-results" class="sound_list_minimal"></div>      
    </div>
    <div style="clear:both"></div>
</div>
{% endblock section_content %}
