{% extends "sounds/_section.html" %}

{% load paginator %}
{% block title %}Delete {{pack.name}}{% endblock title %}
{% block section_content %}

<h1>Delete <a href="{% url "pack" pack.user.username pack.id %}">{{pack.name}}</a></h1>

<p>
    {% if waited_too_long %}
    Sorry, you waited too long, ... try again?<br/><br/>
    {% endif %}
    {% if pack.sounds.count %}
        NOTE: The sounds currently assigned to this pack won't be deleted.
    <br/><br/>
    {% endif %}
    If you are entirely sure you want to delete this pack, click <a href="?pack={{encrypted_link}}">here</a> (link valid for 10 seconds only)
</p>

{% endblock %}
