{% extends "accounts/_section.html" %}


{% load paginator %}

{% block title %}Users that downloaded pack {{ pack.name }}{% endblock %}

{% block content %}

<h1>Users that downloaded pack <a href="{% url "pack" username pack.id %}">{{ pack.name }}</a></h1>

{% if paginator.count > 0 %}
    <div class="search_paginator">
        {% show_paginator paginator page current_page request "user" %}
    </div>

	{% regroup page.object_list by created|date:"F jS, Y" as downloaders %}
	{% for group in downloaders %}

			<h3>Downloaded on {{group.grouper}}</h3>
			{% for download_item in group.list %}
				{% with download_item.user as user %}

		        <div class="user_downloaders_page">
		        <div class="active_user">
		    		<div class="active_user_info">
		        		<img src="{{user.profile.locations.avatar.M.url}}" alt="avatar" />
		        		<div class="post_author"><a href="{% url "account" user.username %}">{{user.username}}</a></div><!-- .post_author -->
		        			<div class="people_user_info">
					            {{user.profile.num_sounds}} sound{{user.profile.num_sounds|pluralize}} ,
					            {{user.profile.num_posts}} post{{user.profile.num_posts|pluralize}}<br>

		        			</div><!-- .people_user_info -->
		    			</div><!-- .active_user_info -->
					<br class="clear" /><!-- clear .active_user -->
				</div><!-- .active_user -->
				</div>
		        {% endwith %}
		    {% endfor %}
			<br class="clear" /><!-- clear .active_user -->
	{% endfor %}

	<br class="clear" /><!-- clear .active_user -->
    <div class="search_paginator">
        {% show_paginator paginator page current_page request "user" %}
    </div>
{% else %}
    <p>This pack has not still been downloaded by any user...</p>
{% endif %}

{% endblock %}
