{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}
{% load filter_img %}
{% load maps_js_scripts %}

{% block title %}pack: {{pack.name}} by {{pack.user.username}}{% endblock title %}

{% block head %}
    {{ block.super }}
    {% maps_js_scripts %}
{% endblock head %}

{% block section_content %}

<h1>Pack: {{pack.name}} by <a href="{% url 'account' pack.user.username %}">{{pack.user.username}}</a></h1>

<div id="content">
    <div id="pack_info" class="content_box">
    <h3>Pack info</h3>
    <div class="sound_list_normal">
    <p>{{pack.description|replace_img|safe|linebreaksbr}}</p>
    <ul>
        <li>Pack created on: <b>{{ pack.created }}</b></li>
        <li>Number of sounds: <b>{{ pack.num_sounds }}</b></li>
        <li>Number of downloads: <b>{{ pack.num_downloads }}</b></li>
    </ul>
    {% if perms.pack.can_edit or pack.user == request.user %}
            <p>
                <a href="{% url 'pack-edit' pack.user.username pack.id %}" class="icon" id="edit_link" title="edit pack">
                    Edit pack information
                </a>
                <br/>
                <a href="{% url 'pack-delete' pack.user.username pack.id %}"
                    class="icon" id="delete_link" title="edit pack">
                    Delete this pack
                </a>
            </p>
    {% endif %}
    </div>
</div><!-- #pack_info -->

<p>
    See <a href="{% url 'packs-for-user' pack.user.username %}">more packs</a> by <a href="{% url 'account' pack.user.username %}">{{pack.user.username}}</a>
</p>


{% if pack.num_sounds > 0 %}
	{% show_paginator paginator page current_page request "sound" %}
	{% for sound in pack_sounds %}
    	{% display_sound sound %}
	{% endfor %}
	{% show_paginator paginator page current_page request "sound" %}
{% else %}
	<p>This pack does not contain any sounds.</p>
{% endif %}
</div> <!-- end CONTENT -->

<div id="sidebar">

    <div id="latest_geotags" class="content_box">
        <h3>Geotags in this pack</h3>
        <div id="map_canvas"></div>
        <script type="text/javascript">
            make_sounds_map('{% url "geotags-for-pack-barray" pack.id %}', 'map_canvas', function(){
                $('#latest_geotags').show(); // Once map is ready, show geotags section
            });
        </script>
    </div><!-- #latest_geotags -->

    {% if not pack.is_dirty %}
        {% if num_sounds_ok > 0 %}
            <div id="download">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'pack-download' pack.user.username pack.id %}{{ pack.friendly_filename }}" id="download_button" title="download pack"></a>
                    <div id="download_text"><a href="{% url 'pack-downloaders' pack.user.username pack.id %}">Downloaded<br /><b>{{pack.num_downloads}}</b> times</a></div>
                {% else %}
                    <a href="{% url 'pack-download' pack.user.username pack.id %}{{ pack.friendly_filename }}" id="download_login_button" title="download pack"></a>
                    <div id="download_text"><a href="{% url 'pack-downloaders' pack.user.username pack.id %}">Downloaded<br /><b>{{pack.num_downloads}}</b> times</a></div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
