<div
    class="bw-player"
    data-sound-id="{{ sound.id }}"
    data-size="{% if player_size == 'small' or player_size == 'small_no_info' or player_size == 'middle' or player_size == 'moderation' %}small{% elif player_size == 'big_no_info' %}big{% elif player_size == 'minimal' %}minimal{% endif %}"
    data-bookmark="{% if show_bookmark_button %}true{% else %}false{% endif %}"
    data-bookmark-modal-url="{% if show_bookmark_button %}{% url 'bookmarks-add-form-for-sound' sound.id %}{% endif %}"
    data-add-bookmark-url="{% if show_bookmark_button %}{% url 'add-bookmark' sound.id %}{% endif %}"
    data-similar-sounds="{% if show_similar_sounds_button and sound.similarity_state == 'OK' %}true{% else %}false{% endif %}"
    data-similar-sounds-modal-url="{% if show_similar_sounds_button %}{% url 'sound-similar' sound.username sound.id %}?ajax=1{% endif %}"
    data-remix-group="{% if show_remix_group_button and sound.remixgroup_id %}true{% else %}false{% endif %}"
    data-remix-group-modal-url="{% if show_remix_group_button %}{% url 'sound-remixes' sound.username sound.id %}?ajax=1{% endif %}"
    data-mp3="{{ sound.locations.preview.LQ.mp3.url }}"
    data-ogg="{{ sound.locations.preview.LQ.ogg.url }}"
    data-waveform="{% if player_size != 'big_no_info' %}{{ sound.locations.display.wave_bw.M.url }}{% else %}{{ sound.locations.display.wave_bw.L.url }}{% endif %}"
    data-spectrum="{% if player_size != 'big_no_info' %}{{ sound.locations.display.spectral_bw.M.url }}{% else %}{{ sound.locations.display.spectral_bw.L.url }}{% endif %}"
    data-title="{{ sound.original_filename }}"
    data-duration="{{ sound.duration }}"
    data-samplerate="{{ sound.samplerate }}"
    data-show-milliseconds="{{ show_milliseconds }}"
    data-favorite="false"
    data-num-comments="{{ sound.num_comments }}" {% comment %}currently only used in {% endcomment %}
    data-num-downloads="{{ sound.num_downloads }}" {% comment %}currently unused{% endcomment %}
    tabindex="0">  {% comment %}using tabindex so screen readers cycle sound lists with tab key{% endcomment %}
</div>