<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="120" height="71" id="player_medium_{{sound.id}}">
	<param name="movie" value="{{media_url}}swf/MediumPlayer.swf" />
    <param name="flashvars" value="baseUrl={{sounds_url}}{{sound.paths.preview_folder}}&amp;waveformUrl={{sound.paths.waveform_base_m}}&amp;spectralUrl={{sound.paths.spectral_base_m}}&amp;soundUrl={{sound.paths.preview_base}}&amp;duration={{sound.duration_ms}}" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{media_url}}swf/MediumPlayer.swf" width="120" height="71">
    	<param name="flashvars" value="baseUrl={{sounds_url}}{{sound.paths.preview_folder}}&amp;waveformUrl={{sound.paths.waveform_base_m}}&amp;spectralUrl={{sound.paths.spectral_base_m}}&amp;soundUrl={{sound.paths.preview_base}}&amp;duration={{sound.duration_ms}}" />
        <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflashplayer"><img src="{{media_url}}images/get_flash_player.png" alt="Get Adobe Flash player" /></a>
        <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>