{% extends "sounds/_section.html" %}
{% load display_remix %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{{media_url}}js/protovis-r3.2.js"></script>
	<script type="text/javascript" src="{{media_url}}js/jquery-ui-1.8.11.custom.min.js"></script>
	<style type="text/css">
		#fig {
		  overflow: auto;
		  position: relative;
		  float: left;
		  width: 220px;
		  margin-right: 10px;
		}
		.details {
			position: relative;
			float: left;
			width: 540px;
			margin-top: 30px;
		}
		.center {
			overflow: auto;
			position: relative;
			float: left;
			width: 220px;
		}
	</style>
{% endblock head %}

{% load display_sound %}
{% load paginator %}

{% block title %}Remixes of {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Remixes of <a href="{% url sound sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url account sound.user.username %}">{{sound.user.username}}</a></h1>

{% show_paginator paginator page current_page request %}

<div class="remixes">
{% display_remix sound page.object_list %}
<div class="details">
{% for sound in page.object_list %}
    {% display_sound sound %}
{% endfor %}
</div>
</div>

{% show_paginator paginator page current_page request %}

{% endblock %}
