{% extends "sounds/_section.html" %}
{% load display_remix %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{{media_url}}js/protovis-r3.2.js"></script>
	<style type="text/css">
		#fig {
		  width: 880px;
		  height: 400px;
		}
	</style>
{% endblock head %}

{% load paginator %}

{% block title %}Remixes of {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Remixes of <a href="{% url sound sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url account sound.user.username %}">{{sound.user.username}}</a></h1>

{% show_paginator paginator page current_page request %}

{% display_remix sound page.object_list %}

{% show_paginator paginator page current_page request %}

{% endblock %}
