{% extends "sounds/_section.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="{{media_url}}js/protovis-r3.2.js"></script>
    <script type="text/javascript" src="{{media_url}}js/jquery-ui-1.8.11.custom.min.js"></script>
    <style type="text/css">
        #fig {
          overflow: auto;
          position: relative;
          float: left;
          width: 220px;
          margin-right: 10px;
        }
        .details {
            position: relative;
            float: left;
            width: 540px;
            margin-top: 30px;
        }
        .center {
            overflow: auto;
            position: relative;
            float: left;
            width: 220px;
        }
    </style>
    <script type="text/javascript">
	function calculateEccentricity(length, height) {
		var eccentricity = 0;
	    if (length > 3) {
	    	var a = (length-2) * 80;
	        var b = height;
	        eccentricity = (1 - b/a) * (1 - b/a);
	    }
	    return eccentricity;
	}
    </script>
{% endblock head %}

{% load display_sound %}

{% block title %}Remix Group {{ group_sound.original_filename }}{% endblock title %}

{% block section_content %}
<h1>Remix Group <em>{{ group_sound.original_filename }}</em></h1>


<div id="remix_group_info" class="content_box">
	<h3>Remix group info</h3>
	<div class="sound_list_normal">
		<ul>
			<li>Original sound by: <b>{{ sounds.0.user.username }}</b></li>
			<li>Original sound created on: <b>{{ sounds.0.created }}</b></li>
			<li>Last remix done on: <b>{{ last_sound.created }}</b></li>
			<li>Number of sounds in group: <b>{{ sounds|length }}</b></li>
		</ul>
	</div>
</div><!-- #latest_sounds -->

<div class="remixes">
<div id="center">
    <div id="fig">
        <script type="text/javascript+protovis">
// Graph DATA
var data = {{ data|safe }};

/* ======== PROTOVIS STUFF-START ======== */
var vis = new pv.Panel()
                .def("i", -1)
                .width(205)
                .height($('.details').height())
                .bottom(0)
                .top(25)
                .right(15);

var arc = vis.add(pv.Layout.Arc)
    .nodes(data.nodes)
    .links(data.links)
    .orient("right");

arc.link.add(pv.Line)
        .strokeStyle(function(d, p)  connections(d,p))
        .eccentricity(function(d, p) calculateEccentricity(data.length, 205));

arc.node.add(pv.Dot)
    .shape("triangle")
    .angle(0.523598776)
    .size(function(d) d.linkDegree + 4)
    .fillStyle(function(d) vis.i() == this.index ? "#F1D9FF" : "#DBDBDB")
    .strokeStyle(function() this.fillStyle().darker())
    .radius(function() vis.i() == this.index ? 10 : 5)
    .event("mouseover", function(d) (d.active = true, arc, vis.i(this.index)))
    .event("mouseout", function(d) (clearBackgrounds(), d.active = false, arc, vis.i(-1)))
    .event("click", function(d) goToSound(d.id,d.username));

vis.render();
/* ======== PROTOVIS STUFF-END ======== */

/* ======== helper functions ========= */
function connections(d, p) {
    if (p.sourceNode.active == true) {
        $("#"+p.targetNode.id+"").animate({backgroundColor: "#DBDBDB"});
        $("#"+p.sourceNode.id+"").animate({backgroundColor: "#F1D9FF"});
        return "orange";
    } else if (p.targetNode.active == true) {
        $("#"+p.targetNode.id+"").animate({backgroundColor: "#F1D9FF"});
        $("#"+p.sourceNode.id+"").animate({backgroundColor: "#DBDBDB"});
        return "orange";
    } else
        return "#c7c7c7";
}
function goToSound(soundId, username) {
    window.location.href = "/people/"+username+"/sounds/"+soundId+"/remixes";
}
function clearBackgrounds() {
    for (var i=0; i<data.nodes.length; i++) {
        $("#"+data.nodes[i].id+"").animate({backgroundColor: "#ffffff"});
    }
}
        </script>
      </div>
</div>


<div class="details">
{% for sound in sounds %}
    {% display_sound sound %}
{% endfor %}
</div>
</div>

{% endblock %}
