{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}Sounds browse{% endblock title %}

{% block section_content %}

{% for sound in similar_sounds %}
    {% if forloop.counter == 1 %}
        <h1>Query sound</h1>
    {% endif %}
    {% display_sound sound %}
    {% if forloop.counter == 1 %}
        <h1>Similar sounds</h1>
    {% endif %}

{% empty %}
    <h1>Similar sounds</h1>
    <p>Hmm.. We can't seem to find any similar sounds yet. It's probable this is because
       the query sound has been uploaded recently and we haven't updated our similarity
       database yet. Try again later!
{% endfor %}

{% endblock %}

