{% extends "sounds/_section.html" %}
{% load cache %}
{% load display_sound %}
{% load paginator %}


{% block title %}Sounds browse{% endblock title %}

{% block section_content %}
<h1>Sounds</h1>

<div id="content">
    <div id="sound_of_the_day" class="content_box">
        <h3>Random sound of the day</h3>
            {% if random_sound %}
                {% display_raw_sound random_sound %}
            {% else %}
                <p>We're still choosing a random sound... check back soon!
            {% endif %}
    </div><!-- #sound_of_the_day -->

{% include "sounds/latest_sounds.html" %}

{% cache 3600 most_downloaded_sounds  %}
    <div id="most_downloaded_sounds" class="content_box">
        <h3>Most downloaded sounds (uploaded in the last week)</h3>
        {% for sound in popular_sounds %}
            {% display_raw_sound sound %}
        {% empty %}
            <p>No sounds in the database!
        {% endfor %}
        <p class="more_button"><a href="{% url "sounds-search" %}?q=&f=created:[NOW-7DAY%20TO%20NOW]&s=num_downloads+desc&g=0">more...</a></p>

    </div><!-- #most_downloaded_sounds -->
{% endcache %}
</div><!-- #content -->

<div id="sidebar">

    <div id="other_sounds" class="content_box">
        <h3>More Sounds</h3>
        <ul style="margin-left: 0; padding-left: 0; list-style: none;">
            <li><b><a class="icon" id ="comments_link" href="{% url "comments" %}">Browse latest comments</a></b></li>
            <li><b><a class="icon" id ="tag_button" href="{% url "tags" %}">Browse tags</a></b></li>
            <li><b><a class="icon" id ="geotag_link" href="{% url "geotags" %}">Browse geotags</a></b></li>
            <li><b><a class="icon" id ="pack_link" href="{% url "packs" %}">Browse packs</a></b></li>
            <li><b><a class="icon" id ="remixes_link" href="{% url "remix-groups" %}">Browse remix-groups</a></b></li>
            <li><b><a class="icon" id ="random_sound_button" href="{% url "sounds-random" %}">Give me a random sound!</a></b></li>
        </ul>
    </div><!-- #other_sounds -->
{% cache 3600 latest_changed_packs  %}
    <div id="latest_changed_packs" class="content_box">
        <h3>Latest changed packs</h3>
        <ul>
        {% for pack in latest_packs %}
            <li><a href="{% url "pack" pack.user.username pack.id %}">{{pack.name}}</a> by <a href="{% url "account" pack.user.username %}">{{pack.user.username}}</a> (<span class="pack_count">{{pack.num_sounds}}</span>)</li>
        {% empty %}
                <div class="sample_player_small">
                  No packs in the database!
                </div>
        {% endfor %}
        </ul>
        <p class="more_button" ><a href="{% url "packs" %}?order=-last_updated">more...</a></p>
    </div><!-- #latest_changed_packs -->
{% endcache %}
{% cache 3600 most_downloaded_packs  %}
    <div id="most_downloaded_packs" class="content_box">
        <h3>Most downloaded packs (created in the last week)</h3>
        <ul>
        {% for pack in popular_packs %}
            <li><a href="{% url "pack" pack.user.username pack.id %}">{{pack.name}}</a>
                by <a href="{% url "account" pack.user.username %}">{{pack.user.username}}</a>
                (<span class="pack_count">{{pack.num_downloads}}</span> downloads)
            </li>
        {% empty %}
            <p>No packs in the database!
        {% endfor %}
        </ul>
        <p class="more_button"><a href="{% url "packs" %}?order=-num_downloads">more...</a></p>

    </div><!-- #most_downloaded_packs -->
{% endcache %}
</div><!-- #sidebar -->

{% endblock %}
