{% extends "sounds/_section.html" %}

{% load filter_img %}
{% load paginator %}
{% load util %}
{% load ratings %}
{% load cache %}
{% load absurl %}
{% load flag_user %}
{% load sound_signature%}

{% block title %}&quot;{{sound.original_filename}}&quot; by {{sound.user.username}}{% endblock title %}

{% block head %}
{{ block.super }}
    <script type="text/javascript">
        swfobject.registerObject("player_{{sound.id}}", "10");
    </script>
    <meta property="og:title" content="{{ sound.original_filename }} by {{ sound.user.username }}" />
    <meta property="og:type" content="song" />
    <meta property="og:audio" content="http://{{ request.get_host }}{{ sound.locations.preview.LQ.mp3.url }}" />
    <meta property="og:audio:artist" content="{{ sound.user.username }}" />
    <meta property="og:audio:title" content="{{ sound.original_filename }}" />
    <meta property="og:url" content="{% absurl 'sound' sound.user.username sound.id %}" />
    <meta property="og:audio:type" content="application/mp3" />
<!--     <meta property="og:image" content="http://{{ request.get_host }}{{sound.locations.display.wave.M.url}}" /> -->
    <meta property="og:site_name" content="Freesound.org" />
    <meta property="fb:admins" content="100002130282170" />
    
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@freesound_dev" />
    <meta name="twitter:title" content="{{ sound.original_filename }}" />
    <meta name="twitter:description" content="{{sound.description}}" />
    <meta name="twitter:image" content="{{sound.get_large_thumbnail_abs_url}}" />
    <meta name="twitter:player" content="{% absurl 'embed-simple-sound-iframe' sound.id "full_size" %}" />
    <meta name="twitter:player:width" content="{{ sizes.twitter_card.0 }}" />
    <meta name="twitter:player:height" content="{{ sizes.twitter_card.1 }}" />
    <meta name="twitter:player:stream" content="{{ sound.get_preview_abs_url }}" />
    <meta name="twitter:player:stream:content_type" content="audio/mp4" />
{% endblock head %}

{% block section_content %}

{% cache 3600 sound_header sound.id request.user.is_authenticated request.user.profile.is_adult %}
<div id="single_sample_header" class="{% if is_explicit %}blur{% endif %}">
    {% if sound.pack %}<a href="{% url 'pack' username sound.pack.id %}">{{sound.pack.name}}</a>  &#187; {% endif %}<a href="#">{{sound.original_filename}}</a>
    {% comment %}
    <div class="stars">
        <ul class="star-rating">
            <li class="current-rating" style="width:{{sound.rating_percent}}%;">Currently {{sound.avg_rating|stringformat:"%.1f"}}/5 Stars.</li>
            <li><a href="{{sound|rating_url:"1"}}" title="pretty bad :-(" class="one-star{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">1</a></li>
            <li><a href="{{sound|rating_url:"2"}}" title="quite good" class="two-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">2</a></li>
            <li><a href="{{sound|rating_url:"3"}}" title="good :-)" class="three-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">3</a></li>
            <li><a href="{{sound|rating_url:"4"}}" title="very good" class="four-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">4</a></li>
            <li><a href="{{sound|rating_url:"5"}}" title="amazing :-o" class="five-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">5</a></li>
        </ul>
        <span class="numratings">({{sound.num_ratings}})</span>
    </div>
    {% endcomment %}
</div>

<div id="single_sample_player">

    {% if is_explicit %}
        <div class="explicit-sound-blocker">
          <div class="message-img">
            <img src='{{media_url}}images/warning.png' width="100" />
          </div>
          <div class="message">
              <span>Content warning</span>
              <p>This sound may be inappropriate for some users
              <br>You can turn these warnings off in your <a href="{% url 'accounts-edit' %}">user settings</a> page</p>
              <p><a id="remove_warning_link" href="#">Dismiss</a></p>
          </div>
        </div>
        <script type="text/javascript">
        $('#remove_warning_link').click(function(e){
          $('.blur').removeClass('blur');
          $('.explicit-sound-blocker').remove();
          e.preventDefault()
        });
        </script>
    {% endif %}

    <div class="player large{% if is_explicit %} blur{% endif %}">
        <div class="metadata">
            {% with 'L' as size %}
                {% include 'sounds/metadata.html' %}
            {% endwith %}
        </div>
    </div>
</div>

<div id="single_sample_content" class="{% if is_explicit %}blur{% endif %}">
    <img src="{{sound.user.profile.locations.avatar.M.url}}" alt="avatar" id="sound_author_avatar" />

    <div id="sound_author_box">
        <div id="sound_author"><a href="{% url 'account' sound.user.username %}">{{sound.user.username}}</a></div>
        <div id="sound_date">{{sound.created|date:"F jS, Y"}}</div>
    </div>
    <div id="sound_description">
        {{sound.description|replace_img|safe|linebreaks}}
        {% if user.profile.sound_signature %}
        <div style="color: #303336; background-color: #f6f6f6; padding: 10px; border-top: #ccc solid 1px;">
            {{user.profile.sound_signature|sound_signature_replace:sound|replace_img|safe|linebreaks}}</p>
        </div>
        {% endif %}
    </div>

    <ul class="tags">
        {% for tag_link in sound.tags.all%}
            <li><a href="{% url 'tags' tag_link.tag.name %}">{{tag_link.tag.name}}</a></li>
        {% endfor %}
    </ul>
{% endcache %}

    <div id="comments_container">
        <h4 id="comments_heading">Comments</h4>
        <a name="comments"></a>
        {% if page.object_list %}
            <ul id="comments">
                {% for comment in page.object_list %}
                <li>
                    <img src="{{comment.user.profile.locations.avatar.S.url}}" alt="avatar" class="comment_avatar" />
                    <div class="comment_info">
                        <span class="comment_author"><a href="{% url 'account' comment.user.username %}">{{comment.user.username}}</a></span>
                        <span class="comment_date">{{comment.created|timesince}} ago</span>

                        {% if perms.comments.delete_comment or sound.user == request.user or comment.user == request.user %}
                        <span class="comment_delete"><a href="{% url 'comment-delete' comment.id %}?next={{request.path}}&page={{current_page}}" id="delete_button" title="delete comment">delete comment</a>
                        {% endif %}
                    </div>
                    {{comment.comment|replace_img|safe|linebreaks}}

                    <div style="text-align: right; font-size: 10px; margin-bottom: -8px">
                        {%  flag_user "SC" comment.user.username comment.id "" comment.user.profile.num_sounds %}
                    </div>

                </li>
                {% endfor %}
            </ul>

            <div id="comments_pagination">
                {% show_paginator paginator page current_page request "comment" %}
            </div>
        {%  else %}
            <p><br>This sound has not been commented yet, be the first to comment!</p>
        {% endif %}
    </div> <!-- comments_container -->

    {% if request.user.is_authenticated %}
    <form method="POST" action=".#comments" id="sound_comment_form">{% csrf_token %}
        <fieldset>
            <h4 id="leave_a_comment">Leave a comment:</h4>
            {{form.as_p}}
            <input id="sound_comment_submit" type="submit" value="Post comment" />
        </fieldset>
    </form>
    {% else %}
    <center><p>Please <a href="{% url 'accounts-login' %}?next={% url 'sound' sound.user.username sound.id %}">log in</a> to comment</center>
    {% endif %}
</div> <!-- single_sample_content -->

<div id="single_sample_sidebar" class="{% if is_explicit %}blur{% endif %}">
     <div id="single_sample_ratings">
         <div class="stars">
            <ul class="star-rating">
                <li class="current-rating" style="width:{{sound.rating_percent}}%;">Currently {{sound.avg_rating|stringformat:"%.1f"}}/5 Stars.</li>
                <li><a href="{{sound|rating_url:"1"}}" title="pretty bad :-(" class="one-star{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">1</a></li>
                <li><a href="{{sound|rating_url:"2"}}" title="quite good" class="two-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">2</a></li>
                <li><a href="{{sound|rating_url:"3"}}" title="good :-)" class="three-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">3</a></li>
                <li><a href="{{sound|rating_url:"4"}}" title="very good" class="four-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">4</a></li>
                <li><a href="{{sound|rating_url:"5"}}" title="amazing :-o" class="five-stars{% if not request.user.is_authenticated or request.user == sound.user %}_not_logged_in{% endif %}">5</a></li>
            </ul>
            <span class="numratings">({{sound.num_ratings}})</span>
        </div>
     </div>

    <div id="download">
    {% if sound.moderation_state == 'OK' and sound.processing_state == 'OK' %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'sound-download' sound.user.username sound.id %}{{ sound.friendly_filename }}" onclick="_gaq.push(['_trackEvent', 'Sound', 'Download', 'sound_id:{{ sound.id }}']);afterDownloadModal('{% url "after-download-modal" %}','{{ sound.original_filename }}');" id="download_button" title="download sound"></a>
        {% else %}
            <a href="{% url 'sound-download' sound.user.username sound.id %}{{ sound.friendly_filename }}" id="download_login_button" title="login to download"></a>
        {% endif %}
    {% else %}
        <p id="not_yet_downloadable">Download unavailable, sound not yet processed or moderated.</p>
    {% endif %}
        <div id="download_text"><a href="{% url 'sound-downloaders' sound.user.username sound.id %}">Downloaded<br /><b>{{sound.num_downloads}}</b> times</a></div>
        <br style="clear: both;">
    </div>

    {% cache 3600 sound_footer_top sound.id display_random_link %}

	<div id="sound_license">
        <img src="{{media_url}}images/creative_commons.png" with="95" height="23" alt="Creative Commons" />
        <a href="{{sound.license.deed_url}}">This work is licensed under the {{sound.license.name}} License.</a>
    </div>

    <dl id="sound_information_box">
        <dt><a href="{% url 'wiki-page' "soundinfo/type" %}#{{sound.type}}"><img src="{{media_url}}images/info{% if sound.type_warning %}_red{% endif %}.png" width="12" height="12" /></a>Type</dt><dd>{{sound.get_type_display}} (.{{sound.type}})</dd>
        <dt><a href="{% url 'wiki-page' "soundinfo/duration" %}"><img src="{{media_url}}images/info{% if sound.duration_warning %}_red{% endif %}.png" width="12" height="12" /></a>Duration</dt><dd>{{sound.duration|duration}}</dd>
        <dt><a href="{% url 'wiki-page' "soundinfo/filesize" %}"><img src="{{media_url}}images/info{% if sound.filesize_warning %}_red{% endif %}.png" width="12" height="12" /></a>Filesize</dt><dd>{{sound.filesize|filesizeformat}}</dd>

        {% if sound.bitdepth %}
        <dt><a href="{% url 'wiki-page' "soundinfo/samplerate" %}"><img src="{{media_url}}images/info{% if sound.samplerate_warning %}_red{% endif %}.png" width="12" height="12" /></a>Samplerate</dt><dd>{{sound.samplerate}} Hz</dd>
        <dt><a href="{% url 'wiki-page' "soundinfo/bitdepth" %}"><img src="{{media_url}}images/info{% if sound.bitdepth_warning %}_red{% endif %}.png" width="12" height="12" /></a>Bitdepth</dt><dd>{{sound.bitdepth}} bit</dd>
        {% else %}
        <dt><a href="{% url 'wiki-page' "soundinfo/bitrate" %}"><img src="{{media_url}}images/info{% if sound.bitrate_warning %}_red{% endif %}.png" width="12" height="12" /></a>Bitrate</dt><dd>{{sound.bitrate}} kbps</dd>
        {% endif %}
        <dt><a href="{% url 'wiki-page' "soundinfo/channels" %}"><img src="{{media_url}}images/info{% if sound.channels_warning %}_red{% endif %}.png" width="12" height="12" /></a>Channels</dt><dd>{{sound.get_channels_display}}</dd>
    </dl>

    <ul id="sound_links" style="padding-left: 23px">
        {% if display_random_link %}
        <li><a class="icon" id ="random_sound_button" href="{% url 'sounds-random' %}">Give me another random sound!</a></li>
        {% endif %}
        {% if sound.pack %}
        <li><a id="pack_link" class="icon" href="{% url 'pack' sound.user.username sound.pack.id %}">Pack: {{ sound.pack.name }}</a></li>
        {% endif %}
        {% if sound.geotag %}
        <li><a id="geotag_link" class="icon" href="{% url 'sound-geotag' sound.user.username sound.id %}">Geotag</a></li>
        {% endif %}
        {% if sound.remix_group.all.count %}
        <li><a id="remixes_link" class="icon" href="{% url 'sound-remixes' sound.user.username sound.id %}">Remixes and Sources</a></li>
        {% endif %}
        {% if sound.similarity_state == 'OK' %}
        <li><a id="similar_sounds_link" rel="nofollow" class="icon" href="{% url 'sound-similar' sound.user.username sound.id %}">Similar sounds</a></li>
        {% endif %}

    {% endcache %}

        {% if perms.sound.can_edit or sound.user == request.user %}
            {% if sound.processing_state == 'OK' %}
                <li><a href="{% url 'sound-edit' sound.user.username sound.id %}" class="icon" id="edit_link" title="edit sound">Edit sound information</a></li>
            {% else %}
                <li><em>Sound is processing, cannot edit.</em></li>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated %}
            <li><a id="bookmark_link" onclick="show_hide_bookmark_form({{sound.id}})" class="icon">Bookmark this sound</a></li>
            {% if request.user != sound.user %}
                <li>
                {% if is_following %}
                    <a id="follow_link_sound" class="icon">Unfollow this user</a><span id="follow_error"><br/>An error occurred. Please try again.</span></li>
                {% else %}
                    <a id="follow_link_sound" class="icon">Follow this user</a><span id="follow_error"><br/>An error occurred. Please try again.</span></li>
                {% endif %}
            {% endif %}
            <div id="bookmark_form_{{sound.id}}" class="bookmark_form"></div> <!-- to be filled dynamically with ajax -->
        {% endif %}
        
        {% if request.user.is_staff %}
            <li><a id="admin_link" class="icon" href="{% url 'admin:sounds_sound_change' sound.id %}">Edit sound in the admin</a></li>
        {% endif %}


    {% cache 3600 sound_footer_bottom sound.id %}

    </ul>

    <div id="flag_sound">
        Sound illegal or offensive? <a href="{% url 'sound-flag' sound.user.username sound.id %}" title="flag this sound as ilegal, offensive or other...">Flag it!</a>
    </div>
	
    <div id="share_links">
        <p>
            <span style="color:#999">Share url: </span><input style="padding: 3px;width: 192px;" type="text" readonly value="{% absurl 'short-sound-link' sound.id %}" />
        </p>
        <div id="social_links">
            <div class="social_link">
                <div id="fb-root" style="float: left;"></div>
                <script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <fb:like href="{% absurl 'short-sound-link' sound.id %}" send="false" layout="button_count" width="55" show_faces="false" font="arial"></fb:like>
            </div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
            <span id="tumblr_button_abc123" class="social_link"></span>
            <div class="social_link">
                <g:plusone size="medium" count="false" href="{% absurl 'short-sound-link' sound.id %}"></g:plusone>
            </div>
            <div class="social_link">
                <span id="show_embed_button" onclick="$('#embed_links').toggle(500);">Embed</span>
            </div>
            <br style="clear: both;" />
        </div>
        <div id="embed_links">
            <div id="embed_large" class="embed_link">
                <p>920 x 245</p>
                <div class="embed_example embed_large" onclick="selectEmbedSize('large');"></div>
            </div>
            <div id="embed_medium" class="embed_link">
                <p>481 x 86</p>
                <div class="embed_example embed_medium" onclick="selectEmbedSize('medium');"></div>
            </div>
            <div id="embed_small" class="embed_link">
                <p>375 x 30</p>
                <div class="embed_example embed_small" onclick="selectEmbedSize('small');"></div>
            </div>

             <textarea id="embed_code" rows="4"></textarea>

             <script type="text/javascript">

                var tumblr_link_url = "{% absurl 'sound' sound.user.username sound.id %}";
                var tumblr_link_name = "{{ sound.user.username }} - {{ sound.original_filename }}";
                var tumblr_link_description = "https://freesound.org";

                function selectEmbedSize(size) {
                    $('.embed_example').removeClass('embed_active');
                    $('.embed_example.embed_'+size).addClass('embed_active');
                    var sizes;
                    if(size == 'large') sizes = [{{sizes.large.0}}, {{sizes.large.1}}];
                    if(size == 'medium') sizes = [{{sizes.medium.0}}, {{sizes.medium.1}}];
                    if(size == 'small') sizes = [{{sizes.small.0}}, {{sizes.small.1}}];
                    var embed_text = '<iframe frameborder="0" scrolling="no" src="{% absurl 'embed-simple-sound-iframe' sound.id 'SIZE' %}" width="WIDTH" height="HEIGHT"></iframe>';
                    embed_text = embed_text.replace('SIZE', size);
                    embed_text = embed_text.replace('WIDTH', sizes[0]);
                    embed_text = embed_text.replace('HEIGHT', sizes[1]);
                    $('#embed_code').text(embed_text);
                }

                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
             </script>
        </div>
        <!--

        <div id="share_content" style="display: none;">
            <p>bla
        </div> -->
    </div>

    {% endcache %}

</div> <!-- single_sample_sidebar -->

<script type="text/javascript">
    var tumblr_button = document.createElement("a");
    tumblr_button.setAttribute("href", "https://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
    tumblr_button.setAttribute("title", "Share on Tumblr");
    tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('https://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;");
    tumblr_button.innerHTML = "Share on Tumblr";
    document.getElementById("tumblr_button_abc123").appendChild(tumblr_button);

    $(function() {
        unsecureImageCheck($('#id_comment'));


        var is_following;
        if ("{{ is_following }}" == "True") is_following = true;
        else is_following = false;
        $("#follow_link_sound").click(function() {
            follow_unfollow_user(is_following);
        });

        if (navigator.userAgent.indexOf('Safari') !== -1 && navigator.userAgent.indexOf('Chrome') === -1) {
            // Only run this line when safari is the browser (code from http://stackoverflow.com/questions/5899783/detect-safari-using-jquery)
            // See https://github.com/MTG/freesound/issues/836 about this code
            var download_button = $('#download_button');
            download_button.attr('onclick', '');
            download_button.click(function(){
                setTimeout(function(){
                        _gaq.push(['_trackEvent', 'Sound', 'Download', 'sound_id:{{ sound.id }}']);
                        afterDownloadModal('{% url "after-download-modal" %}','{{ sound.original_filename }}');
                    }, 100)
                }
            );

        }
    });

    function follow_unfollow_user(is_following) {

        $("#follow_link_sound").unbind("click");

        var url;
        if (is_following) {
            url = '{% url 'unfollow-user' sound.user.username %}';
        }
        else {
            url = '{% url 'follow-user' sound.user.username %}';
        }

        $.ajax({

            type: 'POST',
            url: url,

        success: function () {

                is_following = !is_following;
                $("#follow_error").hide();

                if (is_following)
                    $("#follow_link_sound").text("Unfollow this user");
                else
                    $("#follow_link_sound").text("Follow this user");

                $("#follow_link_sound").click(function() {
                    follow_unfollow_user(is_following);
                });
            },

            error: function (data) {
                $("#follow_error").show();
                window.setTimeout(function(){
                    $("#follow_error").fadeOut(200);
                }, 3000);
            }

        });
    }

</script>

{% endblock section_content %}
