{% extends "sounds/_section.html" %}
{% load display_license_form %}
{% load maps %}

{% block title %}&quot;editing {{sound.original_filename}}{% endblock title %}

{% block head %}
{{ block.super }}

{% maps_js_scripts %}
<script type="text/javascript">

    var doLog = true;
    var typingTimer;
    var addingTagTimer;
    var doneAddingTagInterval = 0;  //time in ms
    var doneTypingInterval = 500;     //time in ms
    var randomDescriptionSessionId = Math.floor(Math.random()*99999).toString(10);
    var doRecommend = true;

    $(document).ready(function() {

        // Tag recommendation
        // ******************

        var textarea_elements = $("textarea[id$='-tags']");

        // Listen to keyup events in tags textareas to display tags
        textarea_elements.keyup(function(event) {

            clearTimeout(typingTimer);
            var textarea_id = $(this)[0].id;

            // recommend tags when last character is " " or "\n"
            if  ((event.keyCode == 32) || (event.keyCode == 13)) { // " " or "\n"
                get_tags(textarea_id);
            }

            typingTimer = setTimeout(function(){
                get_tags(textarea_id)
            }, doneTypingInterval);
        });

        // Listen to cut, paste and focusin events to recommend tags
        textarea_elements.bind('cut paste focusin', function() {
            var textarea_id = $(this)[0].id;
            get_tags(textarea_id);
        });


        if (doRecommend == true){
            log("UsingRecommendation:Yes", "-");
        } else {
            log("UsingRecommendation:No", "-");
        }

        unsecureImageCheck($('#{{ description_form.description.id_for_label }}'));
    });


    // Logging functions (for tag recommendation)
    // ******************************************

    function log(activity,textarea_id){
        var timestamp = new Date().getTime();
        var logline = timestamp + "#editing#" + randomDescriptionSessionId + "#" + "{{ sound.user.id }},{{ sound.id }}" + "#" + textarea_id + "#" + activity;

        if (doLog){
            $.ajax({
                type: 'POST',
                url: '/tagrecommendation/savelog/',
                contentType:"application/x-www-form-urlencoded",
                data: {
                    log: logline
                },
                success: function(data) {
                    // Do nothing
                }
            });
        }
    }


    // Tag recommendation
    // ******************

    function get_tags(textarea_id){
        if (doRecommend==true){
            var textarea_element = $("#" + textarea_id);
            log("GettingTagsForInputTags:" + textarea_element.val(), textarea_id);

            $.ajax({
                type: 'POST',
                url: '/tagrecommendation/recommendtags/',
                contentType:"application/x-www-form-urlencoded",
                data: {
                    input_tags: textarea_element.val()
                },
                success: function(data) {
                    display_recommended_tags(textarea_id, data);
                }
            });
        }
    }

    function display_recommended_tags(textarea_id, data){

        var parsedData = JSON.parse(data);
        var tags = parsedData[0];
        var community = parsedData[1];

        var logline = "RecommendationResults:Tags:";
        for (var i in tags){
            logline += tags[i].toString() + " ";
        }
        logline += ":DetectedCommunity:" + community;
        log(logline, textarea_id);

        if (tags.length > 0){
            var html = "";
            html += "<ul id=\"" + textarea_id + "-recommended-list\">";
            for (var i in tags){

                var tag = tags[i]; //tags[i][0]
                var tag_css_class = "tag";

                html += "<li class=\"" + tag_css_class + "\" id=\"tag-" + tag + "\"><a onclick=\"add_tag(\'" + textarea_id + "\',\'" + tag + "\',\'" + i + "\')\">" + tag + "</a></li>";
            }
            html += "</ul>";
            var textarea_element = $("#" + textarea_id + "-recommended");
            textarea_element.text("");
            textarea_element.append("<span style=\"color: #AB4646;font-size:12px;\">Suggested tags:&nbsp</span> (click on the tags to add them, <a style=\"color:gray\" onclick=\"clear_recommendations(\'" + textarea_id + "\')\">click here to clear the recommendation</a>)");
            textarea_element.append(html);
            textarea_element.append("<br class=\"clear\">");

            var textarea_element_list = $("#" + textarea_id + "-recommended-list");
            textarea_element_list.css("margin-left","-20px");
            textarea_element_list.css("margin-top","5px");
            textarea_element_list.css("margin-bottom","5px");

        }else{
            clear_recommendations(textarea_id);
        }
    }

    function add_tag(textarea_id, tag, cloud_pos){

        clearTimeout(addingTagTimer);
        log("AddingTag:" + tag + ":InCloudPos:" + cloud_pos, textarea_id);

        var ask_for_more = false;
        var textarea_element = $("#" + textarea_id);
        var separator = " ";
        if (!$.trim(textarea_element.val())) {
            ask_for_more = true;
            separator = ""
        }

        textarea_element.val(textarea_element.val() + separator + tag);
        $("#tag-" + tag).remove();

        var remaining_tags = $("#" + textarea_id + "-recommended-list").children().length;
        if (remaining_tags < 1){
            ask_for_more = true;
        }

        if (ask_for_more == true){
            get_tags(textarea_id);
        } else {
            addingTagTimer = setTimeout(function(){
                get_tags(textarea_id)
            }, doneAddingTagInterval);
        }
    }

    function clear_recommendations(textarea_id){
        $("#" + textarea_id + "-recommended").text("")
    }

</script>

{% endblock head %}

{% block section_content %}
<h1>Edit Sound</h1>

<h3>Sound description</h3>

<a id="description"></a>
<form method="post" action="#description">{% csrf_token %}
    {{description_form.name.errors}}
    <p>
       Name:<br>
        {{description_form.name}}
    </p>

    {{description_form.tags.errors}}
    <p>
        Tags:
        {{description_form.tags.help_text|safe}}<br>
        {{description_form.tags}}
        <div id="id_description-tags-recommended" style="font-size: 10px;margin-top:-5px;width: 670px;"></div>
    </p>

    {{description_form.description.errors }}
    <p>
        Description:<br>
        {{description_form.description }}
    </p>
    <p>
        The sound contains explicit content:
        {{description_form.is_explicit }} {% if sound.is_explicit %}(to remove this flag, please send a <a href="{% url 'contact' %}">support request</a>){% endif %}
    </p>

    <input type="submit" name="submit" value="submit" />
</form>

<h3>Sound sources</h3>
<a id="edit_sources"></a>
<p>
    If you used other Freesound sounds in the process of creating
    this one you can mark the source sounds on the next page. If you do, other people
    can click through the remix graph and browse Freesound like this.
</p>
<p>
    <a href="{% url "sound-edit-sources" sound.user.username sound.id %}">Edit sound sources</a>
</p>

<h3>Sound license</h3>

<a id="license"></a>
<form method="post" action="#license">{% csrf_token %}
    {{ license_form.as_p }}
    <input type="submit" name="submit" value="submit" />
</form>
<br style="clear: both;" />

<h3>Pack</h3>

<a id="pack"></a>
<form method="post" action="#pack">{% csrf_token %}
    {{pack_form.as_p}}
    <input type="submit" name="submit" value="submit" />
</form>

<h3>Geotag</h3>

<a id="geotag"></a>
<form method="post" action="#geotag">{% csrf_token %}
 <p>Drag this map to set the geotag:</p>
    	<div id="map" style="width: 400px; height:400px; margin-bottom: 1em; float:left"></div>
    	<div style="float:ledt;margin-left:430px;">{{geotag_form.as_p}}</div>
        <br style="clear: both;" />
    <input type="submit" name="submit" value="submit" />
</form>

<h3>Delete</h3>
<a id="delete"></a>
<p>
    <a href="{% url "sound-delete" sound.user.username sound.id %}">Delete this sound</a>
</p>

<script type="text/javascript">

    var center_lat;
    var center_lon;
    var zoom;
    {% if sound.geotag %}
        center_lat = {{sound.geotag.lat}};
        center_lon = {{sound.geotag.lon}};
        zoom = {{sound.geotag.zoom}};
    {% endif %}

    make_geotag_edit_map('map', '{{media_url}}/images/arrow.png', undefined, updateAndAddCenter, center_lat, center_lon, zoom);

    function updateAndAddCenter(lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon) {
        if (!$("#{{geotag_form.remove_geotag.auto_id}}").checked)
        {
            $("#{{geotag_form.lon.auto_id}}").val(lon);
            $("#{{geotag_form.lat.auto_id}}").val(lat);
            $("#{{geotag_form.zoom.auto_id}}").val(zoom);
        }
    }

    $("#{{geotag_form.remove_geotag.auto_id}}").change(function (event) {
        if (this.checked)
        {
            $("#{{geotag_form.lon.auto_id}}").attr('disabled', 'disabled');
            $("#{{geotag_form.lat.auto_id}}").attr('disabled', 'disabled');
            $("#{{geotag_form.zoom.auto_id}}").attr('disabled', 'disabled');
        }
        else
        {
            $("#{{geotag_form.lon.auto_id}}").attr('disabled', false);
            $("#{{geotag_form.lat.auto_id}}").attr('disabled', false);
            $("#{{geotag_form.zoom.auto_id}}").attr('disabled', false);
        }
    });

</script>
{% endblock section_content %}
