{% extends "sounds/_section.html" %}

{% load display_sound %}
{% block head %}
{{ block.super }}

<script type="text/javascript">
    var sources = [];

    function saveSources()
    {
        $("#save-button").attr("disabled", "disabled");
        $("#id_sources").val(sources.join(","))
        $.post("{% url 'sound-edit-sources' sound.user.username sound.id %}", $("#save-form").serialize(), function ()
        {
            $("#save-button").removeAttr("disabled");
        });
    }

    function addSound(element, soundId)
    {
        if ($.inArray(soundId, sources) == -1)
        {
            sources.push(soundId);
            var el = $(element).clone().appendTo("#current-sources");
            addRemoveLink(el,soundId);
            $($(el[0]).children()).children(".add_sound").remove();
            $("#id_sources").val(sources.join(","));
        }
    }

    function addRemoveLink(element, soundId){
        var title = $($(element).children(".sample_player")[0]).children(".sound_title");
        var msg = "<br/><a class=\"remove_sound\" onclick=\"removeSound(this, "+soundId+")\">remove </a>"
        title.after(msg);
    }

    function removeSound(element, soundId)
    {
        var index = $.inArray(soundId, sources);
        if (index != -1)
        {
            sources.splice(index, 1);
            $(element).parent().parent().remove();
            $("#id_sources").val(sources.join(","));
        }
    }

    function appendLinks(){
        $('#search-results .sample_player_small').each( function () {
            var element = $(this);
            var snd_id = element[0].id;
            var link_id = "a"+snd_id;
            var title = $($(this).children(".sample_player")[0]).children(".sound_title");
            var msg = "<br/><a id=\""+link_id+"\" class=\"add_sound\" >add";
            msg = msg+"</a>";
            $(title).after(msg);
            $("#"+link_id).click(function(){
                addSound(element, parseInt(snd_id));
                return false;
            });
        });
    }

    $(function()
    {
        sources = $.map($("#id_sources").val().split(","), function (soundId) { return parseInt(soundId) });
        $("#save-button").click(function ()
        {
            saveSources();
            return false;
        });

        $("#search-button").click(function ()
        {
            $("#search-results").load("{% url 'sounds-search' %}", $.param({"q": $("#search-q").val(), "ajax": 1}),
                    function(){makePlayer('.player');appendLinks();}
                );
            return false;
        });
        $('#current-sources .sample_player_small').each( function () {
            var snd_id = $(this)[0].id;
            addRemoveLink($(this), snd_id);
        });
    });
</script>

{% endblock head %}
{% block title %}Editing remixes of {{sound.original_filename}}{% endblock title %}
{% block section_content %}

<h2>Editing sources of <a href="{% url "sound" sound.user.username sound.id %}">{{sound.original_filename}}</a></h2>
<p>
</p>

<form id="save-form">{% csrf_token %}
    {{form.as_p}}
    <p><input type="text" name="q" id="search-q" size="45" /> <input type="submit" name="submit" value="search sources" id="search-button"/></p>
    <p>Hint: if you know the id of the file you are looking for, search for the id. The id of sounds can be found as the first part of the sound filename.
    <br>When you are ready click the "save..." button to save your sources and then go back to the sound edit page.
    </p>

	<div id="submit_button_for_edit_sources" >
		<p><input type="submit" name="save" value="save..." id="save-button"/></p>
    	<p><a href="{% url "sound-edit" sound.user.username sound.id %}">Go back to edit page</a></p>
	</div>

	<div id="search-results-title" class="sound_list_minimal">
	    <h3>Search results:</h3>
		<div id="search-results" class="sound_list_minimal">
		</div>
	    
	</div>
	
	<div id="current-sources" class="sound_list_minimal">
	    <h3>Current sources:</h3>
	    {% for source in current_sources %}
	            {% display_sound source %}
	    <!--/div-->
	    {% endfor %}
	</div>

	<br style="clear:both;"/>

    </div>
</form>

{% endblock section_content %}
