{% extends "sounds/_section.html" %}

{% block title %}&quot;flag {{sound.original_filename}}{% endblock title %}

{% block section_content %}

<h2>Flagging <a href="{% url 'sound' sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url 'account' sound.user.username %}">{{sound.user.username}}</a></h2>

<form method="post" action=".">{% csrf_token %}
    {{flag_form.as_p}}
    <input type="submit" name="submit" value="submit" />
</form>

{% endblock section_content %}
