{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}Sources for {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Sources for <a href="{% url sound sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url account sound.user.username %}">{{sound.user.username}}</a></h1>

{% show_paginator paginator page current_page request %}

{% for sound in page.object_list %}
    {% display_sound sound "sample_player_small" %}
{% endfor %}

{% show_paginator paginator page current_page request %}

{% endblock %}
