{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}
{% load tags %}
{% load util %}

{% block title %}tags{% endblock title %}

{% block section_content %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#follow_tags_button").hover(
                function () {
                    val = $("#follow_tags_button").text()
                    if (val == "Following this tag group")
                        $("#follow_tags_button").text("Unfollow this tag group");
                },
                function () {
                    val = $("#follow_tags_button").text()
                    if (val == "Unfollow this tag group")
                        $("#follow_tags_button").text("Following this tag group");
                }
            );
        });

        function follow_tags() {
            $.ajax({
                type: 'POST',
                url: '{{ follow_tags_url }}',
                success: function () {
                    console.log("follow success");
                    $("#follow_tags_button").text("Following this tag group");
                    $("#follow_tags_link").removeAttr("onclick");
                    $("#follow_tags_link").unbind("click").click(unfollow_tags);
                },
                error: function (data) {
                    console.log(data);
                    $("#follow_tags_button").text("Error");
                    $("#follow_tags_button").attr("disabled", "disabled");
                    window.setTimeout(function() {
                        $("#follow_tags_button").removeAttr("disabled");
                        $("#follow_tags_button").text("Follow");
                    }, 3000);
                }
            });
        }

        function unfollow_tags() {
            txt = $("#follow_tags_button").text();
            $.ajax({
                type: 'POST',
                url: '{{ unfollow_tags_url }}',
                success: function () {
                    console.log("unfollow success")
                    $("#follow_tags_button").text("Follow this tag group");
                    $("#follow_tags_link").removeAttr("onclick");
                    $("#follow_tags_link").unbind("click").click(follow_tags);
                },
                error: function (data) {
                    console.log(data.responseText);
                    $("#follow_tags_button").attr("disabled", "disabled");
                    $("#follow_tags_button").text("Error");
                    window.setTimeout(function() {
                        $("#follow_tags_button").removeAttr("disabled");
                        $("#follow_tags_button").text("Following this tag group");
                    }, 3000);
                }
            });
        }

    </script>

<h1>Tags</h1>

{% if error %}
The search server could not be reached, please try again later.
{% else %}
<div class="tagcloud">
    {% for tag in tags|add_sizes:"True:0.7:1.8" %}
        <span style="font-size:{{tag.size}}em;">
            {% if tag.name|in_list:multiple_tags %}
                {% if multiple_tags|join_tags_exclude:tag.name %}
                {{tag.name}}<span class="tag_addremove"><a href="{% url tags multiple_tags|join_tags_exclude:tag.name %}">-</a></span>
                {% else %}
                {{tag.name}}<span class="tag_addremove"><a href="{% url tags %}">-</a></span>
                {% endif %}
            {% else %}
                <a href="{% url tags tag.name %}">{{tag.name}}</a><span class="tag_addremove"><a href="{% url tags multiple_tags|join_tags_include:tag.name %}">+</a></span>
            {% endif %}
        </span>
    {% endfor %}
</div>

{% if show_unfollow_button %}
    <a href="javascript:void(0)" id="follow_tags_link" onclick="unfollow_tags()"><button id="follow_tags_button">Following this tag group</button></a>
{% else %}
    <a href="javascript:void(0)" id="follow_tags_link" onclick="follow_tags()"><button id="follow_tags_button">Follow this tag group</button></a>
{% endif %}

{% if multiple_tags %}
<h1>Sounds with these tags</h1>
{% show_paginator paginator page current_page request "sound" %}

{% for sound in page.object_list %}
    {% display_sound sound.id %}
{% endfor %}

{% show_paginator paginator page current_page request "sound" %}
{% endif %}

{% endif %}

{% endblock %}
