{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}
{% load tags %}
{% load util %}

{% block title %}tags{% endblock title %}

{% block section_content %}
<h1>Tags</h1>

<div class="tagcloud">
    {% for tag in tags|add_sizes:"True:0.7:1.8" %}
        <span style="font-size:{{tag.size}}em;">
            {% if tag.name|in_list:multiple_tags %}
                {% if multiple_tags|join_tags_exclude:tag.name %}
                {{tag.name}}<span class="tag_addremove"><a href="{% url tags multiple_tags|join_tags_exclude:tag.name %}">-</a></span>
                {% else %}
                {{tag.name}}<span class="tag_addremove"><a href="{% url tags %}">-</a></span>
                {% endif %}
            {% else %}
                <a href="{% url tags tag.name %}">{{tag.name}}</a><span class="tag_addremove"><a href="{% url tags multiple_tags|join_tags_include:tag.name %}">+</a></span>
            {% endif %}
        </span>
    {% endfor %}
</div>

{% if multiple_tags %}
<h1>Sounds with these tags</h1>
{% show_paginator paginator page current_page request %}

{% for sound in page.object_list %}
{% if sound %}
{{ sound.id }}
<div class="sample_player_small">
    {% display_sound sound.id %}
</div>
{% endif %}
{% endfor %}

{% show_paginator paginator page current_page request %}
{% endif %}

{% endblock %}
