{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}
{% load tags %}
{% load util %}

{% block title %}tags{% endblock title %}

{% block section_content %}

    <script type="text/javascript">
        function follow_tags() {
            $("#follow_tags_button").attr("disabled", "disabled");
            $.ajax({
                type: 'POST',
                url: '{{ follow_tags_url }}',
                success: function() {
                    $("#follow_tags_button").removeAttr("disabled");
                    $("#now_following_tags_div").show();
                    $("#follow_tags_link").removeAttr("onclick");
                    $("#follow_tags_button").text("Unfollow tag{{ multiple_tags|pluralize }}");
                    $("#follow_tags_link").unbind("click").click(unfollow_tags);
                },
                error: function(data) {
                    $("#follow_tags_button").removeAttr("disabled");
                    $("#follow_tags_error_message").show();
                    window.setTimeout(function(){
                        $("#follow_tags_error_message").fadeOut(200);
                    }, 3000);
                }
            });
        }

        function unfollow_tags() {
            $("#follow_tags_button").attr("disabled", "disabled");
            $.ajax({
                type: 'POST',
                url: '{{ unfollow_tags_url }}',
                success: function() {
                    $("#follow_tags_button").removeAttr("disabled");
                    $("#follow_tags_link").removeAttr("onclick");
                    $("#follow_tags_button").text("Follow tag{{ multiple_tags|pluralize }}");
                    $("#follow_tags_link").unbind("click").click(follow_tags);
                    $("#now_following_tags_div").hide();
                },
                error: function(data) {
                    $("#follow_tags_button").removeAttr("disabled");
                    $("#follow_tags_error_message").show();
                    window.setTimeout(function(){
                        $("#follow_tags_error_message").fadeOut(200);
                    }, 3000);
                }
            });
        }

    </script>

    {% if page.object_list %}
        <h1>Tags</h1>
    {% endif %}

    {% if error %}

        The search server could not be reached, please try again later.

    {% else %}

        {% if page.object_list %}

            <div class="tagcloud">
                {% for tag in tags|add_sizes:"name:0.7:1.8" %}
                    <span style="font-size:{{tag.size}}em;">
                        {% if tag.name|in_list:multiple_tags %}
                            {% if multiple_tags|join_tags_exclude:tag.name %}
                            {{tag.name}}<span class="tag_addremove"><a href="{% url 'tags' multiple_tags|join_tags_exclude:tag.name %}">-</a></span>
                            {% else %}
                            {{tag.name}}<span class="tag_addremove"><a href="{% url 'tags' %}">-</a></span>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'tags' tag.name %}">{{tag.name}}</a><span class="tag_addremove"><a href="{% url 'tags' multiple_tags|join_tags_include:tag.name %}">+</a></span>
                        {% endif %}
                    </span>
                {% endfor %}
            </div>

        {% endif %}

        {% if page.object_list and slash_tag %}
            <div id="follow_browse_tags">

                <div class="tag_group">
                    <ul class="tags">
                    {% for tag in multiple_tags %}
                        <li><a>{{ tag }}</a></li>
                    {% endfor %}
                    </ul>
                </div>

                <div style="clear: both"></div>

                {% if request.user.is_authenticated %}
                <div id="follow_tags_button_div">
                    {% if show_unfollow_button %}
                        <a href="javascript:void(0)" id="follow_tags_link" onclick="unfollow_tags()"><button id="follow_tags_button">Unfollow tag{{ multiple_tags|pluralize }}</button></a>
                    {% else %}
                        <a href="javascript:void(0)" id="follow_tags_link" onclick="follow_tags()"><button id="follow_tags_button">Follow tag{{ multiple_tags|pluralize }}</button></a>
                    {% endif %}
                </div>
                {% endif %}

                <div style="clear: both"></div>

                <div id="follow_tags_error_message">An error occurred, please try again</div>

            <div style="clear: both"></div>

            </div>

        {% endif %}

        {% if multiple_tags %}
            <h1>Sounds with {{ multiple_tags|length|pluralize:"this,these" }} tag{{ multiple_tags|length|pluralize }}</h1>
            {% if non_grouped_number_of_results > 0 %}
                <div class="search_paginator">
                    {% show_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
                </div>
                {% for result in docs %}
                    {% display_sound result.sound %}
                    {% if result.n_more_in_group %}
                            <div class="sample_more_search_results"><img src="{{media_url}}images/plus.png" alt="" /> <a href='{% url "sounds-search"  %}?q={{ search_query }}&f=grouping_pack:"{{ result.sound.pack_id }}_{{ result.sound.pack_name }}"+{{filter_query_link_more_when_grouping_packs }}&s="{{ sort.0 }}"&g={{ group_by_pack_in_request }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}'>{{result.n_more_in_group}} more result{{ result.n_more_in_group|pluralize  }}</a> in the same pack "{{ result.sound.pack_name|truncate_string:35 }}"</div>
                    {% endif %}
                {% endfor %}
                <div class="search_paginator">
                    {% show_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
                </div>
            {% else %}
                <p>Sorry. Currently there are no sounds with these tags.</p>
            {% endif %}

        {% endif %}


    {% endif %}

{% endblock %}
