*.project
*.pydevproject
*.pyc
*~
*.DS_Store
*settings_local.py
\#*\#
*.settings*
utils/search/config*/data
.amateras
freesound/local_settings.py
logger.ini
_docs/api/build/
*.initial_data.json
*.settings.py
*beta_release_mails.json
*usernames_passwords.csv
*jmeter.log
*jmeter.jtl
_sandbox/load_testing/results/
_docs/freesound_logo/white background - red - black/freesound_logo_tshirt.ai
freesound.komodoproject
.idea/
freesound/logger.py
tagrecommendation/TODO.txt
tagrecommendation/tagrecommendation_settings.py
similarity/similarity_settings.py
clustering/clustering_settings.py
.env
start_freesound_services.sh

# BW fornt end
.cache
node_modules
freesound/static/bw-frontend/dist/
bw_static/
npm-debug.log

