*.project
*.pydevproject
*.pyc
*~
*settings_local.py
\#*\#
*.settings*
utils/search/config*/data
.amateras
local_settings.py
logger.ini
_docs/api/build/
*.initial_data.json
*.settings.py
*beta_release_mails.json
*usernames_passwords.csv
*jmeter.log
*jmeter.jtl
