freesound-data
*.pyc
*~
*.DS_Store
freesound/local_settings.py
_docs/api/build/
.idea/
.env
.venv

# BW frontend
.cache
.parcel-cache
node_modules
freesound/static/bw-frontend/dist/
freesound/static/bw-frontend/dist-dark/
bw_static/
npm-debug.log
