{% extends "sounds/_section.html" %}


{% load paginator %}

{% block title %}Delete {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Delete <a href="{% url "sound" sound.user.username sound.id %}">{{sound.original_filename}}</a></h1>

<p>
    WARNING: files can not be undeleted, not even by administrators!<br/>

    If you are entirely sure you want to delete your sound: {{sound.original_filename}}, please click the following button
    (form valid for 10 seconds only):</p>
    <form method="post">
        {% if error_message %}
        <ul class="errorlist nonfield">
            <li>{{ error_message }}</li>
        </ul>
        {% endif %}
      {% csrf_token %}
      {{delete_form.encrypted_link}}
      {{delete_form.delete_sounds}}

    <button>Delete sound</button>
    </form>


</p>

{% endblock %}
