{% extends "sounds/_section.html" %}
{% load cache %}
{% load paginator %}
{% load display_pack %}

{% block title %}Packs by {{user.username}}{% endblock title %}

{% block section_content %}

<h1>Packs by <a href="{% url "account" user.username %}">{{user.username}}</a></h1>
<h3>Sort by</h3>
<ul class="list_order" id="filter_query_display">
<li><a href="?order=name" {% ifequal order "name" %}class="selected"{% endifequal %}>name</a></li>
<li><a href="?order=-last_updated" {% ifequal order "-last_updated" %}class="selected"{% endifequal %}>last update</a></li>
<li><a href="?order=-num_sounds" {% ifequal order "-num_sounds" %}class="selected"{% endifequal %}>number of sounds</a></li>
<li><a href="?order=-num_downloads" {% ifequal order "-num_downloads" %}class="selected"{% endifequal %}>number of downloads</a></li>
</ul>
{% cache 3600 packs user.id order current_page %}
<p>{% show_paginator paginator page current_page request "pack" %}</p>

{% for pack in page.object_list %}
	{% display_pack pack %}	
{% endfor %}

{% show_paginator paginator page current_page request "pack" %}

{% endcache %}
{% endblock %}
