{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block head %}

    {{ block.super }}
    <script type="text/javascript" src="{{media_url}}js/protovis-r3.2.js"></script>
    <script type="text/javascript" src="{{media_url}}js/jquery-ui-1.8.11.custom.min.js"></script>
    <script type="text/javascript" src="{{media_url}}js/jquery.jplayer.min.js"></script>

    <style type="text/css">
        .fig {
          height: 320px;
          margin-bottom: 10px;
        }
    </style>
    <script type="text/javascript">
     $(document).ready(function(){
          $("#jquery_jplayer_1").jPlayer({
            ready: function() {

            },
            swfPath: "{{media_url}}swf",
            supplied: "mp3, ogg"
          });
        });


    /* ======== helper functions ========= */
    function connections(d, p) {
        if (p.sourceNode.active == true) {
            $("#"+p.targetNode.id+"").animate({backgroundColor: "#DBDBDB"});
            $("#"+p.sourceNode.id+"").animate({backgroundColor: "#F1D9FF"});
            return "orange";
        } else if (p.targetNode.active == true) {
            $("#"+p.targetNode.id+"").animate({backgroundColor: "#F1D9FF"});
            $("#"+p.sourceNode.id+"").animate({backgroundColor: "#DBDBDB"});
            return "orange";
        } else
            return "#c7c7c7";
    }
    function goToSound(soundId, username) {
        window.location.href = "/people/"+username+"/sounds/"+soundId;
    }
    function clearBackgrounds(dataset) {
        for (var i=0; i<dataset.nodes.length; i++) {
            $("#"+dataset.nodes[i].id+"").animate({backgroundColor: "#ffffff"});
        }
    }
    function calculateEccentricity(length, height) {
        var eccentricity = 0.15;
        // for length < 3 use fixed eccentricity
        if (length > 3) {
            var a = 600 - (552 / length);
            // console.debug(a)
            var b = height;
            eccentricity = (1 - b/a) * (1 - b/a);
        }
        // console.debug(eccentricity);
        return eccentricity;
    }
    function playPreview(d) {
         $("#jquery_jplayer_1").jPlayer("setMedia", {
                mp3: d.sound_url_mp3,
                oga: d.sound_url_ogg
         }).jPlayer("play");
    }
    function stopPreview(d) {
        $("#jquery_jplayer_1").jPlayer("stop");
    }
    // N.B. Not used at the moment since there is some error
    //		offsetting the y progressively higher...
    /*
    function findArrowPos(src_x, trg_x, ecc) {
        var a = (trg_x - src_x) / 2;
        var x = a - 1.5;
        var b = a - a*Math.sqrt(ecc);
        var y = Math.sqrt( Math.abs( (b*b) - ( (x*x)*(b*b) / (a*a)) ) );

        console.debug(a);
        console.debug(b);
        console.debug(x);
        console.debug(y);

        return y/2;
    }
    function findAngle(xArrow, yArrow, xTarget, yTarget) {
        // console.debug("xArrow: " + xArrow + "    xTarget: " + xTarget);
        var angle = Math.atan2( (yTarget - yArrow), (xTarget - xArrow) ) - Math.PI/2;
        // console.debug(angle);
        return angle;
    }
    */
    </script>
{% endblock head %}

{% block title %}Remixes browse{% endblock title %}

{% block section_content %}
<h1>Remix-groups</h1>
<div id="jquery_jplayer_1" style="height: 0px; width: 0px;"></div>

<div id="remix_group_info" class="content_box">
    <h3>Remix group info</h3>
    <div class="sound_list_normal">
        <ul>
            <li>Files are presented in chronological order. So the first sound is a source to subsequent sounds as indicated by the links.</li>
            <li>Hover over a sound to listen to it.</li>
            <li>Hover "out" to stop the playback.</li>
            <li>Click on the sound to go to the sounds page.</li>
        </ul>
    </div>
</div><!-- #remix_group_info -->

<br>
{% show_paginator paginator page current_page request "remix group" %}

<ul style="list-style: none;">
{% for remix_group in page.object_list %}
    <li>
    <div class="fig">
        <script type="text/javascript+protovis">
// Graph DATA
var data{{ forloop.counter }} = {{ remix_group.protovis_data|safe }};

var eccentricity{{ forloop.counter }} = calculateEccentricity(data{{ forloop.counter }}.length, 300);

/* ======== PROTOVIS STUFF-START ======== */
var vis{{ forloop.counter }} = new pv.Panel()
                .def("i", -1)
                .width(600)
                .height(270)
                .bottom(60)
                .top(0)
                .left(100)
                .right(10);

var arc = vis{{ forloop.counter }}.add(pv.Layout.Arc)
    .nodes(data{{ forloop.counter }}.nodes)
    .links(data{{ forloop.counter }}.links);

arc.link.add(pv.Line)
           .strokeStyle(function(d, p)  connections(d,p))
        .eccentricity(eccentricity{{ forloop.counter }})
        .add(pv.Dot)
        .shape("triangle")
        .data(function(l) [{
                               x: l.targetNode.x - 1.5,
                               y: l.targetNode.y - 2
                          }])
        .angle(function(d,p) Math.atan2(2, 1.5) - Math.PI/2)
        .shape("triangle")
        .fillStyle(function(d, p)  connections(d,p))
        .size(6);

arc.node.add(pv.Image)
    .url(function(d) d.waveform_url)
    .imageHeight(function(d) 50)
    .imageWidth(function(d) 552 / data{{ forloop.counter }}.length)
    .width(function(d) 552 / data{{ forloop.counter }}.length)
    .height(50)
    .left(function(d) d.x - ( (552 / data{{ forloop.counter }}.length) / 2) )
    .fillStyle(null)
    .strokeStyle(null)
    .event("mouseover", function(d) ($("#message{{ forloop.counter }}").append("Click to go to sound page"), playPreview(d), d.active = true, arc, vis{{ forloop.counter }}.i(this.index)))
    .event("mouseout", function(d) ($("#message{{ forloop.counter }}").empty(), stopPreview(), clearBackgrounds(data{{ forloop.counter }}), d.active = false, arc, vis{{ forloop.counter }}.i(-1)))
    .event("click", function(d) goToSound(d.id,d.username));

arc.label.add(pv.Label)
    .text(function(d) {
                        if(d.nodeName.length > 25) { return d.nodeName.substring(0,25) + "..."; }
                        else { return d.nodeName; }
                      })
    .textAngle(0.959931089)	// 55 degrees
    .textBaseline("bottom")
    .textAlign("right");


vis{{ forloop.counter }}.render();
/* ======== PROTOVIS STUFF-END ======== */
        </script>
    </div>
    </li>
    <div id="remix_group_link" style="float: right; margin-right: 270px;">
        <a href="/browse/remixed/{{ remix_group.id|safe }}">Go to this remix-group page.</a>
    </div>
    <div id="message{{ forloop.counter }}" style="height: 1em;"></div>

{% endfor %}
</ul>

{% show_paginator paginator page current_page request "remix group" %}

{% endblock %}
