{% extends "accounts/_section.html" %}


{% block title %}login{% endblock %}

{% block section_content %}
<script type="text/javascript">
    $(function () {
    	$("#id_username").focus()
    });
</script>

<h1>Login...</h1>
<form method="post" action=".">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>Don't have an account yet? Why not <a href="{% url "accounts-register" %}">register</a>?</p>

{% include "accounts/reminders.html" %}

{% endblock %}