{% extends "accounts/_section.html" %}

{% block title %}password reset email sent{% endblock %}

{% block content %}
<h1>Password reset email sent</h1>
<p>If the address you've entered is correct, then you should receive an email with instructions for resetting your password.</p>
<p>If you don't receive it within several minutes, check your spam folder. Try again making sure the address is typed correctly. If you still have issues then feel free to <a href="{% url 'contact' %}">contact us</a></p>
{% endblock %}
