.opacity-000 {
  opacity: 0;
}

.opacity-010 {
  opacity: 0.1;
}

.opacity-015 {
  opacity: 0.15;
}

.opacity-020 {
  opacity: 0.2;
}

.opacity-030 {
  opacity: 0.3;
}

.opacity-040 {
  opacity: 0.4;
}

.opacity-050 {
  opacity: 0.5;
}

.opacity-060 {
  opacity: 0.6;
}

.opacity-070 {
  opacity: 0.7;
}

.opacity-080 {
  opacity: 0.8;
}

.opacity-090 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
