.show-at-xs {
  @media screen and (min-width: $sm) {
    display: none;
  }
}

.show-at-sm {
  @media screen and (min-width: $md) {
    display: none;
  }
  @media screen and (max-width: $sm - 1px ) {
    display: none;
  }
}

.show-at-md {
  @media screen and (min-width: $lg) {
    display: none;
  }
  @media screen and (max-width: $md - 1px ) {
    display: none;
  }
}

.show-at-lg {
  @media screen and (min-width: $xl) {
    display: none;
  }
  @media screen and (max-width: $lg - 1px ) {
    display: none;
  }
}

.show-at-xl {
  @media screen and (max-width: $xl - 1px ) {
    display: none;
  }
}

.show-at-sm-and-above {
  @media screen and (max-width: $sm - 1px ) {
    display: none;
  }
}

.show-at-sm-and-below {
  @media screen and (min-width: $md) {
    display: none;
  }
}

.show-at-md-and-above {
  @media screen and (max-width: $md - 1px ) {
    display: none;
  }
}

.show-at-md-and-below {
  @media screen and (min-width: $lg) {
    display: none;
  }
}

.show-at-lg-and-above {
  @media screen and (max-width: $lg - 1px ) {
    display: none;
  }
}

.show-at-lg-and-below {
  @media screen and (min-width: $xl) {
    display: none;
  }
}
