.text-red {
  color: $red;
}

.text-grey {
  color: $navy-grey;
}

.text-light-grey {
  color: $navy-light-grey;
}

.text-black {
  color: $black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-opacity-050 {
  opacity: 0.5;
}

.caps {
  text-transform: uppercase;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-text-wrap {
  white-space: nowrap;
}

.no-letter-spacing {
  letter-spacing: 0;
}

@for $i from 17 through 30 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
}
