{% extends "accounts/_section.html" %}

{% block title %}Acceptance of Freesound terms of use{% endblock %}

{% block content %}
    <h1>Hey, why am I here?</h1>

    <h3>Introducing Freesound terms of use</h3>

    <p>Hello dear Freesound users!</p>

    <p>After almost eight years of great sounds and constant growth
    it has become necessary to create a terms of use for Freesound.
    These terms are intented to outline the legal aspects
    of Freesound and to clarify your rights as users, our privacy policy
    and, in general, to protect you and us against incorrect uses of the site.
    </p>

    <p>By adding these terms of use <b>we have not changed the philosophy
    of the site</b>. It is just a necessary step to keep on growing and
    improving Freesound! However, if you want to discuss any particular concerns you have about the
    terms you're more than welcome to start a discussion in the forums.
    </p>

    <p>In order to continue using Freesound you'll have to accept
    <a href="/help/tos_web/" target="_blank">these terms of use</a>. But hey, don't
    worry because they are not excessively long to read and we have also created a <a href="/help/tos_web/" target="_blank">friendly version</a>
    of the terms which makes them much easier to understand. Here is a brief summary of the terms:

    <ul>
        <li>Uploaded sounds are released under one of the CC licenses you choose.
        Other content (metadata, tags, comments, etc...) is provided as CC-Zero.</li>
        <li>Your activity in Freesound is public and can be seen by all users (except your private messages).</li>
        <li>You are responsible for your posted content.</li>
        <li>We (Freesound) keep your data confidential and apply security measures to keep this confidentiality.</li>
        <li>We (Freesound) don’t warrant that all the data on the site is correct.
            We are not liable for information not posted by us on this site.</li>
        <li>We (Freesound) may remove accounts of users that do not comply with the terms or who do not
            behave correctly (spam, offensive comments...).</li>
        <li>We can use data collected in Freesound (statistics about sounds, tags, comments, downloads...)
        for R+D purposes.</li>
        <li>You agree to receive email notifications from us.</li>
    </ul>

    </p>

    <p>
    Below you'll find a box that you
    have to check in order to accept these terms, and then you'll be able to contiue using Freesound
    as usual.<br>
    Thank you for your patience and understanding! We really appreciate the commitment of the
    Freesound community!!!
    </p>

    <br>

    <h4><a href="/help/tos_web/" target="_blank">>>> Freesound terms of use <<<</a></h4>
    <p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Continue using Freesound!" id="submit">
    </form>
    </p>


{% endblock %}