{% extends "accounts/_notab.html" %}

{% load display_sound %}
{% load tags %}

{% block title %}{% if home %}home{% else %}{{user.username}}{% endif %}{% endblock %}

{% block onunload %}GUnload(){% endblock %}

{% block head %}
    {{ block.super }}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{GOOGLE_API_KEY}}" type="text/javascript"></script>
{% endblock head %}


{% block tab_home_active %}{% if home %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not home %}active_tab{% endif %}{% endblock %}


{% block section_content %}

    {% if home %}
        <h1>Home</h1>

        <img src="{{user.profile.locations.avatar.L.url}}" class="account_avatar" />
        <div class="account_information_and_home_options">
        <ul>
            <li><a href="{% url account user.username %}">View</a> your public profile</li>
            <li><a href="{% url accounts-edit %}">Edit</a> your public profile</li>
            <li><a href="{% url accounts-describe %}">Describe</a> your sounds</li>
            <li><a href="{% url accounts-attribution %}">Attribution</a> - the sounds you downloaded</li>
            {% if perms.tickets.can_moderate %}
            <li><a href="{% url tickets-home %}">Moderate sounds</a> - {{ new_sounds }} sounds, {{ new_support }} support requests</li>
            {% endif %}
        </ul>
        </div>
        <br>
    {% else %}
        <h1>{{user.username}}</h1>

        <img src="{{user.profile.locations.avatar.L.url}}" class="account_avatar" />
        <div class="account_information_and_home_options">
        <ul>
            <li><a href="{% url messages-new user.username %}">Send a private message to this user</a></li>
            {% if user.profile.home_page %}
            <li>Home page: <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a></li>
            {% endif %}
            <li>Has a been a user for {{user.date_joined|timesince}}</li>
            <li>Number of sounds: {{user.profile.num_sounds}}</li>
            <li>Number of forum posts: {{user.profile.num_posts}}</li>
            <li><a href="{% url user-downloaded-sounds user.username %}">Sounds downloaded</a> by {{user.username}}</li>
            <li><a href="{% url user-downloaded-packs user.username %}">Packs downloaded</a> by {{user.username}}</li>
            
        </ul>
		</div>
        {% if user.profile.about %}
            <p class="about">
                {{user.profile.about|safe|linebreaksbr }}
            </p>
        {% endif %}
		<br>
    {% endif %}

<div id="content">

    {% if latest_sounds %}
    <div id="latest_sounds" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest sounds</h3>
        {% for sound in latest_sounds %}
            {% display_sound sound %}
        {% endfor %}
        <p><a href="{% url sounds-for-user user.username %}">more...</a></p>
    </div><!-- #latest_sounds -->
    {% endif %}
    
    {% if home %}
	    {% if unmoderated_sounds %}
	    <div id="unmoderated_sounds" class="content_box">
	        <h3>Sounds waiting for moderation</h3>
	        {% for sound in unmoderated_sounds %}
	            {% display_sound sound %}
	        {% endfor %}
	    </div><!-- #unmoderated_sounds -->
	    {% endif %}
	    
	    
	    {% if unprocessed_sounds %}
	    <div id="unprocessed_sounds" class="content_box">
	        <h3>Sounds that have not been processed yet</h3>
	        
	        {% comment %}
	        <p>Sounds in this list have not been processed yet and thus can't be moderated. This might be because they are still pending to process or because processing has failed.</p>
	        {% endcomment %}
	        
	        {% for sound in unprocessed_sounds %}
	        	<li><span class="filename">{{sound.original_filename}}</span>, uploaded on <span class="date">{{sound.created}}</span>
                {% if sound.processing_state == 'PE' %}
                	<span class="pending">Processing state: Pending</span>
                {% else %}
                	{% if sound.processing_state == 'QU' %}
                		<span class="queued">Processing state: Queued</span>
                	{% else %}
                		{% if sound.processing_state == 'FA' %}
	                		<span class="failed">Processing state: Failed</span>
	                	{% else %}
	                		{% if sound.processing_state == 'PR' %}
		                		<span class="processing">Processing state: Processing</span>
		                	{% else %}
		                		Processing state: {{sound.processing_state}}
		                	{% endif %}
	                	{% endif %}
                	{% endif %}
                {% endif %}
	        	</li>
	        {% endfor %}
	    </div><!-- #unprocessed_sounds -->
	    {% endif %}
    {% endif %}
    
</div><!-- #content -->

<div id="sidebar">
    {% if tags %}
    <div id="user_most_used_tags" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} most used tags</h3>
        <p class="user_tagcloud">
        {% for tag in tags|add_sizes:"True:0.5:2.5" %}<span style="font-size:{{tag.size}}em"><a href="{% url tags tag.name %}">{{tag.name}}</a></span> {% endfor %}
        </p>
    </div><!-- #user_most_used_tags -->
    {% endif %}

    {% if latest_geotags %}
    <div id="latest_geotags" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest geotags</h3>
        <div id="map_canvas"></div>
        <script type="text/javascript">
            var map = new GMap2(document.getElementById("map_canvas"));
            map.setUIToDefault();
            map.disableScrollWheelZoom();
            map.setMapType(G_SATELLITE_MAP);

            var bounds = new GLatLngBounds();

            {% for geotaged_sound in latest_geotags %}
            var point = new GLatLng({{geotaged_sound.geotag.lat}}, {{geotaged_sound.geotag.lon}});
            bounds.extend(point);
            var marker = new GMarker(point);
            GEvent.addListener(marker, "click", function() {
                GDownloadUrl( "{% url geotags-infowindow geotaged_sound.id %}", function(data, responseCode) {
                    marker.openInfoWindowHtml(data);
                    setTimeout(function() {
                        makePlayer('.infowindow_player .player');
                    }, 500);
                });
            });
            map.addOverlay(marker);

            {% endfor %}
            zoomToBounds(map, bounds);
        </script>
        <p><a href="{% url geotags-for-user user.username %}">more...</a></p>
    </div><!-- #latest_geotags -->
    {% endif %}

    {% if latest_packs %}
    <div id="latest_packs" class="content_box">
        <h3>{% if home %}Your{% else %}{{ user.username }}'s{% endif %} latest packs</h3>
        <ul>
        {% for pack in latest_packs %}
            <li><a href="{% url pack user.username pack.id %}">{{pack.name}}</a> (<span class="pack_count">{{pack.num_sounds}}</span>)</li>
        {% endfor %}
        <ul>
        <p><a href="{% url packs-for-user user.username %}">more...</a></p>
    </div><!-- #latest_packs -->
    {% endif %}
    
    {% if home %}
	    {% if unmoderated_packs %}
	    <div id="unmoderated_packs" class="content_box">
	        <h3>"Uncomplete" Packs</h3>
	        <p>Packs in this list won't be visible because none of their sounds has been moderated yet.</p>
	        <ul>
	        {% for pack in unmoderated_packs %}
	            <li><span class="packname">{{pack.name}}</span>, created on <span class="date">{{pack.created}}</span></li>
	        {% endfor %}
	        <ul>
	    </div><!-- #unmoderated_packs -->
	    {% endif %}
	    
	    {% if packs_without_sounds %}
	    <div id="unmoderated_packs" class="content_box">
	        <h3>Packs without sounds</h3>
	        <ul>
	        {% for pack in packs_without_sounds %}
	            <li><span class="packname">{{pack.name}}</span>, created on <span class="date">{{pack.created}}</span></li>
	        {% endfor %}
	        <ul>
	    </div><!-- #unmoderated_packs -->
	    {% endif %}
    {% endif %}
</div><!-- #sidebar -->
<br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}
