{% load bw_templatetags %}
{% load util %}
<ol>
    <li class="v-spacing-3">
        {% bw_icon 'wave' 'text-light-grey' %} <a class="text-19 bw-link--black" title="{{ user.username }} has uploaded {{ user_stats.num_sounds|bw_intcomma }} sound{{ user_stats.num_sounds|pluralize }}" href="{{ user.profile.get_user_sounds_in_search_url }}">{{ user_stats.num_sounds|formatnumber }} sound{{ user_stats.num_sounds|pluralize }}</a>
    </li>
    <li class="v-spacing-3">
        {% bw_icon 'stack' 'text-light-grey' %} <a class="text-19 bw-link--black" title="{{ user.username }} has created {{ user_stats.num_packs|bw_intcomma }} pack{{ user_stats.num_packs|pluralize }}" href="{{ user.profile.get_user_packs_in_search_url }}">{{ user_stats.num_packs|formatnumber }} pack{{ user_stats.num_packs|pluralize }}</a>
    </li>
    <li class="v-spacing-3">
        {% bw_icon 'clock' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds together account for {{ user_stats.total_uploaded_sounds_length|duration_hours }} hours of audio">{{ user_stats.total_uploaded_sounds_length|duration_hours }} hours of audio</span>
    </li>
    <li class="v-spacing-3">
        {% bw_icon 'star' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds have an average rating of {{ user_stats.avg_rating_0_5|floatformat:1 }}">{{ user_stats.avg_rating_0_5|floatformat:1 }} average rating</span>
    </li>
    <li class="v-spacing-3">
        {% bw_icon 'download' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds and packs have been downloaded {{ user_stats.num_downloads }} times">{{ user_stats.num_downloads|formatnumber }} download{{ user_stats.num_downloads|pluralize }}</span>
    </li>
    <li class="v-spacing-3">
        {% bw_icon 'comments' 'text-light-grey' %} <span class="text-19" title="{{ user.username }} has written {{ user_stats.num_posts }} forum posts">{{ user_stats.num_posts|formatnumber }} forum post{{ user_stats.num_posts|pluralize }}</span>
    </li>
</ol>