{% extends "accounts/_people.html" %}
{% load display_sound %}
{% load tags %}
{% load smileys %}
{% block title %} people {% endblock %}

{% block section_content %}
<div class="people_column">
<h3> Most active users last {{num_days}} days</h3>
 {% for user in most_active_users %}
    {% include "accounts/active_user.html" %}
 {% endfor %}
</div>
<div class="people_column">
<h3> Newest active users</h3>
 {% for user in new_users %}
    {% include "accounts/active_user.html" %}
 {% endfor %}
</div>
<br/>
<div class="people_clear"/>
</div>


<div class="people_logged">
<h3> Users currently online</h3>
 {% for user in logged_users %}
    <a href="{% url account user.username %}">{{user.username}}</a>
 {% endfor %}
</div>
{% endblock %}
