{% extends "base.html" %}

{% load display_sound %}
{% load display_pack %}
{% load static %}
{% load filter_img %}
{% load bw_templatetags %}
{% load tags %}
{% load util %}
{% load cache %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row navbar-space-filler v-spacing-top-6 v-spacing-2 bw-profile__hero">
            <div>
                {% bw_user_avatar user.profile.locations.avatar.XL.url user.username 100 %}
            </div>
            <div class="bw-profile__username v-spacing-top-2 {% if user.profile.is_anonymized_user %}v-spacing-3{% endif %}">
                <h1>{{ user.username }}</h1>
            </div>
            {% if not user.profile.is_anonymized_user %}
            <div class="v-spacing-top-4 v-spacing-4 middle padding-left-2 padding-right-2">
                {% if home %}
                    {% if user.profile.num_sounds %}    
                    <a class="no-hover text-center btn-inverse btn-profile-adapt" href="{% url 'accounts-manage-sounds' 'published' %}">Manage sounds</a>
                    <a class="no-hover text-center btn-inverse h-spacing-left-2 btn-profile-adapt"  data-toggle="modal-default" data-modal-content-url="{% url "comments-for-user" user.username %}?ajax=1" data-modal-activation-param="comments" href="javascript:void(0);" title="See all comments on your sounds">Comments</a>
                    {% else %}
                    <a class="no-hover text-center btn-inverse btn-profile-adapt" href="{% url 'accounts-upload' %}">Upload a sound</a>
                    {% endif %}
                    <a class="no-hover text-center btn-inverse h-spacing-left-2 btn-profile-adapt" href="{% url 'accounts-edit' %}">Account settings</a>
                {% else %}
                    {% if show_unfollow_button %}
                        <a class="no-hover text-center btn-secondary" href="{% url 'unfollow-user' user.username %}?next={{ next_path }}">Unfollow</a>
                    {% else %}
                        <a class="no-hover text-center btn-inverse btn-profile-adapt" href="{% url 'follow-user' user.username %}?next={{ next_path }}">Follow</a>
                    {% endif %}
                    <a class="no-hover text-center btn-inverse h-spacing-left-2 btn-profile-adapt" href="{% url "messages-new" user.username %}">Message</a>
                {% endif %}
                {% if perms.tickets.can_moderate or request.user.is_staff %}
                    <div class="dropdown display-inline-block">
                        <a class="no-hover dropdown-toggle" id="mod-actions-menu"
                           data-toggle="dropdown"><button class="btn-inverse h-spacing-left-2 btn-profile-adapt">Mod actions</button></a>
                        <ul class="dropdown-menu" aria-labelledby="mod-actions-menu">
                            {% if user.profile.is_whitelisted %}
                                <li class="bw-nav__action dropdown-item text-light-grey">
                                    This user is whitelisted
                                </li>
                            {% else %}
                                <li class="bw-nav__action dropdown-item text-light-grey">
                                    <a class="bw-link--black cursor-pointer"
                                       data-toggle="confirmation-modal"
                                       data-modal-confirmation-title="Whitelisting {{ user.username }} will approve all their currently pending sounds and approve future uploads, skipping moderation. Do you want to whitelist this user?"
                                       data-modal-confirmation-url="{% url 'tickets-whitelist-user' user.id %}?next={{ next_path }}"
                                       data-modal-confirmation-double-confirm-text="Are you really sure you want to whitelist {{ user.username }}?"
                                       href="javascript:void(0);">
                                        Whitelist this user
                                    </a>
                                </li>
                            {% endif %}
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" data-toggle="user-annotations-modal" data-modal-content-url="{% url "tickets-user-annotations" user.id %}?ajax=1" data-modal-activation-param="mod_annotations" href="javascript:void(0);">
                                    Moderation annotations (<span class="annotation-counter-{{ user.id }}">{{ num_mod_annotations }}</span>)
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" data-toggle="modal-default" data-modal-content-url="{% url "tickets-user-pending_sounds" user.username %}?ajax=1" data-modal-activation-param="pending_moderation" href="javascript:void(0);">
                                    Sounds pending moderation ({{ num_sounds_pending }})
                                </a>
                            </li>
                            {% if not user_downloads_public %}
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" data-toggle="modal-default" data-modal-content-url="{% url "user-downloaded-sounds" user.username %}?ajax=1" data-modal-activation-param="downloaded_sounds" href="javascript:void(0);">
                                    See downloaded sounds ({{ user.profile.num_sound_downloads }})
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" data-toggle="modal-default" data-modal-content-url="{% url "user-downloaded-packs" user.username %}?ajax=1" data-modal-activation-param="downloaded_packs" href="javascript:void(0);">
                                    See downloaded packs ({{ user.profile.num_pack_downloads }})
                                </a>
                            </li>
                            {% endif %}
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "forums-search" %}?f=post_author:%22{{ user.username }}%22">
                                    All forum posts ({{ user.profile.num_posts }})
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" data-toggle="modal-default" data-modal-content-url="{% url "comments-by-user" user.username %}?ajax=1" data-modal-activation-param="comments_by" href="javascript:void(0);" title="See all sound comments by {{ user.username }}">
                                    All comments ({{ user.profile.num_comments }})
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                                <li class="bw-nav__action dropdown-item">
                                    <a class="bw-link--red" href="{% url "admin:auth_user_change" user.id %}">
                                        Edit in admin
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="v-spacing-2">
                <div class="bw-profile__stats padding-left-4 padding-right-4">
                    <div class="text-grey">Has been a user for {{user.date_joined|timesince}}</div>
                    <div><a id="user-followers-button" data-modal-activation-param="followers" data-modal-content-url="{% url 'user-followers' user.username %}?ajax=1&page={{ followers_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_followers_count user.id %}{% with followers.count as followers_count %}{{ followers_count|bw_intcomma }} follower{{ followers_count|pluralize }}{% endwith %}{% endcache %}</a></div>
                    <div><a id="user-following-users-button" data-modal-activation-param="following" data-modal-content-url="{% url 'user-following-users' user.username %}?ajax=1&page={{ following_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_following_count user.id %}{{ following.count }}{% endcache %} following</a></div>
                    <div><a id="user-following-tags-button" data-modal-activation-param="followingTags" data-modal-content-url="{% url 'user-following-tags' user.username %}?ajax=1&page={{ following_tags_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_following_tags_count user.id %}{% with following_tags.count as following_tags_count %}{{ following_tags.count|bw_intcomma }} tag{{ following_tags_count|pluralize }} following{% endwith %}{% endcache %}</a></div>
                </div>
                {% if old_usernames %}
                <div class="bw-profile__stats v-spacing-top-1 padding-left-4 padding-right-4">
                    <div class="text-grey">
                        <i class="bw-icon-flag h-spacing-right-1" title="Visible to moderators only"></i>
                        Previous usernames:
                        {% for old_username in old_usernames %}
                            <span class="bg-white text-black border-grey-light padding-1 h-spacing-1 no-text-wrap display-inline-block">{{ old_username }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if user_downloads_public %}
                <div class="bw-profile__stats v-spacing-top-1 padding-left-4 padding-right-4">
                    <div><a data-toggle="modal-default" data-modal-content-url="{% url "user-downloaded-sounds" user.username %}?ajax=1" data-modal-activation-param="downloaded_sounds" href="javascript:void(0);" >{{ user.profile.num_sound_downloads }} sound{{ user.profile.num_sound_downloads|pluralize}} downloaded</a></div>
                    <div><a data-toggle="modal-default" data-modal-content-url="{% url "user-downloaded-packs" user.username %}?ajax=1" data-modal-activation-param="downloaded_packs" href="javascript:void(0);" >{{ user.profile.num_pack_downloads }} pack{{ user.profile.num_pack_downloads|pluralize}} downloaded</a></div>
                </div>
            </div>
            {% if user.profile.about or user.profile.home_page %}
            <div class="bw-profile__description v-spacing-top-2 v-spacing-2">
                {% if user.profile.about and show_about %}
                    <div class="col-md-8 offset-md-2">
                        {{ user.profile.about|replace_img|safe|linebreaks|strip_unnecessary_br }}
                    </div>
                {% endif %}
                {% if user.profile.home_page and user.profile.get_total_downloads > 0 %}
                    <div class="{% if user.profile.about %}v-spacing-top-3{% endif %} text-center">
                        <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="divider-light"></div>
        <div class="row bw-profile__taps_nav">
            <ol>
                <li class="active" data-toggle="tap" data-target="#sounds">Latest sounds</li>
                <li data-toggle="tap" data-target="#packs">Latest packs</li>
                {% comment %}<li data-toggle="tap" data-target="#tapDownloaded">Downloads</li>{% endcomment %}
            </ol>
        </div>
        <div class="divider-light"></div>
        <div class="row">
            <div class="col-md-8 v-spacing-top-4">
                <div class="bw-profile__tap_container bw-profile__tap_container__active" id="sounds">
                    {% if latest_sounds %}
                        <div class="row">
                            {% for sound in latest_sounds %}
                                <div class="col-6 col-lg-4">
                                    {% display_sound_small sound %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="v-spacing-top-4 text-center">
                            <a class="no-hover btn-primary" href="{{ user.profile.get_user_sounds_in_search_url }}">See all sounds by {{ user.username }}</a>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5>No sounds... &#128543</h5>
                            <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has not uploaded any sounds yet</div>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__tap_container" id="packs">
                    <div class="async-section"
                        data-async-section-content-url="{% url 'account-latest-packs-section' user.username %}?ajax=1">
                        <img width="12px" height="12px" src="{% static 'bw-frontend/public/bw_indicator.gif' %}">
                    </div>
                </div>
                <div class="bw-profile__tap_container" id="tapDownloaded">
                    downloaded
                </div>
            </div>
            <aside class="col-md-4 col-extra-left-padding-middle-md bw-profile__sections">
                <div class="divider-light v-spacing-top-6 v-spacing-5 d-md-none"></div>
                <section class="bw-profile__section_stats v-spacing-top-4 async-section"
                    data-async-section-content-url="{% url 'account-stats-section' user.username %}?ajax=1">
                    <img width="12px" height="12px" src="{% static 'bw-frontend/public/bw_indicator.gif' %}">
                </section>
                {% if last_geotags_serialized %}
                <div class="divider-light"></div>
                <section id="latest_geotags" class="v-spacing-top-4 v-spacing-4" data-map-loaded="false">
                    <h5 class="padding-bottom-3">Latest geotags</h5>
                    <div id="static_map_wrapper"  class="map sidebar-map w-100 middle center cursor-pointer" data-pins="{{ last_geotags_serialized }}"></div>
                    <div id="map_canvas" class="map sidebar-map display-none w-100" data-geotags-url="{% url "geotags-for-user-latest-barray" user.username %}"></div>
                    <div class="v-spacing-top-2 center">
                        <a class="no-hover" href="{% url "geotags-for-user" user.username %}">See all geotags by {{ user.username }}</a>
                    </div>
                </section>
                {% endif %}
                {% cache 3600 bw_user_profile_tags user.id %}
                {% with user.profile.get_user_tags as tags %}
                {% if tags %}
                <div class="divider-light"></div>
                <section class="v-spacing-top-4 v-spacing-4">
                    <h5 class="padding-bottom-3">Most used tags</h5>
                    {% for tag in tags|add_sizes:"count:0.1:1.0" %}
                        {% bw_tag tag.name 1 '' tag.browse_url tag.size %}
                    {% endfor %}
                </section>
                {% endif %}
                {% endwith%}
                {% endcache %}
            </aside>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/profile.js' %}"></script>
{% endblock %}
