{% load cache %}
{% cache 3600 active_user user.0.id %}
{% load active_user_content %}

{% block tab_people_active %}active_tab{% endblock %}

<div>
    <div>
        <img src="{{user.0.profile.locations.avatar.M.url}}" alt="avatar" style="display: inline-block;"/>
        <div class="people_user_head">
        <div class="post_author"><a href="{% url account user.0.username %}">{{user.0.username}}</a></div>
        <div class="people_user_info">
            {{user.0.profile.num_sounds}} sound{{user.0.profile.num_sounds|pluralize}} ,
            {{user.0.profile.num_posts}} post{{user.0.profile.num_posts|pluralize}}<br>
            recent activity:
            {% if user.2.uploads %}
            {{user.2.uploads}} sound{{user.2.uploads|pluralize}}
            {%endif%}
            {% if user.2.posts %}
            {{user.2.posts}} post{{user.2.posts|pluralize}}
            {%endif%}
            {% if user.2.comments %}
            {{user.2.comments}} comment{{user.2.comments|pluralize}}
            {%endif%}
        </div>
            </div>
            <div>
            {% active_user_content user.0 user.1 %}
            </div>
    </div>
</div>
{% endcache %}
