{% load cache %}
{% load util %}
{% load smileys %}
{% load filter_img %}

{% cache 3600 active_user_content user.id %}

    {% if content_type == 'sound' %}
        {% with content as sound %}
            {% include "accounts/player.html" %}
        {% endwith %}
    {% endif %}

    {% if content_type == 'post' %}
        <span class="people_user_info">post in <a href="{% url "forums-thread" content.thread.forum.name_slug content.thread.id %}"
            class="topic_subject">  {{content.thread.title|safe}}</a></span>
            {{content.body|replace_img|smileys|safe|linebreaks|truncatewords:30}}
    {% endif %}

    {% if content_type == 'comment' %}
        <span class="people_user_info">comment in <a class="title" href="{% url "sound" content.sound.user.username content.sound.id %}">{{content.sound.original_filename|truncate_string:28}}</a></span>
        {{content.comment.sound}}
        {{content.comment|replace_img|smileys|safe|linebreaks}}

        {% endif %}

{% endcache %}
