{% load cache %}
{% cache 3600 active_user_no_content user.0.id %}
{% load active_user_content %}

<div class="active_user">
    <div class="active_user_info">
        <img src="{{user.0.profile.locations.avatar.M.url}}" alt="avatar" />

        <div class="post_author"><a href="{% url "account" user.0.username %}">{{user.0.username}}</a></div><!-- .post_author -->

        <div class="people_user_info">
            {{user.0.profile.num_sounds}} sound{{user.0.profile.num_sounds|pluralize}},
            {{user.0.profile.num_posts}} post{{user.0.profile.num_posts|pluralize}}<br>
        </div><!-- .people_user_info -->
    </div><!-- .active_user_info -->
<br class="clear" /><!-- clear .active_user -->
</div><!-- .active_user -->

{% endcache %}
