{% extends "accounts/_section.html" %}


{% block title %}user activation{% endblock %}

{% block section_content %}
{% if all_ok %}
    <h1>Activation succeeded...</h1>
    <p>You have been activated. Please <a href="{% url "login" %}">log in</a> to continue.
{% else %}
    <h1>Activation failed...</h1>
    {% if user_does_not_exist %}
    <p>We're sorry but the user you are trying to activate does not exist anymore! Please sign up again...</p>
    {% endif %}

    {% if decode_error %}
    <p>We're sorry, but we can't find that activation key in the database. It might have expired.</p>
    <p>Have you tried to log in? You can also try copy-pasting the link that we sent you instead of clicking it...</p>
    {% endif %}
{% endif %}
{% endblock %}
