{% extends "accounts/_section.html" %}

{% load paginator %}
{% load absurl %}


{% block title %}Attribution{% endblock %}

{% block content %}

<h1>Attribution</h1>
<p>
	This is the list of files you have downloaded. When you use freesound samples (under the "attribution" or "attribution non-commercial license"), you have to <a href="{% url "wiki-page" "faq" %}#how-do-i-creditattribute">credit the original creator of the sound</a> in your work. This list makes it a little bit easier to do so. "S" means sound, "P" means pack.<br/>
	There are 3 flavors of this list: <a href="?format=regular">regular</a>, <a href="?format=html">html</a> or <a href="?format=plaintext">plain text</a>.
</p>

<div class="attribution_objects">

{% show_paginator paginator page current_page request "download" %}

{% regroup page.object_list by created|date:"F jS, Y" as downloads %}

{% ifequal format "regular" %}
	{% for group in downloads %}
		<h2>Downloaded on {{group.grouper}}</h2>
		<ul>
			{% for download_item in group.list %}
				{% if download_item.0 == 'sound' %}
                                    <li>S: <a href="{% absurl 'sound' download_item.2 download_item.1 %}">{{download_item.3 }}</a> by <a href="{% absurl 'account' download_item.2  %}">{{download_item.2 }}</a> | <span style="color:gray">License: </span>{% if download_item.4 %}{{ download_item.4 }}{% else %}{{ download_item.5 }}{% endif %}</li>
				{% else %}
			      	    <li>P: <a href="{% absurl 'pack' download_item.2 download_item.1 %}">{{download_item.3}}</a> by <a href="{% absurl 'account' download_item.2  %}">{{download_item.2}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
{% endifequal %}

{% ifequal format "html" %}
<p>
	{% for group in downloads %}
		{% filter force_escape %}<h2>Downloaded on {{group.grouper}}</h2>{% endfilter %}<br />
		{% filter force_escape %}<ul>{% endfilter %}<br />
			{% for download_item in group.list %}
				&nbsp;&nbsp;&nbsp;&nbsp;{% filter force_escape %}
				{% if download_item.0 == 'sound' %}
                                    <li>S: <a href="{% absurl 'sound' download_item.2 download_item.1 %}">{{download_item.3 }}</a> by <a href="{% absurl 'account' download_item.2  %}">{{download_item.2 }}</a> | License: {% if download_item.4 %}{{ download_item.4 }}{% else %}{{ download_item.5 }}{% endif %}</li>
				{% else %}
			      	    <li>P: <a href="{% absurl 'pack' download_item.2 download_item.1 %}">{{download_item.3}}</a> by <a href="{% absurl 'account' download_item.2  %}">{{download_item.2}}</a></li>
				{% endif %}
				{% endfilter %}<br />
			{% endfor %}
		{% filter force_escape %}</ul>{% endfilter %}<br />
	{% endfor %}
</p>
{% endifequal %}

{% ifequal format "plaintext" %}
<p>
	{% for group in downloads %}
    Downloaded on {{group.grouper}}<br />
			{% for download_item in group.list %}
			    &nbsp;&nbsp;&nbsp;&nbsp;
				{% if download_item.0 == 'sound' %}
                                S: {{download_item.3}} by {{download_item.2}} -- {% absurl 'short-sound-link' download_item.1 %} -- License: {% if download_item.4 %}{{ download_item.4 }}{% else %}{{ download_item.5 }}{% endif %}<br />
				{% else %}
		                P: {{download_item.3}} by {{download_item.2}} -- {% absurl 'pack' download_item.2 download_item.1 %}<br/>
				{% endif %}
			{% endfor %}
	{% endfor %}
</p>
{% endifequal %}

{% show_paginator paginator page current_page request "download" %}

</div>

{% endblock %}
