{% extends "base.html" %}
{% load display_license_form %}
{% load filter_img %}

{% block title %}{{ block.super }}Describe - Bulk Describe Sounds{% endblock %}

{% block content %}

<h1>Bulk Describe Sounds</h1>

{% if bulk.progress_type == 'N' %}
    <h3>Validating CSV file "{{ bulk.original_csv_filename }}" <img width="12px" height="12px" src="{{ media_url }}images/indicator.gif"/></h3>
    <p>
        The uploaded CSV file has not yet been validated. If there are many sounds to be described, this process
        could take a few minutes. This page will reload automatically when CSV validation has fininshed.
    </p>
    <script>setTimeout(function(){ window.location.reload(1); }, 3500);</script>

{% elif bulk.progress_type == 'V' %}
    <h3>Validation results of the CSV file "{{ bulk.original_csv_filename }}"</h3>
    {% if global_errors %}
        <p>We have encountered some <b>major errors</b> when validating your CSV file:</p>
        <ul>
        {% for error in global_errors %}
            <li>{{ error }}</li>
        {% endfor %}
         </ul>
    {% endif %}

    {% if lines_failed_validation and not global_errors %}
        <p>
            The following <b>{{ lines_failed_validation|length }} sound{{ lines_failed_validation|pluralize }}
            ha{{ lines_failed_validation|pluralize:"s,ve" }} failed validation</b> and won't be added
            to Freesound if you continue now with the bulk describe process. Specific errors are maked in red in the
            following table (hover the <i>i</i> symbol to see the error):
        </p>
        <table class="csv-validation-table">
        <thead>
            <tr><th>Line</th><th>Audio filename</th><th>Name</th><th>Tags</th><th>Geotag</th><th>Description</th><th>License</th><th>Pack</th></tr>
        </thead>
        <tbody>
            {% for line in lines_failed_validation %}

                <tr>
                    <td {% if line.line_errors.columns %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.columns %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.columns }}"></a>{% endif %}
                        {{ line.line_no }}
                    </td>
                    <td {% if line.line_errors.audio_filename %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.audio_filename %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.audio_filename }}"></a>{% endif %}
                        {{ line.line_cleaned.audio_filename }}
                    </td>
                    <td {% if line.line_errors.name %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.name %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.name }}"></a>{% endif %}
                        {{ line.line_cleaned.name }}
                    </td>
                    <td {% if line.line_errors.tags %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.tags %}
                            <a href="#" class="icon warning_icon" title="{{ line.line_errors.tags }}"></a>{{ line.line_original.tags }}
                        {% else %}
                            {{ line.line_cleaned.tags|join:" " }}
                        {% endif %}
                    </td>
                    <td {% if line.line_errors.geotag %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.geotag %}
                            <a href="#" class="icon warning_icon" title="{{ line.line_errors.geotag }}"></a>{{ line.line_original.geotag }}
                        {% else %}
                            {% if line.line_cleaned.lat %}{{ line.line_cleaned.lat }}, {{ line.line_cleaned.lon }}, {{ line.line_cleaned.zoom }}{% endif %}
                        {% endif %}
                    </td>
                    <td {% if line.line_errors.description %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.description %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.description }}"></a>{% endif %}
                        {{ line.line_cleaned.description|striptags|safe|truncatewords:20 }}
                    </td>
                    <td {% if line.line_errors.license %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.license %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.license }}"></a>{% endif %}
                        {{ line.line_cleaned.license }}
                    </td>
                    <td {% if line.line_errors.pack_name %}class="csv-bulk-upload-error-cell"{% endif %}>
                        {% if line.line_errors.pack_name %}<a href="#" class="icon warning_icon" title="{{ line.line_errors.pack_name }}"></a>{% endif %}
                        {{ line.line_cleaned.pack_name }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if lines_validated_ok and not global_errors %}
        <p>
            The following <b>{{ lines_validated_ok|length }} sound{{ lines_validated_ok|length|pluralize }}
            ha{{ lines_validated_ok|pluralize:"s,ve" }} validated correctly</b> and will be described and added to
            Freesound with the metadata shown in the following table:
        </p>
        <table class="csv-validation-table">
        <thead>
            <tr><th>Line</th><th>Audio filename</th><th>Name</th><th>Tags</th><th>Geotag (lat, lon, zoom)</th><th>Description</th><th>License</th><th>Pack</th></tr>
        </thead>
        <tbody>
            {% for line in lines_validated_ok %}
                <tr>
                    <td>{{ line.line_no }}</td>
                    <td>{{ line.line_cleaned.audio_filename }}</td>
                    <td>{{ line.line_cleaned.name }}</td>
                    <td>{{ line.line_cleaned.tags|join:" " }}</td>
                    <td>{% if line.line_cleaned.lat %}{{ line.line_cleaned.lat }}, {{ line.line_cleaned.lon }}, {{ line.line_cleaned.zoom }}{% endif %}</td>
                    <td>{{ line.line_cleaned.description|striptags|safe|truncatewords:20 }}</td>
                    <td>{{ line.line_cleaned.license }}</td>
                    <td>{{ line.line_cleaned.pack_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}

    <form action="{% url "accounts-bulk-describe" bulk.id %}" method="GET">
        <input id="hidden_action" type="hidden" name="action" value="" />
        <input style="float:left;" type="submit" onclick="$('#hidden_action').attr('value', 'delete');" value="Delete this CSV file and upload a new one" />
        <input style="float:right;" type="submit" onclick="$('#hidden_action').attr('value', 'start');" value="Continue and add the {{ lines_validated_ok|length }} valid sound{{ lines_validated_ok|length|pluralize }} to Freesound"
            {% if not lines_validated_ok|length %}disabled="disabled"{% endif %}/>
        <br style="clear:both;"/>
    </form>

{% elif bulk.progress_type == 'S' or bulk.progress_type == 'F' or bulk.progress_type == 'C' %}

    {% if bulk.progress_type == 'S' or bulk.progress_type == 'F' %}
        {% if progress_info.progress_percentage < 100 %}
            <h3>Your sounds are being described and processed <img width="12px" height="12px" src="{{ media_url }}images/indicator.gif"/></h3>
            <p>
                Your {{ lines_validated_ok|length }} sound{{ lines_validated_ok|length|pluralize }} for this bulk
                description process {{ lines_validated_ok|pluralize:"is,are" }} being described and processed. This is
                the current status of the process:
            </p>
            <script>setTimeout(function(){ window.location.reload(1); }, 3500);</script>

        {% else %}
            <h3>The bulk description process has finished!</h3>
            <p>
                Your {{ lines_validated_ok|length }} sound{{ lines_validated_ok|length|pluralize }} for this bulk
                description process {{ lines_validated_ok|pluralize:"has,have" }} been described and processed. Here
                are the results of the process:
            </p>

        {% endif %}
    {% elif bulk.progress_type == 'C' %}
        <h3>This bulk description process is closed</h3>
        <p>
            The bulk description of sounds has been fininshed and the process closed. Here are the results of the
            process:
        </p>
    {% endif %}
    <div class="csv-bulk-upload-progress-label">{{ progress_info.progress_percentage }}% completed</div>
    <ul>
        <li>Sounds successfully described: {{ progress_info.n_sounds_described_ok }}</li>
        <ul>
        {% if progress_info.n_sounds_described_ok %}
            <li>Sounds published: {{ progress_info.n_sounds_published }}</li>
            <li>Sounds in moderation: {{ progress_info.n_sounds_moderation }}</li>
            <li>Sounds currently processing: {{ progress_info.n_sounds_currently_processing }}</li>
            <li>Sounds pending processing: {{ progress_info.n_sounds_pending_processing }}</li>
            <li>Sounds failed processing: {{ progress_info.n_sounds_failed_processing }}</li>
        {% endif %}
        </ul>
        <li>Sounds that failed description: {{ progress_info.n_sounds_error }}</li>
        <ul>
        {% if progress_info.n_sounds_error %}
            {% for line_no, error in progress_info.sound_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endif %}
        </ul>
        <li>Sounds remaining to be described: {{ progress_info.n_sounds_remaining_to_describe }}</li>
    </ul>
    {% if bulk.progress_type != 'C' and progress_info.progress_percentage == 100 %}
        {% comment %}If the process has finished, give the option to close it{% endcomment %}
        <p>
            Click on the button below to close this bulk description process and stop showing it in your home screen.
        </p>
        <form action="{% url "accounts-bulk-describe" bulk.id %}" method="GET">
            <input id="hidden_action" type="hidden" name="action" value="" />
            <input type="submit" onclick="$('#hidden_action').attr('value', 'close');" value="Close this process" />
        </form>
    {% endif %}
{% endif %}

{% if auto_reload_page %}

{% endif %}

{% endblock %}
