{% extends "base.html" %}
{% load filefunctions %}

{% block title %}{{ block.super }}Delete undescribed files{% endblock %}

{% block content %}

<h2>Do you really want to delete the following undescribed files?</h2>

<p>
<ul>
{% for name in filenames %}
    <li>{{ name }}</li>
{% endfor %}
</ul>
</p>

<form action="." method="post" id="fileform" name="fileform">{% csrf_token %}
    <div style="display:none">
    {{form.as_p}}
    </div>
    <input type="hidden" name="delete_confirm" value="delete_confirm">

    <div id="confirm_deletion">
    <h4><a href="javascript:document.fileform.submit();">yes</a></h4>
    <h4><a href="{% url accounts-describe %}">no</a></h4>
    </div>
    <br style="clear: both;" />
    
</form>


</div>
    

{% endblock %}
