{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}

{% block content %}
{% for anon in anonymised %}
  <p>The User "{{anon.name}}" will be anonymised</p>
  {% if anon.logic_deleted %} {{ anon.logic_deleted.count}} Packs will be logically deleted {% endif %}

  {% if anon.model_count %}
  <p>The following elements will be completely deleted:</p>
  <ul>
    {% for model_name, object_count in anon.model_count %}
    <li>{{ model_name|capfirst }}: {{ object_count }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  <form method="post">{% csrf_token %}
  <div>
  <input type="hidden" name="post" value="yes" />
  {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
  {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
  <input type="hidden" name="confirmation" value="1" />
  <input type="submit" value="{% trans "Yes, I'm sure" %}" />
  {% for param, value in params  %}
  <input type="hidden" value="{{value}}" name='{{param}}'/>
  {% endfor %}
  <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
  </div>
  </form>
{% endblock %}
