{% extends "sounds/_section.html" %}

{% load paginator %}

{% block title %}Delete {{sound.original_filename}}yourself{% endblock title %}

{% block section_content %}
<h1>Delete yourself?</a></h1>

<p>
    {% if waited_too_long %}
    Sorry, you waited too long, ... try again?<br/>
    {% endif %}
    WARNING: this is PERMANENT!<br/>
    You can not be "undeleted", not even by administrators...<br/>
    If you are entirely sure you want to delete yourself, click <a href="?user={{encrypted_link}}">here</a> (link valid for 10 seconds only)
</p>

{% endblock %}
