{% extends "base.html" %}

{% block title %}{{ block.super }}Describe - choose pack{% endblock %}

{% block content %}
<h1>Describe</h1>
<h3>Pick or create a pack (optional)</h3>
<p>If you would like to add all the selected files to a pack you can do so now.
Pick an existing pack or create a new one by specifying its name. If you don't
want to add the sounds to any pack leave this form empty. As before, you can
change a file's pack at any time later on.

<form action="." method="post" id="license-form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit" id="submit-button"/>
</form>
{% endblock %}
