{% extends "base.html" %}
{% load display_license_form %}

{% block title %}{{ block.super }}Describe - pick license{% endblock %}

{% block content %}
<h1>Describe</h1>
<h3>Step 2 - pick a license</h3>
<p>This license will be applied to all the files you've selected, but don't worry, you can always change this later.
<form action="." method="post" class="license-form">{% csrf_token %}
    {% display_license_form form %}
    <input type="submit" name="submit" value="submit" id="submit-button"/>
</form>
{% endblock %}
