{% extends "base.html" %}
{% load filefunctions %}

{% block title %}{{ block.super }}Describe{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
    var checkedAll = false;

    function select_ul(element)
    {
        checkedAll = !checkedAll;
        $(element.parentNode).find("input").attr('checked', checkedAll);
        $("#fileform").find("option").attr('selected', checkedAll);
        $('#select_all').text(checkedAll ? 'deselect all' : 'select all');
    }

    function checkboxChange(checkbox)
    {
        var option = $("#fileform").find("option[value=" + checkbox.name + "]").get(0);
        if (checkbox.checked)
            option.selected = true;
        else
            option.selected = false;
    }

</script>
{% endblock %}

{% block content %}
<div id="describe_page">
<h1>Describe</h1>
<h3>Pick files</h3>
<p>You've uploaded these files, but they won't appear on the website until you've described them.
    <br>Select the files you want to describe, click on "describe selected files", and follow the instructions on the following pages.
    <br> You can also delete files by selecting them and pressing the "delete selected files" button.
<div id="content">
    <div class="content_box">
        <h3>Your uploaded files</h3>
        <p>
        <ul id="root_file" class="upload">
            {% show_file file_structure 1 %}
        </ul>
        </p>
    </div>
</div>
<div id="sidebar">
    <div class="content_box">
        <h3>Actions</h3>
        <p>
        <form action="." method="post" id="fileform">{% csrf_token %}
            <div style="display:none">
            {{form.as_p}}
            </div>
            <input class="describe_page_action_button" type="submit" value="Describe selected files" name="describe">
            <br><input class="describe_page_action_button" type="submit" value="Delete selected files" name="delete">
        </form>
        </p>
    </div>
</div>
<br style="clear: both;">
<div id="describe-sounds">
  <h1>Describe sounds in Bulk</h1>
  <p>Upload a <b>csv</b> file with the data for each sounds (file,namef,tags,geotag,description,license,packname,username). Download a <a href="{{media_url}}sample.csv">Sample file here</a></p>
   <form method="POST" enctype="multipart/form-data" action="">
     {% csrf_token %}
     {{csv_form}}
     <input type="submit" name="Submit" />
   </form>
</div>

</div><!-- #describe_page -->
{% endblock %}
