{% extends "simple_page.html" %}
{% load bw_templatetags %}
{% load static %}

{% block title %}Describe sound files - pick a pack{% endblock %}
{% block page-title %}Describe sound files{% endblock %}

{% block page-content %}
<h2 class="text-grey">Pick a pack</h2>
<div class="v-spacing-5 v-spacing-top-2">If you would like to add all {{ num_files|bw_intcomma }} selected sound file{{ num_files|pluralize }} to a pack you can do so now.
    Pick an existing pack or create a new one by specifying its name. If you don't want to add the sounds to any pack, you can leave this form empty. 
    You can change individual sound's pack later on.</div>
<div class="col-lg-8 offset-lg-2">
<form action=".?session={{session_key_prefix}}" method="post" class="bw-form">{% csrf_token %}
    {% include "molecules/pack_form_field.html" %}
    <button type="submit" class="btn-primary v-spacing-top-6 w-100 center">Save and continue with description</button>
</form>
</div>
{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/pages/editDescribeSounds.js' %}"></script>
{% endblock %}