{% extends "base.html" %}
{% load filefunctions %}

{% block title %}{{ block.super }}Describe{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
    var checkedAll = false;

    function select_ul(element)
    {
        checkedAll = !checkedAll;
        $(element.parentNode).find("input").attr('checked', checkedAll);
        $("#fileform").find("option").attr('selected', checkedAll);
        $('#select_all').text(checkedAll ? 'deselect all' : 'select all');
    }

    function checkboxChange(checkbox)
    {
        var option = $("#fileform").find("option[value=" + checkbox.name + "]").get(0);
        if (checkbox.checked)
            option.selected = true;
        else
            option.selected = false;
    }

    {% if ask_for_interface %}
        function show_popup(){
            $("#ask_for_interface").show();
        }

        function submit(form, value){
            $("#participate_in_experiment").val(value);
            form.submit();
        }
    {% endif %}

</script>
{% endblock %}

{% block content %}
<div id="describe_page">
<h1>Describe</h1>
<h3>Pick files</h3>
<p>You've uploaded these files, but they won't appear on the website until you've described them.
    <br>Select the files you want to describe, click on "describe selected files", and follow the instructions on the following pages.
    <br> You can also delete files by selecting them and pressing the "delete selected files" button.
<div id="content">
    <div class="content_box">
        <h3>&nbsp;</h3>
        <p>
        <ul id="root_file" class="upload">
            {% show_file file_structure %}
        </ul>
        </p>
    </div>
</div>
<div id="sidebar">
    <div class="content_box">
        <h3>Actions</h3>
        <p>
        <form action="." method="post" id="fileform">{% csrf_token %}
            <div style="display:none">
            {{form.as_p}}
            </div>
            {% if ask_for_interface %}
                <input class="describe_page_action_button" type="button" value="describe selected files" onclick="show_popup()">
                <div id="ask_for_interface" style="display:none;margin-top:10px;margin-left:10px;padding: 16px 18px;border-left: 2px solid #eee;background: #fafafa;">
                    <p>

                        In order to improve and facilitate the sound tagging process, we are experimenting with a new
                        interface for tagging your audio files. Do you want to use this experimental interface to describe
                        the selected sounds?

                    </p>
                    <p>
                        <input type="radio" name="participate_in_experiment" value="yes"/> Yes&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="participate_in_experiment" checked="checked" value="no"/> No

                        <input type="submit" value="continue" name="describe" style="margin-left:90px">
                    </p>

                </div>
            {% else %}
                <input class="describe_page_action_button" type="submit" value="describe selected files" name="describe">
            {% endif %}
            <br><input class="describe_page_action_button" type="submit" value="delete selected files" name="delete">
        </form>
        </p>
    </div>
</div>
<br style="clear: both;">
</div><!-- #describe_page -->
{% endblock %}
