{% extends "base.html" %}
{% load display_license_form %}
{% load maps %}

{% block head %}
    {{ block.super }}
    {% maps_js_scripts %}
    <script>
        // Maps variables
        var maps = {};
        var centerMarkers = {};

        // Tag recommendation variables
        var typingTimer;
        var addingTagTimer;
        var doneAddingTagInterval = 0;  //time in ms
        var doneTypingInterval = 500;     //time in ms

        $(document).ready(function() {
            display_errors();
            for (var i=1; i<={{ sounds_per_round }}; i++){
                var soundAccordion = $('#sound-accordion-sound-header-'+i);
                if (soundAccordion.hasClass('sound-accordion-sound-alternate-header-errors') == false){
                  $('#sound-accordion-sound-'+i).hide();
                }

                unsecureImageCheck($('#id_' + parseInt(i - 1, 10) + '-description'));
            }

            // Init tag recommendation
            var textarea_elements = $("textarea[id$='-tags']");

            // Listen to keyup events in tags textareas to display tags
            textarea_elements.keyup(function(event) {

                clearTimeout(typingTimer);
                var textarea_id = $(this)[0].id;

                // recommend tags when last character is " " or "\n"
                if  ((event.keyCode == 32) || (event.keyCode == 13)) { // " " or "\n"
                    get_tags(textarea_id);
                }

                typingTimer = setTimeout(function(){
                    get_tags(textarea_id)
                }, doneTypingInterval);
            });

            // Listen to cut, paste and focusin events to recommend tags
            textarea_elements.bind('cut paste focusin', function() {
                var textarea_id = $(this)[0].id;
                get_tags(textarea_id);
            });
        });

        function display_errors() {
            if ($(".errorlist").length > 0) {
                if ($("#errormessage").length == 0) {
                    $("#describe_form").before("<div id='errormessage' class='errortag_message'>There are some errors or missing fields below. Please review files marked in red...</div>");
                }
            }
        }

        // Google Maps stuff
        // *****************

        function toggleMapVisibility(n) {
            var wrapper = $('#gmap-wrapper-'+n);
            if(wrapper.is(':visible')) {
                $('#gmap-header-'+n).removeClass('.active-gmap');
                $('#gmap-header-text-'+n).text('Add geotag');
                wrapper.hide(500);
            } else {
                $('#gmap-header-'+n).addClass('.active-gmap');
                //$('#gmap-header-text-'+n).text('Hide Geotag map');
                $('#gmap-header-text-'+n).hide();  // To avoid confussion, we disable the option to hide the map
                wrapper.show(500);
                if (!maps[n]){
                    init_map(n);
                }
            }
        }

        function toggleSound(n) {
            var idx = parseInt(n,10);
            var idx0 = idx - 1;
            var sound_accordion_element = $('#sound-accordion-sound-'+n);
            var sound_accordion_element_header = $('#sound-accordion-sound-header-'+n);
            if (sound_accordion_element.is(':visible')) {
                sound_accordion_element.hide('fast');
                sound_accordion_element_header.removeClass('expanded');
            } else {
                sound_accordion_element.show('fast');
                sound_accordion_element_header.addClass('expanded');
                if ($("#id_" + idx0 + "-zoom").val()){

                    if (!maps[n]){
                        init_map(n);
                    }
                }
            }
        }

        function setMapVisibility(n){
            var idx = parseInt(n,10);
            var idx0 = idx - 1;
            var sound_has_geotag = $("#id_" + idx0 + "-zoom").val();
            if (sound_has_geotag){
                // Show map
                init_map(n);
            } else {
                // Hide wrapper (is displayed by default) and add "Add geotag" link
                var wrapper = $('#gmap-wrapper-'+n);
                $('#gmap-header-'+n).removeClass('.active-gmap');
                $('#gmap-header-text-'+n).text('Add geotag');
                wrapper.hide();
            }
        }

        function updateLatLonZoomFields(map_element_id, lat, lon, zoom, box_bl_lat, box_bl_lon, box_tr_lat, box_tr_lon) {
            var idx0 = parseInt(map_element_id.split('gmap')[1], 10) - 1;  // Get map number
            $("#id_" + idx0 + "-lon").val(lon);
            $("#id_" + idx0 + "-lat").val(lat);
            $("#id_" + idx0 + "-zoom").val(zoom);
        }

        function init_map(n) {
            console.log("initializing MAP ", n)
            var idx = parseInt(n,10);
            var idx0 = idx - 1;

            var center_lat;
            var center_lon;
            var zoom;
            {% if last_latlong %}
                center_lat = {{last_latlong.0}};
                center_lon = {{last_latlong.1}};
                zoom = {{last_latlong.2}};
            {% endif %}
            if (($("#id_" + idx0 + "-zoom").val() !== "") && ($("#id_" + idx0 + "-lon").val() !== "") && ($("#id_" + idx0 + "-lat").val() !== "")) {
                // If there are lat/lon/zoom already specified for that sound, load them
                center_lat = $("#id_" + idx0 + "-lat").val();
                center_lon = $("#id_" + idx0 + "-lon").val();
                zoom = $("#id_" + idx0 + "-zoom").val();
            }
            maps[idx] = make_geotag_edit_map('gmap' + idx, '{{media_url}}/images/arrow.png', updateLatLonZoomFields, center_lat, center_lon, zoom);
        }


        // Tag recommendation stuff
        // ************************

        function get_tags(textarea_id) {
            var textarea_element = $("#" + textarea_id);
            $.ajax({
                type: 'POST',
                url: '/tagrecommendation/recommendtags/',
                contentType:"application/x-www-form-urlencoded",
                data: {
                    input_tags: textarea_element.val()
                },
                success: function(data) {
                    display_recommended_tags(textarea_id, data);
                }
            });
        }

        function display_recommended_tags(textarea_id, data) {
            var parsedData = JSON.parse(data);
            var tags = parsedData[0];
            if (tags.length > 0){
                var html = "";
                html += "<ul id=\"" + textarea_id + "-recommended-list\">";
                for (var i in tags){

                    var tag = tags[i]; //tags[i][0]
                    var tag_css_class = "tag";

                    html += "<li class=\"" + tag_css_class + "\" id=\"tag-" + tag + "\"><a onclick=\"add_tag(\'" + textarea_id + "\',\'" + tag + "\',\'" + i + "\')\">" + tag + "</a></li>";
                }
                html += "</ul>";
                var textarea_element = $("#" + textarea_id + "-recommended");
                textarea_element.text("");
                textarea_element.append("<span style=\"color: #AB4646;font-size:12px;\">Suggested tags:&nbsp</span> (click on the tags to add them, <a style=\"color:gray\" onclick=\"clear_recommendations(\'" + textarea_id + "\')\">click here to clear the recommendation</a>)");
                textarea_element.append(html);
                textarea_element.append("<br class=\"clear\">");
                var textarea_element_list = $("#" + textarea_id + "-recommended-list");
                textarea_element_list.css("margin-left","-20px");
                textarea_element_list.css("margin-top","5px");
                textarea_element_list.css("margin-bottom","5px");

            }else{
                clear_recommendations(textarea_id);
            }
        }

        function add_tag(textarea_id, tag, cloud_pos) {
            clearTimeout(addingTagTimer);
            var ask_for_more = false;
            var textarea_element = $("#" + textarea_id);
            var separator = " ";
            if (!$.trim(textarea_element.val())) {
                ask_for_more = true;
                separator = ""
            }
            textarea_element.val(textarea_element.val() + separator + tag);
            $("#tag-" + tag).remove();
            var remaining_tags = $("#" + textarea_id + "-recommended-list").children().length;
            if (remaining_tags < 1){
                ask_for_more = true;
            }
            if (ask_for_more == true){
                get_tags(textarea_id);
            } else {
                addingTagTimer = setTimeout(function(){
                    get_tags(textarea_id)
                }, doneAddingTagInterval);
            }
        }

        function clear_recommendations(textarea_id){
            $("#" + textarea_id + "-recommended").text("")
        }

    </script>

{% endblock head %}
{% block title %}{{ block.super }}Describe - describe individual sounds{% endblock %}
{% block content %}
    <h1>Describe</h1>
    <h3>Describe individual sounds ({{request.session.describe_sounds_number}} left)</h3>
    <p>This is the last step in the describe process. If you've selected
        more than {{ sounds_per_round }} you will be asked to describe groups of {{ sounds_per_round }}
        sounds until all are done. In the list below you'll have to at least specify tags and
        a description for each of the uploaded sounds. <strong>Click on the sound filenames to display the
            form for describing each sound</strong>.

    <p>The license and the pack you've chosen in the previous steps will be applied to each
        of the files here. You can however change these settings for each individual file.

    <p>You are not required to specify a geolocation for each sound, but if the sound is a
        field-recording it's probably a good idea to specify the location.

    <form id="describe_form" action="." method="post" novalidate class="disable-on-submit">{% csrf_token %}
    <div id="sound-accordion-alternate">
    {% for form in forms %}
        <div onclick="toggleSound({{ forloop.counter }})" class="sound-accordion-sound-alternate-header{% if form.description.errors or form.geotag.errors or form.pack.errors or form.license.errors %}-errors{% endif %}" id="sound-accordion-sound-header-{{ forloop.counter }}">
            {{ form.sound.name }}
        </div>
        <div class="sound-accordion-sound-alternate" id="sound-accordion-sound-{{ forloop.counter }}">

            <h3>Tags and Description</h3>
            {{form.description.name.errors}}
            <p>
                Name:<br>
                {{form.description.name}}
            </p>
            {{form.description.tags.errors}}
            <p>
                Tags:
                {{form.description.tags.help_text|safe}}<br>
                {{form.description.tags}}
                <div id="id_{{ forloop.counter0 }}-tags-recommended" style="font-size: 10px;margin-top:-5px;width: 670px;"></div>
            </p>
            {{form.description.description.errors }}
            <p>
                Description:<br>
                {{form.description.description }}
            </p>
            <p>
                Explicit content:
                {{form.description.is_explicit }}
            </p>

            <h3>Geotag</h3>
            <p id="gmap-header-{{forloop.counter}}">
                <a href="javascript:void(0);" onclick="toggleMapVisibility({{forloop.counter}});"><span id="gmap-header-text-{{forloop.counter}}">Add geotag</span></a>
            </p>
            <div class="gmap-wrapper" id="gmap-wrapper-{{forloop.counter}}">
                <p>Drag this map to set a geotag:</p>
                <div class="describe-gmap" id="gmap{{forloop.counter}}" style="width: 400px; height:300px;"></div>
                <div class="describe-geotag-form">{{ form.geotag.as_p }}
                    <script type="text/javascript">

                        $("#{{form.geotag.remove_geotag.auto_id}}").change(function (event) {
                            if (this.checked)
                            {
                                $("#{{form.geotag.lon.auto_id}}").attr('disabled', 'disabled');
                                $("#{{form.geotag.lat.auto_id}}").attr('disabled', 'disabled');
                                $("#{{form.geotag.zoom.auto_id}}").attr('disabled', 'disabled');
                            }
                            else
                            {
                                $("#{{form.geotag.lon.auto_id}}").attr('disabled', false);
                                $("#{{form.geotag.lat.auto_id}}").attr('disabled', false);
                                $("#{{form.geotag.zoom.auto_id}}").attr('disabled', false);
                            }
                        });
                        setMapVisibility({{forloop.counter}});

                    </script>
                </div><br style="clear: both" />
            </div>

            <h3>Pack</h3>
            {{ form.pack.as_p }}

            <h3>License</h3>
            {{ form.license.as_p }}

            <br style="clear: both;" />
        </div><!-- .sound-accordion-sound -->

    {% endfor %}
    </div><!-- #sound-accordion -->
    <input type="submit" name="submit" value="Submit and continue" id="submit-button"/>
    </form>
{% endblock %}



