{% extends "base.html" %}


{% block content %}
<div id="content_full"> <!-- START of Content area -->

  <h1>Donations</h1>
   <h2>Last Donations</h2>
    <div class="donations-list">
    {% for donation in donations %}
      <div class="donation-item">
        <div class="donation-item-left"><img src="/media/images/70x70_avatar.png"></div>
        <div class="donation-item-right"><p>{{donation.display_name}} <br /> {{donation.amount}} {{donation.currency}}</p></div>
      </div>
    {% endfor %}
    </div>
{% block section_content %}

{% endblock %}
</div> <!-- END of Content area -->

<br class="clear" />

{% endblock %}


