{% extends "accounts/_section.html" %}

{% load display_pack %}
{% load paginator %}

{% block title %}Packs downloaded by {{ username }}{% endblock %}

{% block content %}

<h1>Packs downloaded by <a href="{% url account username %}">{{ username }}</a></h1>

{% if paginator.count > 0 %}
    <div class="search_paginator">
        {% show_paginator paginator page current_page request "pack" %}
    </div>

	
	{% for download_item in page.object_list %}
		{% if download_item.pack %}
			{% with download_item.pack as pack %}
        		{% display_pack pack %}
        	{% endwith %}
        {% endif %}
    {% endfor %}
    
    
    {% comment %}
    {% regroup page.object_list by created|date:"F jS, Y" as downloads %}
	{% for group in downloads %}

		<h3>Downloaded on {{group.grouper}}</h3>
		{% for download_item in group.list %}
			{% if download_item.pack %}
				{% with download_item.pack as pack %}
	        		{% display_pack pack %}
	        	{% endwith %}
	        {% endif %}
		{% endfor %}
	{% endfor %}
	{% endcomment %}
	
	<br>
    <div class="search_paginator">
        {% show_paginator paginator page current_page request "pack" %}
    </div>
{% else %}
    <p>{{ username }} hasn't downloaded any packs yet...</p>
{% endif %}

{% endblock %}
