{% extends "accounts/_section.html" %}

{% load display_pack %}
{% load paginator %}


{% block title %}Packs downloaded by {{ username }}{% endblock %}

{% block content %}

<h1>Packs downloaded by <a href="{% url "account" username %}">{{ username }}</a></h1>

{% if paginator.count > 0 %}
    <div class="search_paginator">
        {% show_paginator paginator page current_page request "pack" %}
    </div>

    {% for pack in packs %}
        {% display_pack pack %}
    {% endfor %}

    <div class="search_paginator">
        {% show_paginator paginator page current_page request "pack" %}
    </div>
{% else %}
    <p>{{ username }} hasn't downloaded any packs yet...</p>
{% endif %}

{% endblock %}
