{% extends "accounts/_section.html" %}

{% load display_sound %}
{% load paginator %}


{% block title %}Sounds downloaded by {{ username }}{% endblock %}

{% block content %}

<h1>Sounds downloaded by <a href="{% url "account" username %}">{{ username }}</a></h1>

{% if paginator.count > 0 %}

    <div class="search_paginator">
        {% show_paginator paginator page current_page request "sound" %}
    </div>

	{% for sound in sounds %}
        {% display_sound sound %}
    {% endfor %}

    <div class="search_paginator">
        {% show_paginator paginator page current_page request "sound" %}
    </div>

{% else %}
    <p>{{ username }} hasn't downloaded any sounds yet...</p>
{% endif %}

{% endblock %}
