{% extends "accounts/_section.html" %}


{% block title %}edit account{% endblock %}

{% block section_content %}

<h1>Settings</h1>

<div id="content">
    <div id="edit_account" class="content_box">
        <h3>Edit your account information</h3>
        <form method="post" action=".">{% csrf_token %}
            <p>You can edit your account using this form. The text introduced in the 
                <strong>about</strong>, <strong>forum signature</strong> and <strong>sound signature</strong> fields can be formatted using the following HTML tags:
                <code>a</code>, <code>img</code>, <code>strong</code>, <code>b</code>, <code>em</code>, <code>li</code>, <code>u</code>, <code>p</code>, <code>br</code>, <code>blockquote</code>a and <code>code</code>.
            </p>
            {{profile_form.as_p}}
            <input type="submit" value="Save account settings" />
        </form>
    </div><!-- #edit_account -->
</div><!-- #content -->

<div id="sidebar">
    <div id="edit_avatar" class="content_box">
        <h3>Edit your avatar</h3>
        <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
            {% if profile.has_avatar %}
            <p>Current:<br/><img src="{{profile.locations.avatar.L.url}}" /></p>
            {% endif %}
            {{image_form.as_p}}
            <input type="submit" value="Save avatar" />
        </form>
    </div><!-- #edit_avatar -->

    {% if has_granted_permissions %}
        <div id="app_permissions" class="content_box">
            <h3>App permissions</h3>
            <p>Manage your list of permissions granted to API applications <a href="{% url "access-tokens" %}">here</a>.</p>
        </div>
    {% endif %}

    <div id="reset_password_and_email" class="content_box">
        <h3>Password and email addres</h3>
        <ul>
            <li><a href="{% url "accounts-email-reset" %}">Change your email address</a></li>
            <li><a href="{% url "password_change" %}">Change your password</a></li>
        </ul>
    </div><!-- #reset_password_and_email -->

    <div class="content_box">
        <h3>Email Notifications</h3>
        <ul>
          <li><a href="{% url "accounts-email-settings" %}">Change email notifications settings</a></li>
        </ul>
    </div>


    <div id="delete_account" class="content_box">
        <h3>Delete account</h3>
        <p>
            To delete your account, please go <a href="{% url "accounts-delete" %}">here</a>.
        </p>
    </div><!-- #delete_account -->
</div><!-- #sidebar -->

<script>
  $(function() {
      {% for field in profile_form.get_img_check_fields %}
          unsecureImageCheck($('#{{ field.id_for_label }}'));
      {% endfor %}
  })
</script>

<br class="clear" /><!-- Clearing Element -->
{% endblock %}
