{% extends "accounts/_section.html" %}
{% block head %}
{{ block.super }}
<style type="text/css">
form ul {
    padding-bottom: 0;
}
</style>
{% endblock %} 

{% block title %}edit account{% endblock %}

{% block section_content %}

<h1>Settings</h1>

<div id="content">
    <div id="edit_account" class="content_box">
        <h3>Edit your account information</h3>
        <form method="post" action=".">{% csrf_token %}
          {{form.as_p}}
          {{form.email_types}}
            <ul>
              <li>{{ form.wants_newsletter }} {{ form.wants_newsletter.help_text}}</li>
              <li>{{ form.enabled_stream_emails }} {{ form.enabled_stream_emails.help_text}}</li>
            </ul>
            <input type="submit" value="Save account settings" />
        </form>
    </div><!-- #edit_account -->
</div><!-- #content -->


<div id="sidebar">
    <div class="content_box">
        <h3>Back</h3>
        <p>
            Go back to general <a href="{% url "accounts-edit" %}">settings</a>.
        </p>
    </div>
</div><!-- #sidebar -->

<br class="clear" /><!-- Clearing Element -->
{% endblock %}
