{% extends "accounts/_section.html" %}

{% block title %}E-mail reset{% endblock %}

{% block content %}

{% if required %}
    <h1>Update your e-mail</h1>
    <p>We have identified that some emails that we have sent to you didn't go through, thus it appears that your email
        address is not valid. Please update your email address to a working one to continue using Freesound</p>
{% else %}
    <h1>E-mail reset</h1>
{% endif %}

<p>Enter your new e-mail address and your current password in the form below, and we'll e-mail instructions for activation.</p>

<form action="." method="post">{% csrf_token %}

{{form.as_p}}

<input type="submit" value="Reset my email" />
</form>

{% endblock %}
