
{% if no_show %}
    <!-- do noting -->
{% else %}
    {% if user_sounds < 1 %}

    <script type="text/javascript">

        function post_flag(div_id, uname, flag_type, object_id, url)
        {
            $("#" + div_id.toString() + "_info").html('<img width="12px" height="12px" src="{{ media_url }}images/indicator.gif"/>');

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    username: uname,
                    flag_type: flag_type,
                    object_id: object_id
                },
                success: function(data) {
                    display_flagged_feedback(div_id,data);
                },
                error: function(data) {
                    display_error_feedback(div_id,data);
                }

            });
        }

        function display_flagged_feedback(id, data){

            $("#" + id.toString() + "_link").html("");
            $("#" + id.toString() + "_info").html("<span style='color:green'>Spam/Offensive report sent!</span>");
            setTimeout(function() {
                $("#" + id.toString() + "_info").hide()
                $("#" + id.toString() + "_link").html("<span style='color:#808080;'>{{ done_text }}</span>");
            }, 2000);
        }

        function display_error_feedback(id, data){
            $("#" + id.toString() + "_link").html("");
            $("#" + id.toString() + "_info").html("<span style='color:red'>Some error occurred! Try again later...</span>")
            setTimeout(function() {
                $("#" + id.toString() + "_info").hide()
                $("#" + id.toString() + "_link").html("<span style='color:#808080;'>Spam/Offensive reporting falied</span>");
            }, 2000);
        }

    </script>


    <span id="{{content_obj_id}}{{flag_type}}_link">

    {% if flagged %}
        <span style="color:#808080;">{{ done_text }}</span>
    {% else %}
        <a onclick="post_flag('{{content_obj_id}}{{flag_type}}','{{username}}','{{ flag_type }}',{{ content_obj_id }},'{% url "flag-user" username %}')" href="javascript:void(0)">{{ link_text }}</a>
    {% endif %}
    </span>

    <span id="{{content_obj_id}}{{flag_type}}_info">
        {% comment %}
        {% if not flagged %}<img src="{{ media_url }}images/info.png"/>{% endif %}
        {% endcomment %}
    </span>

    {% endif %}
{% endif %}
