{% extends "accounts/_section.html" %}

{% block title %}Acceptance of Freesound terms of use{% endblock %}

{% block content %}
    <h1>Hey, why am I here?</h1>

    <h3>GDPR Updates to our Terms of use</h3>

    <p>Hello dear Freesound user!</p>

    <p>You'll have seen how many websites have updated their terms of use because of the new
        <a href="https://www.eugdpr.org/" target="_blank">EU General Data Proetion Regulation</a> (or GDPR for short).
        Well, Freesound is not an exception and here we are happily asking you to give us your consent on the
        updated terms of use :)
    </p>

    <p>
        The updated terms are intented to clarify your rights as users and the ways in which we process your data,
        our privacy policy and, in general, to protect you and us against incorrect uses of the site. This update of
        the terms of use does not alter the Freesound philosophy at all, it is just a necessary step that we need
        to make in order to comply with the new regulations.
    </p>

    <p>
        Please, take some time to read the <a href="/help/tos_web/">updated terms of use</a>.
        We also prepared a brief summary which we include here:
    </p>


    <p>
        Below you'll find a box that you have to check in order to accept the updated terms and continue using
        using Freesound as usual. Thank you for your patience and understanding, we really appreciate the commitment
        of the Freesound community!!!
    </p>



    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}

        {% with form.accepted_tos as tos %}
            {{ tos }} <label style="display: inline;font-size:12px;" for="{{ tos.id_for_label }}">{{ tos.help_text|safe }}</label>
        {% endwith %}
    <br><br>
        <input type="submit" name="submit" value="Continue using Freesound!" id="submit">
    </form>



{% endblock %}
