{% extends "molecules/modal_base.html" %}

{% block id %}loginModal{% endblock %}
{% block aria-label %}Login modal{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Log in to Freesound</h4>
        <form id="loginForm" class="bw-form bw-form-less-spacing" method="post" action="{% url 'login' %}">{% csrf_token %}
            {{ login_form.as_p }}
            <input type="hidden" name="next" value="{{ next_path }}" />
            <button type="submit" class="btn-primary v-spacing-top-2">Log in</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    <a class="v-spacing-top-3" data-toggle="problems-logging-in-modal">Problems logging in?</a>
{% endblock %}

{% block extra %}
    <a data-toggle="registration-modal">Don't have an account? Join now</a>
{% endblock %}
