{% extends "simple_page.html" %}

{% block title %}Your email address should be updated{% endblock %}
{% block page-title %}Your email address should be updated{% endblock %}


{% block page-content %}

    <p>Dear <b>{{ request.user.username }}</b>, we recently introduced a new policy in Freesound which does not allow
        different user accounts to share a single email address. Only a few users are affected by this change, and you
        happen to be one of them. But don't worry, the fix is easy ;)</p>

    <p>Your email address is <b>{{ same_user.orig_email }}</b>, and is used in the following accounts:<p>
    <ul>
        <li><a href="{% url 'account' same_user.main_user.username %}">{{ same_user.main_user }}</a>{% if request.user == same_user.main_user %} (you're currently logged in as this user){% endif %}</li>
        <li><a href="{% url 'account' same_user.secondary_user.username %}">{{ same_user.secondary_user }}</a>{% if request.user == same_user.secondary_user %}{% endif %} (you're currently logged in as this user)</li>
    </ul>

    <p>To fix this issue, you should do ONE of the following:</p>
    <ul>
        <li>Change the email address of <b>{{ request.user.username }}</b>. You can use the <a href="{% url 'accounts-email-reset' %}">reset email form</a>.</li>
        <li>Change the email address of <b>{% if request.user == same_user.main_user %}{{ same_user.secondary_user.username }}{% else %}{{ same_user.main_user.username }}{% endif %}</b>. To do that, log in as that user and then use the email reset reset form.</li>
        <li>You can also send a <a href="{% url 'contact' %}">support request</a> telling us which email addresses you want to set for each account.</li>
        <li>If you would prefer to delete one of the two accounts or merge them, please send us a <a href="{% url 'contact' %}">support request</a>.</li>
    </ul>

    <p>
        If you take no action, this message will be shown again the next time you log in.
    </p>

    <div class="v-spacing-top-6">
    <a href="{{ next }}" class="btn-primary">Do this later...</a>
    </div>

{% endblock %}