{% extends "accounts/_section.html" %}


{% block title %}edit account{% endblock %}

{% block section_content %}

    <h1>Your email address should be updated</h1>

    <p>Dear <b>{{ request.user.username }}</b>, we recently introduced a new policy in Freesound which does not allow
        different user accounts to share a single email address. Only a few users are affected by this change, and you
        happen to be one of them. But don't worry, the fix is easy ;)</p>

    <p>Your email address is {{ same_user.orig_email }}, and is used in the following accounts:<p>
    <ul>
        <li><a href="{% url 'account' same_user.main_user.username %}">{{ same_user.main_user }}</a>{% if request.user == same_user.main_user %} (this is you){% endif %}</li>
        <li><a href="{% url 'account' same_user.secondary_user.username %}">{{ same_user.secondary_user }}{% if request.user == same_user.secondary_user %} (you){% endif %}</a></li>
    </ul>

    <p>
        To fix this issue all what you have to do is to change the email of one of the two accounts.
        Either change the email of your current account using the <a href="{% url 'accounts-email-reset' %}">reset
        email form</a>, or log in as <b>{% if request.user == same_user.main_user %}{{ same_user.secondary_user.username }}
        {% else %}{{ same_user.main_user.username }}{% endif %}</b> and change your email there.
        Alternatively you can submit a <a href="{% url 'contact' %}">support request</a> telling us which emails you want
        to set for your accounts.
    </p>

{% endblock %}
