{% extends "email_base.txt" %}
{% load url from future %}
{% block salutation %}{{user.username}}{% endblock %}

{% block body %}
{% autoescape off %}
You're receiving this e-mail because you requested a password reset for your user account at {{domain}}.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb36=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}
{% endautoescape %}
{% endblock %}