{% extends "accounts/_section.html" %}


{% load display_sound %}
{% load paginator %}
{% load util %}

{% block title %}Uploaded sounds awaiting moderation{% endblock title %}
{% block section_content %}

    <h2>Uploaded sounds awaiting moderation {% if moderators_version %} by  <a class="title" href="{% url "account" user.username %}">{{user.username}}</a>{% endif %}</h2>

    {% if not no_assign_button and moderators_version %}
    <p><a href="{% url 'tickets-moderation-assign-user-pending' user.id %}">
        <img src="{{media_url}}images/moderation_plus.png" style="position: relative; top: 5px;"/>Assign all to me</a></p>
    {% endif %}

    {% if show_pagination %}
        {% show_paginator paginator page current_page request "moderation ticket" %}
    {% endif %}

    {% for ticket in page.object_list %}

        <div id="pending-ticket" style="margin-bottom:25px">
            <div class="sample_player_small" style="width: 700px;" id="{{ ticket.sound_obj.id }}">
                <div class="sample_player">
                    <div class="small_player">
                        {% include "sounds/player_medium.html" %}
                    </div><!-- .small_player -->

                    <div class="sound_title">
                        <div class="sound_filename">
                            <a class="title" href="{% url "sound" ticket.sound_obj.username ticket.sound_obj.id %}" title="{{ticket.sound_obj.original_filename}}">{{ticket.sound_obj.original_filename|truncate_string:27}}</a>
                        </div><!-- .sound_filename -->

                        <div class="sound_description">
                            <p class="description">{{ticket.sound_obj.description|striptags|safe|truncatewords:20}}</p>
                        </div><!-- .sound_description -->

                        <div class="sound_tags">
                            <ul class="tags">
                                {% for tag_link in ticket.sound_obj.tags_array %}
                                    <li><a href="{% url "tags" tag_link.tag.name %}">{{tag_link.tag.name}}</a></li>
                                {% endfor %}
                            </ul>
                            <br style="clear: both;"/>
                        </div><!-- .sound_tags -->
                    </div>
                </div>
                <div class="sample_information" style="width: 250px;">
                    <span>
                        {% if ticket.assignee %}
                            Assigned to moderator <a href="{% url "account" ticket.assignee.username %}">{{ ticket.assignee.username }}</a>
                        {% else %}
                            <b>New</b>
                        {% endif %}
                    </span><br />

                    <span class="date">{{ticket.sound_obj.created|date:"F jS, Y"}}</span><br />
                    {% if not moderators_version %}
                        <a href="{% url "sound-edit" ticket.sound_obj.username ticket.sound_obj.id %}" class="icon" id="edit_link" title="edit sound">Edit sound information</a><br />
                    {% endif %}
                    See full <a href="{% url "tickets-ticket" ticket.key %}">moderation ticket</a><br />
                </div>
            </div>
        </div>

        {% comment %}
        <div class='last-ticket-comments'>
            <p>Last comment{{ comments|length|pluralize}} on <a href="{% url "tickets-ticket" ticket.key %}">moderation ticket</a>:
                <ul>
                    {% for comment in comments %}
                        <li><a href="{% url "account" comment.sender %}">{{ comment.sender }}</a> <span id="time-since">({{ comment.created|timesince}} ago)</span>: <i>{{ comment.text }}</i></li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        {% endcomment %}

    {% empty %}
        <p>Currently,
        {% if own_page %}
        you don't
        {% else %}
        {{user.username}} doesn't
        {% endif %}
        have any uploaded sounds awaiting moderation.</p>
    {% endfor %}

    {% if show_pagination %}
        {% show_paginator paginator page current_page request "moderation ticket" %}
    {% endif %}

    {% if moderators_version %}
        <script type="text/javascript">
            $(document).ready(function (){
                var loadUrl = '{% url "tickets-user-annotations" 0 %}'.replace('0', ''+ {{ user.id }});
                $('#user-annotations-section').load(loadUrl);
            });
        </script>
        <div id="user-annotations-section"></div>
    {% endif %}

{% endblock %}
