{% extends "accounts/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}Sounds pending moderation{% endblock title %}
{% block section_content %}

    <h2>Sounds waiting moderation</h2>

    {% if show_pagination %}
        {% show_paginator paginator page current_page request "moderation ticket" %}
    {% endif %}

    {% for ticket, sound, comments in page.object_list %}

        <div id="pending-ticket">

            <h3>Moderation ticket <a href="{% url tickets-ticket ticket.key %}">#{{ticket.id}}</a></h3>
            {% with comments|first as last_comment %}
                {% ifnotequal last_comment.sender_id user.id %}
                    <p id="user-do-sth">This ticket is waiting for your response.</p>
                {% endifnotequal %}
            {% endwith %}
            {% display_sound sound %}

        </div>
        <div id='last-ticket-comments'>
            <p>Last comment{{ comments|length|pluralize}}:
                <ul>
                    {% for comment in comments %}
                        <li><a href="{% url account comment.sender %}">{{ comment.sender }}</a> <span id="time-since">({{ comment.created|timesince}} ago)</span>: <i>{{ comment.text }}</i></li>
                    {% endfor %}
                </ul>
            </p>
        </div>

    {% empty %}
        <p>Currently, you don't have any sounds pending moderation. If you have recently uploaded files, they are probably still in the processing phase and will appear here soon...</p>
    {% endfor %}

    {% if show_pagination %}
        {% show_paginator paginator page current_page request "moderation ticket" %}
    {% endif %}

{% endblock %}