{% load filefunctions %}
{% if not non_recursive %}
    {% if file.is_dir %}
    <li class="dirnode">{{file.name}} (<a id="select_all" href="#" onclick="select_ul(this)">select all</a>)
        <ul>
        {% for child in file.children %}
            {% show_file child %}
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li class="filenode">
        <span class="filename">
            <input class="filecheckbox" type="checkbox" name="{{file.id}}" onchange="checkboxChange(this);"><strong>{{file.name}}</strong>
        </span>
    </li>
    {% endif %}
{% else %}
    {% if file.children %}
        <ul> <a id="select_all" href="#" onclick="select_ul(this)">select all</a>
        {% for child in file.children %}
            <li class="filenode">
                <span class="filename">
                    <input class="filecheckbox" type="checkbox" name="{{child.id}}" onchange="checkboxChange(this);"><strong>{{child.name}}</strong>
                </span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}