{% extends "accounts/_section.html" %}

{% block title %}registration{% endblock %}

{% block section_content %}
<script type="text/javascript">
    $(function () {
    	$("#id_username").focus()
    });
    $(document).ready(function(){
      if (!($('#username_check')).length) {
        $('#id_username').parent().append('<div id="username_check" style="color: #bd2d33;font-style: italic;"></div>');
      }

      $("#id_username").focusout(function(){
        $.get('{% url "check_username" %}', 
            {'username': $("#id_username").val()}, 
            function(data){
              if (!data.result) {
                $('#username_check').html('The username is not available');
              } else {
                $('#username_check').html('');
              }
            }, "json" );
      });
    });    
</script>

<h1>Registration</h1>

    <h3>
    We check uploads and forum posts for spam before others can see them. Any user that posts spam will be deleted.
    </h3>

    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey={{ form.captcha_key}}></div>
        <p class="help-block"> {{ form.recaptcha_response.errors }} </p>
        <input type="submit" value="Register" />
    </form>

{% include "accounts/reminders.html" %}

{% endblock %}
