{% extends "accounts/_section.html" %}

{% block title %}registration{% endblock %}

{% block section_content %}
<script type="text/javascript">
    $(function () {
    	$("#id_username").focus()
    });
</script>

<h1>Registration</h1>

    <h3>
    We check everything for spam before others can see it. All user that post spam will be deleted.
    </h3>


<form method="post" action=".">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Register" />
</form>

{% include "accounts/reminders.html" %}

{% endblock %}