{% extends "base.html" %}
{% load absurl %}

{% block title %}upload files{% endblock %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
    #upload-progress-container
    {
        border: 1px solid #aaa;
        margin-top: 20px;
        background: #eee;
        padding: 5px;
    }

    div.queue-container
    {
        padding: 1px;
        margin-left: 4px; 
    }

    div.progress-container
    {
        float: left;
        border: 1px solid #aaa;
        width: 250px;
        margin-top:8px;
        margin-right: 5px;
    }
    div.progress
    {
        height:9px;
        width: 0%;
        background-image: url('{{media_url}}images/progress.gif');
        background-repeat: repeat-x;
    }

    div.progress-done
    {
        height:9px;
        background-color: #fdc735;
        background-image: none;
        width: 100%;
    }

    div.progress-failed
    {
        height:9px;
        background-color: #bd2d33;
        background-image: none;
        width: 100%;
    }

    span.cancel-container img
    {
        vertical-align:bottom;
    }
    span.filename
    {
        font-size: 12px;
        margin-top: 2px;
    }
    </style>
{% endblock %}


{% block content %}

<div id="upload_page">
<h1>Upload files</h1>
<p>
    Important:
</p>
<ul>
    <li>Please only post <strong>legal files</strong>: sounds recorded recorded or created by you. For more details see the <a href="{% url wiki-page "what-is-legal" %}">help pages</a> on what you can and can't upload.</li>
    <li>Freesound.org is for <strong>sounds</strong>, if your file is a song/composition upload it to <a href="http://www.ccmixter.org">http://www.ccmixter.org</a></li>
    <li>All files are <strong>moderated</strong>, if you upload illegal files or files that don't follow the <a href="{% url wiki-page "what-is-legal" %}">guidelines</a> they will be removed in the moderation process...</li>
    <li>We prefer <strong>wav, aif and flac</strong> but we support ogg and mp3 too.</li>
</ul>

<a href="#"><img src="../../media/images/upload_sounds.png" width="160" height="31" alt="Upload Your Sounds Link" /></a>

<script type="text/javascript">
	swfobject.registerObject("uploader", "10.1");
	
    function uploadError(fileId, message)
    {
        if (fileId < 0)
            alert("Upload error: " + message);
        else
        {
            $('#file_' + fileId).find(".status").html("Failed: " + message);
        	$('#file_' + fileId).find(".cancel-container").hide();
        	$('#file_' + fileId).find(".progress").removeClass('progress').addClass('progress-failed').css("width", "100%");
    	}
    }

    function uploadAdd(fileId, filename)
    {
        $("#upload-progress-container").show().append(
            	'<div id="file_' + fileId + '" class="queue-container">\
                    <div class="progress-container">\
                        <div class="progress"></div>\
                    </div>\
                    <!-- <span class="cancel-container"><img src="{{media_url}}images/cancel.png" /></span> -->\
                    <span class="filename"><strong class="status">queued</strong>: ' + filename + '</span>\
                </div>');

        /*$('#file_' + fileId).select('span.cancel-container img').click(function (event) {
            swfu.cancelUpload(file.id);
        });*/
    }

    function uploadProgress(fileId, percentage)
    {
        $('#file_' + fileId).find(".status").html("uploading");
        $('#file_' + fileId).find('.progress').css("width", percentage + "%");
    }

    function uploadDone(fileId)
    {
        $('#file_' + fileId).find(".status").html('done');
        //$('#file_' + fileId).select("span.cancel-container").hide();
        $('#file_' + fileId).find(".progress").removeClass('progress').addClass('progress-done').css("width", "100%");
    }
</script>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="128" height="128" id="uploader">
	<param name="movie" value="{{media_url}}swf/upload.swf" />
    <param name="flashvars" value="sessionid={{request.session.session_key}}" />
    <param name="AllowScriptAccess" value="always" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{media_url}}swf/upload.swf" width="128" height="128">
    	<param name="flashvars" value="sessionid={{request.session.session_key}}" />
    	<param name="AllowScriptAccess" value="always" />
        <!--<![endif]-->
        <p>
            If you install <a href="http://www.adobe.com/go/getflashplayer">flash player 10</a> you will be able to upload multiple files in one go!<br/>
        </p>
        <form method="POST" enctype="multipart/form-data" action="/home/upload/file/"> 
            <input type="file" name="file" /><br/>
            <input type="submit" value="upload" />
        </form> 
        <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>

<div id="upload-progress-container" style="display:none">
</div>

<br><br>
<h1>Describe</h1>

<a href="{% url accounts-describe %}"><img src="../../media/images/describe_sounds.png" width="160" height="31" alt="Describe Your Sounds Link" /></a>

<p>Before your sounds show up on the web site you'll have to <a href="{% url accounts-describe %}">describe</a> them.

</div><!-- #upload_page -->

{% endblock %}