{% extends "base.html" %}
{% load absurl %}
{% load url from future %}

{% block title %}upload files{% endblock %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
    #upload-progress-container
    {
        border: 1px solid #aaa;
        margin-top: 20px;
        background: #eee;
        padding: 5px;
        width:650px;
    }

    div.queue-container
    {
        padding: 1px;
        margin-left: 4px;
    }

    div.progress-container
    {
        clear:both;
        float: left;
        border: 1px solid #aaa;
        width: 250px;
        margin-top:8px;
        margin-right: 5px;
    }
    div.progress
    {
        height:9px;
        width: 0%;
        background-image: url('{{media_url}}images/progress.gif');
        background-repeat: repeat-x;
    }

    div.progress-done
    {
        height:9px;
        background-color: #fdc735;
        background-image: none;
        width: 100%;
    }

    div.progress-failed
    {
        height:9px;
        background-color: #bd2d33;
        background-image: none;
        width: 100%;
    }

    span.cancel-container img
    {
        vertical-align:bottom;
    }
    span.filename
    {
        font-size: 12px;
        margin-top: 2px;
    }
    .please_note
    {
        width: 200px;
        height: 160px;
        background-color: #fefefe;
        padding: 0 10px 0 10px;
        margin: 5px;
        float: left;
        border: 1px solid #eee;
        border-top: 0px;
    }
    .please_note h3 {
        margin-left: 5px;
    }

    #describe_button_block{
        display:block;
        text-align:center;
        float:right;
        margin-right:120px;
        width:320px;
        color:gray;

    }
    #upload_button_block{
        display:block;
        text-align:center;
        float:left;
        margin-left:120px;
        width:320px;
        color:gray;

    }

    #buttons_container
    {

        width: 100%;
        height: 130px;
    }

    .html_upload_form{
    	margin-left: 0px;
		padding: 0px;
		border-left: none;
		background: white;
		margin-bottom: 0px;
		text-align:left;
    }
    .centered{
    	text-align:center;
    }

    </style>
{% endblock %}

{% block content %}

<div id="upload_page">
{% comment %}<h1>Upload files</h1>{% endcomment %}
<p>
    <em><h2>Please note before uploading..</h2></em>
</p>
<div>
    <div class="please_note content_box">
        <h3>Legality</h3>
        <p>Only upload sounds created or recorded <strong>by you</strong>. <em><a href="{% url "wiki-page" "faq" %}#sounds-4">More details...</a></em>
    </div>
    <div class="please_note content_box">
        <h3>Sounds only</h3>
        <p>Freesound is for <strong>sounds</strong> only. Self-created <strong>music fragments/samples/loops</strong> are also ok, but not
            complete songs or compositions.
    </div>
    <div class="please_note content_box">
        <h3>Moderation</h3>
        <p>All files are <strong>moderated</strong>. If you upload illegal files or files that don't follow the <a href="{% url "wiki-page" "faq" %}#sounds">guidelines</a> they will be removed.
    </div>
    <div class="please_note content_box">
        <h3>Formats</h3>
        <p>We prefer <strong>wav, aif and flac</strong>, but we support ogg and mp3 too. For very large files please use some compressed format. Uploading more than 1GB at once will fail.
    </div>

    <br style="clear: both;">
</div>
<br>
<br>



<div id="buttons_container">
<div id="upload_button_block">

<script type="text/javascript">
    var queue = Array();

    swfobject.registerObject("uploader", "10.1");

    function removeFromQueue(fileId){
        queue.splice(queue.indexOf(fileId),1)
        if(queue.length==0){
            $("#describe_img").attr("src", "{{media_url}}images/describe_sounds.png");
            $("#describe_a").mouseover(function () {$(this).css('cursor', 'pointer')});
            $("#describe_a").attr("href", "{% url "accounts-describe" %}");
        }
    }

    function uploadError(fileId, message)
    {
        if (fileId < 0)
            alert("Upload error: " + message);
        else
        {
            $('#file_' + fileId).find(".status").html("Failed: " + message);
            $('#file_' + fileId).find(".cancel-container").hide();
            $('#file_' + fileId).find(".progress").removeClass('progress').addClass('progress-failed').css("width", "100%");
            removeFromQueue(fileId);
        }
    }

    function uploadAdd(fileId, filename)
    {
        $("#upload-progress-container").show().append(
                '<div id="file_' + fileId + '" class="queue-container">\
                    <div class="progress-container">\
                        <div class="progress"></div>\
                    </div>\
                    <!-- <span class="cancel-container"><img src="{{media_url}}images/cancel.png" /></span> -->\
                    <span class="filename"><strong class="status">queued</strong>: ' + filename + '</span>\
                </div>');
        queue.push(fileId);
        $("#describe_img").attr("src", "{{media_url}}images/describe_sounds_disabled.png");
        $("#describe_a").mouseover(function () {$(this).css('cursor', 'default');});
        $("#describe_a").attr("href", "#");

        /*$('#file_' + fileId).select('span.cancel-container img').click(function (event) {
            swfu.cancelUpload(file.id);
        });*/
    }

    function uploadProgress(fileId, percentage)
    {
        $('#file_' + fileId).find(".status").html("uploading");
        $('#file_' + fileId).find('.progress').css("width", percentage + "%");
    }

    function uploadDone(fileId)
    {
        $('#file_' + fileId).find(".status").html('done');
        //$('#file_' + fileId).select("span.cancel-container").hide();
        $('#file_' + fileId).find(".progress").removeClass('progress').addClass('progress-done').css("width", "100%");
        removeFromQueue(fileId);

    }


</script>
  {% if no_flash %}
        <form method="POST" enctype="multipart/form-data" action="/home/upload/html/" class="html_upload_form"
        onSubmit="$('#html_upload_button').attr('disabled', 'true');">{% csrf_token %}
        {{form.as_p}}
         <input type="submit" value="Upload file" id="html_upload_button" />
        </form>
        {% if success %}
<p>
<br/>
<b>{{uploaded_file}} uploaded successfully</b>
</p>
{% endif %}


{% if error %}
<p>
<b>There was an error uploading the file</b>
</p>
{% endif %}
{% else %}
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="160" height="31" id="uploader">
    <param name="movie" value="{{media_url}}swf/upload.swf" />
    <param name="flashvars" value="sessionid={{request.session.session_key}}" />
    <param name="AllowScriptAccess" value="always" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="{{media_url}}swf/upload.swf" width="160" height="31">
        <param name="flashvars" value="sessionid={{request.session.session_key}}" />
        <param name="AllowScriptAccess" value="always" />
        <!--<![endif]-->
        <p>
            If you install <a href="http://www.adobe.com/go/getflashplayer">flash player 10</a> you will be able to upload multiple files in one go!<br/>
        </p>
        <form method="POST" enctype="multipart/form-data" action="/home/upload/file/">
            <input type="hidden" name="sessionid" value="{{ request.session.session_key }}" />
            <input type="file" name="file" /><br/>
            <input type="submit" value="upload" />
        </form>
        <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
</object>
<p>
<img src="{{media_url}}/images/fugue-icons/icons/exclamation.png"> <span style="color:black">Don't leave before upload finishes!</span><br/>
Hint: you can upload multiple files at once</p>
{% endif %}

</div>

<div id="describe_button_block">

<p><a id="describe_a" href="{% url "accounts-describe" %}"><img id="describe_img" src="{{media_url}}images/describe_sounds.png" width="160" height="31" alt="Describe Your Sounds Link" /></a></p>
<p>Before your sounds show up on the web site you'll have to describe them</p>
</div>
</div>
<div id="upload-progress-container" style="display:none">
<span style="clear:both"/>
</div>
<br/>


<p class="centered">
{% if no_flash %}
<a href="{% url "accounts-upload" %}"> switch to flash version </a>
{% else %}
<a href="{% url "accounts-upload-html" %}"> switch to non-flash version </a>
{% endif %}
</p>
</div><!-- #upload_page -->
{% endblock %}
