body
{
    margin: 5px;
}

div.preview
{
    margin-bottom: 15px;
    background-color: black;
    width: 84px;
    height: 64px;
}

div.large {
    width: 358px;
    height: 188px;
}

div.preview img
{
    display: block;
    width: 84px;
    height: 45px;
}

div.large img
{
    width: 358px;
    height: 169px;
}

div.progress-container
{
    font-size: 0.1em;
    width: 82px;
    background-color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.large div.progress-container {
    width: 356px;
}

div.progress
{
    width: 0;
    height: 8px;
}

div.loaded
{
    width: 0;
    z-index: 5;
    background-color:#222;
}

div.position
{
    width: 0;
    z-index: 10;
    background-color: white;
    margin-top: -8px;
}

div.play-controls
{
    width: 84px;
    height: 11px;
    background-color: black;
}

div.large div.play-controls {
    width: 358px;
}

div.button
{
    height: 11px;
    width: 11px;
    font-size: 0.1em;
    left: 0px;
    bottom: 0px;
    float: left;
}

div.loop {
    background-image: url("loop3.gif");
}

div.play {
    background-image: url("play.gif");
}

div.rewind {
    background-image: url("rewind2.gif")
}

div.on {
    background-position: 0px -11px;
}

div.time-display
{
    float: right;
    font-size: 9px; 
    height: 11px;
    background-color: black;
    color: white;
}
