{% load bst_category %}

<div class="bst-category-field">

    {{ form.bst_category.errors }}
    <div><label>Category</label></div>
    {{ form.bst_category.as_hidden }}

    <div class="top-buttons v-spacing-top-2 line-height-50">
        {% for value, label in form.fields.bst_category.choices %}
            {% if "-" not in value %}
                <button type="button" class="btn no-hover {% if value == form.bst_category.value|get_bst_taxonomy_top_level_category_key %}btn-primary{% else %}btn-inverse{% endif %} tooltip_top" data_value="{{ value }}">
                    {{ label }}
                    {% for item in bst_taxonomy %}
                        {% if item.key == value %}
                            <span class="tooltiptext">{{ item.description }}</span>
                        {% endif %}
                    {% endfor %}
                </button>
            {% endif %}
        {% endfor %}
    </div>

    <div class="subcategory-buttons v-spacing-top-2 display-none">
        <div><label>Subcategory</label></div>
        <div class="v-spacing-top-2 line-height-50">
            {% for value, label in form.fields.bst_category.choices %}
                {% if "-" in value %}
                    <button type="button" class="btn no-hover {% if value == form.bst_category.value %}btn-primary{% else %}btn-inverse{% endif %} btn-subcategory tooltip_top" top_level="{{ value|get_top_level_bst_category }}" data_value="{{ value }}">
                        {{ label }}
                        {% for item in bst_taxonomy %}
                            {% if item.key == value %}
                                <span class="tooltiptext">{{ item.description }}</span>
                            {% endif %}
                        {% endfor %}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="v-spacing-top-4">
        <span class="helptext">{{ form.bst_category.help_text|safe }}</span>
    </div>
</div>