{% load static %}

<footer class="bw-footer padding-7 v-spacing-top-6">
  <div class="center">
    <div class="footer-logo-container">
        <div class="row">
            <div class="col-sm-8">
                <a href="https://www.upf.edu/web/mtg" class="no-hover">
                    <img class="w-100" src="{% static 'bw-frontend/public/upf_logo.png' %}" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.upf.edu/web/phonos/" class="no-hover">
                    <img class="w-100" src="{% static 'bw-frontend/public/phonos_logo.png' %}" />
                </a>
            </div>
        </div>
    </div>
  </div>
  <div class="row v-spacing-top-3 center">
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}about/">About Freesound</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}tos_web/">Terms of use</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}privacy/">Privacy</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}cookies_policy/">Cookies</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}developers/">Developers</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}faq/">Help</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'donors' %}">Donations</a>
    <a class="bw-link--grey h-spacing-1" href="https://blog.freesound.org">Blog</a>
    <a class="bw-link--grey h-spacing-1" href="https://labs.freesound.org">Freesound Labs</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}tshirt/">Get your t-shirt!</a>
  </div>
  <div class="center v-spacing-top-3">
    <span>© {% now "Y" %} Universitat Pompeu Fabra</span>
  </div>
</footer>