{% load cache %}
{% load bw_templatetags %}

{% if request.user.is_authenticated %}
    {% cache 3600 bw_user_header request.user.id %}
        <li class="bw-nav__action dropdown">
            <a class="bw-link--grey avatar bw-nav__menu--avatar-with{% if not num_messages %}out{% else %}-message{% endif %}-notifications dropdown-toggle no-hover cursor-pointer" aria-label="User menu" id="avatar-menu"
               data-toggle="dropdown" tabindex="0">
                {% bw_user_avatar request.user.profile.locations.avatar.S.url request.user.username 32 %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="avatar-menu">
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'account' request.user.username %}">Your profile</a>
                </li>
                <li class="bw-nav__action dropdown-item d-lg-none">
                    <a class="bw-link--black" href="{% url 'accounts-upload' %}">Upload sounds</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'accounts-manage-sounds' 'published' %}">Manage sounds</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'collections' %}">Your collections</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'bookmarks' %}">Bookmarks</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'stream' %}">Sound stream</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'accounts-attribution' %}">Attribution</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'messages' %}">Messages {% if num_messages %}<span class="text-red">({{ num_messages }})</span>{% endif %}</a>
                </li>
                {% if perms.tickets.can_moderate %}
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'tickets-moderation-home' %}">Moderation {% if new_tickets_count %}<span class="text-red">({{ new_tickets_count }} new)</span>{% endif %}</a>
                </li>
                {% endif %}
                {% if perms.forum.can_moderate_forum %}
                    <li class="bw-nav__action dropdown-item">
                        <a class="bw-link--black" href="{% url 'forums-moderate' %}">Moderate forum {% if new_posts_pending_moderation %}<span class="text-red">({{ new_posts_pending_moderation }})</span>{% endif %}</a>
                    </li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li class="bw-nav__action dropdown-item">
                        <a class="bw-link--black" href="{% url 'monitor-stats' %}">Monitor</a>
                    </li>
                {% endif %}
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--grey" href="{% url 'accounts-edit' %}">Account settings</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--red" href="{% url 'logout' %}?next=/">Logout</a>
                </li>
            </ul>
        </li>
        <li class="bw-nav__action d-none d-lg-flex">
            <a class="btn-secondary no-hover" href="{% url 'donate' %}" role="menuitem">Donate</a>
        </li>
        <li class="bw-nav__action d-none d-lg-flex">
            <a class="btn-primary no-hover" href="{% url 'accounts-upload' %}" role="menuitem">Upload sounds</a>
        </li>
    {% endcache %}
{% else %}
    <li class="bw-nav__action">
        <button class="btn-secondary" data-toggle="login-modal" data-target="#loginModal" role="menuitem">Log in</button>
    </li>
    <li class="bw-nav__action d-none d-lg-flex">
        <button class="btn-primary" data-toggle="registration-modal" data-target="#registerModal" role="menuitem">Join</button>
    </li>
{% endif %}
