{% comment %}This is the standard navbar which shows, by default, the waveform bit of the Freesound logo and a
 search input box. Some pages can implement their customized versions of the navbar.{% endcomment %}
<nav class="bw-nav">
    <div class="container bw-nav__container">
        <form method="get" action="/search/">
        <div class="bw-nav__logo-search-container">
            <div class="bw-nav__logo">
                <a href="/" class="no-hover"></a>
            </div>
            <div class="input-wrapper">
                <input name="q" type="search" placeholder="Search sounds..." autocomplete="off" />
            </div>
        </div>
        </form>
        <ul class="bw-nav__actions" role="menu">
            {% include 'molecules/navbar_common_actions.html' %}
            {% include 'molecules/navbar_user_section.html' %}
        </ul>
    </div>
</nav>