<div class="tags-field">
    {{ form.tags.errors }}
    {{ form.tags.label_tag }}
    {{ form.tags.as_hidden }}
    <div class="typeahead-wrapper">
        <div class="tags-input-wrapper">
            <input type="text" class="tags-input v-spacing-1 padding-1" placeholder="Type tags here..." data-typeahead="true" data-typeahead-suggestions-url="{% url 'recommend-tags' %}" autocomplete="off"/>
        </div>
    </div>
    <span class="helptext">{{ form.tags.help_text|safe }}</span>
    <div class="text-light-grey v-spacing-top-negative-2 v-spacing-3">If your sound was <b>created using Generative AI</b> models, please make sure to add the tag 
        <span class="bg-white text-black border-grey-light text-center padding-1 no-text-wrap no-letter-spacing">GenAI</span>
        and indicate the model in the desscription below.
    </div>
</div>
