{% extends "molecules/modal_base.html" %}

{% block id %}confirmationModal{% endblock %}
{% block aria-label %}Confirmation modal{% endblock %}

{% block body %}
    <div class="text-center">
        <h5 id="confirmationModalTitle">Default title</h5>
        <div id="confirmationModalHelpText" class="v-spacing-top-2"></div>
        <div class="row v-spacing-top-4 v-spacing-3">
            <div class="col-4 offset-2">
                <form id="confirmationModalAcceptSubmitForm" method="post" action="">{% csrf_token %}
                    <button type="submit" class="btn-primary">Yes</button>
                </form>
            </div>
            <div class="col-4">
                <button class="btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}
