{% load static %}

<footer class="bw-footer bg-black padding-7 v-spacing-top-7">
  <div class="center">
    <div class="footer-logo-container">
        <div class="row">
            <div class="col-sm-8">
                <a href="https://www.upf.edu/web/mtg" class="no-hover">
                    <img class="w-100" src="{% static 'bw-frontend/dist/upf_logo.06573867.png' %}" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.upf.edu/web/phonos/" class="no-hover">
                    <img class="w-100" src="{% static 'bw-frontend/dist/phonos_logo.23e1ba60.png' %}" />
                </a>
            </div>
        </div>
    </div>
  </div>
  <div class="row v-spacing-top-4 center">
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}about/">About Freesound</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'donors' %}">Donors</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}tos/">Help</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}developers/">Developers</a>
    <a class="bw-link--grey h-spacing-1" href="https://blog.freesound.org">Freesound Blog</a>
    <a class="bw-link--grey h-spacing-1" href="https://labs.freesound.org">Freesound Labs</a>
    <a class="bw-link--grey h-spacing-1">Get your Freesound T-shirt</a>
    <a class="bw-link--grey h-spacing-1" href="{% url 'wiki' %}tos_web/">Terms of use</a>
  </div>
  <div class="center v-spacing-top-4">
    <span>© {% now "Y" %}</span>
  </div>
  <div class="center">
    <span>Freesound</span>
  </div>

</footer>