{% extends "molecules/modal_base.html" %}

{% block id %}loginModal{% endblock %}
{% block aria-labelledby %}loginModalLabel{% endblock %}

{% block body %}
    <div class="text-center">
        <h5>Log in to Freesound</h5>
        <form method="post" action="{% url 'login' %}">{% csrf_token %}
            {{ login_form }}
            <input type="hidden" name="next" value="{{ next_path }}" />
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <div class="v-spacing-top-3">
        <a data-link="forgottenPasswordModal">Problems logging in?</a>
    </div>
{% endblock %}

{% block extra %}
    <a data-link="registerModal">Don't have an account? Join now</a>
{% endblock %}
