{% load bw_templatetags %}

<div class="modal {% block extra-class %}{% endblock %}" id="{% block id %}{% endblock %}" tabindex="-1" role="dialog" aria-labelledby="{% block aria-labelledby %}{% endblock %}" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal" aria-label="Close">
                        {% bw_icon 'close' %}
                    </span>
                </div>
                <div class="modal-body">
                    {% block body %}{% endblock %}
                </div>
                <div class="modal-footer">
                    {% block footer %}{% endblock %}
                </div>
                <div class="modal-extra-info">
                    {% block extra %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>