<nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
        <div class="bw-nav__logo-search-container">
            <div class="bw-nav__logo">
                <a href="/" class="no-hover"></a>
            </div>
            <div class="input-wrapper">
                <input type="search" class="bw-nav__search" placeholder="Search sounds..." />
            </div>
        </div>
        <ul class="bw-nav__actions">
            {% include 'molecules/navbar_common_actions.html' %}
            {% include 'molecules/navbar_user_section.html' %}
        </ul>
    </div>
</nav>