{% load cache %}

{% if request.user.is_authenticated %}
    {% cache 3600 bw_user_header request.user.id %}
        <li class="bw-nav__action dropdown">
            <a class="bw-link--grey avatar bw-nav__menu--avatar-with{% if not num_messages %}out{% endif %}-notifications dropdown-toggle no-hover" id="avatar-menu"
               aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                <img src="{{ request.user.profile.locations.avatar.M.url }}" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="avatar-menu">
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'account' request.user.username %}">View profile</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'accounts-home' %}">Manage uploads</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'bookmarks-for-user' request.user.username %}">Bookmarks</a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'messages' %}">My messages
                        {% if num_messages %}<span class="text-red">({{ num_messages }})</span>{% endif %}
                    </a>
                </li>
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'accounts-edit' %}">Account settings</a>
                </li>
                {% comment %}
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--black" href="{% url 'donate' %}">Donate</a>
                </li>
                {% endcomment %}
                <li class="bw-nav__action dropdown-item">
                    <a class="bw-link--grey" href="{% url 'logout' %}?next=/?fend=bw">Logout</a>
                </li>
            </ul>
        </li>
        <li class="bw-nav__action">
            <a class="no-hover" href="{% url 'donate' %}"><button class="btn-secondary">Donate</button></a>
        </li>
        <li class="bw-nav__action">
            <a class="no-hover" href="{% url 'accounts-upload' %}"><button class="btn-primary">Upload sound</button></a>
        </li>
    {% endcache %}
{% else %}
    <li class="bw-nav__action">
        <button class="btn-secondary" data-toggle="modal" data-target="#loginModal">Log in</button>
    </li>
    <li class="bw-nav__action">
        <button class="btn-primary" data-toggle="modal" data-target="#registerModal">Join</button>
    </li>
{% endif %}
