{% comment %}This is like the default navbar but has a different class for the logo section that will display the
version of the logo with text if the "bw-nav--expanded" is added to the navbar.{% endcomment %}
<nav class="bw-nav bw-nav--expanded">
    <div class="container bw-nav__container">
        <form method="get" action="{% url "sounds-search" %}">
        <div class="bw-nav__logo-search-container">
            <div class="bw-nav__logo-with-text">
                <a href="/" class="no-hover"></a>
            </div>
            <div class="input-wrapper">
                <input name="q" type="search" class="bw-nav__search" placeholder="Search sounds..." autocomplete="off" />
            </div>
        </div>
        </form>
        <ul class="bw-nav__actions">
            {% include 'molecules/navbar_common_actions.html' %}
            {% include 'molecules/navbar_user_section.html' %}
        </ul>
    </div>
</nav>