{% load rss %}
{% load util %}
{% get_rss rss_url as rss %}
<div class="v-spacing-6">
    <section class="border-grey-light">
        <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
                <div class="bw-carousel with-dots dots-distance-3">
                    {% for entry in rss.entries|slice:":5" %}
                        <div class="padding-5">
                            <h2 class="text-center v-spacing-2">{{entry.title|truncatewords:10}}</h2>
                            <p class="text-grey text-center">
                                {{entry.published_parsed|tuple_to_time|date:"F jS, Y"}}
                                {{entry.summary|safe|striptags|slice:":-24"|truncatewords:100}}
                            </p>
                            <div class="center">
                                <a class="no-hover" href="{{ entry.link }}"><button class="btn-primary h-spacing-2">Read more</button></a>
                                <a class="no-hover" href="https://blog.freesound.org"><button class="btn-inverse">More stories</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
