{% load bw_templatetags %}

{% if page_numbers|length > 1 %}

<ul class="bw-pagination_container">
    {% if page.has_previous %}
        <li class="bw-pagination_circle bw-pagination_direction"> <a href="{{ url_prev_page }}{% if anchor %}#{{anchor}}{% endif %}" class="bw-link--white no-hover" title="Previous Page">{% bw_icon 'arrow-left' 'white' %}</a> </li>
    {% endif %}

    {% if show_first %}
        <li class="first-page"><a href="{{ url_first_page }}{% if anchor %}#{{anchor}}{% endif %}" title="First Page">1</a></li>
        <li class="text-grey no-paddings">...</li>
    {% endif %}

    {% for num in page_numbers %}
        {% ifequal num current_page %}
            <li class="bw-pagination_circle bw-pagination_selected"><a class="text-white" href="{{ url }}{{ num }}{% if anchor %}#{{anchor}}{% endif %}" title="Page {{ num }}">{{ num }}</a></li>
        {% else %}
            <li><a href="{{ url }}{{ num }}{% if anchor %}#{{anchor}}{% endif %}" title="Page {{ num }}">{{ num }}</a></li>
        {% endifequal %}
    {% endfor %}

    {% if show_last %}
        {% if not last_is_next %}<li class="text-grey no-paddings">...</li>{% endif %}
        <li><a href="{{ url_last_page }}{% if anchor %}#{{anchor}}{% endif %}" title="Last Page">{{ paginator.num_pages }}</a></li>
    {% endif %}

    {% if page.has_next %}
        <li class="bw-pagination_circle bw-pagination_direction"> <a href="{{ url_next_page }}{% if anchor %}#{{anchor}}{% endif %}" class="bw-link--white no-hover" title="Next Page">{% bw_icon 'arrow' %}</a> </li>
    {% endif %}
</ul>

{% endif %}