{% load bw_templatetags %}
{% load sounds_selector %}
<div class="sources-field">
    {{ form.sources }}
    <div class="text-light-grey v-spacing-top-2">Use this section to indicate if there are <b>other sounds from Freesound</b> that were used to create this sound.</div>
    {% sounds_selector form.sound_sources_ids %}
    <div class="between v-spacing-top-2">
        <button class="btn-inverse" data-toggle="add-sounds-modal" data-selected-sounds-hidden-input-id="{{ form.sources.id_for_label }}" data-modal-url="{% url 'add-sounds-modal-sources' %}">{% bw_icon 'plus' %}Add {% if form.sources.value %}more{% else %}sound{% endif %} sources</button>
        <button class="btn-inverse">{% bw_icon 'trash' %}Remove selected sources</button>
    </div>
</div>