.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: $white;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  left: 0;
  box-shadow: $dropdown-shadow;
  width: 215px;
  max-height: 350px;
  overflow: auto;
  padding: 27px 29px 27px 32px;
  transform: translateX(-50%);
  z-index: get-z-index(dropdown);
  display: none;
  &.show {
    display: block;
  }
}

.dropdown-item {
  padding-top: 12px;
  padding-bottom: 12px;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
