a {
  text-decoration: none;
  color: $red;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    height: 1px;
    background: currentColor;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &.no-hover {
    &:before {
      display: none;
    }
  }

  @include active {
    &:before {
      opacity: 1;
    }
  }

  .dropdown-menu & {
    @include active {
      &:before {
        opacity: 0;
      }
    }
  }
}

.bw-link--grey {
  color: $navy-grey;

  @include active {
    color: $black;
  }
}

.bw-link--black {
  color: $black;

  .dropdown-menu & {
    @include active {
      color: $red;
    }
  }
}

.bw-link--white {
  color: $white;
}
