a {
  text-decoration: none;
  color: $red;
  position: relative;

  &:not(.no-hover) {
    @include border-bottom-on-hover;
  }

  .dropdown-menu & {
    @include active {
      &:before {
        opacity: 0;
      }
    }
  }
}

.bw-link--grey {
  color: $navy-grey;

  @include active {
    color: $black;
  }
}

.bw-link--black {
  color: $black;

  .dropdown-menu & {
    @include active {
      color: $red;
    }
  }
}

.bw-link--white {
  color: $white;
}
