markdown
pycrypto
BeautifulSoup
functional
FeedParser
scikits.audiolab
Pygments
python-cjson
python-memcached
django_piston
flup
django-extensions
django-debug-toolbar
Django>=1.2.1
numpy
psycopg2
akismet
#
# The packate for 'recaptcha-client' fails to install.
# See: http://code.google.com/p/recaptcha/issues/detail?id=55
# Install our own version.
http://cloud.github.com/downloads/bram/freesound/recaptcha-client-1.0.4-with.ez.setup.tar.gz
#
# jutda-helpdesk doesn't has a setup.py file so can't be installed
# with pip.
# Install our own version.
http://cloud.github.com/downloads/bram/freesound/jutda-helpdesk-r140.tar.gz