@import '~bootstrap/scss/mixins/_grid';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/mixins/_grid-framework';
@import '~bootstrap/scss/utilities/_display';
@import '../mixins/grid-compat';

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.relative {
  position: relative;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.middle {
  display: flex;
  align-items: center;
}

.start {
  display: flex;
  align-items: start;
}

.between {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.bw-sticky-top {
  position: sticky;
  top: 120px;
}

.col-extra-left-padding-middle-md {
  @include md-and-above {
    padding-left: 30px !important;
  }
}

.col-extra-left-padding-large-md {
  @include md-and-above {
    padding-left: 40px !important;
  }
}

.col-extra-right-padding-middle-lg {
  @include md-and-above {
    padding-right: 30px !important;
  }
}

@include make-grid-columns();
