@import 'node_modules/bootstrap/scss/mixins/_grid';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid-framework';
@import 'node_modules/bootstrap/scss/utilities/_display';

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}

.relative {
  position: relative;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.middle {
  display: flex;
  align-items: center;
}

.start {
  display: flex;
  align-items: start;
}

.between {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.bw-sticky-top {
  position:sticky;
  top:120px;
}

.compensate-col-gutter {
  margin-left: -$grid-gutter-width / 2;
}

@include make-grid-columns();
