/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/all.css);
/* line 10, ../sass/screen.scss */
#account_info_left {
  float: left;
  width: 150px;
  text-align: center;
  margin-top: 10px;
}

/* line 17, ../sass/screen.scss */
.account_avatar {
  border-radius: 2px;
}

/* line 21, ../sass/screen.scss */
#follow_button {
  margin: 5px;
  width: 100px;
}

/* line 26, ../sass/screen.scss */
#follow_tag_link {
  font-size: 10px;
}

/* line 31, ../sass/screen.scss */
#social h3:first-child {
  margin: 0px;
}
/* line 34, ../sass/screen.scss */
#social h3 {
  margin: 0px;
}
/* line 37, ../sass/screen.scss */
#social ul {
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
}
/* line 41, ../sass/screen.scss */
#social ul li {
  display: inline;
  font-size: 10px;
}
/* line 44, ../sass/screen.scss */
#social ul li a {
  font-size: 10px;
}

/* line 51, ../sass/screen.scss */
.tagcloud {
  margin-bottom: 20px;
}

/* line 55, ../sass/screen.scss */
#follow_tags_link {
  float: right;
}

/* line 59, ../sass/screen.scss */
#follow_tags {
  font-size: 11px;
  font-weight: bold;
}
/* line 62, ../sass/screen.scss */
#follow_tags li {
  margin-bottom: 5px;
}

/* line 67, ../sass/screen.scss */
#follow_browse_tags {
  float: right;
  max-width: 310px;
}
/* line 70, ../sass/screen.scss */
#follow_browse_tags .tags {
  margin-bottom: 0px;
  max-width: 310px;
}
/* line 74, ../sass/screen.scss */
#follow_browse_tags .tag_group {
  float: right;
  margin-right: 0px;
}

/* line 80, ../sass/screen.scss */
#now_following_tags_span {
  font-size: 11px;
  font-style: italic;
  float: right;
  width: 310px;
  text-align: right;
  margin-bottom: 5px;
}

/* line 89, ../sass/screen.scss */
#follow_tags_button {
  float: right;
}

/* line 93, ../sass/screen.scss */
#following_tags, #follow_browse_tags, #stream_following_tags {
  padding: 0px;
  margin: 0px;
}
/* line 96, ../sass/screen.scss */
#following_tags .tags li a, #follow_browse_tags .tags li a, #stream_following_tags .tags li a {
  margin-bottom: -20px;
  background-image: url(../images/tag_edge_group.png);
  font-size: 10px;
  color: #000;
  font-weight: normal;
}
/* line 102, ../sass/screen.scss */
#following_tags .tags li a:hover, #follow_browse_tags .tags li a:hover, #stream_following_tags .tags li a:hover {
  text-decoration: none;
}

/* line 109, ../sass/screen.scss */
#following_tags .tag_group {
  cursor: pointer;
}

/* line 114, ../sass/screen.scss */
#follow_tags_error_message {
  color: red;
  font-size: 10px;
  display: none;
}

/* line 120, ../sass/screen.scss */
.tag_group {
  background: #f4f4f4;
  border-radius: 5px;
  text-align: justify;
  float: left;
  padding: 2px;
  margin: 0px 6px 6px 0px;
}

/* line 129, ../sass/screen.scss */
.tagcloud {
  border-radius: 5px;
}

/* line 133, ../sass/screen.scss */
.stream_box {
  width: 944px;
  background: url(../images/sub_sidebar_header_full_box_bg.png) no-repeat top;
  margin: 0;
  maring-left: 1px;
  padding: 0px;
  /*font-size: 11px;*/
}
/* line 139, ../sass/screen.scss */
.stream_box h3 {
  margin-left: 0;
  padding: 0px 18px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: -6px;
  padding-top: 1px;
  line-height: 30px;
  color: #AB4646;
}

/* line 153, ../sass/screen.scss */
.left {
  width: 600px;
  /*border-right: 1px solid red;*/
  float: left;
  margin-bottom: 40px;
  margin-left: 20px;
}

/* line 161, ../sass/screen.scss */
.right {
  /*border: 1px solid green;*/
  float: right;
  text-align: left;
  margin: 0 auto;
  width: 320px;
}

/* line 169, ../sass/screen.scss */
#date_pickers {
  display: inline-block;
}
/* line 171, ../sass/screen.scss */
#date_pickers label {
  display: inline-block;
  font-size: 11px;
}
/* line 175, ../sass/screen.scss */
#date_pickers input {
  font-size: 11px;
  margin-right: 3px;
}
/* line 179, ../sass/screen.scss */
#date_pickers .ui-datepicker-trigger {
  /*padding-top: 5px;*/
}
/* line 182, ../sass/screen.scss */
#date_pickers select {
  display: inline-block;
}
/* line 185, ../sass/screen.scss */
#date_pickers #lbl_date_from, #date_pickers #lbl_date_to {
  margin-left: 20px;
}

/* line 190, ../sass/screen.scss */
#date_submit {
  margin-left: 10px;
}

/* line 194, ../sass/screen.scss */
#stream_period {
  font-size: 13px;
}

/* line 198, ../sass/screen.scss */
#stream_users .active_user {
  width: 200px;
  float: left;
  margin-left: 20px;
}

/* line 205, ../sass/screen.scss */
#stream_tags .active_user {
  margin-left: 20px;
}
/* line 208, ../sass/screen.scss */
#stream_tags .people_user_info {
  float: left;
  margin-right: 40px;
  padding-top: 7px;
}
/* line 213, ../sass/screen.scss */
#stream_tags .tag_group {
  margin-bottom: 20px;
}

/* line 218, ../sass/screen.scss */
.link-top {
  font-size: 8px;
  margin-left: 20px;
}

/* line 223, ../sass/screen.scss */
.right .active_user {
  margin-bottom: 0px;
  margin-top: 10px;
}

/* line 228, ../sass/screen.scss */
.link-to-section {
  float: right;
  margin-top: -38px;
  font-size: 10px;
  margin-right: 20px;
}
