body, div, dl, dt, dd, ul, ol, li, h1, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
fieldset, img { border: 0; }
caption, th { text-align: left; }
q:before, q:after { content:''; }

/* Global Formatting
------------------------------------------------------*/
body {
	background: url(images/body.png) repeat-x top #CECECE;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	margin-top: 7px;
}
a {
	color: #2C74C9;
	text-decoration: none;
}
a:hover {
	color: #19507E;
	text-decoration: underline;
}
.clear {
	clear: both;
}
a.external_link {
	background: url(images/external_link_button.png) no-repeat top;
	display: block;
	width: 146px;
	height: 31px;
	line-height: 31px;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
	padding: 0 0 0 13px;
	margin: 3px 0 0 166px;
}
a.external_link:hover {
	background: url(images/external_link_button.png) no-repeat bottom;
}

/* General Mark-up Styling
------------------------------------------------------*/
h1 {
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 18px;
	width: 100%;
}
h2 {
	font-family: Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 1em;
	color: #333;
	margin-bottom: 16px;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
	color: #AB4646;
	margin-bottom: 16px;
}
p {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 18px;
}
ul {
	list-style-type: disc;
	padding-left: 18px;
	padding-bottom: 18px;
	font-size: 13px;
	line-height: 18px;
}
ol {
	list-style-type: decimal;
	padding-left: 24px;
	padding-bottom: 18px;
	font-size: 13px;
	line-height: 18px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
	margin-left: 1px;
	padding: 16px 18px;
	font-style: italic;
	border-left: 2px solid #eee;
	background: #fafafa;
}
blockquote p {
	font-size: 15px;
	line-height: 20px;
	color: #333;
}
blockquote blockquote {
	padding: 0;
	border: 0;
}
hr {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: none;
	margin: 16px 0;
	height: 5px;
}
table {
	font-size: 12px;
	margin-bottom: 18px;
	padding: 4px;
	border: 6px solid #f6f6f6;
}
th {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #666;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #f8f8f8;
}
td {
	font: Verdana, sans-serif;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #333;
}
form {
	margin-left: 1px;
	padding: 16px 18px;
	border-left: 2px solid #eee;
	background: #fafafa;
}
form label {
	display: block;
}
form input, form textarea {
	padding: 3px;
}
form #id_subscribe {
	margin-top: 6px;
}
ul.errorlist {
	list-style-type: none;
	padding: 0 0 4px 0;
	color: #666;
	font-style: italic;
}

/* Formatting Elements
------------------------------------------------------*/
.signature ul {
	list-style-type: disc;
	padding-left: 18px;
	padding-bottom: 18px;
}
.signature ol {
	list-style-type: decimal;
	padding-left: 24px;
	padding-bottom: 18px;
}
.signature ul li, ol li {
	float: none;
}

/* Header and Navigation
------------------------------------------------------*/
#header {
	height: 115px;
	width: 980px;
	margin: 0 auto;
	background: url(images/header.png) repeat-x bottom #F8F8F8;
	position: relative;
}
#logo {
	display: block;
	width: 239px;
	height: 62px;
	background: url(images/logo.png) no-repeat;
	position: relative;
	left: 10px;
	top: 5px;
}
#account_nav {
	float: right;
	height: 38px;
	position: relative;
	top: -2px;
	margin-right: 20px;
	padding-right: 6px;
	background: url(images/account_nav_right.png) no-repeat right;
	font-size: 11px;
	font-weight: bold;
	line-height: 32px;
	color: #A1ABB1;
}
#account_nav a {
	margin-left: 15px;
	position: relative;
	display: block;
	float: left;
}
#account_user {
	float: left;
	height: 38px;
	margin-left: -6px;
	padding-left: 15px;
	background: url(images/account_nav_left.png) no-repeat left;
}
#account_user img {
	position: relative;
	padding-left: 3px;
	left: -5px;
	top: 2px;
}
#messages_count {
	float: left;
	background: url(images/messages_count_bg.png) no-repeat left;
	color: #FFF;
	margin: 10px 0 0 5px;
	line-height: 15px;
	font-size: 10px;
	padding-left: 5px;
}
#messages_count div {
	background: url(images/messages_count_bg.png) no-repeat right;
	height: 15px;
	padding-right: 6px;
	line-height: 14px;
}
#upload_button {
	display: block;
	float: right;
	width: 144px;
	height: 31px;
	background: url(images/upload_button.png);
}

/* Site Navigation
------------------------------------------------------*/
#site_nav {
	position: absolute;
	left: 18px;
	bottom: 0;
	padding: 0;
}
#site_nav ul {
	padding: 0;
	margin: 0;
}
#site_nav li {
	display: inline;
	float: left;
	background: url(images/tab_left.png) no-repeat left;
	margin-right: 3px;
}
#site_nav li a {
	display: block;
	height: 36px;
	padding: 0 13px 0 8px;
	margin-left: 5px;
	background: #FFF;
	font-size: 12px;
	font-weight: bold;
	color: #222;
	background: url(images/tab_right.png) no-repeat right;
	line-height: 36px;
}
#site_nav .active_tab {
	background: url(images/tab_left_active.png) no-repeat left;
}
#site_nav .active_tab a {
	background: url(images/tab_right_active.png) no-repeat right;
	color: #CB3D44;
}
#site_nav .active_tab a:hover {
	text-decoration: none;
}
.site_nav_icon {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	position: relative;
	top: 10px;
	left: -5px;
}
#site_nav_home .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat 0 0;
}
.active_tab #site_nav_home .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat -16px 0;
}
#site_nav_sounds .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat 0 -15px;
}
.active_tab #site_nav_sounds .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat -16px -15px;
}
#site_nav_forums .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat 0 -30px;
}
.active_tab #site_nav_forums .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat -16px -30px;
}
#site_nav_help .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat 0 -47px;
}
.active_tab #site_nav_help .site_nav_icon {
	background: url(images/site_nav_icons.png) no-repeat -16px -47px;
}

/* Search
------------------------------------------------------*/
#search {
	position: absolute;
	top: 54px;
	right: 20px;
	width: 281px;
	height: 42px;
	background: url(images/search.png);
}
#search form {
	padding: 0;
	margin: 0;
}
#search input {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 226px;
	font-size: 13px;
	padding: 6px 5px;
	border: 0;
	background: transparent;
}
#search #search_submit {
	position: absolute;
	left: 249px;
	top: 10px;
	height: 22px;
	width: 22px;
	border: 0;
	background: transparent;
}

/* Content Wrappers
------------------------------------------------------*/
#wrapper {
	background-color: #F9F9F9;
}
#container {
	width: 944px;
	margin: 0 auto;
	border-left: solid 1px #F0EEF1;
	border-right: solid 1px #F0EEF1;
	background-color: #FFF;
	padding: 18px;
}
#content {
	width: 577px;
	float: left;
}
#content_full {
	width: 100%;
}
.content_box {
	width: 539px;
	min-height: 92px;
	padding: 0 19px;
	background: url(images/sub_header_bg.png) no-repeat top;
}

/* Home Page Styles
------------------------------------------------------*/
body#home h2 {
	font-family: Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	line-height: 1em;
}
body#home h3 {
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 16px;
	margin-left: -6px;
	padding-top: 1px;
	line-height: 30px;
	color: #AB4646;
}

/* Latest News
------------------------------------------------------*/
#latest_news {
	margin-bottom: 15px;
}
#latest_news h2 {
	margin-bottom: 4px;
	margin-top: 12px;
}
#latest_news .post_date, #latest_news .post_author {
	position: relative;
	top: -8px;
	line-height: 30px;
	font-size: 11px;
	color: #888;
}
#latest_news .post_author {
	font-weight: bold;
}
#latest_news .read_more_link {
	display: inline;
	position: relative;
	top: -5px;
	font-weight: bold;
	font-size: 13px;
	background: url(images/right_arrow.png) no-repeat right 0.45em;
	padding-right: 12px;
}
.blog_post {
	margin-bottom: 20px;
}
.blog_post p {
	font-size: 12px;
	margin-bottom: 18px;
	line-height: 18px;
	color: #333;
}

/* Sample Player : Small
------------------------------------------------------*/
.sample_player_small {
	width: 530px;
	margin: 17px 0;
	overflow: auto;
}
.sample_player_small .sample_player {
	width: 400px;
	float: left;
}
.sample_player_small img.small_player {
	float: left;
	margin-right: 14px;
}
.sample_player_small .title {
	font-size: 14px;
	font-weight: bold;
}
.sample_player_small .description {
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
	color: #333;
}
.stars {
	text-align: right;
	margin: -18px 10px 0 0;
}
.stars img {
	margin-right: -3px;
}
.sample_player_small .sample_information {
	float: right;
	width: 105px;
	margin-top: 4px;
	padding: 5px 0 3px 10px;
	border-left: 1px solid #d6d6d6;
	line-height: 15px;
	font-size: 11px;
	color: #757575;
}
.sample_player_small .user {
	position: relative;
	top: -3px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.sample_more {
	color: #444;
	clear: both;
	font-size: 11px;
	padding: 14px 0 2px 0;
}
.sample_more a {
	font-weight: bold;
}
.sample_more img {
	position: relative;
	top: -1px;
}
#recent_additions .sample_player_small {
	border-bottom: solid 1px #DCDCDC;
	padding-bottom: 8px;
}

/* Single Sample Page
------------------------------------------------------*/
#single_sample_header {
	margin: 0 6px 10px 10px;
	color: #CECECE;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, sans-serif;
}
#single_sample_player {
	clear: both;
	padding: 10px;
	margin-left: 10px;
	background-color: #F2F2F2;
	border: solid 1px #EBEBEB;
	float: left;
}
#single_sample_content {
	position: relative;
	float: left;
	width: 580px;
	margin-left: 10px;
}
#single_sample_sidebar {
	float: right;
	width: 300px;
	margin-right: 15px;
}
#sound_author_box {
	position: relative;
	padding: 20px 20px 0 55px;
}
#sound_author_avatar {
	position: absolute;
	left: 0;
	top: 20px;
}
#sound_author {
	font-weight: bold;
}
#sound_date {
	padding-top: 2px;
	font-size: 12px;
	color: #929292;
}
#sound_description {
	color: #333;
	margin: 15px 0 20px 0;
}
#sound_description p {
	font-size: 13px;
	line-height: 16px;
}
ul#tags {
	padding: 0;
	margin: 0;
	line-height: 16px;
}
#tags li {
	display: block;
	float: left;
	margin: 2px;
	height: 24px;
	background-color: #F7F5D9;
}
#tags li a {
	display: block;
	padding: 4px 6px 5px 12px;
	min-height: 24px;
	font-size: 12px;
	font-weight: bold;
	background: url(images/tag_edge.png) no-repeat left top;
}

#comments_heading {
	clear: both;
	padding: 30px 0 5px 0;
}
ul#comments {
	padding: 0;
	line-height: 16px;
	list-style-type: none;
}
#comments li {
	position: relative;
	padding: 18px 0 18px 55px;
	font-size: 13px;
	border-bottom: solid 1px #E2E2E2;
	min-height: 45px;
	line-height: 1.3em;
	color: #333;
}
#comments li .comment_info {
	margin-bottom: 10px;
}
#comments li .comment_avatar {
	position: absolute;
	left: 0;
	top: 20px;
}
#comments li .comment_author {
	font-weight: bold;
}
#comments li .comment_date {
	color: #AFAFAF;
	font-size: 11px;
}
#comments li p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 16px;
}

#download {
	padding: 20px 0 20px 25px;
}
#download_text {
	padding-right: 170px;
	color: #999;
	font-size: 11px;
	text-align: right;
	line-height: 1.5em;
}
#download_button {
	padding: 8px 5px;
	background-color: #1C6ECB;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	float: right;
	width: 140px;
	text-align: center;
}
#download_button:hover {
	text-decoration: none;
	background-color: #10437E;
	color: #88BFF4;
}
#sound_information_box {
	padding: 20px 30px;
	background-color: #F8F8F8;
	font-size: 13px;
	line-height: 1.6em;
}
#sound_information_box dt {
	width: 120px;
	float: left;
	color: #999;
}
#sound_links {
	padding: 20px 30px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.6em;
}
ul#sound_links {
	padding: 20px 30px;
	line-height: 16px;
	list-style-type: none;
}
#sound_links li img {
	position: relative;
	top: 2px;
	left: -6px;
}
#flag_sound {
	padding: 25px 30px;
	background-color: #F8F8F8;
	font-size: 13px;
	color: #555;
}
#flag_sound a {
	font-weight: bold;
}
#sound_license {
	position: relative;
	padding: 20px 10px 20px 120px;
	font-size: 11px;
	line-height: 1.4em;
	color: #999;
}
#sound_license img {
	position: absolute;
	left: 8px;
	top: 25px;
}

/* Forums
------------------------------------------------------*/
#breadcrumb {
	font-weight: bold;
	font-size: 14px;
	background: url(images/breadcrumb.png) repeat-x bottom;
	padding: 10px 15px;
	border-bottom: solid 1px #E4E4E4;
	color: #D3D3D3;
}
#breadcrumb a {
	color: #000;
}
ul#forums, ul#topics {
	padding: 0;
	line-height: 16px;
}
#forums li, #topics li {
	padding: 10px 10px 10px 40px;
	border-bottom: solid 1px #E4E4E4;
	font-size: 11px;
	color: #777;
	position: relative;
	list-style-type: none;
}
#forums li img, #topics li img {
	position: absolute;
	left: 8px;
	top: 16px;
}
#forums li .forum_name {
	font-size: 16px;
	font-weight: normal;
}
#topics li .topic_subject {
	font-size: 14px;
	font-weight: normal;
}
#forums li a, #topics li a {
	font-weight: bold;
}
#forums .latest_post, #topics .latest_post {
	float: right;
	color: #444;
	text-align: right;
}
#topics .highlighted .topic_subject {
	font-weight: bold;
	color: #CC4040;
}
#topics .highlighted .topic_subject:hover {
	color: #9C3131;
}
.forum_pagination {
	position: relative;
	padding: 8px 15px 8px 11px;
	font-size: 12px;
	background-color: #EBF4FD;
	margin: 10px 0;
	height: 15px;
}
.forum_pagination a {
	text-decoration: underline;
	font-weight: bold;
}
ul.pagination {
	line-height: 16px;
	list-style-type: none;
}
.pagination li {
	float: left;
}
.pagination li a {
	padding: 4px;
}
.pagination .current-page {
	padding: 0 4px;
	margin-top: -1px;
	font-weight: bold;
	background-color: #D2E2F9;
	border-top: solid 1px #C3D4EA;
	border-bottom: solid 1px #FFF;
	color: #444;
}

/* Posts formatting
------------------------------------------------------*/
#posts {
	font-size: 13px;
	padding: 0;
}
#posts .post {
	list-style-type: none;
	position: relative;
	padding: 15px 35px 15px 230px;
	margin: 0 0 15px 0;
	background: url(images/post_bg.png) repeat-y left;
	border-top: solid 2px #E6E6E6;
	min-height: 80px;
}
#posts .post .avatar {
	position: absolute;
	left: 15px;
	top: 42px;
}
#posts .post .post_author {
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	width: 175px;
	left: 15px;
	top: 15px;
	overflow: hidden;
}
#posts .post .post_details { 
	font-size: 11px;
	color: #444;
	position: absolute;
	width: 145px;
	left: 55px;
	top: 42px;
	line-height: 16px;
}
#posts .post .post_details .post_date {
	color: #BABABA;
}
#posts .post .subject {
	padding-bottom: 15px;
	font-size: 17px;
	font-weight: bold;
}
#posts .post p, #posts .post blockquote {
	font-size: 12px;
	margin-bottom: 18px;
	line-height: 18px;
	color: #222;
}
#posts .post blockquote {
	color: #666;
	background-color: #F6F6F6;
	padding: 15px;
	border-left: solid 2px #eee;
}
#posts .post blockquote em {
	font-style: italic;
}
#posts .post .signature {
	padding: 10px;
	border-top: dashed 1px #C4C4C4;
	font-size: 12px;
	color: #777;
}
#posts .post .signature p {
	color: #777;
}

.forum_button {
	position: absolute;
	right: 0;
	top: 0;
	height: 31px;
	line-height: 31px;
	padding-left: 3px;
	background: url(images/read_more_bg.png) no-repeat left top;
}
.forum_button a {
	display: block;
	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 13px 0 10px;
	background: url(images/read_more_bg.png) no-repeat right top;
}
.forum_button a:hover {
	color: #A9CAF1;
	text-decoration: none;
}
.post_quote {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 27px;
	background: url(images/post_quote.png) top;
}
.post_quote:hover {
	background: url(images/post_quote.png) bottom;
}

/* Sidebar
------------------------------------------------------*/
#sidebar {
	width: 340px;
	float: left;
	margin-left: 19px;
}
.sidebar_box {
	width: 310px;
	min-height: 103px;
	padding: 0 19px;
	background: url(images/sub_sidebar_header_bg.png) no-repeat top;
	margin-bottom: 20px;
}
.continuous_sidebar_box {
	background: url(images/continuous_sidebar_header_bg.png) no-repeat top;
	width: 349px;
	padding: 16px 0 0 0;
}
.continuous_sidebar_box #support {
	background: url(images/continuous_sidebar_header_bg.png) no-repeat bottom;
	padding: 0 0 22px 0;
	margin: 0 0 14px 0;
}
#post_it {
	position: relative;
	background: url(images/postit_bg.png) no-repeat bottom;
	width: 280px;
	padding: 22px 27px 34px 27px;
	left: 7px;
}
#post_it h2 {
	margin: 0 0 10px 0;
	color: #000;
}
#post_it p {
	font-size: 13px;
	margin: 0 20px 0 0;
	line-height: 16px;
}
#support img {
	float: left;
}
body#home #support h3 {
	font-family: Arial, Sans-serif;
	font-size: 16px;
	color: #3f3e43;
	line-height: 22px;
	margin: 8px 27px 16px 0;
}
#support p {
	font-size: 12px;
	margin-bottom: 8px;
	line-height: 14px;
}
#donation_box {
	background: url(images/donation_box_bg.png) no-repeat top left;
	width: 291px;
	height: 81px;
	padding: 0 0 0 57px;
	margin: 0 0 14px 0;
}
#donation_box p {
	position: relative;
	top: 16px;
	margin: 0;
	color: #c01010;
	font-size: 12px;
	line-height: 12px;
}
#donation_box p #count_down {
	font-size: 11px;
	margin: 0 15px 0 27px;
	color: #333;
	text-align: right;
}
a.donation_button {
	float: left;
	background: url(images/donation_button.png) no-repeat top left;
	display: block;
	width: 104px;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	white-space: nowrap;
	padding: 0 0 0 15px;
	margin: 26px 0 0 0;
}
a.donation_button:hover {
	background: url(images/donation_button.png) no-repeat bottom left;
}
#donation_meter_box {
	background: url(images/donation_meter_box.png) no-repeat top left;
	float: left;
	margin: 26px 0 0 -5px;
	width: 162px;
	height: 30px;
}
#meter {
	display: block;
	background: url(images/donation_meter_bar.png) repeat-x top left;
	border: 1px solid #565656;
	line-height: 30px;
	height: 27px;
	/*width: 49%;*/
	text-indent: -9999px;
}
#latest_forum_posts {
	width: 324px;
	padding: 0 12px;
}
#latest_forum_posts ul {
	padding: 0;
	line-height: 13px;
}
#latest_forum_posts h3 {
	margin-left: 2px;
	margin-bottom: 10px;
}
#latest_forum_posts li {
	display: block;
	padding: 13px 10px;
	background-color: #F6F6F6;
	border-bottom: solid 1px #CCC;
	font-size: 11px;
	color: #777;
}
#latest_forum_posts li:last-child {
	border-bottom: none;
}
#latest_forum_posts .even {
	background-color: #FFF;
}
#latest_forum_posts li a {
	font-size: 12px;
	font-weight: bold;
}
#latest_forum_posts a.more_posts_button {
	display: block;
	height: 31px;
	margin-bottom: 15px;
	line-height: 31px;
	padding-right: 15px;
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background: url(images/more_posts_button.png) no-repeat top right;
	color: #FFF;
}
#latest_forum_posts a.more_posts_button:hover {
	color: #A9CAF1;
	text-decoration: none;
}
#latest_forum_posts a.more_posts_button img {
	position: relative;
	left: -5px;
	top: 1px;
}
/* Freesound Projects
------------------------------------------------------*/
#freesoundradio {
	position: relative;
	left: 10px;
}
#sonsdebarcelona {
	position: relative;
	top: -10px;
	left: 34px;
}

/* Credits
------------------------------------------------------*/
#credits {
	clear: both;
	color: #BD555A;
	font-weight: bold;
	font-size: 12px;
	height: 64px;
	text-align: right;
}
#credits #mtg_link, #credits #google_link, #credits #letusa_link {
	position: relative;
}
#credits #mtg_link {
	top: 18px;
	padding-right: 20px;
}
#credits #google_link {
	top: 22px;
	padding-left: 6px;
	padding-right: 10px;
}
#credits #letusa_link {
	top: 11px;
	padding-right: 20px;
}

/* Footer
------------------------------------------------------*/
#footer_wrapper {
	background: url(images/footer_wrapper.png) repeat-x top #FCFCFC;
	height: 80px;
	clear: both;
}
#footer {
	height: 58px;
	width: 980px;
	margin: 0 auto;
	background: url(images/footer.png) repeat-x bottom #F8F8F8;
}
#footer {
	font-size: 0.7em;
	color: #333333;
}
#footer a {
	font-weight: bold;
}
#footer_links {
	float: left;
	position: relative;
	left: 27px;
	top: 19px;
}
#footer_links a {
	font-size: 1.1em;
	padding-right: 14px;
}
#footer_credits {
	float: right;
	position: relative;
	right: 27px;
	top: 19px;
}