/* IE6 Specific Stylesheet */

/* Header and Navigation
------------------------------------------------------*/
#account_nav {
	position: absolute;
	height: 30px;
	width: 460px;
	right: 0;
	top: -3px;
	padding-top: 6px;
	padding-left: 4px;
	background: #FFF;
	border-bottom: solid 2px #E9E9E9;
}
#account_nav a {
	display: inline;
	float: none;
}
#account_user {
	float: none;
	display: inline;
}
#messages_count {
	float: none;
	display: inline;
}
#messages_count div {
	display: inline;
}
#account_nav #upload_button {
	position: absolute;
	display: block;
	float: none;
	right: 5px;
	top: 0;
}

/* Site Navigation
------------------------------------------------------*/
#site_nav {
	bottom: -1px;
}
#site_nav li a {
	float: left;
	margin-left: 2px;
}

/* Latest News
------------------------------------------------------*/
#latest_news .read_more_button {
	float: none;
	width: 130px;
	text-align: center;
	padding-bottom: 10px;
	margin-top: -4px;
}