{% extends "base.html" %}

{% load static %}
{% load bw_templatetags %}
{% load display_sound %}

{% block title %}Search{% endblock %}

{% block navbar %}{% include 'molecules/navbar_search_page.html' %}{% endblock %}

{% block content %}

    <div class="container">
    {% if error_text %}
        <div class="navbar-space-filler v-spacing-3 v-spacing-top-3">
            <div class="v-spacing-6 v-spacing-top-4">
                <p>{{ error_text }}</p>
            </div>
        </div>

    {% else %}
        <div class="navbar-space-filler v-spacing-3 v-spacing-top-3">
            <div class="v-spacing-6 v-spacing-top-4">
                <form method="get" action="/search/">
                    <div class="between middle">
                        <div></div>
                        <input name="q" type="text" value="{{ search_query }}" placeholder="Start browsing here" class="bw-search__input"  id="search-input-browse" autocomplete="off" />
                        <span class="bw-search_remove-query" id="remove-content-search">{% bw_icon 'close' %}</span>
                    </div>
                </form>
            </div>

            <div>
                <div class="divider-light"></div>
                <div class="padding-3 v-padding-2 between font-weight-bold">
                    <div>{{ non_grouped_number_of_results }} sounds</div>
                    <div class="bw_search-tab">
                        {% comment %}Sounds{% endcomment %}
                        {% comment %}This section will allow to choose between different search modes: sounds and packs.
                        However, this is currently not implemented in the backend so we put nothing here as only
                        the "sounds" option is supported.
                        {% endcomment %}
                    </div>
                    <div class="browse__search-overview-sorter">
                        <span class="font-weight-normal text-light-grey">Sort by:</span>
                        <select name="s" id="sort-by" placeholder-text="{{ sort_options.0.0 }}">
                            {% for option in sort_options %}
                            <option value="{{option.1}}"{% ifequal option.1 sort.0 %}selected="selected"{% endifequal %}>{{option.0}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="divider-light"></div>
            </div>
        </div>
        <div class="row no-gutters">
            <aside class="col-sm-12 col-md-3">
                {% comment %}
                {{ filters.checkboxSection('Licenses', ['Creative commons 0', 'Sampling +', 'Attribution', 'Non-commercial']) }}
                {{ filters.checkboxSection('Type', ['aiff', 'wav', 'mp3', 'FLAC']) }}
                {{ filters.checkboxSection('Sample rate', ['11025', '22050', '44100', '48000', '96000']) }}
                {{ filters.checkboxSection('Bit depth', ['16', '24', '32', '8']) }}
                {{ filters.checkboxSection('Bitrate', ['1378', '1379', '1411', '1500', '2250']) }}
                {{ filters.checkboxSection('Channels', ['2', '1', '6']) }}
                {{ filters.checkboxSection('Search only in ', ['Tags', 'File names', 'Descriptions', 'Sound ids', 'User names']) }}
                {% endcomment %}
            </aside>
            <main class="col-sm-12 col-md-8 offset-md-1">
                <div class="v-spacing-3 v-spacing-top-1">
                    {% comment %}{{ activeFilters.list(['Creative commons 0', 'mp3'])}}{% endcomment %}
                </div>
                {% if paginator.count > 0 %}
                    <div class="v-spacing-6">
                    {% for result in docs %}
                        <div class="bw-search__result">
                            {% display_sound_middle result.sound %}
                            {% comment %}
                            {% if result.more_from_pack %}
                                <div class="sample_more_search_results"><img src="{{media_url}}images/plus.png" alt="" /> <a href='{% url "sounds-search"  %}?q={{ search_query }}&f=grouping_pack:"{{ result.pack_id }}_{{ result.pack_name }}" {{filter_query_link_more_when_grouping_packs }}&s="{{ sort.0 }}"&g={{ grouping }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}'>{{result.more_from_pack}} more result{{ result.more_from_pack|pluralize  }}</a> in the same pack "{{ result.pack_name|truncate_string:35 }}"</div>
                            {% endif %}
                            {% endcomment %}
                            {% if not forloop.last %}
                                <div class="divider-light"></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="">
                        {% bw_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
                    </div>
                {% else %}
                    <div class="v-spacing-6" style="text-align: center;">
                        <h5>No results... &#128543</h5>
                        <p class="text-grey v-spacing-2">Please try another query or change the filters</p>
                    </div>
                {% endif %}
                </div>
            </main>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/search.735996ae.js' %}"></script>
    <script src="{% static 'bw-frontend/dist/select.9252c69b.js' %}"></script>
{% endblock %}