{% extends "simple_page.html" %}
{% load bw_templatetags %}
{% load display_forum_objects %}

{% block title %}Forums search{% endblock %}
{% block page-title %}Freesound Forums Search{% endblock %}

{% block page-content %}
    <div class="divider-light v-spacing-top-4 v-spacing-2"></div>
    <div class="row middle">
        <div class="col-md-6">
            <ul class="navbar-forums-hot navbar-breadcrumb">
                <li class="nav-item">
                      <a class="nav-link" href="{% url "forums-forums" %}">Freesound Forums</a>
                </li>
                {% if current_forum %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{current_forum.get_absolute_url}}">{{ current_forum.name }}</a>
                    </li>
                {% endif %}
                <li class="nav-item text-16">
                    Search {% if username_filter %} <a class="h-spacing-left-4 no-hover btn-inverse bw-search__active-filters-button" href="{{ remove_username_filter_url }}" title="Remove this filter">
                        user:{{ username_filter }}<span class="h-spacing-left-1">{% bw_icon 'close' %} </span>
                    </a> {% endif %}
                </li>
            </ul>
        </div>
        <div class="col-md-6 v-spacing-1 v-spacing-top-1 between middle">
            <form method="get" action="{% url "forums-search" %}" class="w-75">
                <input type="hidden" name="advanced_search"  value="0"/>
                <input type="hidden" name="forum" value="{% if current_forum %}{{current_forum.name_slug}}{% else %}{% endif %}"/>
                <div class="input-wrapper w-100">
                    <i class="bw-icon-search input-icon"></i><input name="q" type="search" placeholder="{% if current_forum %}Search in this forum...{% else %}Search in all forums...{% endif %}" autocomplete="off" value="{{ search_query }}">
                </div>
            </form>
            <div class="text-grey">
                {% if paginator %}
                    {{ paginator.count|bw_intcomma }} post{{ paginator.count|pluralize }}
                {% else %}
                    0 posts
                {% endif %}
            </div>
        </div>
    </div>
    <div class="divider-light v-spacing-top-2"></div>

    {% if error_text %}
        <div class="v-spacing-3 v-spacing-top-4">
            <div class="v-spacing-6 v-spacing-top-4">
                <p class="v-spacing-4">{{ error_text }}</p>
                <p><button onclick="window.history.back();" class="btn-primary">Go back</button></p>
            </div>
        </div>
    {% else %}
        <div class="v-spacing-top-4">
            {% for post in posts  %}
                {% display_post post 0 0 True False False results.highlighting %}
                {% if not forloop.last %}
                    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
                {% endif %}
            {% empty %}
                <div class="v-spacing-7 v-spacing-top-6 w-100 text-center">
                    <h5>No results... &#128543</h5>
                    <p class="text-grey v-spacing-2">Please try another query</p>
                </div>
            {% endfor %}
        </div>
        <div class="v-spacing-top-5">
            {% bw_paginator paginator page current_page request "" -1 %}
        </div>
    {% endif %}

{% endblock %}