{% extends "forum/_section.html" %}

{% block title %}forums{% endblock %}

{% block section_content %}
<ul id="forums">
{% for forum in forums %}
	<li>
		<div class="latest_post">
			<a href="{% url post forum.name_slug forum.last_post.thread.id forum.last_post.id %}">Latest post</a> by <a href="{% url account forum.last_post.author.username %}">{{forum.last_post.author.username}}</a><br />
			{{forum.last_post.created|timesince}} ago
		</div>
		<img src="{{media_url}}images/forum_nonew.png" width="20" height="20" alt="no new posts">

		<a href="{{forum.get_absolute_url}}" class="forum_name">{{forum.name}}</a><br />
		{{forum.num_threads}} thread{{forum.num_threads|pluralize}}
	</li>
{% endfor %}
</ul>
{% endblock %}