{% extends "support/_section.html" %}


{% block title %}email support{% endblock %}

{% block section_content %}
{% if request_sent %}
<h1>Thank you...</h1>
<p>Thank you for contacting support, we will reply as soon as possible.</p>
{% else %}
<h1>Contact us...</h1>
<div style="text-align: left; margin-bottom:30px; margin-top:20px;">
    <h3>Please read the <a href="{% url "wiki" %}faq">Frequently Asked Questions</a> page before you send an email</h3>
</div>
    <form method="post" action=".">{% csrf_token %}
        {{form.as_p}}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey={{ recaptcha_public_key }}></div>
        <p class="help-block"> {{ form.recaptcha_response.errors }} </p>
        <input type="submit" value="send" />
    </form>
</div>
{% endif %}
{% endblock %}
