{% load cache %}
{% load util %}
{% load ratings %}
{% cache 3600 display_sound sound_id %}
{% with sound.0 as sound %}
<div class="sample_player">
	<div class="small_player">
		{% include "sounds/player_medium.html" %}
	</div>
	<div style="position: relative;height: 18px;  width: 90%;">
	<div style="position: relative; top: 0px; float:left; vertical-align: top;">
	   <a class="title" href="{% url sound sound.user.username sound.id %}">{{sound.original_filename|truncate_string:20}}</a>
    </div>
    <div style="position: relative; top: 0px; float:right; vertical-align: top; margin-right: 5px; ">
		<ul class="star-rating">
			<li class="current-rating" style="width:{{sound.rating_percent}}%;">Currently {{sound.avg_rating|stringformat:"%.1f"}}/5 Stars.</li>
			<li><a href="{{sound|rating_url:"1"}}" title="pretty bad :-(" class="one-star">1</a></li>
			<li><a href="{{sound|rating_url:"2"}}" title="quite good" class="two-stars">2</a></li>
			<li><a href="{{sound|rating_url:"3"}}" title="good :-)" class="three-stars">3</a></li>
			<li><a href="{{sound|rating_url:"4"}}" title="very good" class="four-stars">4</a></li>
			<li><a href="{{sound|rating_url:"5"}}" title="amazing :-o" class="five-stars">5</a></li>
		</ul>
    </div>
    </div>
    <div style="position: relative;  width: 90%;  margin-right: 5px; ">
	   <p class="description">{{sound.description|striptags|safe|truncatewords:30}}</p>
	</div>
</div>

<div class="sample_information">
	<a class="user" href="{% url account sound.user.username %}">{{sound.user.username}}</a><br />
	<span class="date">{{sound.created|date:"F jS, Y"}}</span><br />
	<span class="download_count">{{sound.num_downloads}} download{{sound.num_downloads|pluralize}}</span><br />
	<a class="comments" href="{% url sound sound.user.username sound.id %}#comments">{{sound.num_comments}} comment{{sound.num_comments|pluralize}}</a>
</div>
{% endwith %}
{% endcache %}