{% load cache %}
{% load util %}
{% cache 600 display_sound sound_id %}
{% with sound.0 as sound %}
<div class="sample_player">
	<img src="{{media_url}}images/sample_player_small.png" width="120" height="69" class="small_player" alt="" />
	<a class="title" href="{% url sound sound.user.username sound.id %}">{{sound.original_filename|truncate_string:20}}</a>
		<div class="stars">
			<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
			<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
			<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
			<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
			<a href="#"><img src="{{media_url}}images/star_off.png" width="13" height="13" alt="" /></a>
		</div>
	<p class="description">{{sound.description|striptags|truncatewords:30}}</p>
</div>

<div class="sample_information">
	<a class="user" href="{% url account sound.user.username %}">{{sound.user.username}}</a><br />
	<span class="date">{{sound.created|date:"F jS, Y"}}</span><br />
	<span class="download_count">{{sound.num_downloads}} download{{sound.num_downloads|pluralize}}</span><br />
	<a class="comments" href="{% url sound sound.user.username sound.id %}">{{sound.num_comments}} comment{{sound.num_comments|pluralize}}</a>
</div>
{% endwith %}
{% endcache %}