	
	{{ form.errors }}
	<div id="license-form-wrapper">
		<div id="license-left">
			<div id="license-left-top">Very free :)</div>
			<div id="license-left-bottom">Less free :(</div>
		</div>
		
		<div id="license-arrow">
			<img src="/fsmedia/images/license_arrow.png"/>
		</div>
		
		<div id="license-middle">
		
			<div id="license-middle-top" class="license">
				 <div class="license-option">
					<input type="radio" 
						   id="id_license_0" 
						   value="{{license_ids.Attribution}}" 
						   name="license"
						   {% if license_ids.Attribution == form.initial.license %}checked="checked"{% endif %} />
				 </div>
				 <div class="license-description"> 
				 	<h3>Attribution</h3>
				 	<img src="http://i.creativecommons.org/l/by/3.0/88x31.png"/>
				 	{{ license_ids.Attribution }} - {{ form.initial.license }}
			     </div>
			</div>
			
			<div id="license-middle-middle" class="license">
				<div class="license-option">
					<input type="radio" 
						   id="id_license_1" 
						   value="{{license_ids.Attribution_Noncommercial}}" 
						   name="license" 
						   {% if license_ids.Attribution_Noncommercial == form.initial.license %}checked="checked"{% endif %} />
				</div>
				<div class="license-description">
					<h3>Attribution Non-Commercial</h3>
					<img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png"/>
					{{ license_ids.Attribution_Noncommercial }} - {{ form.initial.license }}
				</div>
			</div>
			
			
			<div id="license-middle-bottom" class="license">
				<div class="license-option">
					<input type="radio" 
						   id="id_license_2" 
						   value="{{license_ids.Attribution_Noncommercial_Share_Alike}}" 
						   name="license" 
						   {% if license_ids.Attribution_Noncommercial_Share_Alike == form.initial.license %}checked="checked"{% endif %} />
				</div>
				<div class="license-description">
					<h3>Attribution Non-Commercial Share-Alike</h3>
					<img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"/>
					{{ license_ids.Attribution_Noncommercial_Share_Alike }} - {{ form.initial.license }}
				</div>
			</div>
			
		</div>
	</div>
	
	<br><br>
	 
