{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}pack: {{pack.name}} by {{pack.user.username}}{% endblock title %}

{% block section_content %}
<h1>Pack: {{pack.name}} by <a href="{% url account pack.user.username %}">{{pack.user.username}}</a></h1>
{% if pack.description %}
<p>
	{{pack.description}}
</p>
{% endif %}
<p>
    See <a href="{% url packs-for-user pack.user.username %}">more packs</a> by <a href="{% url account pack.user.username %}">{{pack.user.username}}</a>
</p>

{% show_paginator paginator page current_page request %}

{% for sound in page.object_list %}
<div class="sample_player_small">
	{% display_sound sound %}
</div>
{% endfor %}

{% show_paginator paginator page current_page request %}

{% endblock %}