{% extends "sounds/_section.html" %}

{% load paginator %}

{% block title %}Packs by {{user.username}}{% endblock title %}

{% block section_content %}
<h1>Packs by <a href="{% url account user.username %}">{{user.username}}</a></h1>

{% show_paginator paginator page current_page request %}

<ul>
{% for pack in page.object_list %}
	<li><a href="{% url pack user.username pack.id %}">{{pack.name}}</a> (<span class="pack_count">{{pack.num_sounds}}</span>), <span class="pack_update">last updated {{pack.last_update|timesince}} ago<span></li>
{% endfor %}
</ul>

{% show_paginator paginator page current_page request %}

{% endblock %}