{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}

{% block title %}Remixes of {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Remixes of <a href="{% url sound sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url account sound.user.username %}">{{sound.user.username}}</a></h1>

{% show_paginator paginator page current_page request %}

{% for sound in page.object_list %}
<div class="sample_player_small">
	{% display_sound sound %}
</div>
{% endfor %}

{% show_paginator paginator page current_page request %}

{% endblock %}