{% extends "sounds/_section.html" %}

{% load paginator %}
{% load util %}

{% block section_content %}

<div id="single_sample_header">
	{% if sound.pack %}<a href="{% url pack username sound.pack.id %}">{{sound.pack.name}}</a>  &#187; {% endif %}<a href="#">{{sound.original_filename}}</a>
	<div class="stars">
		<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
		<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
		<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
		<a href="#"><img src="{{media_url}}images/star_on.png" width="13" height="13" alt="" /></a>
		<a href="#"><img src="{{media_url}}images/star_off.png" width="13" height="13" alt="" /></a>
	</div>
</div>

<div id="single_sample_player">
	<img src="{{media_url}}images/content/single_sample_sound.png" />
</div>

<div id="single_sample_content">

	<img src="{{media_url}}images/40x40_avatar.png" alt="avatar" id="sound_author_avatar" />

	<div id="sound_author_box">
		<div id="sound_author"><a href="{% url account sound.user.username %}">{{sound.user.username}}</a></div>
		<div id="sound_date">{{sound.created|date:"F jS, Y"}}</div>
	</div>
	<div id="sound_description">
		{{sound.description|safe|linebreaks}}
	</div>
	
	<ul id="tags">
		{% for tag_link in sound.tags.all %}
			<li><a href="{% url tags tag_link.tag.name %}">{{tag_link.tag.name}}</a></li>
		{% endfor %}
	</ul>
	
	<div id="comments_container">
		<h4 id="comments_heading">Comments</h4>
		<a name="comments"></a>
		<ul id="comments">
			{% for comment in page.object_list %}
			<li>
				<img src="{{media_url}}images/40x40_avatar.png" alt="avatar" class="comment_avatar" />
				<div class="comment_info">
					<span class="comment_author"><a href="{% url account comment.user.username %}">{{comment.user.username}}</a></span>
					<span class="comment_date">{{comment.created|timesince}} ago</span>
				</div>
				{{comment.comment|safe|linebreaks}}
			</li>		
			{% endfor %}
		</ul>
		
		<div id="comments_pagination">
			{% show_paginator paginator page current_page request "comments" %}
		</div>
	</div> <!-- comments_container -->
	
	<form>
		<fieldset>
			<h4 id="leave_a_comment">Leave a comment:</h4>
			<textarea id="comment_textarea"></textarea><br />
			<input type="submit" value="Post comment"></input>
		</fieldset>
	</form>

</div> <!-- single_sample_content -->


<div id="single_sample_sidebar">
	<div id="download">
		<a href="#" id="download_button"></a>
		<div id="download_text">Downloaded<br /><b>5546</b> times</div>
	</div>

	<dl id="sound_information_box">
		<dt><img src="{{media_url}}images/info_red.png" width="12" height="12" />Type</dt><dd>{{sound.get_type_display}} (.{{sound.type}})</dd>
		<dt><img src="{{media_url}}images/info.png" width="12" height="12" />Duration</dt><dd>{{sound.duration|duration}}</dd>
		<dt><img src="{{media_url}}images/info_red.png" width="12" height="12" />Filesize</dt><dd>{{sound.filesize|filesizeformat}}</dd>
		
		{% if sound.bitdepth %}
		<dt><img src="{{media_url}}images/info.png" width="12" height="12" />Samplerate</dt><dd>{{sound.samplerate}} Hz</dd>
		<dt><img src="{{media_url}}images/info.png" width="12" height="12" />Bitdepth</dt><dd>{{sound.bitdepth}} bit</dd>
		{% else %}
		<dt><img src="{{media_url}}images/info.png" width="12" height="12" />Bitrate</dt><dd>{{sound.bitrate}} kbps</dd>
		{% endif %}        
		<dt><img src="{{media_url}}images/info.png" width="12" height="12" />Channels</dt><dd>{{sound.get_channels_display}}</dd>
	</dl>

	<ul id="sound_links">
		<li><img src="{{media_url}}images/geotag.png" width="16" height="16" /><a href="#">Geotag</a></li>
		<li><img src="{{media_url}}images/similar_sounds.png" width="16" height="16" /><a href="#">Similar sounds</a></li>
		<li><img src="{{media_url}}images/remixes.png" width="16" height="16" /><a href="#">Remixes</a></li>
		<li><img src="{{media_url}}images/sources.png" width="16" height="16" /><a href="#">Sources</a></li>
	</ul>

	<div id="flag_sound">
		Sound illegal or offensive? <a href="#">Flag it.</a>
	</div>

	<div id="sound_license">
		<img src="images/creative_commons.png" with="95" height="23" alt="Creative Commons" />
		This work is licensed under a Creative Commons Sampling Plus 1.0 License.
	</div>
</div> <!-- single_sample_sidebar -->

{% endblock section_content %}