{% extends "sounds/_section.html" %}

{% block title %}&quot;editing {{sound.original_filename}}{% endblock title %}

{% block onunload %}GUnload(){% endblock %}

{% block head %}
{{ block.super }}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{google_api_key}}" type="text/javascript"></script>
{% endblock head %}

{% block section_content %}

<h2>Sound description</h2>

<a id="description"></a>
<form method="post" action="#description">
    {{description_form.as_p}}
    <input type="submit" name="submit" value="submit" />
</form>


<h2>Pack</h2>

<a id="pack"></a>
<form method="post" action="#pack">
    {{pack_form.as_p}}
    <input type="submit" name="submit" value="submit" />
</form>


<h2>Geotag</h2>

<a id="geotag"></a>
<form method="post" action="#geotag">
    {{geotag_form.as_p}}
    <p>
        <label for="map">Drag this map to set the geotag:</label> 
        <div id="map" style="width: 400px; height:400px; margin-bottom: 1em;"></div>
    </p>
    <input type="submit" name="submit" value="submit" />
</form>

<script type="text/javascript">
    var map = new GMap2($("map"));
    
    var initialCenter = new GLatLng(23.885837699862005,21.796875);
    var initialZoom = 2;
    
    {% if sound.geotag %}
    initialCenter = new GLatLng({{sound.geotag.lat}},{{sound.geotag.lon}});
    initialZoom = {{sound.geotag.zoom}}; 
    {% endif %}

    map.setCenter(initialCenter, initialZoom);
    
    map.setMapType( G_HYBRID_MAP );
    map.enableContinuousZoom();
    map.addControl(new GSmallMapControl());
    map.addControl(new GMapTypeControl());
    
    var centerIcon = new GIcon();
    centerIcon.image = "http://www.freesound.org/geotagging/arrow.png";
    centerIcon.iconSize = new GSize(25, 24);
    centerIcon.shadowSize = new GSize(0, 0);
    centerIcon.iconAnchor = new GPoint(0, 24);
    centerIcon.infoWindowAnchor = new GPoint(25, 0);
    
    var centerMarker = new GMarker(initialCenter, centerIcon);
    map.addOverlay(centerMarker);

    GEvent.addListener(map, "move", updateAndAddCenter);

    updateAndAddCenter()

    function updateAndAddCenter()
    {
        var center = map.getCenter();
        var zoom = map.getZoom();
        // update form
        if (!$("{{geotag_form.remove_geotag.auto_id}}").checked)
        {
            $("{{geotag_form.lon.auto_id}}").value = center.lng();
            $("{{geotag_form.lat.auto_id}}").value = center.lat();
            $("{{geotag_form.zoom.auto_id}}").value = zoom;
        }
        centerMarker.setLatLng(center);
    }
    
    
    $("{{geotag_form.remove_geotag.auto_id}}").observe('change', function (event) {
        if (this.checked)
        {
            $("{{geotag_form.lon.auto_id}}").disable().value = "";
            $("{{geotag_form.lat.auto_id}}").disable().value = "";
            $("{{geotag_form.zoom.auto_id}}").disable().value = "";
        }
        else
        {
            $("{{geotag_form.lon.auto_id}}").enable();
            $("{{geotag_form.lat.auto_id}}").enable();
            $("{{geotag_form.zoom.auto_id}}").enable();
            updateAndAddCenter();
        }
    });
    
    update
</script>
{% endblock section_content %}