{% extends "sounds/_section.html" %}

{% load display_sound %}
{% block head %}
{{ block.super }}
<style TYPE="text/css">
.results_container {
    width: 250px;
    float: right;
    font-size: 12px;
    line-height: 18px;
}
.selected_container {
    width: 250px;
    float: left;
    font-size: 12px;
    line-height: 18px;
}
</style>
<script>

//searching for a sound with ajax, solr and loading the results into the results container
function searchOpen1(page) { 
    $.get("/search/ajax/",
    {
        q: 'waves',
        s:'downloads_desc',
        p:page
    },
    function(data) {
        $('.results_container').append(data);
    });
}

//returns the display_sound template for the sound with the specified id
function getSoundDisplay(id) { alert(0);
    $.get("/search/ajax/",
    {
        id: id
    },
    function(data) {
        alert(data);
        return data;
    });
}

//searching for a sound with json and freesound api and loading the results into the results container
function searchOpen(page) { 
    $.getJSON("/api/sounds/search/",
    {
        q: $('#txtSearch').val(),
        api_key:'c6827e4a289d40f2a4f2d57719b0bd7e',
        s:'downloads_desc',
        p:page
    },
    function(data) {
        var id, anchor_add, anchor_next
        $('.load_more').remove();
        
        //load the sounds into the results container
        $.each(data.sounds, function(i,item){
            id = item.base_filename_slug.split("__")[0]; 
            var $player_small = $('<div class="sample_player_small"/>');
            anchor_add = '<a><div class="add_sound" onClick="addSound('+ id +')">Click to add sound</div></a>';   
            $player_small.html('sound_id='+id);
            $player_small.append(anchor_add); 
            $('.results_container').append($player_small);
        });
        
        //set the link to load more results
        if (page < data.num_pages)
        {
            page = page + 1;
            anchor_next = '<a><div class="load_more" onClick="searchOpen('+ page +')">Load more sounds...</div></a>';  
            $('.results_container').append(anchor_next);
        }
    });
}

//adding a sounds from the results container to the remix sources container
function addSound(id) {

    var remixes,add_sound = false, anchor_remove 
    
    if ($('#remix_sources').val().length==0)
    {
        $('#remix_sources').val(id);
        add_sound=true;
    }
    else if ($.inArray(id,remixes)<0)
    {
        remixes = $('#remix_sources').val().split(',');
        $('#remix_sources').val(remixes.join(',')+','+id);
        add_sound=true;
    }
    
    if (add_sound) 
    {
        $.post("#add",{ op: "add", add_source: id },
        function(responseData) {
            if (responseData.response=="added")
            {
		        //var $player_small = $('<div class="sample_player_small"/>');		        
		        var sound_player
		        sound_player = getSoundDisplay(id);
		        var $player_small = $(sound_player);
		        anchor_remove = '<a><div class="remove_sound" onClick="removeSound(this,'+ id +')">Remove sound</div></a>';   
                $player_small.html(''+id);
                $player_small.append(anchor_remove); 
                $('.selected_container').append($player_small);
		        return true;
            }
        },
    "json");
    }
    
    return false;
}

function removeSound(div, id) {
    $.post("#remove",{ op: "remove", remove_source: id } ,
        function(responseData) {
            if (responseData.response=="removed")
            {
                remixes = $('#remix_sources').val().split(',');
                remixes = $.grep(remixes, function(value) {
                    return value != id;
                });
                $('#remix_sources').val(remixes.join(','));
                $(div).parents("div:first").remove();
            }
        },
    "json");    
}

</script>
{% endblock head %}
{% block title %}Remixes of {{sound.original_filename}}{% endblock title %}

{% block section_content %}
<h1>Sources of <a href="{% url sound sound.user.username sound.id %}">{{sound.original_filename}}</a> by <a href="{% url account sound.user.username %}">{{sound.user.username}}</a></h1>

<input type="hidden" name="remix_sources" id="remix_sources" value="{{ remixes }}"/>  

<div name="divSelected" class="selected_container">
	{% for sound in sources %}
	<div class="sample_player_small">
	    {%  display_sound sound.id %}   
	    <a><div class="remove_sound" onClick="removeSound(this, {{ sound.id }})">Remove sound</div></a>    
	</div>
	{% empty %}          
	{% endfor %} 
</div>
    
<div name="divResults" class="results_container">
	<input name="txtSearch" id="txtSearch" type="text" />
	 <input type="button" value="search" onclick="searchOpen1(1);"/> 
</div>
{% endblock section_content %}