{% ifequal type "list" %}
 <ul>
    {% for f in facet %}
        {% if f.item %}
        <li class="facet_item"><a href="{% url sounds-search %}?q={{search_query}}&f={% if filter_query %}{{filter_query}}{% endif %}{{filter}}%3A%22{{f.item}}%22">{{f.item}}</a> ({{f.count}})</li>
        {% endif %}
    {% endfor %}
</ul>
{% endifequal %}
{% ifequal type "cloud" %}
<p class="tagcloud">
    {% for f in facet %}
        {% if f.item %}
        <span class="facet_item" style="font-size:{{f.size}}em"><a href="{% url sounds-search %}?q={{search_query}}&f={% if filter_query %}{{filter_query}}{% endif %}{{filter}}%3A%22{{f.item}}%22">{{f.item}}</a></span>
        {% endif %}
    {% endfor %}
</p>
{% endifequal %}