{% extends "base.html" %}
{% load filefunctions %}

{% block title %}{{ block.super }}Describe{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
	function select_ul(element)
	{
		$(element.parentNode).find("input").click();
	}
	
	function checkboxChange(checkbox)
	{
		var option = $("#fileform").find("option[value=" + checkbox.name + "]").get(0);
		
		if (checkbox.checked)
			option.selected = true;
		else
			option.selected = false;
	}
</script>
{% endblock %}

{% block content %}
<ul id="root_file" class="upload">
	{% show_file file_structure %}
</ul>
<form action="." method="post" id="fileform">{% csrf_token %}
	<div style="display:none">
	{{form.as_p}}
	</div>
	<input type="submit" value="describe" name="describe">
</form>
{% endblock %}