{% extends "base.html" %}

{% block title %}Freesound{% endblock title %}

{% block content %}
    <h1>Welcome to Freesound!</h1>
    <ul>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'accounts-home' %}">Home</a></li>
        {% endif %}
        <li><a href="{% url 'sounds' %}">Sounds</a></li>
        <li><a href="{% url 'forums-forums' %}">Forums</a></li>
        <li><a href="{% url 'accounts' %}">People</a></li>
        <li><a href="{% url 'wiki' %}faq/">Help</a></li>
    </ul>
{% endblock %}
