$red: #ff3546;
$red-hover: #ff4958;

$black: #141424;
$black-hover: #2b2b39;

$navy-grey: #9696aa;

$navy-light-grey: #cacad4;

$white: #ffffff;

$search-bg: #f7f7f9;

$border-input-profile: #efeff2;
$background-input-profile: #f4f4f6;

$background-textarea: #f4f4f6;

$yellow-rating: #fd4;
