$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: 1200px,
);
