$tiny-spacing: 6px;
$small-spacing: 12px;
$smedium-spacing: 18px;
$base-spacing: 24px;
$medium-spacing: 28px;
$large-spacing: 42px;
$super-spacing: 48px;

$spacing-values-list: $tiny-spacing, $small-spacing, $smedium-spacing, $base-spacing,
  $medium-spacing, $large-spacing, $super-spacing;
