$h1-size: 42px;
$h1-line-height: 48px;
$h1-size-mobile: 42px;
$h1-line-height-mobile: 48px;

$h1-list: $h1-size, $h1-line-height, $h1-size-mobile, $h1-line-height-mobile;

$h2-size: 36px;
$h2-line-height: 48px;
$h2-size-mobile: 36px;
$h2-line-height-mobile: 48px;

$h2-list: $h2-size, $h2-line-height, $h2-size-mobile, $h2-line-height-mobile;

$h3-size: 32px;
$h3-line-height: 38px;
$h3-size-mobile: 26px;
$h3-line-height-mobile: 31px;

$h3-list: $h3-size, $h3-line-height, $h3-size-mobile, $h3-line-height-mobile;

$h4-size: 26px;
$h4-line-height: 31px;
$h4-size-mobile: 26px;
$h4-line-height-mobile: 31px;

$h4-list: $h4-size, $h4-line-height, $h4-size-mobile, $h4-line-height-mobile;

$h5-size: 22px;
$h5-line-height: 26px;
$h5-size-mobile: 22px;
$h5-line-height-mobile: 26px;

$h5-list: $h5-size, $h5-line-height, $h5-size-mobile, $h5-line-height-mobile;

$headers-list: $h1-list, $h2-list, $h3-list, $h4-list, $h5-list;

$bigBase-size: 17px;
$bigBase-line-height: 30px;
$bigBase-size-mobile: 15px;
$bigBase-line-height-mobile: 24px;

$base-size: 15px;
$base-line-height: 24px;
$base-size-mobile: 17px;
$base-line-height-mobile: 30px;
