{% import './molecules/player.njk' as players %}
{% extends "base.njk" %}

{% block content %}
  {% include './molecules/navbar.njk' %}
  <div class="row no-gutters navbar-space-filler">
    <aside class="col-4">
      <div class="bw-search__filter-section">
        <div class="bw-search__filter-section-name caps text-grey">Licenses</div>
        <ul class="bw-search__filter-value-list">
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="creative-commons-filter" onchange="">
            <label for="creative-commons-filter" class="bw-search__filter-name">
              Creative commons 0
              <div class="bw-search__filter-count">40</div>
            </label>
          </li>
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="attribution-filter" onchange="">
            <label for="attribution-filter" class="bw-search__filter-name">
              Attribution
              <div class="bw-search__filter-count">20</div>
            </label>
          </li>
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="nc-filter" onchange="">
            <label for="nc-filter" class="bw-search__filter-name">
              Non-commercial
              <div class="bw-search__filter-count">20</div>
            </label>
          </li>
        </ul>
      </div>
      <div class="bw-search__filter-section">
        <div class="bw-search__filter-section-name caps text-grey">Type</div>
        <ul class="bw-search__filter-value-list">
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="mp3-filter" onchange="">
            <label for="mp3-filter" class="bw-search__filter-name">
              mp3
              <div class="bw-search__filter-count">40</div>
            </label>
          </li>
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="wav-filter" onchange="">
            <label for="wav-filter" class="bw-search__filter-name">
              wav
              <div class="bw-search__filter-count">20</div>
            </label>
          </li>
          <li class="bw-search__filter-value">
            <input type="checkbox" class="bw-checkbox bw-search__filter-checkbox" id="aiff-filter" onchange="">
            <label for="aiff-filter" class="bw-search__filter-name">
              aiff
              <div class="bw-search__filter-count">20</div>
            </label>
          </li>
        </ul>
      </div>
    </aside>
    <main class="col-8">
      <div class="bw-search__result-list h-padding-4">
        <div class="bw-search__result">
          <div class="row no-gutters no-wrap">
            <div class="col-3">
              {{ players.player() }}
            </div>
            <div class="padding-left-3">
              <h5 class="v-spacing-top-1">Bass Guitar Solo 01</h5>
              <p class="text-grey">My amazing skills at bass</p>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Field-recording</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Ambient</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Microphone</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Noise</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Drone</button>
            </div>
          </div>
          <div class="between v-spacing-top-2">
            <div class="middle text-grey">
              <div class="avatar h-spacing-2">
                <img src="../public/avatar.jpg" />
              </div>
              <a>giuband</a>
              <span class="h-spacing-left-2">February 18th, 2017</span>
            </div>
            <div class="middle text-light-grey">
              Barcelona
            </div>
          </div>
        </div>
        <div class="bw-search__result">
          <div class="row no-gutters no-wrap">
            <div class="col-3">
              {{ players.player() }}
            </div>
            <div class="padding-left-3">
              <h5 class="v-spacing-top-1">Bass Guitar Solo 01</h5>
              <p class="text-grey">My amazing skills at bass</p>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Field-recording</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Ambient</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Microphone</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Noise</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Drone</button>
            </div>
          </div>
          <div class="between v-spacing-top-2">
            <div class="middle text-grey">
              <div class="avatar h-spacing-2">
                <img src="../public/avatar.jpg" />
              </div>
              <a>giuband</a>
              <span class="h-spacing-left-2">February 18th, 2017</span>
            </div>
            <div class="middle text-light-grey">
              Barcelona
            </div>
          </div>
        </div>
        <div class="bw-search__result">
          <div class="row no-gutters no-wrap">
            <div class="col-3">
              {{ players.player() }}
            </div>
            <div class="padding-left-3">
              <h5 class="v-spacing-top-1">Bass Guitar Solo 01</h5>
              <p class="text-grey">My amazing skills at bass</p>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Field-recording</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Ambient</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Microphone</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Noise</button>
              <button class="btn-inverse border-grey-light text-center no-border-radius padding-1 spacing-1">Drone</button>
            </div>
          </div>
          <div class="between v-spacing-top-2">
            <div class="middle text-grey">
              <div class="avatar h-spacing-2">
                <img src="../public/avatar.jpg" />
              </div>
              <a>giuband</a>
              <span class="h-spacing-left-2">February 18th, 2017</span>
            </div>
            <div class="middle text-light-grey">
              Barcelona
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  {% include './molecules/footer.njk' %}
{% endblock %}
