.text-red {
  color: $red;
}

.text-grey {
  color: $navy-grey;
}

.text-light-grey {
  color: $navy-light-grey;
}

.text-black {
  color: $black;
}

.text-center {
  text-align: center;
}

.caps {
  text-transform: uppercase;
}
