/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

#account_info_left {
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

.account_avatar {
    border-radius: 2px;
}

#follow_button {
    margin: 5px;
    width: 100px;
}

#follow_tag_link {
    font-size: 10px;
}

#social {
    h3:first-child {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }
    ul {
        padding: 0px;
        list-style-type: none;

        li {
            display: inline;
            font-size: 12px;
            font-style: italic;
            a {
                font-size: 12px;
            }
        }
    }
}

.tagcloud {
    margin-bottom: 20px;
}

#follow_tags_link {
    float: right;
}