/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

@import "../css/all.css";

#account_info_left {
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

.account_avatar {
    border-radius: 2px;
}

#follow_button {
    margin: 5px;
    width: 100px;
}

#follow_tag_link {
    font-size: 10px;
}

#social {
    h3:first-child {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }
    ul {
        padding: 0px;
        list-style-type: none;
        overflow: hidden;
        li {
            display: inline;
            font-size: 10px;
            a {
                font-size: 10px;
            }
        }
    }
}

.tagcloud {
    margin-bottom: 20px;
}

#follow_tags_link {
    float: right;
}

#follow_tags {
    font-size: 11px;
    font-weight: bold;
    li {
        margin-bottom: 5px;
    }
}

#follow_browse_tags {
    float: right;
    max-width: 310px;
    .tags {
        margin-bottom: 0px;
        max-width: 310px;
    }
    .tag_group {
        float: right;
        margin-right: 0px;
    }
}

#now_following_tags_span {
    font-size: 11px;
    font-style: italic;
    float: right;
    width: 310px;
    text-align: right;
    margin-bottom: 5px;
}

#follow_tags_button {
    float: right;
}

#following_tags, #follow_browse_tags, #stream_following_tags {
    padding: 0px;
    margin: 0px;
    .tags li a {
        margin-bottom: -20px;
        background-image: url(../images/tag_edge_group.png);
        font-size: 10px;
        color: #000;
        font-weight: normal;
        &:hover {
            text-decoration: none;
        }
    }
}

#following_tags {
    .tag_group {
        cursor: pointer;
    }
}

.tag_group {
    background: rgb(244,244,244);
    border-radius: 5px;
    text-align: justify;
    float: left;
    padding: 2px;
    margin: 0px 6px 6px 0px;
}

.tagcloud {
    border-radius: 5px;
}

#stream_box {
    width: 944px;
    background: url(../images/sub_sidebar_header_full_box_bg.png) no-repeat top;
    margin: 0;
    maring-left: 1px;
    padding: 0px;
    h3 {
        margin-left: 0;
        padding: 0px 18px;
    }
}

.left {
    width: 600px;
    /*border-right: 1px solid red;*/
    float: left;
    margin-bottom: 40px;
    margin-left: 20px;
}

.right {
    /*border: 1px solid green;*/
    float: right;
    text-align: left;
    margin: 0 auto;
    width: 320px;
}