/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

#account_info_left {
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

.account_avatar {
    border-radius: 2px;
}

#follow_button {
    margin: 5px;
    width: 100px;
}

#follow_tag_link {
    font-size: 10px;
}

#social {
    h3:first-child {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }
    ul {
        padding: 0px;
        list-style-type: none;
        li {
            display: inline;
            font-size: 10px;
            a {
                font-size: 10px;
            }
        }
    }
}

.tagcloud {
    margin-bottom: 20px;
}

#follow_tags_link {
    float: right;
}

.large-box {
    width: 800px;
}

#follow_tags {
    font-size: 11px;
    font-weight: bold;
    li {
        margin-bottom: 5px;
    }
}

#follow_browse_tags {
    float: right;
    max-width: 310px;
    .tags {
        margin-bottom: 0px;
        max-width: 310px;
    }
    .tag_group {
        float: right;
    }
}

#now_following_tags_span {
    font-size: 11px;
    font-style: italic;
    float: right;
    width: 310px;
    text-align: right;
    margin-bottom: 5px;
}

#follow_tags_button {
    float: right;
}

#follow_tags_button_div {
    width: 310px;
}

#following_tags, #follow_browse_tags {
    padding: 0px;
    margin: 0px;
    .tags li a {
        margin-bottom: -20px;
        background-image: url(../images/tag_edge_group.png);
        font-size: 10px;
    }
}

#following_tags {
    .tag_group {
        cursor: pointer;
    }
}

.tag_group {
    background: rgb(244,244,244);
    border-radius: 10px;
    text-align: justify;
    float: left;
    padding: 6px 6px 6px;
    margin: 0px 0px 6px 0px;
}

