.footer-logo-container {
  max-width: 450px;

  img {
    object-fit: cover;
  }
}

.bw-footer .bw-link--grey {
  @include active {
    color: $navy-grey;
  }
}

.bw-footer {
  color: $navy-grey;
}

.bw-footer-links {
  @include md-and-above {
    justify-content: space-between;
  }
}
