.sidebar-map {
  width: 300px;
  height: 300px;
}

.map_terrain_menu {
    position:absolute;
    background: #fff;
    padding: 8px;
    right: 52px;
    top: 8px;
    border-radius: 5px;
    line-height: 24px;
    border: 2px solid rgba(100,100,100, 0.1);
    cursor: pointer;
    background-clip: padding-box;
}

.map_terrain_menu:hover {
    background: #eeeeee;
    background-clip: padding-box;
}

.geotag-picker-map {
  min-height: 300px;
  height: 100%;
  width: 100%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
  z-index: 1 !important; // Fix mapbox controls z-index being too high
}