@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import 'node_modules/bootstrap/scss/modal';

.modal {
  background-color: $modal-outer-bg-color;
  overflow: scroll;

  .modal-header {
    border: 0;

    .close {
      color: $navy-light-grey;
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 0 20px;

    @include lg-and-above {
      padding: 0 56px;
    }

    .modal_title {
      margin-bottom: 40px;
      font-size: 24px;
    }

    form {
      display: flex;
      flex-direction: column;

      .select-dropdown {
        margin-bottom: 15px;
      }

      input {
        height: 48px;
        border-radius: 5px;
        padding: 14px 21px;
        margin-bottom: 32px;
        background-color: #f4f4f6;
        border: 1px solid transparent;

        &:focus {
          border: 1px solid $black;
          background-color: $white;
        }

        &::placeholder {
          color: $navy-grey;
        }
      }
    }

    .main-text {
      font-size: 16px;
    }

    .secondary-text {
      font-size: 14px;
      color: $navy-grey;
      margin-bottom: 54px;
    }
  }

  .modal-footer {
    border: 0;
    padding: 0 56px 26px;
    flex-direction: column;

    button {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 18px;
    }

    > a {
      color: $navy-grey;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .link-left {
    align-items: start;
  }

  .modal-extra-info {
    position: relative;
    top: 45px;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;

    a {
      cursor: pointer;
      color: $white;
    }
  }
}

.modal-wrapper {
  position: relative;
}

@for $i from 6 through 9 {
  $value1: $i * 10;
  $value2: $i / 10;
  .modal-width-#{$value1} {
    .modal-wrapper {
      .modal-dialog {
        max-width: 100% * $value2 !important;
        @media (max-width:750px) {
            max-width: 100% !important;
        }
        @media (min-width:1100px) {
          max-width: 1000px !important;
      }
      }
    }
  }
}
