$navbar-height: 80px;
$navbar-height-mobile: 64px;

.bw-nav {
  height: $navbar-height-mobile;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $white;
  z-index: get-z-index('navbar');
  transition: box-shadow 0.2s ease;
  display: flex;
  align-items: center;

  @include md-and-above {
    height: $navbar-height;
  }

  .input-wrapper {
    flex-grow: 1;
  }
}

.bw-nav--scrolled {
  box-shadow: 0 2px 5px transparentize($navy-light-grey, 0.6);
}

.bw-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bw-nav__logo-search-container {
  height: 48px;
  display: flex;
  flex-grow: 1;

  > :first-child:not(:last-child) {
    margin-right: 32px;
  }
}

.bw-nav__logo {
  width: 60px;
  height: 100%;
  background-image: url('assets/logos/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  a {
    display: block;
    height: 100%;
  }
}

.bw-nav__logo-with-text {
  /* this version of the logo can show "freesound" text if used with bw-nav--expanded class */
  width: 60px;
  height: 100%;
  background-image: url('assets/logos/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  a {
    display: block;
    height: 100%;
  }

  .bw-nav--expanded & {
    @include md-and-above {
      width: 190px;
      background-image: url('assets/logos/logo-text.svg');
    }
  }
}

.input-wrapper {
  .bw-nav--expanded & {
    display: none;
  }
}

.bw-nav__actions {
  display: none;

  @include md-and-above {
    list-style: none;
    display: flex;
  }
}

.bw-nav__action {
  display: flex;
  align-items: center;

  @include md-and-above {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &.dropdown-item {
    flex-direction: column;
    align-items: normal;
    margin-right: 0;
  }
}

.bw-nav__menu {
  display: flex;
  width: 18px;
  cursor: pointer;
  // to make sure its hover area is the same of other elements
  height: 24px;
  align-items: center;
}

.bw-nav__menu--avatar-with-notifications {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    content: ' ';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: $red;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.bw-nav:not(.bw-nav--expanded) {
  .btn-primary {
    @include reset-rounded-button($red, $red-hover);
    letter-spacing: 0px;
  }
  .btn-secondary {
    @include reset-rounded-button($black, $black-hover);
    letter-spacing: 0px;
  }
}

.navbar-space-filler {
  padding-top: $navbar-height-mobile;

  @include md-and-above {
    padding-top: $navbar-height;
  }
}

.navbar-forums-hot {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 32px 0;

  .nav-item {
    margin-right: 24px;

    .nav-link {
      font-size: 16px;
      color: $navy-grey;

      &.active {
        color: $black;
      }

      &:hover {
        color: $black;
      }
    }

    span {
      margin-left: 16px;
      color: $navy-grey;
    }
  }
}
