{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load display_sound %}
{% load util %}

{% block title %}{% if is_owner %}Bookmarks{% else %}Bookmarks by {{user.username}}{% endif %}{% endblock %}
{% block page-title %}{% if is_owner %}Bookmarks{% else %}Bookmarks by <a href="{% url 'account' user.username %}">{{user.username}}</a>{% endif %}{% endblock %}

{% block page-content %}
    <div class="v-spacing-top-5">
        <div class="row no-gutters">
            <div class="col-lg-3 offset-lg-1 order-lg-last v-spacing-3">
                <h4>Bookmark categories</h4>
                <div class="v-spacing-top-3">
                {% if bookmark_categories %}
                    <ul class="list-style-type-none">
                        <li><a href="{% url "bookmarks-for-user" user.username %}" {% if not category %}style="font-weight:bold"{% endif %} aria-label="Category: Uncategorized">Uncategorized</a> <span class="text-grey"> · {{n_uncat|bw_intcomma}} bookmark{{ n_uncat|pluralize }}</span></li>
                        {% for cat in bookmark_categories %}
                            <li><a href="{% url "bookmarks-for-user-for-category" user.username cat.id %}" {% if category.id == cat.id %}style="font-weight:bold"{% endif %} aria-label="Category: {{cat.name}}">{{cat.name}}</a> <span class="text-grey"> · {{cat.num_bookmarks|bw_intcomma}} bookmark{{ cat.num_bookmarks|pluralize }}</span>
                            {% if is_owner %}
                            <a class="cursor-pointer h-spacing-left-1" data-toggle="confirmation-modal" data-modal-confirmation-title="Are you sure you want to remove this bookmark category?" data-modal-confirmation-help-text="Note that all the bookmarks inside this category will also be removed" data-modal-confirmation-url="{% url "delete-bookmark-category" cat.id %}{% if cat.id != category.id %}?next={{request.path}}&page={{current_page}}{% endif %}" title="Remove bookmark category" aria-label="Remove bookmark category">{% bw_icon 'trash' %}</a>
                            <a class="cursor-pointer" data-toggle="modal-default-with-form" data-modal-content-url="{% url 'edit-bookmark-category' cat.id %}?ajax=1" title="Edit bookmark category" aria-label="Edit bookmark category">{% bw_icon 'edit' %}</a>
                            <a class="cursor-pointer" href="{% url 'download-bookmark-category' cat.id %}" title="Download bookmark category" aria-label="Download bookmark category">{% bw_icon 'download' %}</a>
                            {% endif %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-grey">
                    {% if is_owner %}You haven't created any bookmark categories yet{% else %}<a href="{% url "account" user.username%}">{{user.username}}</a> hasn't created any bookmark categories yet{% endif %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="col-lg-8">
                <h4><span class="text-light-grey">Category:</span> {% if category %}{{category.name}}{% else %}Uncategorized{% endif %} </h4>
                <div class="v-spacing-top-3">
                {% if page.object_list %}
                    <div class="row">
                        {% for bookmark in page.object_list %}
                            <div class="col-6 col-md-4">
                                {% display_sound_small bookmark.sound %}                     
                                {% if is_owner %}
                                    <div class="right v-spacing-4 v-spacing-top-negative-2"><a class="cursor-pointer bw-link--grey" data-toggle="confirmation-modal" data-modal-confirmation-title="Are you sure you want to remove this bookmark from '{{bookmark.category_name_or_uncategorized}}'?" data-modal-confirmation-url="{% url "delete-bookmark" bookmark.id %}?next={{request.path}}&page={{current_page}}" title="Remove from bookmarks" aria-label="Remove from bookmarks">{% bw_icon 'trash' %} Remove bookmark</a></div>                                        
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-grey">There are no {% if not category %}uncategorized{% endif %} bookmarks {% if category %}in this category{% endif %} &#128543</div>
                {% endif %}
                {% bw_paginator paginator page current_page request "bookmark" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}