{% if not request.user.is_authenticated %}
    <p>Please, login to Freesound before bookmarking any sounds.</p>
{% else %}

<script type="text/javascript">
    
    function post_bookmark(id)
    {
        $("#id_" + id.toString() + "-name").attr('disabled','disabled')
        $("#id_" + id.toString() + "-category").attr('disabled','disabled')
        $("#id_" + id.toString() + "-new_category_name").attr('disabled','disabled')
        
        $.ajax({
            type: 'POST',
            url: '{{ add_bookmark_url }}' + id.toString() + '/',
            data: {
                name: $("#id_" + id.toString() + "-name").val(),
                category: $("#id_" + id.toString() + "-category").val(),
                new_category_name: $("#id_" + id.toString() + "-new_category_name").val(),
                sound_id: $("#id_" + id.toString() + "-sound_id").val()
            },
                success: function(data) {
                    display_bookmark_feedback(id,data);
                },
                error: function(data) {
                    display_error_feedback(id,data);
                },

            });
    }

    function display_bookmark_feedback(id, data){
        $("#bookmark_info_message_" + id.toString()).html("Bookmark correctly added!")
        $("#bookmark_info_message_" + id.toString()).show()
        setTimeout(function() {
            $("#bookmark_info_message_" + id.toString()).fadeOut('slow')
            show_hide_bookmark_form(id)
        }, 2000);
    }
    
    function display_error_feedback(id, data){
        $("#bookmark_info_message_" + id.toString()).html("Bookmark could not be added, some error occurred.")
        $("#bookmark_info_message_" + id.toString()).show()
        setTimeout(function() {
            $("#bookmark_info_message_" + id.toString()).fadeOut('slow')
            show_hide_bookmark_form(id)
        }, 2000);
    }

    function toggleVisibility(select, element) {
        if (select.value == '0'){
            // No category is selected, show the new category name input
            element.show();
        } else {
            element.hide();
        }
    }

    $(document).ready( function() {
        var selectElement = $("#id_{{ sound_id }}-category");
        var newCategoryElementParent = $("#id_{{ sound_id }}-new_category_name").parent()
        toggleVisibility(selectElement, newCategoryElementParent)
        selectElement.change(function (evt) {
            toggleVisibility(evt.target, newCategoryElementParent)
        });
    });
</script>
	
<div class = "bookmark_info_message" id="bookmark_info_message_{{sound_id}}" style="display:none"></div>
<p>
    {% if bookmarks %}
    This sound is already in your bookmarks{% if not categories_aready_containing_sound %}.{% endif %}
        {% if categories_aready_containing_sound %}
            under the categories:
            {% for cat in categories_aready_containing_sound %}
                <strong>{{cat.name}}</strong>{% if forloop.last %}.{% else %}{% if forloop.revcounter == 2%} and {% else %}, {% endif %}{% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
</p>

{{form.as_p}}

<p>
    <br style="clear"/>
    <a href="javascript:void(0)"  title="Close" onclick="show_hide_bookmark_form({{sound_id}})">Close</a>
    <input type="button" onclick="post_bookmark({{sound_id}})" style="float:right" value="Add bookmark!"/>
    <br style="clear"/>
</p>


{% endif %}