{% extends "accounts/_notab.html" %}

{% load bookmark_form %}
{% load paginator %}
{% block title %}{% if owner %}Your bookmarks{% else %}Bookmarks by {{user.username}}{% endif %}{% endblock %}

{% block tab_home_active %}{% if owner %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not owner %}active_tab{% endif %}{% endblock %}

{% block section_content %}


<script type="text/javascript">
    
    /*
    var selected_ids = []
    
    function toggle_bookmark_id(id)
    {
        if (selected_ids.indexOf(id) != -1){
	    selected_ids.splice (selected_ids.indexOf(id),1);
	}else{
	    selected_ids.push(id)
	}
    }
    
    function collect_ids(){
	$("#id_list_ids").val(selected_ids.toString())
    }
    
    function select_all(){
	{% for bookmark in page.object_list %}
	    if ($("#id_check_{{bookmark.id}}").attr("checked")==false){
		$("#id_check_{{bookmark.id}}").attr("checked", !$("#id_check_{{bookmark.id}}").attr("checked"))
		toggle_bookmark_id({{bookmark.id}})
	    }
	{% endfor %}
    }
    
    function select_none(){
	{% for bookmark in page.object_list %}
	    if ($("#id_check_{{bookmark.id}}").attr("checked")==true){
		$("#id_check_{{bookmark.id}}").attr("checked", !$("#id_check_{{bookmark.id}}").attr("checked"))
		toggle_bookmark_id({{bookmark.id}})
	    }
	{% endfor %}
    }*/
    
</script>


<h1>{% if owner %}Your bookmarks{% else %}Bookmarks by <a href="{% url account user.username%}">{{user.username}}</a>{% endif %}</h1>
<div id="content">
    {% if category %}
        <h3>Bookmarks in "{{category.name}}"</h3>
    {% else %}
	<h3>Uncategorized bookmarks</h3>
    {% endif %}
    
    {% if bookmarked_sounds %}
	
	{% show_paginator paginator page current_page request "bookmark" %}
	
	<div style="margin-top:-15px;margin-bottom:15px">
	{% for bookmark in page.object_list %}
	    
	    <div>
	    {% with bookmark.sound as sound%}
		<div class="infowindow_player" style="width:45px;height:20px;display:inline-block">
		    {% include "sounds/player_small.html" %}
		</div>
	    {% endwith %}
	    
	    <div style="width:475px;height:25px;vertical-align:middle;font-size:12px;display:inline-block">
		<a href="{% url sound bookmark.sound.user.username bookmark.sound.id %}">{% if bookmark.name %}{{bookmark.name}}{% else %}{{bookmark.sound.original_filename}}{%endif%}</a> by <a href="{% url account bookmark.sound.user.username %}">{{bookmark.sound.user.username}}</a>{% if bookmark.category %} under category <a href="{% url bookmarks-for-user-for-category user.username bookmark.category.id %}" {% if category.id = bookmark.category.id %}style="font-weight:bold"{% endif %}>{{bookmark.category.name}}</a>{% endif %}
		
		{% if owner %}
		    <a href="{% url delete-bookmark request.user.username bookmark.id %}?next={{request.path}}&page={{current_page}}"><img  style="vertical-align: bottom;" src="{{media_url}}images/cancel.png" width="16" height="16" alt="Delete bookmark"/></a>
		{% endif %}
	    </div>
	    
	    </div>
   
	{% endfor %}
	</div>
	{% show_paginator paginator page current_page request "bookmark" %}
	
    {% else %}
	<p>
	    There are no bookmarks {% if category or uncategorized %}in this category{% endif %}
	</p>	
    {% endif %}

        
</div><!-- #content -->

<div id="sidebar">
   
    <div id="bookmark_categories" class="content_box">
        <h3>{% if owner %}My{% else %}{{user.username}}'s{% endif %} bookmark categories</h3>
 
	{% if bookmark_categories %}
	    <ul>
		<li><a href="{% url bookmarks-for-user user.username %}" {% if not category %}style="font-weight:bold"{% endif %}>Uncategorized</a> ({{n_uncat}} bookmark{{ n_uncat|pluralize }})</li>
		
	    {% for cat in bookmark_categories %}
		<li><a href="{% url bookmarks-for-user-for-category user.username cat.id %}" {% if category.id = cat.id %}style="font-weight:bold"{% endif %}>{{cat.name}}</a> ({{cat.bookmarks.count}} bookmark{{ cat.bookmarks.count|pluralize }})
		
		{% if owner %}<a href="{% url delete-bookmark-category user.username cat.id %}{% if cat.id != category.id %}?next={{request.path}}&page={{current_page}}{% endif %}"><img  style="vertical-align: bottom;" src="{{media_url}}images/cancel.png" width="16" height="16" alt="Delete {{cat.name}} category"/></a>{% endif %}</li>
		
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>
		{% if owner %}You haven't created any bookmark categories yet{% else %}<a href="{% url account user.username%}">{{user.username}}</a> hasn't created any bookmark categories yet{% endif %}
	    </p>
	{% endif %}
	
    </div><!-- #bookmark_categories -->
    
    {% comment %}
    {% if owner %}
    <div id="actions" class="content_box">
    <h3>Create a new category</h3>
    <form action="" method="post" style="margin-left:-10px;margin-top:-10px">{% csrf_token %}
	<p style="margin-top:-10px">
	    Name: {{form_bookmark_category.name}}
	    <input type="submit" value="Create" name="create_cat" style="float:right;margin-top:8px"/>
	    <br style="clear"/>
	</p>
    </form>
    </div>
    {% endif %}
    {% endcomment %}
    
   
</div><!-- #sidebar -->

<br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}
