{% extends "accounts/_notab.html" %}


{% load paginator %}
{% block title %}{% if is_owner %}Your bookmarks{% else %}Bookmarks by {{user.username}}{% endif %}{% endblock %}

{% block tab_home_active %}{% if is_owner %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not is_owner %}active_tab{% endif %}{% endblock %}

{% block section_content %}


<h1>{% if is_owner %}Your bookmarks{% else %}Bookmarks by <a href="{% url "account" user.username%}">{{user.username}}</a>{% endif %}</h1>

<div id="content">

	<div id="latest_sounds" class="content_box">

    {% if category %}
        <h3>Bookmarks in "{{category.name}}"</h3>
    {% else %}
	<h3>Uncategorized bookmarks</h3>
    {% endif %}

    {% if page.object_list %}

	{% show_paginator paginator page current_page request "bookmark" %}

	<div class="bookmark_list_container">
	{% for bookmark in page.object_list %}

	    <div>
		{% with bookmark.sound as sound%}
		    <div class="bookmark_player">
			{% include "sounds/player_small.html" %}
		    </div>
		{% endwith %}

		<div class="bookmark_info">

		    <a href="{% url "sound" bookmark.sound.user.username bookmark.sound.id %}">{{bookmark.sound_name|truncatechars:50}}</a> by <a href="{% url "account" bookmark.sound.user.username %}">{{bookmark.sound.user.username}}</a>

		    {% if is_owner %}
			<a href="{% url "delete-bookmark" bookmark.id %}?next={{request.path}}&page={{current_page}}"><img  style="vertical-align: bottom;" src="{{media_url}}images/cancel.png" width="16" height="16" alt="Delete bookmark"/></a>
		    {% endif %}

		</div>
	    </div>

	{% endfor %}
	</div>
	{% show_paginator paginator page current_page request "bookmark" %}

    {% else %}
	<p>
	    There are no {% if not category %}uncategorized{% endif %} bookmarks {% if category %}in this category{% endif %}
	</p>
    {% endif %}

    </div>
</div><!-- #content -->

<div id="sidebar">

    <div id="bookmark_categories" class="content_box">
        <h3>{% if is_owner %}My{% else %}{{user.username}}'s{% endif %} bookmark categories</h3>

	{% if bookmark_categories %}
	    <ul>
		<li><a href="{% url "bookmarks-for-user" user.username %}" {% if not category %}style="font-weight:bold"{% endif %}>Uncategorized</a> ({{n_uncat}} bookmark{{ n_uncat|pluralize }})</li>

	    {% for cat in bookmark_categories %}
		<li><a href="{% url "bookmarks-for-user-for-category" user.username cat.id %}" {% if category.id == cat.id %}style="font-weight:bold"{% endif %}>{{cat.name}}</a> ({{cat.num_bookmarks}} bookmark{{ cat.num_bookmarks|pluralize }})

		{% if is_owner %}<a href="{% url "delete-bookmark-category" cat.id %}{% if cat.id != category.id %}?next={{request.path}}&page={{current_page}}{% endif %}"><img  style="vertical-align: bottom;" src="{{media_url}}images/cancel.png" width="16" height="16" alt="Delete {{cat.name}} category"/></a>{% endif %}</li>

	    {% endfor %}
	    </ul>
	{% else %}
	    <p>
		{% if is_owner %}You haven't created any bookmark categories yet{% else %}<a href="{% url "account" user.username%}">{{user.username}}</a> hasn't created any bookmark categories yet{% endif %}
	    </p>
	{% endif %}

    </div><!-- #bookmark_categories -->
</div><!-- #sidebar -->

<br class="clear"/><!-- Need a clearing element for some reason here.. -->
{% endblock %}
