{% extends "molecules/modal_base.html" %}
{% load util %}

{% block id %}editBookMarkCategory{% endblock %}
{% block extra-class %}{% endblock %}
{% block aria-label %}Edit Bookmark Category{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Edit bookmark Category</h4>
        <form method="post" class="disable-on-submit bw-form bw-form-less-spacing" action="{% url 'edit-bookmark-category' category.id %}?ajax=1">{% csrf_token %}
            {{form.as_p}}
            <button class="btn-primary v-spacing-top-2">Change bookmark category name</button>
        </form>
    </div>
    <div class="v-spacing-4">
        
    </div>
</div>
{% endblock %}