{% extends "molecules/modal_base.html" %}
{% load util %}

{% block id %}editBookMarkCategory{% endblock %}
{% block extra-class %}{% endblock %}
{% block aria-label %}Edit Bookmark Category{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Edit bookmark Category</h4>
    </div>
    <div class="v-spacing-4">
        <!--<form method="post" action="{% url 'sound-flag' sound.user.username sound.id %}?ajax=1." class="disable-on-submit bw-form form-flag-sound" novalidate>{% csrf_token %}
            {{ flag_form }}
            <button class="btn-primary v-spacing-top-3">Flag this sound</button>
        </form>-->
    </div>
</div>
{% endblock %}