<script type="text/javascript">

    function showAdvancedSearchOptions()
    {
        $("#advanced_search_hidden").val(1);
        $("#enableShowButton").hide();
        $("#advanced_search_options").show('blind', {}, 500, function() {});

    }

    function hideAdvancedSearchOptions()
    {
        $("#advanced_search_hidden").val(0);
        $("#advanced_search_options").hide('blind', {}, 500, function() {});
        $("#enableShowButton").show();
    }

    function set_hidden_grouping_value(){
        if ($("#grouping_geotagged").is(':checked')){
            $("#grouping_geotagged_hidden").val("1")
        }else{
            $("#grouping_geotagged_hidden").val("")
        }
    }

</script>


<div id="advanced_search_options" class="advanced_search_options" {% if not advanced == "1" %}style="display:none"{% endif %}>
<input id="advanced_search_hidden" type="hidden" name="advanced" value="{% if advanced == "1" %}1{% else %}0{% endif %}" />

<div style="margin-top:8px;"></div>Search in:&nbsp
<input type="checkbox" name="a_tag" value="1" {% if a_tag %}checked{% endif %}/> Tags&nbsp&nbsp
<input type="checkbox" name="a_filename" value="1" {% if a_filename %}checked{% endif %}/> File names&nbsp&nbsp
<input type="checkbox" name="a_description" value="1" {% if a_description %}checked{% endif %}/> Descriptions&nbsp&nbsp
<input type="checkbox" name="a_packname" value="1" {% if a_packname %}checked{% endif %}/> Pack names&nbsp&nbsp
<input type="checkbox" name="a_soundid" value="1" {% if a_soundid %}checked{% endif %}/> Sound Ids&nbsp&nbsp
<input type="checkbox" name="a_username" value="1" {% if a_username %}checked{% endif %}/> User names
<span class="advanced_search_indication">(if none is selected, all will be used)</span>
<br>

Duration between <input class="inputtext" id="filter_duration_min" value="0" size="6" /> (min)
and <input class="inputtext" id="filter_duration_max" value="*" size="6" /> (max) seconds<br>
<input id="filter_is_geotagged" type="checkbox" value="1" /> Only geotagged sounds<br>
<input id="grouping_geotagged" type="checkbox" onchange="set_hidden_grouping_value()" {% if grouping == "1" %}checked{% endif %}/> Group sounds by pack
<input id="grouping_geotagged_hidden" type="hidden" name="g" {% ifequal grouping "1" %}value="1"{% else %}value=""{% endifequal %} />

<br>
<span class="advanced_search_options_button"><a style="cursor:pointer;" onclick='hideAdvancedSearchOptions();'>Hide advanced search options</a></span>
</div>

<span id="enableShowButton" class="advanced_search_options_button" {% if advanced == "1" %}style="display:none"{% endif %}>
    <div style="margin-top:4px;"></div>
    <a style="cursor:pointer;" onclick='showAdvancedSearchOptions();'>Show advanced search options</a>
</span>
