{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Force-Directed Layout</title>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'src/components/webAudioApiForDesigners.js' %}"></script>
    <style type="text/css">
        .node {
            stroke: rgb(255, 255, 255);
            stroke-width: 1.5px;
            cursor: pointer;
        }

        .link {
            stroke: rgb(99, 99, 99);
            opacity: 0.1;
            /* stroke-width: 1px; */
        }

        h1 {
            font-size: 20px;
            margin: 10px 0;
            font-weight: normal;
        }

        h2 {
            font-size: 18px;
            margin: 5px 0;
            font-weight: normal;
        }

        h3 {
            font-size: 10px;
            margin: 5px 0;
            font-weight: normal;
        }

        header {
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }

        body {
            background-color: rgba(128, 128, 128, 0.1);
        }
    </style>
</head>

<body>
    <header>
        <h1>Sound file name</h1>
        <h2>Click on a node to display info</h2>
        <h3></h3>
    </header>
    <div id="chart"></div>
    <script type="text/javascript">
        var DEFAULT_NODE_SIZE = 9;
        ON_OVER_NODE_SIZE = 12;
        FORCE_CHARGE = -100;
        FORCE_LINK_DISTANCE = 20;

        var width = window.innerWidth - 30,
            height = window.innerHeight - 30;

        var fill = d3.scale.category20();

        // https://github.com/wbkd/d3-extended
        d3.selection.prototype.moveToFront = function () {
            return this.each(function () {
                this.parentNode.appendChild(this);
            });
        };

        // Collide for forbiding overlap of nodes
        var padding = 1,
            radius = DEFAULT_NODE_SIZE;

        function collide(alpha) {
            var quadtree = d3.geom.quadtree(graph.nodes);
            return function (d) {
                var rb = 2 * radius + padding,
                    nx1 = d.x - rb,
                    nx2 = d.x + rb,
                    ny1 = d.y - rb,
                    ny2 = d.y + rb;
                quadtree.visit(function (quad, x1, y1, x2, y2) {
                    if (quad.point && (quad.point !== d)) {
                        var x = d.x - quad.point.x,
                            y = d.y - quad.point.y,
                            l = Math.sqrt(x * x + y * y);
                        if (l < rb) {
                            l = (l - rb) / l * alpha;
                            d.x -= x *= l;
                            d.y -= y *= l;
                            quad.point.x += x;
                            quad.point.y += y;
                        }
                    }
                    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
                });
            };
        }

        var force = d3.layout.force()
            .charge(FORCE_CHARGE)
            .linkDistance(FORCE_LINK_DISTANCE)
            .linkStrength(function (d) {
                if (d.weight) {
                    return 3 * d.weight;
                } else {
                    return 1;
                }
            })
            .size([width, height]);

        var zoom = d3.behavior.zoom()
            .scaleExtent([0.3, 2])
            .on("zoom", zoomed);

        var svg = d3.select("body").append("svg")
            .attr("viewBox", "0 0 " + width + " " + height)
            .attr("preserveAspectRatio", "xMinYMid")
            .append("g")
            .call(zoom)
            .append("g");

        //big black box surrounding everything that we can zoom on 
        var rect = svg.append("g")
            .attr("class", "rect")
            .append("rect")
            .style("fill", "white")
            .style("opacity", 0)
            .attr("width", width)
            .attr("height", height)
            .style("pointer-events", "all")

        var vis = svg.append("g")
            .attr("width", width)
            .attr("height", height)
            .append("g")

        var graph = JSON.parse('{{ graph | safe }}');

        var nodeById = d3.map();

        graph.nodes.forEach(function (node) {
            nodeById.set(node.id, node);
        });

        graph.links.forEach(function (link) {
            link.source = nodeById.get(link.source);
            link.target = nodeById.get(link.target);
        });

        // Force layout
        force
            .nodes(graph.nodes)
            .links(graph.links)
            .start();

        var link = vis.selectAll(".link")
            .data(graph.links)
            .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function (d) {
                return d.weight;
            });

        var node = vis.selectAll(".node")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", DEFAULT_NODE_SIZE)
            .style("fill", function (d) {
                return fill(d.group);
            })
            .on('click', connectedNodes);
        // .call(force.drag);

        svg.selectAll(".node")
            .on("mouseenter", function (d) {
                // load and play sound
                context.loadSound(d.url, '0');
                playingSound = context.playSound('0');

                // make node bigger
                d3.select(this)
                    .transition()
                    .attr("r", ON_OVER_NODE_SIZE)

                d3.select(this).moveToFront();
            })
            .on("mouseleave", function () {
                // stop playing sound
                if (playingSound) {
                    playingSound.pause();
                }

                // make node smaller
                d3.select(this)
                    .transition()
                    .attr("r", DEFAULT_NODE_SIZE)
            });

        force.on("tick", function () {
            link.attr("x1", function (d) {
                    return d.source.x;
                })
                .attr("y1", function (d) {
                    return d.source.y;
                })
                .attr("x2", function (d) {
                    return d.target.x;
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });

            node.attr("cx", function (d) {
                    return d.x;
                })
                .attr("cy", function (d) {
                    return d.y;
                });
            node.each(collide(0.5));
        });

        // Zoom        
        function zoomed() {
            vis.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        }

        // Hilight nodes on click
        //Toggle stores whether the highlighting is on
        var toggle = 0;
        //Create an array logging what is connected to what
        var linkedByIndex = {};
        for (i = 0; i < graph.nodes.length; i++) {
            linkedByIndex[i + "," + i] = 1;
        };
        graph.links.forEach(function (d) {
            linkedByIndex[d.source.index + "," + d.target.index] = 1;
        });
        //This function looks up whether a pair are neighbours
        function neighboring(a, b) {
            return linkedByIndex[a.index + "," + b.index];
        }

        function connectedNodes() {
            if (toggle == 0) {
                //Reduce the opacity of all but the neighbouring nodes
                d = d3.select(this).node().__data__;
                link.style("opacity", function (o) {
                    return d.index == o.source.index | d.index == o.target.index ? 1 : 0.05;
                });
                node.style("opacity", function (o) {
                    return neighboring(d, o) | neighboring(o, d) ? 1 : 0.15;
                });

                // show sound info
                d3.select("h1").html(d.name);
                d3.select("h2").html(d.tags);
                d3.select("h3").html('<a href="'+d.sound_page_url+'">'+d.sound_page_url+'</a>');

                toggle = 1;
            } else {
                //Put them back to opacity=1
                node.style("opacity", 1);
                link.style("opacity", 0.1);
                toggle = 0;

                // remove sound info
                d3.select("h1").html('Sound file name');
                d3.select("h2").html('Click on a node to display info');
                d3.select("h3").html('');
            }
        }

        // Web Audio API
        var context = initializeNewWebAudioContext();
        var playingSound; // keep track of playing sound to stop it
    </script>
</body>

</html>