{% load bw_templatetags %}
{% if facet and facet|length > 1%}
<div class="bw-search__filter-section">
    <div class="bw-search__filter-section-name caps text-light-grey"><span>{{ title }}</span>{% if beta_facet %}<span class="h-spacing-left-1 caps text-light-grey">(BETA)</span>{% endif %}</div>
    {% if type == "list" %}
    <ul class="bw-search__filter-value-list">
        {% for f in facet %}
            <li class="bw-search__filter-value padding-bottom-1">
                <div class="bw-search__filter-name">
                    <a href="{{ f.add_filter_url }}" class="bw-link--black">{% if f.icon %}{% bw_icon f.icon %}{% endif %}{{ f.display_value }}</a>
                    <div class="bw-search__filter-count padding-left-1">({{ f.count|bw_intcomma }})</div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if type == "range" %}
    <ul class="bw-search__filter-value-list">
        {% for f in facet %}
            <li class="bw-search__filter-value padding-bottom-1">
                <div class="bw-search__filter-name">
                    <a href="{{ f.add_filter_url }}" class="bw-link--black">{% if f.icon %}{% bw_icon f.icon %}{% endif %}{{ f.display_value }}</a>
                    <div class="bw-search__filter-count padding-left-1">({{ f.count|bw_intcomma }})</div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if type == "cloud" %}
    <div class="bw-search__filter-tags-list">
        {% for f in facet %}
            {% bw_tag f.display_value 1 '' f.add_filter_url f.weight %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
