{% extends "forum/_section.html" %}


{% load display_forum_result %}
{% load paginator %}
{% load search %}

{% block title %}Forum Search{% endblock title %}

{% block breadcrumb %}
    {% if current_forum %}
        {% url "forums-forum" current_forum.name_slug as forum_url %}
        &#187; <a href="{{forum_url}}">{{current_forum.name}}</a>
    {% endif %}
{%  endblock %}

{% block section_content %}

<br style="padding-top:10px">
{% if error %}
    <p>{{ error_text }}</p>
{% else %}
    {% if paginator.count > 0 %}
        <div class="search_paginator" style="height:30px">
        {% show_paginator paginator page current_page request "thread" %}
        </div>

        {% display_forum_result results.docs results.highlighting %}

        <br style="padding-top:10px">
        <div class="search_paginator">
        {% show_paginator paginator page current_page request "thread" %}
        </div>
    {% else %}
        <p>Search returned no results...</p>
    {% endif %}

{% endif %}

{% endblock %}
