{% extends "sounds/_section.html" %}

{% load display_sound %}
{% load paginator %}
{% load search %}
{% load util %}

{% block title %}sound search{% endblock title %}

{% block section_content %}

<form id="search_form" method="get" onsubmit="return addAdvancedSearchOptionsFilters()"  action="{% url "sounds-search" %}">
    <fieldset>

       <input id="query_input" type="text" name="q" value="{{search_query}}" size="30" />
       <input id="filter_query" type="hidden" name="f" value="{{filter_query}}" size="30" />
       {% comment %}
       <span class="advanced_search_options">Sort results by </span>
       {% endcomment %}
       <select name="s">
            {% for option in sort_options %}
            <option value="{{option.1}}"{% ifequal option.1 sort.0 %}selected="selected"{% endifequal %}>{{option.0}}</option>
            {% endfor %}
       </select>

       <input type="submit" value="search" id="search_submit"/>

       {% include "search/advanced_search_form.html" %}

        <br/>

    </fieldset>
</form>


<p id="filter_query_display">

{% for filter in filter_query_split %}
    <a href=".?g={{grouping}}&q={{search_query}}&f={{ filter.remove_url }}" title="remove this filter">{{ filter.name }}</a>
{% endfor %}

</p>

<script type="text/javascript">

    $(document).ready(function(){

        // Fill advanced search fields that were passen on the f parameter
        // Duration

        if (getFilterValue("duration","min") == "")
            $("#filter_duration_min").val("0");
        else
            $("#filter_duration_min").val(getFilterValue("duration","min"));

        if (getFilterValue("duration","max") == "")
            $("#filter_duration_max").val("*");
        else
            $("#filter_duration_max").val(getFilterValue("duration","max"));

        // Geotagged
        if (getFilterValue("is_geotagged")==1)
               $("#filter_is_geotagged").attr('checked','checked')

        // Extract terms from the query search box and highlight any of their occurrences in the descriptions
        terms = document.getElementById("query_input").value.split(" ");

        for(var i=0;i<terms.length;i++)
        {
        	term = terms[i];
        	re = RegExp(term,"i"); // i for case-insensative

        	descriptions = document.getElementsByClassName("description");
        	for (var j=0;j<descriptions.length;j++)
        	{
        		descriptions[j].innerHTML = descriptions[j].innerHTML.replace(re,"<b>"+term+"</b>");
        	}
        }

    });

    function showAdvancedSearchOptions()
    {
        $("#advanced_search_hidden").val(1);
        $("#enableShowButton").hide();
        $("#advanced_search_options").show('blind', {}, 500, function() {});

    }

    function hideAdvancedSearchOptions()
    {
        $("#advanced_search_hidden").val(0);
        $("#advanced_search_options").hide('blind', {}, 500, function() {});
        $("#enableShowButton").show();
    }

    function addAdvancedSearchOptionsFilters()
    {

        // Remove existing previously existing advanced options filters (will be replaced by current ones)
        existing_duration_filter = "duration:[" + getFilterValue("duration","min") + " TO " + getFilterValue("duration","max") + "]"
        removeFilter(existing_duration_filter)
        removeFilter("is_geotagged:1")

        // if advanced options is activated add all updated filters
        if ($("#advanced_search_hidden").val() == 1)
        {

            // Create and add new filter with all the advanced options
            filter = ""

            // Duration filter
            duration_min = parseFloat($("#filter_duration_min").val())
            duration_max = parseFloat($("#filter_duration_max").val())

            if ((duration_min >= 0.0) || (duration_max >= 0.0))
            {
                duration_filter = ""

                if ((duration_min >= 0.0) && (duration_max >= 0.0)) // Both min and max have been set
                {
                    if (duration_max < duration_min)
                    {
                        // interchange values if duration_min > duration_max
                        duration_aux = duration_min
                        duration_min = duration_max
                        duration_max = duration_aux
                    }

                    duration_filter = "duration:[" + duration_min + " TO " + duration_max + "]"

                }
                else if (duration_min >= 0.0) // Only minimum has been set
                {
                    duration_filter = "duration:[" + duration_min + " TO *]"
                }
                else if (duration_max >= 0.0) // Only maximum has been set
                {
                    duration_filter = "duration:[* TO " + duration_max + "]"
                }

                filter = filter + duration_filter
            }

            // Is geotagged filter
            if ($("#filter_is_geotagged").attr('checked')){
                if (filter != "")
                    filter = filter + " "
                filter = filter + "is_geotagged:1"
            }

               // Update general filter with the advanced options filter
            value = $("#filter_query").val();
            if (value != "")
                $("#filter_query").val(value + " " + filter);
            else
                $("#filter_query").val(filter);

        }

        return true
    }

    // Return the value of a filter given its name
    // If filter has a range, optional "range" parameter must be set to "min or "max"
    function getFilterValue(name, range)
    {
        if (!range) { range = "min"};

        var value = $("#filter_query").val();
        position_name = value.search(name)
        position_value = value.search(name) + (name + ":").length
        if (value.search((name + ":")) != -1)
        {
            if (value[position_value] == "[") // Is range (with spaces)
            {
                aux_value = value.substring(position_value + 1)
                position_end = position_value + aux_value.search("]") + 2

                range_string = value.substring(position_value + 1, position_end -1) // Without [ ]
                parts = range_string.split(" ")
                if (range == "min")
                    return parts[0]
                else if (range == "max")
                    return parts[2]
            }
            else if (value[position_value] == "\"") // Is string (with spaces)
            {
                aux_value = value.substring(position_value + 1)
                position_end = position_value + aux_value.search("\"") + 2
                return value.substring(position_value, position_end)

            }
            else // Is number or normal text (without spaces)
            {
                aux_value = value.substring(position_value + 1)
                if (aux_value.search(" ") != -1)
                    position_end = position_value + aux_value.search(" ") + 1
                else
                    position_end = value.length

                return value.substring(position_value, position_end)
            }
        }
        else
        {
            return ""
        }
    }

    // Remove a filter given the full tag ex: type:aiff, pack:"pack name"
    function removeFilter(tag)
    {
        var value = $("#filter_query").val();
        var cleaned = $.trim(value.replace(tag + " ", "").replace(tag, ""));
        $("#filter_query").val(cleaned);
    }



</script>

{% if error %}
    <p>{{ error_text }}</p>
{% else %}
    {% if results %}
    <div id="sidebar" style="float:right">
        {% if results.facets.license and results.facets.license|length > 1 %}
            <h3>licenses</h3>
            {% display_facet "license" results.facets.license "list" %}
        {% endif %}

        {% if results.facets.tag and results.facets.tag|length > 1 %}
            <h3>tags</h3>
            {% display_facet "tag" results.facets.tag "cloud" %}
        {% endif %}

        {% if results.facets.type and results.facets.type|length > 1 %}
            <h3>type</h3>
            {% display_facet "type" results.facets.type "list" %}
        {% endif %}

        {% if results.facets.samplerate and results.facets.samplerate|length > 1 %}
            <h3>samplerate</h3>
            {% display_facet "samplerate" results.facets.samplerate "list" %}
        {% endif %}

        {% if results.facets.bitdepth and results.facets.bitdepth|length > 1 %}
            <h3>bitdepth</h3>
            {% display_facet "bitdepth" results.facets.bitdepth "list" %}
        {% endif %}

        {% if results.facets.bitrate and results.facets.bitrate|length > 1 %}
            <h3>bitrate</h3>
            {% display_facet "bitrate" results.facets.bitrate "list" %}
        {% endif %}


        {% if results.facets.channels and results.facets.channels|length > 1 %}
            <h3>channels</h3>
            {% display_facet "channels" results.facets.channels "list" %}
        {% endif %}

        {% if results.facets.grouping_pack and results.facets.grouping_pack|length > 1 %}
            <h3>packs</h3>
            {% display_facet "grouping_pack" results.facets.grouping_pack "list" %}
        {% endif %}

        {% if results.facets.username and results.facets.username|length > 1 %}
            <h3>users</h3>
            {% display_facet "username" results.facets.username "cloud" %}
        {% endif %}

    </div>

        {% if num_results > 0 %}
            <div class="search_paginator">
                {% show_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
            </div>

            {% for result in docs %}
                {% display_raw_sound result.sound %}

                {% if result.more_from_pack %}
                        <div class="sample_more_search_results"><img src="{{media_url}}images/plus.png" alt="" /> <a href='{% url "sounds-search"  %}?q={{ search_query }}&f=grouping_pack:"{{ result.pack_id }}_{{ result.pack_name }}" {{filter_query_link_more_when_grouping_packs }}&s="{{ sort.0 }}"&g={{ grouping }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}'>{{result.more_from_pack}} more result{{ result.more_from_pack|pluralize  }}</a> in the same pack "{{ result.pack_name|truncate_string:35 }}"</div>
                {% endif %}
            {% endfor %}

            <div class="search_paginator">
                {% show_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
            </div>
        {% else %}
            <p>Search returned no results...</p>
        {% endif %}


    {% endif %}
{% endif %}

{% endblock %}
