{% extends "base.html" %}

{% load static %}
{% load util %}
{% load search %}
{% load bw_templatetags %}
{% load display_sound %}
{% load display_pack %}
{% load tags %}

{% block title %}Search{% endblock %}

{% block navbar %}{% if not tags_mode %}{% include 'molecules/navbar_search_page.html' %}{% else %}{% include 'molecules/navbar.html' %}{% endif %}{% endblock %}

{% block content %}

<div class="container">
    {% if error_text %}
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-2">
        <div class="v-spacing-6 v-spacing-top-4">
            <p class="v-spacing-4">{{ error_text }}</p>
            <p><button onclick="window.history.back();" class="btn-primary">Go back</button></p>
        </div>
    </div>
    {% else %}
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-2">
        {% if initial_tagcloud %}
        <section id="tags-mode-input-section" class="v-spacing-5">
            <h3 class="v-spacing-5 text-light-grey center">Choose a tag to start browsing</h3>
            {% for tag in initial_tagcloud|add_sizes:"count:0.1:1.0" %}
            {% bw_tag tag.name 1 '' tag.browse_url tag.size %}
            {% endfor %}
        </section>
        {% else %}
        <form method="get" id="search_form" action="{% if not tags_mode %}{% url 'sounds-search' %}{% else %}{% url 'tags' %}{% endif %}">
            {% comment %}main search input section and hidden fields{% endcomment %}
            <div class="v-spacing-5 {% if tags_mode %}display-none{% endif %}">
                <div class="middle center">
                    <div class="bw-search__input_wrapper"><i class="bw-icon-search input-icon text-light-grey"></i>
                        <input id="search-input-browse" 
                        class="bw-search__input" 
                        name="{{ sqp.options.query.query_param_name }}" 
                        type="text" 
                        value="{% if not sqp.options.similar_to.get_value %}{{ sqp.options.query.get_value }}{% endif %}" 
                        placeholder="{% if not sqp.options.similar_to.get_value %}Search {% if not sqp.display_as_packs %}sounds{% else %}packs{% endif %}...{% else %}Similar to {{ sqp.options.similar_to.get_value }}{% endif %}" 
                        autocomplete="off"
                        {% if sqp.options.query.disabled %}disabled{% endif %} />
                    </div>
                    <span class="bw-search_remove-query" id="remove-content-search">{% bw_icon 'close' %}</span>
                </div>
                <input type="hidden" name="f" value="{{ sqp.render_filter_for_url|urlencode }}" />
                {% if not sqp.options.field_weights.is_default_value %}<input type="hidden" name="{{ sqp.options.field_weights.query_param_name }}" value="{{ sqp.options.field_weights.get_value_for_url_param }}" />{% endif %}
                {% if not sqp.options.similar_to.is_default_value %}<input type="hidden" name="{{ sqp.options.similar_to.query_param_name }}" value="{{ sqp.options.similar_to.get_value_for_url_param }}" />{% endif %}
                {% if not sqp.options.cluster_id.is_default_value %}<input type="hidden" name="{{ sqp.options.cluster_id.query_param_name }}" value="{{ sqp.options.cluster_id.get_value_for_url_param }}" />{% endif %}
                {% if not sqp.options.tags_mode.is_default_value %}<input type="hidden" name="{{ sqp.options.tags_mode.query_param_name }}" value="{{ sqp.options.tags_mode.get_value_for_url_param}}" />{% endif %}
            </div>
            {% if tags_mode %}
            {% comment %}"sounds tagged as" label with follow/unfollow buttons{% endcomment %}
            <div id="tags-mode-input-section" class="v-spacing-5">
                <div class="between middle">
                    <h3>
                        <span class="text-light-grey h-spacing-1">Sounds tagged as</span>
                        {% for tag in tags_in_filter %}
                        {{ tag }}{% if not forloop.last %}<span class="h-spacing-left-1 h-spacing-1 text-light-grey">·</span>{% endif %}
                        {% endfor %}
                    </h3>
                    {% bw_follow_tags_widget %}
                </div>
            </div>
            {% endif %}
            <div>
                {% comment %}search navbar{% endcomment %}
                <div class="divider-light"></div>
                <div class="padding-3 v-padding-2 between font-weight-bold middle">
                    {% comment %}number of results{% endcomment %}
                    <div class="col-4">
                    {% if not sqp.display_as_packs %}
                        {% if non_grouped_number_of_results > 0 %}{{ non_grouped_number_of_results|bw_intcomma }}{% else %}{{ paginator.count|bw_intcomma }}{% endif %} sound{{ non_grouped_number_of_results|pluralize }}
                    {% else %}
                        {{ paginator.count|bw_intcomma }} pack{{ paginator.count|pluralize }}
                    {% endif %}
                    </div>
                    {% comment %}advanced search toggle{% endcomment %}
                    <div class="col-4 middle center">
                        <a href="#" class="bw-link--grey-light" id="toggle_advanced_search_options"></a>
                        {% if has_advanced_search_settings_set %}<span class="text-red h-spacing-left-1 text-44 line-height-14 padding-bottom-1" title="There are active filters in the advanced search options">·</span>{% endif %}
                    </div>
                    {% comment %}sorting options{% endcomment %}
                    <div class="col-4 right browse__search-overview-sorter">
                        <div class="{% if map_mode %}display-none{% endif %}"> 
                            <span class="font-weight-normal text-light-grey d-none d-md-inline">{{ sqp.options.sort_by.label }}:</span>
                            <select id="sort-by" name="{{ sqp.options.sort_by.query_param_name }}" {% if sqp.options.sort_by.disabled %}disabled{% endif %}>
                                {% if sqp.options.similar_to.get_value %}
                                    <option>Similarity to target</option>    
                                {% else %}    
                                    {% for option in sqp.options.sort_by.options %}
                                    <option value="{{option.1}}"{% ifequal option.1 sqp.options.sort_by.get_value %}selected="selected"{% endifequal %}>{{option.0}}</option>
                                    {% endfor %}    
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="divider-light"></div>
                {% comment %}advanced search options{% endcomment %}
                <div id="advanced-search-options" data-visible="{% if not has_advanced_search_settings_set or advanced_search_closed_on_load %}0{% else %}1{% endif %}" class="{% if not has_advanced_search_settings_set or advanced_search_closed_on_load %}display-none{% endif %}">
                    <div class="v-padding-2 between">
                        {% comment %}first row of advanced search options{% endcomment %}
                        <div class="row col-12">
                            {% comment %}left section{% endcomment %}
                            <div class="col-md-4 bw-search__advanced-search-filter-section v-spacing-2">
                                <div class="bw-search__filter-section-name caps text-light-grey between text-18">
                                    <span>{{ sqp.options.search_in.label }}</span>
                                </div>
                                <div class="row no-gutters v-spacing-top-1 {% if sqp.options.search_in.disabled %}opacity-020{% endif %}">
                                    {% for option in sqp.options.search_in.get_options_annotated_with_selection %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.0 }}" type="checkbox" class="bw-checkbox" {% if option.3 %}checked{% endif %} {% if sqp.options.search_in.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.1 }}</div>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% comment %}middle section{% endcomment %}
                            <div class="col-md-3 bw-search__advanced-search-filter-section v-spacing-2">
                                <div class="bw-search__filter-section-name caps text-light-grey between text-18">
                                    <span>{{ sqp.options.duration.label }}</span>
                                </div>
                                <div class="bw-search__filter-range v-spacing-top-2">
                                    <input name="{{ sqp.options.duration.query_param_min }}" class="bw-search_input-range v-spacing-1" type="text" value="{{ sqp.options.duration.value.0 }}" /> - <input name="{{ sqp.options.duration.query_param_max }}" class="bw-search_input-range" type="text" value="{{ sqp.options.duration.value.1 }}" /> <span>seconds</span>
                                </div>
                            </div>
                            {% comment %}right section{% endcomment %}
                            <div class="col-md-5 bw-search__advanced-search-filter-section v-spacing-2">
                                <div class="bw-search__filter-section-name caps text-light-grey between text-18">
                                    <span>Other</span>
                                </div>
                                <div class="row no-gutters v-spacing-top-1">
                                {% with sqp.options.is_geotagged as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                {% with sqp.options.is_remix as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                {% with sqp.options.group_by_pack as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                {% with sqp.options.display_as_packs as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                {% with sqp.options.grid_mode as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                {% with sqp.options.map_mode as option %}
                                    <div class="col-6 v-padding-1">    
                                        <label class="between w-100 cursor-pointer {% if option.disabled %}opacity-020{% endif %}">
                                            <div class="bw-search__filter-checkbox">
                                                <input name="{{ option.query_param_name }}" type="checkbox" class="bw-checkbox" {% if option.value %}checked{% endif %} {% if option.disabled %}disabled{% endif %}/>
                                            </div>
                                            <div class="bw-search__filter-name">{{ option.label }}</div>
                                        </label>
                                    </div>
                                {% endwith %}
                                </div>
                            </div>
                        </div>
                        {% comment %}second row of advanced search options{% endcomment %}
                        <div class="row col-12">
                        </div>
                    </div>
                    {% comment %}apply button{% endcomment %}
                    <div class="v-spacing-4 center">
                        <button id="avanced-search-apply-button" class="btn-primary" disabled>Apply advanced search filters</button>
                    </div>
                    <div class="divider-light"></div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    {% if not initial_tagcloud %}
    {% comment %}
    <div class="row">
        <div class="col-12 center v-spacing-top-negative-2 d-md-none">
            <div data-target="collapsable-filters" data-show-text="Show filters" data-hide-text="Hide filters" data-hide-on-load class="collapsable-toggle v-spacing-top-2 font-weight-bold text-light-grey"></div>
        </div>
        
        <aside class="col-md-4 col-lg-3 collapsable-block md-max-h-100" id="collapsable-filters">
            {% if tags_mode %}
            {% if facets.tag and facets.tag|length > 1 %}
            {% display_facet "tag" facets.tag "cloud" "Add Related Tags" %}
            {% endif %}
            {% endif %}
            
            {% if facets.license and facets.license|length > 1 %}
            {% display_facet "license" facets.license "list" "Licenses" %}
            {% endif %}
            
            {% if not tags_mode %}
            {% if facets.tag and facets.tag|length > 1 %}
            {% display_facet "tag" facets.tag "cloud" "Related Tags" %}
            {% endif %}
            {% endif %}
            
            {% if facets.type and facets.type|length > 1 %}
            {% display_facet "type" facets.type "list" "Type" %}
            {% endif %}
            
            {% if facets.samplerate and facets.samplerate|length > 1 %}
            {% display_facet "samplerate" facets.samplerate "list" "Samplerate" %}
            {% endif %}
            
            {% if facets.bitdepth and facets.bitdepth|length > 1 %}
            {% display_facet "bitdepth" facets.bitdepth "list" "Bitdepth" %}
            {% endif %}
            
            {% if facets.bitrate and facets.bitrate|length > 1 %}
            {% display_facet "bitrate" facets.bitrate "list" "Bitrate" %}
            {% endif %}
            
            {% if facets.channels and facets.channels|length > 1 %}
            {% display_facet "channels" facets.channels "list" "Channels" %}
            {% endif %}
            
            {% if not only_sounds_with_pack %}
            {% if facets.grouping_pack and facets.grouping_pack|length > 1 %}
            {% display_facet "grouping_pack" facets.grouping_pack "list" "Packs"%}
            {% endif %}
            {% endif %}
            
            {% if facets.username and facets.username|length > 1 %}
            {% display_facet "username" facets.username "cloud" "Related users" %}
            {% endif %}
        </aside>
        
        <div class="col-12 divider-light d-md-none v-spacing-top-3 v-spacing-3"></div>
        
        <main class="col-12 col-md-8 col-lg-9 col-extra-left-padding-large-md">
            {% if filter_query_split %}
            <div class="v-spacing-3 v-spacing-top-2 line-height-33">
                {% for filter in filter_query_split %}
                <a class="no-hover btn-inverse bw-search__active-filters-button" href="/search/?advanced={{ advanced }}&g={{ group_by_pack_in_request }}&dp={{ only_sounds_with_pack_in_request }}&s={{ sort }}&cluster_id={{ filter.cluster_id }}&w={{ weights }}&q={{search_query}}&f={{ filter.remove_url }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}{% if map_mode %}&mm=1{% endif %}" title="Remove this filter">
                    {{ filter.name }}<span class="h-spacing-left-1">{% bw_icon 'close' %} </span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if not map_mode %}
            <div class="v-spacing-6 v-spacing-top-2">
                {% if paginator.count > 0 %}
                {% if use_compact_mode %}
                <div class="row">
                    {% for result in docs %}
                    <div class="col-6 col-lg-4">
                        {% if not only_sounds_with_pack %}
                        {% display_sound_small result.sound %}
                        {% if result.n_more_in_group and result.sound.pack_id is not None %}
                        <p class="text-grey text-right v-spacing-top-negative-2">
                            {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:"{{ result.sound.pack_id }}_{{ result.sound.pack_name|urlencode }}"+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&dp={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from pack:</a> <a class="bw-link--grey" href="{% url 'pack' result.sound.username result.sound.pack_id %}">{{ result.sound.pack_name|truncate_string:35 }}</a>
                        </p>
                        {% endif %}
                        {% else %}
                        {% display_pack result.pack %}
                        <p class="text-grey text-right v-spacing-top-negative-2">
                            {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:{{ result.pack.pack_filter_value }}+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&dp={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from pack</a>
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %}      
                </div>
                {% else %}
                {% for result in docs %}
                <div class="bw-search__result">
                    {% if not only_sounds_with_pack %}
                    {% display_sound_middle result.sound %}
                    {% if result.n_more_in_group and result.sound.pack_id is not None %}
                    <div class="text-grey text-right v-spacing-top-negative-1 v-spacing-2">
                        {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:"{{ result.sound.pack_id }}_{{ result.sound.pack_name|urlencode }}"+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&dp={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from same pack</a>
                    </div>
                    {% endif %}
                    {% else %}
                    {% display_pack_big result.pack %}
                    <div class="text-grey text-right v-spacing-top-negative-1 v-spacing-2 padding-right-1">
                        {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:{{ result.pack.pack_filter_value }}+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&dp={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from this pack</a>
                    </div>
                    {% endif %}
                    {% if not forloop.last %}
                    <div class="divider-light v-spacing-2"></div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                {% else %}
                <div class="v-spacing-7 v-spacing-top-6 w-100">
                    <h5>No results... &#128543</h5>
                    <p class="text-grey v-spacing-2">Please try another query or change the filters</p>
                </div>
                {% endif %}
            </div>
            <div class="v-spacing-6">
                {% bw_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
            </div>
            {% else %}
            <div class="col-12 v-spacing-top-3 no-paddings">
                <div id="mapCanvas" class="map main-map"
                     data-map-show-search="{% if sound %}false{% else %}true{% endif %}"
                     data-geotags-url="{{ map_bytearray_url }}"
                     data-access-token="pk.eyJ1IjoiZnJlZXNvdW5kIiwiYSI6ImNrd3E0Mm9lbjBqM2Qyb2wwdmwxaWI3a3oifQ.MZkgLSByRuk_Xql67CySAg"
                ><span id="mapLoadingIndicator">Loading map... <img width="12px" height="12px" src="{% static 'bw-frontend/public/bw_indicator.gif' %}"></span></div>
            </div>
            <div class="row middle">
                <div class="col-lg-4 v-spacing-top-4">
                    <a class="no-hover btn-secondary btn-inverse" href="{{ open_in_map_url }}">See results in full map</a>
                </div>
                <div class="col-lg-8 v-spacing-top-2">
                    {% if paginator.count > max_search_results_map_mode %}
                    <div class="text-lg-right">
                        <p class="text-grey">{% bw_icon 'notification' %} Note that only the first {{ max_search_results_map_mode|bw_intcomma }} search results are shown on the map</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </main>
    </div>
    {% endcomment %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extrabody %}
{% if not error_text and not initial_tagcloud %}
{% comment %}If there were errors reaching the search server, don't even load the
JS bits because we only display the error message{% endcomment %}
<script src="{% static 'bw-frontend/dist/search2.js' %}"></script>
{% endif %}
{% endblock %}