{% extends "base.html" %}

{% load static %}
{% load util %}
{% load search %}
{% load bw_templatetags %}
{% load display_sound %}
{% load display_pack %}
{% load tags %}

{% block title %}Search{% endblock %}

{% block navbar %}{% if not tags_mode %}{% include 'molecules/navbar_search_page.html' %}{% else %}{% include 'molecules/navbar.html' %}{% endif %}{% endblock %}

{% block content %}

<div class="container">
    {% if error_text %}
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-2">
        <div class="v-spacing-6 v-spacing-top-4">
            <p class="v-spacing-4">{{ error_text }}</p>
            <p><button onclick="window.history.back();" class="btn-primary">Go back</button></p>
        </div>
    </div>
    {% else %}
    <div class="navbar-space-filler v-spacing-3 v-spacing-top-2">
        {% if initial_tagcloud %}
        <section id="tags-mode-input-section" class="v-spacing-5">
            <h3 class="v-spacing-5 text-light-grey center">Choose a tag to start browsing</h3>
            {% for tag in initial_tagcloud|add_sizes:"count:0.1:1.0" %}
            {% bw_tag tag.name 1 '' tag.browse_url tag.size %}
            {% endfor %}
        </section>
        {% else %}
        <form method="get" id="search_form" action="{% if not tags_mode %}{% url 'sounds-search' %}{% else %}{% url 'tags' %}{% endif %}">
            
            <div class="v-spacing-5 {% if tags_mode %}display-none{% endif %}">
                <div class="middle center">
                    <div class="bw-search__input_wrapper"><i class="bw-icon-search input-icon text-light-grey"></i><input id="search-input-browse" {% if similar_to %}disabled{% endif %} name="q" type="text" value="{{ search_query }}" placeholder="{% if not similar_to %}Search {% if not only_sounds_with_pack %}sounds{% else %}packs{% endif %}...{% else %}Similar to {{ similar_to }}{% endif %}" class="bw-search__input" autocomplete="off"/></div>
                    <input id="filter_query" type="hidden" name="f" value="{{filter_query}}" />
                    <input id="weights" type="hidden" name="w" value="{{weights}}" />
                    {% if similar_to %}<input type="hidden" name="similar_to" value="{{similar_to}}" />{% endif %}
                    <input id="tags-mode" type="hidden" name="tm" value="{% if tags_mode %}1{% else %}0{% endif %}" />  {% comment %}This is used so that we can know from JS whether we are in tags mode or not{% endcomment %}
                    <span class="bw-search_remove-query" id="remove-content-search">{% bw_icon 'close' %}</span>
                </div>
            </div>
            
            {% if tags_mode %}
            <div id="tags-mode-input-section" class="v-spacing-5">
                <div class="between middle">
                    <h3>
                        <span class="text-light-grey h-spacing-1">Sounds tagged as</span>
                        {% for tag in tags_in_filter %}
                        {{ tag }}{% if not forloop.last %}<span class="h-spacing-left-1 h-spacing-1 text-light-grey">·</span>{% endif %}
                        {% endfor %}
                    </h3>
                    {% bw_follow_tags_widget %}
                </div>
            </div>
            {% endif %}
            
            <div>
                <div class="divider-light"></div>
                <div class="padding-3 v-padding-2 between font-weight-bold middle">
                    {% if not only_sounds_with_pack %}
                    <div class="col-4">{% if non_grouped_number_of_results > 0 %}{{ non_grouped_number_of_results|bw_intcomma }}{% else %}{{ paginator.count|bw_intcomma }}{% endif %} sound{{ non_grouped_number_of_results|pluralize }}</div>
                    {% else %}
                    <div class="col-4">{{ paginator.count|bw_intcomma }} pack{{ paginator.count|pluralize }}</div>
                    {% endif %}
                    {% comment %}
                    <div class="bw_search-tab">Sounds</div>
                    {% endcomment %}
                    {% comment %}
                    This section of the UI show allow to choose between different search modes:
                    sounds and packs. However, this is currently not implemented in the backend so we don't
                    enable this feature. Instead, we add here the element to toggle advanced search options.
                    In the future we might need to redesign that.
                    {% endcomment %}
                    <div class="col-4 middle center">
                        <a href="#" class="bw-link--grey-light" id="toggle_advanced_search_options"></a>
                        {% if has_advanced_search_settings_set %}<span class="text-red h-spacing-left-1 text-44 line-height-14 padding-bottom-1" title="There are active filters in the advanced search options">·</span>{% endif %}
                    </div>
                    <div class="col-4 right browse__search-overview-sorter">
                        <div class="{% if use_map_mode %}display-none{% endif %}"> 
                            <span class="font-weight-normal text-light-grey d-none d-md-inline">Sort by:</span>
                            {% if not similar_to %}
                                <select name="s" id="sort-by">
                                    {% for option in sort_options %}
                                    <option value="{{option.1}}"{% ifequal option.1 sort %}selected="selected"{% endifequal %}>{{option.0}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select name="s" id="sort-by" disabled>
                                    <option>Similarity to target</option>
                                </select>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="divider-light"></div>
                <div id="advanced-search-options" class="{% if not advanced == "1" or advanced_search_closed_on_load %}display-none{% endif %}">
                    <div class="v-padding-2 between">
                        <input id="advanced_search_hidden" type="hidden" name="advanced" value="{% if advanced == "1" and not advanced_search_closed_on_load %}1{% else %}0{% endif %}" />
                        
                        <div class="col-md-4 bw-search__advanced-search-filter-section">
                            <div class="bw-search__filter-section-name caps text-light-grey between">
                                <span>Search in</span>
                            </div>
                            <div class="row no-gutters v-spacing-top-2 {% if tags_mode or similar_to %}opacity-020{% endif %}">
                                <div class="col-md-5">
                                    <ul class="bw-search__filter-value-list no-margins">
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" on name="a_tag" {% if a_tag %}checked{% endif %} {% if tags_mode or similar_to %}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Tags</div>
                                            </label>
                                        </li>
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" name="a_filename" {% if a_filename %}checked{% endif %} {% if tags_mode  or similar_to %}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Sound name</div>
                                            </label>
                                        </li>
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" name="a_description" {% if a_description %}checked{% endif %} {% if tags_mode  or similar_to %}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Description</div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-5">
                                    <ul class="bw-search__filter-value-list no-margins">
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" name="a_packname" {% if a_packname %}checked{% endif %} {% if tags_mode  or similar_to %}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Pack name</div>
                                            </label>
                                        </li>
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" name="a_soundid" {% if a_soundid %}checked{% endif %} {% if tags_mode  or similar_to %}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Sound ID</div>
                                            </label>
                                        </li>
                                        <li class="bw-search__filter-value v-padding-1">
                                            <label class="between w-100">
                                                <div class="bw-search__filter-checkbox">
                                                    <input type="checkbox" class="bw-checkbox" name="a_username" {% if a_username %}checked{% endif %} {% if tags_mode  or similar_to%}disabled{% endif %}/>
                                                </div>
                                                <div class="bw-search__filter-name">Username</div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 bw-search__advanced-search-filter-section">
                            <div class="bw-search__filter-section-name caps text-light-grey between">
                                <span>Duration</span>
                            </div>
                            <div class="bw-search__filter-tags-list bw-search__filter-duration">
                                <input id="filter_duration_min" class="bw-search_input-duration v-spacing-1" type="text" value="0" /> - <input id="filter_duration_max" class="bw-search_input-duration" type="text" value="*" /> <span>seconds</span>
                            </div>
                        </div>
                        
                        <div class="col-md-4 bw-search__advanced-search-filter-section">
                            <div class="bw-search__filter-section-name caps text-light-grey between">
                                <span>Other</span>
                            </div>
                            <ul class="bw-search__filter-value-list">
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100 {% if use_map_mode %}opacity-020{% endif %}" title="Only find sounds that have geolocation information">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="filter_is_geotagged" type="checkbox" class="bw-checkbox" {% if use_map_mode %}disabled="disabled"{% endif %} />
                                        </div>
                                        <div class="bw-search__filter-name">Only geotagged sounds</div>
                                    </label>
                                </li>
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100" title="Only find sounds that are a remix of other sounds or have been remixed">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="filter_in_remix_group" type="checkbox" class="bw-checkbox"/>
                                        </div>
                                        <div class="bw-search__filter-name">Only remix sounds</div>
                                    </label>
                                </li>
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100 {% if disable_group_by_pack_option %}opacity-020{% endif %}" title="Group search results so that multiple sounds of the same pack only represent one item">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="group_by_pack" type="checkbox" class="bw-checkbox" {% if group_by_pack_in_request == "1" %}checked{% endif %} {% if disable_group_by_pack_option %}disabled="disabled"{% endif %}/>
                                            <input id="group_by_pack_hidden" type="hidden" name="g" {% ifequal group_by_pack_in_request "1" %}value="1"{% else %}value=""{% endifequal %} />
                                        </div>
                                        <div class="bw-search__filter-name">Group sounds by pack</div>
                                    </label>
                                </li>
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100 {% if disable_only_sounds_by_pack_option %}opacity-020{% endif %}" title="Display search results as packs rather than individual sounds">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="only_sounds_with_pack" type="checkbox" class="bw-checkbox" {% if only_sounds_with_pack_in_request == "1" %}checked{% endif %} {% if disable_only_sounds_by_pack_option %}disabled="disabled"{% endif %}/>
                                            <input id="only_sounds_with_pack_hidden" type="hidden" name="only_p" {% ifequal only_sounds_with_pack_in_request "1" %}value="1"{% else %}value=""{% endifequal %} />
                                        </div>
                                        <div class="bw-search__filter-name">Display results as packs</div>
                                    </label>
                                </li>
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100 {% if disable_display_results_in_grid_option %}opacity-020{% endif %}" title="Display search results in a grid so that more sounds are visible per search results page">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="use_compact_mode" type="checkbox" class="bw-checkbox" {% if use_compact_mode %}checked{% endif %} {% if disable_display_results_in_grid_option %}disabled="disabled"{% endif %}/>
                                            <input id="use_compact_mode_hidden" type="hidden" name="cm" value="{{ use_compact_mode|yesno:"1,0" }}"/>
                                        </div>
                                        <div class="bw-search__filter-name">Display results in grid</div>
                                    </label>
                                </li>
                                {% if allow_map_mode %}
                                <li class="bw-search__filter-value v-padding-1">
                                    <label class="between w-100" title="Display search results in a map">
                                        <div class="bw-search__filter-checkbox">
                                            <input id="use_map_mode" type="checkbox" class="bw-checkbox" {% if use_map_mode %}checked{% endif %} />
                                            <input id="use_map_mode_hidden" type="hidden" name="mm" value="{{ use_map_mode|yesno:"1,0" }}"/>
                                        </div>
                                        <div class="bw-search__filter-name">Display results in map</div>
                                    </label>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="v-spacing-4 center">
                        <button id="avanced-search-apply-button" class="btn-primary" disabled>Apply advanced search filters</button>
                    </div>
                    <div class="divider-light"></div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    {% if not initial_tagcloud %}
    <div class="row">
        <div class="col-12 center v-spacing-top-negative-2 d-md-none">
            <div data-target="collapsable-filters" data-show-text="Show filters" data-hide-text="Hide filters" data-hide-on-load class="collapsable-toggle v-spacing-top-2 font-weight-bold text-light-grey"></div>
        </div>
        
        <aside class="col-md-4 col-lg-3 collapsable-block md-max-h-100" id="collapsable-filters">
            {% if tags_mode %}
            {% if facets.tag and facets.tag|length > 1 %}
            {% display_facet "tag" facets.tag "cloud" "Add Related Tags" %}
            {% endif %}
            {% endif %}
            
            {% if facets.license and facets.license|length > 1 %}
            {% display_facet "license" facets.license "list" "Licenses" %}
            {% endif %}
            
            {% if not tags_mode %}
            {% if facets.tag and facets.tag|length > 1 %}
            {% display_facet "tag" facets.tag "cloud" "Related Tags" %}
            {% endif %}
            {% endif %}
            
            {% if facets.type and facets.type|length > 1 %}
            {% display_facet "type" facets.type "list" "Type" %}
            {% endif %}
            
            {% if facets.samplerate and facets.samplerate|length > 1 %}
            {% display_facet "samplerate" facets.samplerate "list" "Samplerate" %}
            {% endif %}
            
            {% if facets.bitdepth and facets.bitdepth|length > 1 %}
            {% display_facet "bitdepth" facets.bitdepth "list" "Bitdepth" %}
            {% endif %}
            
            {% if facets.bitrate and facets.bitrate|length > 1 %}
            {% display_facet "bitrate" facets.bitrate "list" "Bitrate" %}
            {% endif %}
            
            {% if facets.channels and facets.channels|length > 1 %}
            {% display_facet "channels" facets.channels "list" "Channels" %}
            {% endif %}
            
            {% if not only_sounds_with_pack %}
            {% if facets.grouping_pack and facets.grouping_pack|length > 1 %}
            {% display_facet "grouping_pack" facets.grouping_pack "list" "Packs"%}
            {% endif %}
            {% endif %}
            
            {% if facets.username and facets.username|length > 1 %}
            {% display_facet "username" facets.username "cloud" "Related users" %}
            {% endif %}
        </aside>
        
        <div class="col-12 divider-light d-md-none v-spacing-top-3 v-spacing-3"></div>
        
        <main class="col-12 col-md-8 col-lg-9 col-extra-left-padding-large-md">
            {% if filter_query_split %}
            <div class="v-spacing-3 v-spacing-top-2 line-height-33">
                {% for filter in filter_query_split %}
                <a class="no-hover btn-inverse bw-search__active-filters-button" href="/search/?advanced={{ advanced }}&g={{ group_by_pack_in_request }}&only_p={{ only_sounds_with_pack_in_request }}&s={{ sort }}&cluster_id={{ filter.cluster_id }}&w={{ weights }}&q={{search_query}}&f={{ filter.remove_url }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}{% if use_map_mode %}&mm=1{% endif %}" title="Remove this filter">
                    {{ filter.name }}<span class="h-spacing-left-1">{% bw_icon 'close' %} </span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if not use_map_mode %}
            <div class="v-spacing-6 v-spacing-top-2">
                {% if paginator.count > 0 %}
                {% if use_compact_mode %}
                <div class="row">
                    {% for result in docs %}
                    <div class="col-6 col-lg-4">
                        {% if not only_sounds_with_pack %}
                        {% display_sound_small result.sound %}
                        {% if result.n_more_in_group and result.sound.pack_id is not None %}
                        <p class="text-grey text-right v-spacing-top-negative-2">
                            {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:"{{ result.sound.pack_id }}_{{ result.sound.pack_name|urlencode }}"+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&only_p={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from pack:</a> <a class="bw-link--grey" href="{% url 'pack' result.sound.username result.sound.pack_id %}">{{ result.sound.pack_name|truncate_string:35 }}</a>
                        </p>
                        {% endif %}
                        {% else %}
                        {% display_pack result.pack %}
                        <p class="text-grey text-right v-spacing-top-negative-2">
                            {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:{{ result.pack.pack_filter_value }}+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&only_p={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from pack</a>
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %}      
                </div>
                {% else %}
                {% for result in docs %}
                <div class="bw-search__result">
                    {% if not only_sounds_with_pack %}
                    {% display_sound_middle result.sound %}
                    {% if result.n_more_in_group and result.sound.pack_id is not None %}
                    <div class="text-grey text-right v-spacing-top-negative-1 v-spacing-2">
                        {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:"{{ result.sound.pack_id }}_{{ result.sound.pack_name|urlencode }}"+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&only_p={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from same pack</a>
                    </div>
                    {% endif %}
                    {% else %}
                    {% display_pack_big result.pack %}
                    <div class="text-grey text-right v-spacing-top-negative-1 v-spacing-2 padding-right-1">
                        {% bw_icon 'plus' %} <a href='/search/?q={{ search_query }}&f=grouping_pack:{{ result.pack.pack_filter_value }}+{{filter_query_link_more_when_grouping_packs }}&s={{ sort }}&g={{ group_by_pack_in_request }}&only_p={{ only_sounds_with_pack_in_request }}&w={{ weights }}&advanced={{ advanced }}&a_tag={{ a_tag }}&a_filename={{ a_filename }}&a_description={{ a_description }}&a_packname={{ a_packname }}&a_soundid={{ a_soundid }}&a_username={{ a_username }}{% if similar_to %}&similar_to={{ similar_to }}{% endif %}'>See {{result.n_more_in_group|add:1|bw_intcomma}} result{{ result.n_more_in_group|add:1|pluralize }} from this pack</a>
                    </div>
                    {% endif %}
                    {% if not forloop.last %}
                    <div class="divider-light v-spacing-2"></div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                {% else %}
                <div class="v-spacing-7 v-spacing-top-6 w-100">
                    <h5>No results... &#128543</h5>
                    <p class="text-grey v-spacing-2">Please try another query or change the filters</p>
                </div>
                {% endif %}
            </div>
            <div class="v-spacing-6">
                {% bw_paginator paginator page current_page request "sound" non_grouped_number_of_results %}
            </div>
            {% else %}
            <div class="col-12 v-spacing-top-3 no-paddings">
                <div id="mapCanvas" class="map main-map"
                     data-map-show-search="{% if sound %}false{% else %}true{% endif %}"
                     data-geotags-url="{{ map_bytearray_url }}"
                     data-geotags-url-box="{% url "geotags-box-barray" %}"
                     data-access-token="pk.eyJ1IjoiZnJlZXNvdW5kIiwiYSI6ImNrd3E0Mm9lbjBqM2Qyb2wwdmwxaWI3a3oifQ.MZkgLSByRuk_Xql67CySAg"
                ><span id="mapLoadingIndicator">Loading map... <img width="12px" height="12px" src="{% static 'bw-frontend/public/bw_indicator.gif' %}"></span></div>
            </div>
            {% if paginator.count > max_search_results_map_mode %}
            <div class="right">
                <p class="text-grey">{% bw_icon 'notification' %} Note that only the first {{ max_search_results_map_mode|bw_intcomma }} search results are shown on the map</p>
            </div>
            {% endif %}
            {% endif %}
        </main>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extrabody %}
{% if not error_text and not initial_tagcloud %}
{% comment %}If there were errors reaching the search server, don't even load the
JS bits because we only display the error message{% endcomment %}
<script src="{% static 'bw-frontend/dist/search.js' %}"></script>
{% endif %}
{% endblock %}