{% extends "forum/_section.html" %}

{% load display_forum_result %}
{% load paginator %}
{% load search %}

{% block title %}Forum Search{% endblock title %}

{% block section_content %}

<form id="search_forum_form" method="get" action="{% url forums-search %}">
    <fieldset>
       <input type="text" name="q" value="{{search_query}}" size="30" />
       <input type="submit" value="search" id="search_submit" />
    </fieldset>
</form>

</p>

{% if error %}
    {{ error_text }}
{% else %}
	{% if results %}
		<div class="search_paginator">
	    {% show_paginator paginator page current_page request %}
	    </div>
	
	    <p>
	    {% display_forum_result results.docs results.highlighting %}
		</p>
	    <div class="search_paginator">
	    {% show_paginator paginator page current_page request %}
	    </div>
	{% endif %}	
{% endif %}

{% endblock %}
