{% macro autocomplete() %}
  <form autocomplete="off">
    <div class="bw-autocomplete__container">
      <span>To:</span><input type="search" id="usernames-autocomplete" class="bw-autocomplete__search" placeholder="Write a username..."/>
    </div>
  </form>
{% endmacro %}