{% macro comment() %}
  <div>
    <h6 class="no-margins text-16"><a href="">Pasqual</a></h6>
    <time class="text-grey text-14">February 18th, 2017</time>
    <p class="text-16 v-spacing-top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tortor non sapien pellentesque vulputate. Morbi accumsan sapien ut tortor elementum tincidunt. In tincidunt quis magna sed.</p>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro comments(count) %}
  {% for i in range(count) -%}
    {{ comment()}}
  {%- endfor %}
{% endmacro %}