{% macro icon(iconName, className = '') %}
  <span class="bw-icon-{{ iconName }} {{ className }}">
    {% if iconName == 'half-star' or iconName == 'facebook'  or
          iconName == 'twitter' or iconName == 'tumblr'  or
          iconName == 'google-plus' or iconName == 'embed-stroke' %}
      <span class="path1"></span>
      <span class="path2"></span>
      {% if iconName == 'google-plus' %}
        <span class="path3"></span>
      {% endif %}
    {% endif %}
  </span>
{% endmacro %}