{% macro thread() %}
  <div class="bw-threads">
    <div class="row">
      <div class="col-md-1"><img class="bw-threads__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-5">
        <h6>Free meditation music with binaural beats</h6>
        <p>Started by <a href="">Spidimateo</a> at <a href="">Samples Requests</a> · 48 replies</p>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="bw-threads__avatars-block">{{avatars([1,2,3,4,5,6,7,8,9, 50] | random)}}</div>
        <p class="text-right"><a href="">Latest reply</a> by <a href="">Spidimateo</a> 1 minute ago</p>
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro threads(count) %}
  {% for i in range(count) -%}
    {{ thread()}}
  {%- endfor %}
{% endmacro %} 

{% macro avatar(withNumber, total) %}
  <div class="bw-threads__avatar-mini-container">
    {% if withNumber %}
      <div class="bw-threads__avatar-mini-cover">+{{ total - 6}}</div>
    {% endif %}
    <img class="bw-threads__avatar-mini" src="../public/avatar.jpg" />
  </div>
{% endmacro %}

{% macro avatars(count) %}
  {% for i in range(count) -%}
    {% if i < 7 %}
      {{ avatar((i == 6 and count > 7), count)}}
    {% endif %}
  {%- endfor %}
{% endmacro %}

{% macro list() %}
  <div class="bw-threads">
    <div class="row">
      <div class="col-md-1"><img class="bw-threads__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-4">
        <h6>Freesound Project</h6>
        <p>1.243 threads · 49.390 replies</p>
      </div>
      <div class="col-md-4 offset-md-1">
        <p class="bw-threads__last_thread">Problem here, do you know how to upload a</p>
        <p class="text-left"><a href="">Latest reply</a> 20 minutes ago</p>
      </div>
      <div class="col-md-2 text-center">
        <p><img class="bw-threads__mini_avatar" src="../public/avatar.jpg" /></p>
        <p>by <a href="">Spenceomatic</a></p>
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro lists(count) %}
  {% for i in range(count) -%}
    {{ list()}}
  {%- endfor %}
{% endmacro %} 