{% macro thread() %}
  <div class="bw-threads">
    <div class="row">
      <div class="col-md-1"><img class="bw-threads__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-5">
        <h6>Free meditation music with binaural beats</h6>
        <p>Started by <a href="">Spidimateo</a> at <a href="">Samples Requests</a> · 48 replies</p>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="bw-threads__avatars-block">{{avatars([1,2,3,4,5,6,7,8,9, 50] | random)}}</div>
        <p class="text-right"><a href="">Latest reply</a> by <a href="">Spidimateo</a> 1 minute ago</p>
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro threads(count) %}
  {% for i in range(count) -%}
    {{ thread()}}
  {%- endfor %}
{% endmacro %} 

{% macro avatar(withNumber, total) %}
  <div class="bw-threads__avatar-mini-container">
    {% if withNumber %}
      <div class="bw-threads__avatar-mini-cover">+{{ total - 6}}</div>
    {% endif %}
    <img class="bw-threads__avatar-mini" src="../public/avatar.jpg" />
  </div>
{% endmacro %}

{% macro avatars(count) %}
  {% for i in range(count) -%}
    {% if i < 7 %}
      {{ avatar((i == 6 and count > 7), count)}}
    {% endif %}
  {%- endfor %}
{% endmacro %}

{% macro list() %}
  <div class="bw-threads">
    <div class="row">
      <div class="col-md-1"><img class="bw-threads__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-4">
        <h6>Freesound Project</h6>
        <p>1.243 threads · 49.390 replies</p>
      </div>
      <div class="col-md-4 offset-md-1">
        <p class="bw-threads__last_thread">Problem here, do you know how to upload a</p>
        <p class="text-left"><a href="">Latest reply</a> 20 minutes ago</p>
      </div>
      <div class="col-md-2 text-center">
        <p><img class="bw-threads__mini_avatar" src="../public/avatar.jpg" /></p>
        <p>by <a href="">Spenceomatic</a></p>
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro lists(count) %}
  {% for i in range(count) -%}
    {{ list()}}
  {%- endfor %}
{% endmacro %} 

{% macro post(quote) %}
  <div class="bw-post">
    <div class="row">
      <div class="col-md-1"><img class="bw-post__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-2">
        <h6><a href="">funnyenglish</a></h6>
        <p class="text-grey no-margins">65 sounds</p>
        <p class="text-grey no-margins">245 posts</p>
      </div>
      <div class="col-md-7">
        <div class="between">
          <span class="text-grey text-14">February 18th, 2017 </span>
          <span class="text-grey text-14"><i class="bw-icon-quote-reverse"></i><i class="bw-icon-quote padding-right-2"></i> #1</span>
        </div>
        <div class="text-left text-black v-spacing-top-1">
          {% if quote %}
            <div class="v-spacing-2 v-spacing-top-2 bw-post__quote">
              <p class="text-grey no-margins">Posted by <a href="">Unfa</a></p>
              <div class="v-spacing-top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tortor non sapien pellentesque vulputate. Morbi accumsan sapien ut tortor elementum tincidunt. In tincidunt quis magna sed scelerisque.</div>
            </div>
          {% endif %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a tortor non sapien pellentesque vulputate. Morbi accumsan sapien ut tortor elementum tincidunt. In tincidunt quis magna sed auris at vehicula ornare, nibh nisi gravida metus, eget malesuada nisl ante non ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
        <p class="text-grey text-13 bw-post__report v-spacing-top-1">Report spam</p>
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}

{% macro posts(count) %}
  {% for i in range(count) -%}
    {{ post(i == 3)}}
  {%- endfor %}
{% endmacro %}

{% macro newPost() %}
  <div class="bw-post">
    <div class="row">
      <div class="col-md-1"><img class="bw-post__avatar" src="../public/avatar.jpg" /></div>
      <div class="col-md-2">
        <h6><a href="">funnyenglish</a></h6>
        <p class="text-grey no-margins">65 sounds</p>
        <p class="text-grey no-margins">245 posts</p>
      </div>
      <div class="col-md-7 row">
        <form class="row">
          <div class="col-md-10">
            <textarea class="bw-post__textarea" placeholder="Write your repry here"></textarea>
          </div>
          <div class="col-md-2">
            <button class="v-spacing-top-6 btn-inverse text-14">Post</button>
          </div>
        </form>    
      </div>
    </div>
    <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
  </div>
{% endmacro %}