{% extends "base.html" %}

{% block title %}
	Support
{% endblock title %}

{% block content %}
	<h1>Users with new sounds</h1>
	<!-- include permission checks here -->
	<p>
	<ul class="moderation-user-list">
		{% for user, new_count in users.items %}
		<li>
			<div class="moderation-user-list-user">
				<img src="{{ user.profile.get_avatar_path.path_l }}"/>
				<p>{{ user.username }} 
				<br>{{ new_count }} new sounds
				<br><a href="{% url tickets-moderation-sounds-asign-user user.id %}">Add these files to your queue</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	<br>
	<br>
	<p>Start moderation!
{% endblock content %}
