{% extends "base.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript">


var switch_visibility = function(del_or_defer) {
	if(del_or_defer == 'defer') {
		var del_form = "hidden";
		var def_form = "visible";
	} else {
		var del_form = "visible";
		var def_form = "hidden"; 
	}
	return function() {
			$("#moderation-defer-form").get(0).style.visibility = def_form;
			$("#moderation-delete-form").get(0).style.visibility = del_form;
		    
		}
}

var attach = function(elem, func) {
	if(window.addEventListener){
   		elem.addEventListener('click', func, false);
	} else if (window.attachEvent){
   		elem.attachEvent('onclick', func);
	} else {
   		elem.onclick = func;
	}
}
 
$(document).ready(function() {
	attach($("#moderation-decision-form input").filter( "[value='Approve']" ).get(0),
    		   switch_visibility('defer'));
   	attach($("#moderation-decision-form input").filter( "[value='Defer']" ).get(0),
    		   switch_visibility('defer'));
    attach($("#moderation-decision-form input").filter( "[value='Delete']" ).get(0),
    		   switch_visibility('delete'));
});

</script>
{% endblock %}


{% block title %}
	Support
{% endblock title %}

{% block content %}
	<h1>Moderation panel test</h1>
	
	<form action="." method="post">{% csrf_token %}
	
		<div id="moderation-decision-form">
			<h4>Moderation action</h4>
			{{ mod_sound_form.as_p }}
		</div>
		
		<div id="moderation-message-form-wrapper">
		
			<div style="visibility: hidden;" id="moderation-delete-form">
				<h4>Delete messages</h4>
				<br>
				{{ delete_msg_form.as_p }}
			</div>
			
			<div style="visibility: visible;" id="moderation-defer-form">
				<h4>Defer messages</h4>
				<br>
				{{ defer_msg_form.as_p }}
			</div>
			
		</div>
	
		<input type="submit" value="send" />
		
	</form> 
{% endblock content %}
