{% load bw_templatetags %}
<div class="bw-rating__container" data-update-stars-color-on-save="{{ update_stars_color_on_save|yesno:"true,false" }}">
    {% for star_type, i in stars_range reversed %}
        {% if allow_rating %}
            <input class="bw-rating__input" type="radio" name="rate-{{ sound.id }}" data-rate-url="{% url "sound-rating-add" sound_user sound.id i %}" id="rate-{{ sound.id }}-{{ i }}" value="{{ i }}">
            <label for="rate-{{ sound.id }}-{{ i }}" data-value="{{ i }}">
        {% else %}
            <div class="bw-rating__star-no-editable">
        {% endif %}
            {% if star_type == 'full' %}
                {%  bw_icon 'star' 'text-red' %}
            {% elif star_type == 'half' %}
                {%  bw_icon 'half-star' 'text-red' %}
            {% elif star_type == 'empty' %}
                {%  bw_icon 'star' 'text-light-grey' %}
            {% endif %}
        {% if allow_rating %}
            </label>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
</div>