{% load bw_templatetags %}
<div class="bw-rating__container" data-show-added-rating-on-save="{{ show_added_rating_on_save|yesno:"true,false" }}" {% if not has_min_ratings %}title="Average rating not shown as there are not enough ratings"{% endif %}>
    {% for star_type, i in stars_range reversed %}
        {% if allow_rating %}
            <input class="bw-rating__input" type="radio" name="rate-{{ sound.id }}" data-rate-url="{% url "sound-rating-add" sound_user sound.id i %}" id="rate-{{ sound.id }}-{{ i }}" value="{{ i }}">
            <label for="rate-{{ sound.id }}-{{ i }}" data-value="{{ i }}">
        {% else %}
            <div class="bw-rating__star-no-editable" data-value="{{ i }}">
        {% endif %}
            {% if star_type == 'full' %}
                {%  bw_icon 'star' fill_class %}
            {% elif star_type == 'half' %}
                {%  bw_icon 'half-star' fill_class %}
            {% elif star_type == 'empty' %}
                {%  bw_icon 'star' 'text-light-grey' %}
            {% endif %}
        {% if allow_rating %}
            </label>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
</div>