{% import '../../atoms/icons.njk' as icons %}
{% import '../../atoms/stars.njk' as stars %}

{% macro sidebar(privateSpace) %}
  <div class="bw-sound__sidebar">
    <div>
      <ol>
        <li class="v-spacing-3">{{ icons.icon('download', 'text-grey text-opacity-050') }} <span class="text-21">247</span> <span class="text-grey text-17">downloads</span></li>
        <li class="v-spacing-3">{{ icons.icon('comments', 'text-grey text-opacity-050') }} <span class="text-21">15</span> <span class="text-grey text-17">comments</span></li>
      </ol>
    </div>
    <div>
      {{ icons.icon('cc', 'text-grey text-opacity-050') }} <span class="text-20 h-spacing-left-2">Creative Commons 0</span>
    </div>
    <div class="text-grey v-spacing-top-1">
      Curabitur suscipit luctus orci, et eleifend ante sagittis at. Sed sed tellus dapibus, blandit urna eget, tempus orci.
    </div>
    {% if privateSpace %} 

    {% else %}
      <div class="v-spacing-top-5">
        <p class="text-center text-26 font-weight-bold">Your rating:</p>
        <div class="center">
          {{ stars.rating() }}
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}