{% load cache %}
{% load util %}
{% load display_sound %}

{% if pack %}
{% cache 3600 bw_display_pack pack.0.id %}
{% with pack.0 as pack %}
    <div class="v-spacing-5">
        <div class="bw-carousel-container">
            <div class="bw-carousel-wrapper">
                <div class="bw-carousel with-dots dots-distance-1">
                {% comment %}get random sounds to show here so if cached we won't run this query{% endcomment %}
                {% with pack.get_random_sounds_from_pack as sounds %}
                    {% for sound in sounds %}
                        <div>
                            {% display_sound_small_no_info sound %}
                        </div>
                    {% endfor %}
                {% endwith %}
                </div>
            </div>
        </div>
        <h5 class="v-spacing-top-1 overflow-hidden">
            <a class="bw-link--black" href="{% url "pack" pack.user.username pack.id %}" >{{ pack.name|truncate_string:45 }}</a>
        </h5>
        <a href="{% url "account" pack.user.username %}">{{ pack.user.username|truncate_string:15 }}</a> <span class="text-grey">({{ pack.num_sounds }} sound{{ pack.num_sounds|pluralize }})</span>
        {% if pack.description %}
            <p class="text-grey">{{ pack.description|striptags|safe|truncatewords:10 }}</p>
        {% endif %}

    </div>
{% endwith %}
{% endcache %}
{% endif %}
