{% load cache %}
{% load util %}
{% load bw_templatetags %}

{% if sound %}
    {% if player_size == 'small' %}
        {% comment %}This is the default size which includes the basic player with sound metadatata{% endcomment %}
        {% if is_explicit %}
            <div class="explicit-sound-blocker blocker-small">
                <p><b>Warning</b>: this sound may be inappropriate for some users</p>
                <button class="btn-primary">Show anyway</button>
            </div>
        {% endif %}
        <div class="v-spacing-3 overfow-hidden {% if is_explicit %}blur{% endif %}">
            {% include "sounds/player.html" %}
            <h5 class="ellipsis line-height-percentage-150 v-spacing-top-1">
                <a class="bw-link--black" href="{% url 'sound' sound_user sound.id %}">{{ sound.original_filename }}</a>
            </h5>
            <div>
                <a href="{% url 'account' sound_user %}">{{ sound_user|truncate_string:15 }}</a>
                <br><span class="text-grey">{{ sound.created|timesince }} ago</span>
            </div>
            <div class="v-spacing-top-1 text-grey overflow-hidden">
                {{ sound.description|striptags|safe|truncatewords_html:10 }}
            </div>
        </div>

    {% elif player_size == 'middle' %}
        {% comment %}This is the default player shown in search results and in places where the sound takes
        "full" width {% endcomment %}
        {% if is_explicit %}
            <div class="explicit-sound-blocker blocker-small w-100">
                <p><b>Warning</b>: this sound may be inappropriate for some users</p>
                <button class="btn-primary">Show anyway</button>
            </div>
        {% endif %}
        <div class="{% if is_explicit %}blur{% endif %}">
            <div class="row no-gutters no-wrap">
                <div class="col-3">
                    {% include "sounds/player.html" %}
                </div>
                <div class="padding-left-3 w-100">
                    <div class="between">
                        <div>
                            <h5 class="v-spacing-1"><a class="bw-link--black" href="{% url 'sound' sound_user sound.id %}" title="{{ sound.original_filename }}">{{ sound.original_filename|truncate_string:45 }}</a></h5>
                            <div class="middle">{% bw_sound_stars sound %}<span class="text-grey h-spacing-left-1">{% if sound.num_ratings >= min_num_ratings %}Overall rating ({{ sound.num_ratings }}){% else %}Not enough ratings{% endif %}</span></div>
                        </div>
                        <div class="text-grey">
                            {% if sound.similarity_state == 'OK' %}
                                <button title="Find similar sounds" class="btn-neutral" data-toggle="similar-sounds-modal" data-modal-content-url="{% url 'sound-similar' sound_user sound.id %}?ajax=1">
                                    {% bw_icon 'similar' %}
                                </button>
                                <span class="h-spacing-2"></span>
                            {% endif %}
                            {% if is_authenticated %}
                                <button title="Save as favorite" class="btn-neutral" data-toggle="bookmark-modal-{{ sound.id }}">
                                    {% bw_icon 'bookmark' %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <p class="text-black overflow-hidden">{{ sound.description|striptags|safe|truncatewords_html:20 }}</p>
                    {% for tag in sound_tags|slice:":5" %}
                        {% bw_tag tag %}
                    {% endfor %}

                    {% if sound.moderation_state != 'OK' or sound.processing_state != 'OK' %}
                        <p class="text-red">
                        Processing state:
                        {% if sound.processing_state == 'PE' %}
                            Pending
                        {% elif sound.processing_state == 'QU' %}
                            Queued
                        {% elif sound.processing_state == 'FA' %}
                            Failed
                        {% elif sound.processing_state == 'PR' %}
                            Processing
                        {% else %}
                            {{sound.processing_state}}
                        {% endif %}
                         <br>
                        Moderation state:
                        {% if sound.moderation_state == 'PE' %}
                            Pending
                        {% elif sound.moderation_state == 'DE' %}
                            Deferred
                        {% else %}
                            {{sound.moderation_state}}
                        {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="between v-spacing-top-2 v-spacing-3">
                <div class="middle text-grey h-spacing-1">
                    <div class="h-spacing-1">
                        {% bw_user_avatar user_profile_locations.avatar.S.url sound_user 32 %}
                    </div>
                    <a href="{% url 'account' sound_user %}">{{ sound_user | truncate_string:15 }}</a>
                    <span class="h-spacing-left-1 text-light-grey">{{ sound.created|date:"F jS, Y" }}</span>
                </div>
                <div class="middle text-light-grey bw_sound-info-extended">
                    {% if sound.geotag_id %}
                    <div><span class="bw-icon-pin"></span>
                        <span class="h-spacing-left-1 h-spacing-3">{{ sound.geotag_lat|floatformat:3 }}, {{ sound.geotag_lon|floatformat:3 }}</span></div>
                        {% comment %}In the span above we should put the textual name of the place where the sound was recorded
                        (if there is geotag). For now we'll put cooedinates{% endcomment %}
                    {% endif %}
                    <div><span class="bw-icon-download"></span>
                        <span class="h-spacing-left-1 h-spacing-3">{{ sound.num_downloads }}</span></div>
                    <div><span class="bw-icon-comments"></span>
                        <span class="h-spacing-left-1 h-spacing-3">{{ sound.num_comments }}</span></div>
                    <div><span class="bw-icon-cc"></span>
                        <span class="h-spacing-left-1">{{ license_name }}</span></div>
                </div>
            </div>
        </div>

    {% elif player_size == 'big_no_info' %}
        {% comment %}This size includes a placeholder for the controls of the big player but shows no sound
        metadata{% endcomment %}
        {% include "sounds/player.html" %}
        <div class="bw-player-big__controls"></div>

    {% elif player_size == 'small_no_info' %}
        {% comment %}This size will be used inside a pack carousel. For this size we only include the basic
        player and show no sound metadata{% endcomment %}
        {% include "sounds/player.html" %}

    {% elif player_size == 'minimal' %}
        {% comment %}This size is used in map info windows and only includes a play/stop and loop button{% endcomment %}
        {% include "sounds/player.html" %}

    {% elif player_size == 'infowindow' %}
        {% comment %}This size is used in geotags map infowindows. If uses a small player and also shows some metadatata{% endcomment %}
        <div class="v-spacing-1 overfow-scroll">
            {% include "sounds/player.html" %}
            <h5 class="v-spacing-top-1">
                <a href="#"></a>{% comment %}Placing an empty anchor here is a workaround to prevent mapbox infowindows to focus first anchor found{% endcomment %}
                <a target="_blank" class="bw-link--black" href="{% url 'sound' sound_user sound.id %}">{{ sound.original_filename|truncate_string:20 }}</a>
            </h5>
            <div class="v-spacing-top-1">
                <a target="_blank" href="{% url 'account' sound_user %}">{{ sound_user|truncate_string:15 }}</a>
                <br><span class="text-grey">{{ sound.created|timesince }} ago</span>
            </div>
            <div class="v-spacing-top-1 text-grey overflow-hidden">
                {{ sound.description|striptags|safe|truncatewords_html:30 }}
            </div>
        </div>

    {% endif %}
{% endif %}