{% extends "simple_page.html" %}
{% load display_sound %}
{% load util %}

{% block title %}{% if describing %}Describe sound{{num_forms|pluralize}}{% else %}Edit sound{{num_forms|pluralize:",s'"}} description{% endif %}{% endblock %}
{% block page-title %}{% if describing %}Describe sound{{num_forms|pluralize}}{% else %}Edit sound{{num_forms|pluralize:",s'"}} description{% endif %} {% if num_rounds > 1 %}(round {{ current_round }} of {{ num_rounds }}){% endif %}{% endblock %}

{% block page-content %}

<div class="v-spacing-5 v-spacing-top-2">
<p>{% if describing and total_sounds_to_describe > 1  %}This is the last step of the description process. {% endif %}{% if num_rounds > 1%}If you've selected more than {{ sounds_per_round }} sounds, 
    you will be asked to {%if describe %}describe{% else %}edit{% endif %} them in rounds of {{ sounds_per_round }} sounds until all are done. {% endif %}
    {% if num_forms > 1 %}For each sound y{% else %}Y{% endif %}ou'll have to at least specify a <b>name</b>, some <b>tags</b>, a <b>description</b> and a <b>license</b>. Additionally, you can also provide a <b>pack</b>, <b>geolocation</b> data (only recommended for 
    field recordings), and a list of <b>sound sources</b>, that is to say, a list of other Freesound sounds that were used to create this one.
    {% if num_forms > 1%}<strong>Click on the sound filenames below to display the form for {% if describing %}describing{% else %}editing{% endif %} each sound</strong>.{% endif %}</p>
</div>

<form id="edit_describe_form" action="." method="post" novalidate class="disable-on-submit bw-form">{% csrf_token %}
<div class="v-spacing-6">
    {% for form in forms%}
    <div>
        <div class="middle">
            {% if num_forms > 1 %}
            <h2 class="collapsable-toggle" data-target="collapsable-{{ forloop.counter0 }}" data-show-text="#{{ forloop.counter }}) {{ form.name.value }}" data-hide-text="#{{ forloop.counter }}) {{ form.name.value }}" data-hide-on-load></h2>
            {% else %}
            <h2 class="text-grey">{{ form.name.value }}</h2>
            {% endif %}
        </div>
        <div id="collapsable-{{ forloop.counter0 }}" class="collapsable-block">
        {% if not describing %}
            {% display_sound_big_no_info_no_bookmark sound_objects|element_at_index:forloop.counter0 %}
        {% else %}
            {% with files_data_for_players|element_at_index:forloop.counter0 as sound_data %}
                {% if sound_data %}
                    {% display_sound_big_no_sound_object sound_data %}
                {% else %}
                    <div class="center text-grey bg-navy-light-grey padding-7">Sound player not currently available</div>
                {% endif %}
            {% endwith %}
        {% endif %}
        
        <div>
            {{ form.non_field_errors }}
        </div>
        
        <div>
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div>
            {{ form.tags.errors }}
            {{ form.tags.label_tag }}
            {{ form.tags }}
        </div>

        <div>
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div>
            {{ form.is_explicit.errors }}
            {{ form.is_explicit.label_tag }}
            {{ form.is_explicit }}
        </div>

        <div>
            {{ form.license.errors }}
            {{ form.license.label_tag }}
            {{ form.license }}
        </div>

        <div>
            {{ form.pack.errors }}
            {{ form.pack.label_tag }}
            {{ form.pack }}
        </div>

        <div>
            {{ form.new_pack.errors }}
            {{ form.new_pack.label_tag }}
            {{ form.new_pack }}
        </div>

        <div>
            {{ form.remove_geotag.errors }}
            {{ form.remove_geotag.label_tag }}
            {{ form.remove_geotag }}
        </div>

        <div>
            {{ form.lat.errors }}
            {{ form.lat.label_tag }}
            {{ form.lat }}
        </div>

        <div>
            {{ form.lon.errors }}
            {{ form.lon.label_tag }}
            {{ form.lon }}
        </div>

        <div>
            {{ form.zoom.errors }}
            {{ form.zoom.label_tag }}
            {{ form.zoom }}
        </div>

        <div>
            {{ form.sources }}
        </div>
            
        </div>
        {% if not forloop.last %}
            <hr class="v-spacing-3 v-spacing-top-3" />
        {% endif %}
    </div>
    {% endfor %}
</div>
<button type="submit" class="btn-primary v-spacing-top-6 w-100 center">{% if current_round < num_rounds %}Save sound description{{ num_forms|pluralize }} and continue to next round{% else %}Save sound description{{ num_forms|pluralize }}{% endif %}</button>
</form>
{% endblock %}