{% load bw_templatetags %}
{% if form.errors %}
<div class="v-spacing-2"><ul class="errorlist"><li>You must choose one license...</li></ul></div>
{% endif %}
<div>
    <div class="v-spacing-3">
        <label class="bw-radio-label">
            <div class="row no-gutters">
                <div class="col-2 col-lg-1 middle center">
                    <input class="bw-radio" type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_0" value="{{ cc0_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons 0" {% if form.data.license.name == 'Creative Commons 0' %}checked{% endif %}>
                </div>
                <div class="col-10 col-lg-11">
                    <h4>{% bw_icon 'zero' %} Creative Commons Zero</h4>
                    <p>You let people use your sounds and they can do whatever they want. They don't even need to credit you.
                    <a href = "https://creativecommons.org/publicdomain/zero/1.0/" target=_blank>Read more..</a>
                </div> 
            </div>
        </label>
    </div>
    <div class="v-spacing-3">
        <label class="v-spacing-3 bw-radio-label">
            <div class="row no-gutters">
                <div class="col-2 col-lg-1 middle center">
                    <input class="bw-radio" type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_1" value="{{ cc_by_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons Attribution"  {% if form.data.license.name == 'Attribution' %}checked{% endif %}>
                </div>
                <div class="col-10 col-lg-11">
                    <h4>{% bw_icon 'by' %} Creative Commons Attribution</h4>
                    <p>You let people use your sounds, for commercial purposes, but they always need to credit you.
                    <a href = "https://creativecommons.org/licenses/by/4.0/" target=_blank>Read more..</a>
                </div>
            </div>
        </label>
    </div>
    <div>
        <label class="bw-radio-label">
            <div class="row no-gutters">
                <div class="col-2 col-lg-1 middle center">
                    <input class="bw-radio" type="radio" id="id_{% if form.prefix %}{{form.prefix}}-{% endif %}license-license_2" value="{{ cc_by_nc_license_id }}" name="{% if form.prefix %}{{form.prefix}}-{% endif %}license" title="Creative Commons Attribution Non-Commercial" {% if form.data.license.name == 'Attribution Noncommercial' %}checked{% endif %}>
                </div>
                <div class="col-10 col-lg-11">
                    <h4>{% bw_icon 'nc' %}Creative Commons Attribution Non-Commercial</h4>
                    <p>You let people use your sounds, but not for commercial purposes. They also always need to credit you.
                    <a href = "https://creativecommons.org/licenses/by-nc/4.0/" target=_blank>Read more..</a>
                </div>
            </div>
        </label>
    </div>
</div>