{% extends "molecules/modal_base.html" %}
{% load sounds_selector %}
{% load util %}

{% block id %}editSourcesModal{% endblock %}
{% block extra-class %}modal-width-80{% endblock %}
{% block aria-labelledby %}editSourcesModal{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h5 class="v-spacing-5">Add sound sources</h5>
    </div>
    <div class="v-spacing-4">
        <div class="center">
            <div class="input-wrapper w-50" style="padding:11px;">
                <i class="bw-icon-search input-icon"></i><input name="q" type="search" placeholder="Enter sound ID or query terms..." autocomplete="off" {% if q %}value="{{ q }}"{% endif %}>
            </div>
            <div class="h-spacing-left-3">
                <button class="btn-primary">Add selected sounds as sources</button>
            </div>
        </div>
        {% sounds_selector sounds_to_select %}
        {% if search_executed and not sounds_to_select %}
        <div class="v-spacing-7 v-spacing-top-6 text-center">
            <h5>No results... &#128543</h5>
            <div class="text-grey v-spacing-2">Please try another query</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
