{% load bw_templatetags %}
<div class="{% if sound.processing_state == "FA" and sound.processing_ongoing_state != "PR" %}text-red{% elif sound.processing_ongoing_state == "PR" %}text-green{% else %}text-blue{% endif %}">
    {% if sound.processing_state == "FA" and sound.processing_ongoing_state != "PR" %}{% bw_icon "notification" %}Failed processing{% else %}{% if sound.processing_ongoing_state == "PR" %}{% bw_icon "cogs" %} Currently processing{% else %}{% bw_icon "clock" %} In queue{% endif %}{% endif %}
</div>