{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}Browseable Freesound APIv2{% endblock %}

{% block style %}
    {% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap-tweaks.css' %}"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/prettify.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/default.css' %}"/>
{% endblock %}


{% block branding %}
    <a style="color: #999;" href="/apiv2/">
        <img src="/media/images/logo_white_small_api.png" height="40px"/>
    </a>
    <span class="pull-right" style="line-height: 50px;">
        <a style="color: #999;" href="/docs/api" target="_blank">Documentation</a>
    </span>
{% endblock %}

{% block userlinks %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav pull-right">
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{user.username}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'logout' %}?next=/apiv2/">Log out</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav pull-right">
            <li><a href="{% url 'login' %}?next=/apiv2/">Log in</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'rest_framework/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'rest_framework/js/ajax-form.js' %}"></script>
    <script src="{% static 'rest_framework/js/csrf.js' %}"></script>
    <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'rest_framework/js/prettify-min.js' %}"></script>
    <script src="{% static 'rest_framework/js/default.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('form').ajaxForm();
        });
    </script>
  {% endblock %}

{% block footer %}{% endblock %}

