{% extends "rest_framework/base.html" %}

{% block title %}Browseable Freesound APIv2{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/bootstrap-tweaks.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/default.css"/>
{% endblock %}

{% block script %}
    <script src="/media/js/rest_framework/jquery-1.8.1-min.js"></script>
    <script src="/media/js/rest_framework/bootstrap.min.js"></script>
    <script src="/media/js/rest_framework/prettify-min.js"></script>
    <script src="/media/js/rest_framework/default.js"></script>
{% endblock %}

{% block branding %}<a class="brand" href="/apiv2/">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAPIv2</a><span class="pull-right" style="line-height: 40px;"><a href="/docs/api" target="_blank">Docs</a></span>{% endblock %}



