{% extends "rest_framework/login_base.html" %}

{% block title %}Browseable Freesound API login{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/bootstrap-tweaks.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/rest_framework/default.css"/>
{% endblock %}

{% block script %}
    <script src="/media/js/rest_framework/jquery-1.8.1-min.js"></script>
    <script src="/media/js/rest_framework/bootstrap.min.js"></script>
    <script src="/media/js/rest_framework/prettify-min.js"></script>
    <script src="/media/js/rest_framework/default.js"></script>
{% endblock %}

{% block branding %}
    <h3 style="margin: 0 0 20px;">Freesound Browseable API</h3>
{% endblock %}