{% extends "simple_page.html" %}

{% block title %}Editing - {{content.title}}{% endblock %}
{% block page-title %}Editing - {{ name }}{% endblock %}

{% block page-content %}
    <div class="bw-wiki">
        {% if content %}
        <ul class="v-spacing-4">
            <li><strong>version</strong>: {{content.id}} - <a href="{% url "wiki-page-history" name %}">history and comparison</a></li>
            <li><strong>previous edit date</strong>: {{content.created}}</li>
            {% if content.author %}
            <li><strong>previous author</strong>: {{content.author.username}}</li>
            {% else %}
            <li><strong>no previous author</strong></li>
            {% endif %}
        </ul>
        {% endif %}
        <form method="post" action="." class="bw-form bw-form-less-spacing w-100">{% csrf_token %}
        {{ form.as_p }}
        <div class="text-right">
            <button class="btn-primary v-spacing-top-2">Save</button>
        </div>
        </form>
    </div>
{% endblock %}
