{% extends "simple_page.html" %}
{% load markup_freesound %}
{% load bw_templatetags %}

{% block title %}Help - {{content.title}}{% endblock %}
{% block page-title-custom %}{% endblock %}{% comment %}No page title in wiki pages as is part of page content{% endcomment %}

{% block page-content %}
    <div class="bw-wiki">
        {{ content.body|markdown_wiki }}
        {% if perms.wiki.change_page %}
        <div class="v-spacing-top-5 text-right">
            <a class="btn-primary no-hover" href="{% url "wiki-page-edit" name %}">Edit this page</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
