{% extends "wiki/_section.html" %}

{% load markup_freesound %}

{% block title %}help - {{content.title}}{% endblock %}

{% block head %}
{{ block.super }}
		<link rel="stylesheet" type="text/css" href="{{media_url}}css/code.css" />
{% endblock %}

{% block section_content %}
    {% if content.title == "Frequently Asked Questions" %}
        {% comment %}When showing the "Frequently Asked Questions", we load the geotag picker help tool code
        so that it is corresctly displayed when showGeotagPickerHelpTool() is run. We can't place this code in the
        wiki page content as script tag would be stripped.{% endcomment %}
        {% include 'geotags/geotag_picker_help_tool.html' %}
    {% endif %}
    {{content.body|markdown:"wikilinks,codehilite,markdown.extensions.toc"}}
    {% if perms.wiki.change_page %}<div id="wiki-edit"><a href="{% url "wiki-page-edit" name %}"><p>edit this page</p></a><br></div>{% endif %}

{% endblock %}
