.bw-front__hero-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  padding-top: 80px;
  padding-bottom: 88px;

  header {
    text-align: center;
  }
}

.bw-front__subheader {
  color: $navy-grey;
}
