{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load display_sound %}
{% block title %}Ticket #{{ ticket.id }}{% endblock %}
{% block page-title %}Moderation ticket #{{ ticket.id }}{% endblock %}

{% block page-content %}
<div class="row">
    <div class="col-md-6">
        <div class="v-spacing-top-4">
            <h3 class="text-grey">Ticket details</h3> 
            <table class="w-100 v-spacing-top-2 v-spacing-1">
                <tr><td class="text-grey">Assigned to</td><td>
                    {% if ticket.assignee %}
                    <a href="{% url "account" ticket.assignee.username %}">{{ ticket.assignee.username }}</a>
                    {% else %}
                    <span class="text-blue">{% bw_icon "notification" %} Unassigned</span>
                    {% endif %}
                </td></tr>
                <tr><td class="text-grey">Created by</td><td>
                    {% if ticket.sender %}
                    <a href="{% url "account" ticket.sender.username %}">{{ ticket.sender.username }}</a>
                    {% if perms.tickets.can_moderate %}
                    <span class="h-spacing-1">·</span><a class="bw-link--grey" data-toggle="modal-default" data-modal-content-url="{% url "tickets-user-pending_sounds" ticket.sender.username %}?ajax=1" href="javascript:void(0);">Pending sounds ({{ num_sounds_pending }})</a>
                    <span class="h-spacing-1">·</span><a class="bw-link--grey" data-toggle="user-annotations-modal" data-modal-content-url="{% url "tickets-user-annotations" ticket.sender.id %}?ajax=1" href="javascript:void(0);">Mod annotations (<span class="annotation-counter-{{ ticket.sender.id }}">{{ num_mod_annotations }}</span>)</a>
                    {% endif %}
                    {% else %}
                    anonymous
                    {% endif %}
                </td></tr>
                <tr><td class="text-grey">Created on</td><td>{{ ticket.created }} ({{ ticket.created|timesince }} ago)</td></tr>
                <tr><td class="text-grey">Last modified on</td><td>{{ ticket.modified }} ({{ ticket.modified|timesince }} ago)</td></tr>
                <tr><td class="text-grey">Status</td><td>
                    <b>{{ ticket.status|capfirst }}</b>
                </td></tr>
            </table>
            {% if perms.tickets.can_moderate and ticket.assignee.id != user.id %}
            <div class="center v-spacing-top-2">
                <a class="btn-inverse no-hover" href="{% url 'tickets-moderation-assign-single-ticket' ticket.id %}">{% bw_icon "plus" %}Assign to me</a>
            </div>
            {% endif %}
        </div>

        <div class="v-spacing-top-4">
            <h3 class="text-grey">Messages ({{ticket.messages.all.count}})</h3>
            <div class="v-spacing-top-2 overflow-hidden">
            {% for message in ticket.messages.all reversed %}
                {% if not message.moderator_only or can_view_moderator_only_messages %}
                <div class="v-spacing-2">
                    <div>
                        {% if message.sender %} <a href="{% url "account" message.sender.username %}">{{ message.sender.username }}</a> {% else %} Anonymous {% endif %}<span class="h-spacing-left-1 h-spacing-1 text-grey">·</span><span class="text-grey">{{ message.created }}</span>
                        {% if message.moderator_only %}<span title="This message is only visible to other moderators" class="text-blue">{% bw_icon 'notification' 'rotate180' %}</span>{% endif %}
                    </div>
                    <div class="{% if message.moderator_only %}text-blue{%endif%}">{{ message.text|safe|linebreaksbr }}</div>
                </div>
                {% endif %}
            {% endfor %}
            {% if request.user.is_authenticated %}
                <form method="post" action="." class="bw-form v-spacing-top-4 disable-on-submit">
                    {% csrf_token %}
                    {{tc_form}}
                    <button class="btn-inverse v-spacing-top-4">Add message to ticket</button>
                </form>
            {% else %}
                <div class="v-spacing-top-3 v-spacing-3 text-center text-grey">Please <a href="{% url "login" %}?next={% url "tickets-ticket" ticket.key %}">log in</a> to add a message to this ticket</div>
            {% endif %}
            </div>
        </div>
    </div>
    
    <div class="offset-md-1 col-md-5">
        <div class="v-spacing-top-4">
            <h3 class="text-grey">Sound {{ sound.id }}</h3>
            <div class="v-spacing-top-2">
            {% if sound is not None %}
                {% display_sound_moderation sound %}
            {% else %}
                <div class="bw-player-small-thumbnail-empty-space center middle text-grey">No sound available for this ticket</div>
            {% endif %}
            </div>
        </div>

        <div class="v-spacing-top-4">
            <h3 class="text-grey">Actions</h3> 
            {% if perms.tickets.can_moderate %}
                {% if sound %}
                <form action="." method="post" class="bw-form">{% csrf_token %}
                    {{ sound_form.as_p }}
                    <button class="btn-primary v-spacing-top-4">Update ticket</button>
                </form>
                {% else %}
                    {% if ticket.status == 'closed' %}
                    <div class="v-spacing-top-2 text-grey">
                        This ticket no longer has a sound associated with it, no further actions can be performed.
                    </div>
                    {% else %}
                    <div class="v-spacing-top-2 text-grey">
                        This ticket no longer has a sound associated with it but for some reason it has not been closed.
                        Please close it using the button below.
                        <form action="." method="post" class="bw-form">{% csrf_token %}
                            <input type="hidden" name="ss-action" value="Close">
                            <button class="btn-primary v-spacing-top-4">Close this ticket</button>
                        </form>
                    </div>
                    {% endif %}
                {% endif %}
            {% else %}
            <div class="v-spacing-top-2 text-grey">
                You do not have permissions to perform any actions.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

    