{% extends "base.html" %}
{% load absurl %}

{% block content %}
<div id="content_full"> <!-- START of Content area -->

  <h1>Donations</h1>
  <p>
  Thank you for supporting Freesound, you can complete the following form with the name that will appear with the donation:
  </p>
  <!-- donations -->
    <div id="donation_form">
      <form method="post" action="{% url 'donate' %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <ul>
          <li><input type="radio" name="annon" value="0" checked="checked"> Donate as a user</li>
          <li><input type="radio" name="annon" value="1"> Donate anonymously</li>
        </ul>
        {% else %}
          <label>Name</label><input type="text" name="name" value="Anonymous">
        {% endif %}
        <input type="submit" value="Donate Now" class="donation_button" />
      </form>
    </div>
    <script type="text/javascript">
      $(document).ready(function (){
      
        $('#donation_form form').submit(function(e) {
          $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(), // serializes the form's elements.
            success: function(data)
            {
              form = $('<form />', {
                action: data.url,
                method: "POST",
                style: 'display: none;'
              });
              $.each(data.params,function (name, value) {
                $('<input />', {
                  type: 'hidden',
                  name: name,
                  value: value
                }).appendTo(form);
              });
              form.appendTo('body').submit();
            }
          });
          e.preventDefault(); // avoid to execute the actual submit of the form.          
        });
      });
    </script>
{% block section_content %}

{% endblock %}
</div> <!-- END of Content area -->

<br class="clear" />

{% endblock %}


