{% extends "base.html" %}
{% load paginator %}
{% load util %}

{% block content %}
<div id="content_full"> <!-- START of Content area -->

  <h1>Donations</h1>
    <div class="donations-list stream_box">
      <h3>List of donations</h3>
      <a class="link-to-section" href="{% url 'donate' %}">Make a donation</a>
      {% regroup object_list by created|date:"F, Y" as donations %}
      {% for donation_m in donations %}
      <div class="donations-title">{{donation_m.grouper}}</div>
      {% for donation in donation_m.list%}
      <div class="donation-item">
        <div class="donation-item-left"><img src="{% if donation.user %}{{ donation.user.profile.locations.avatar.M.url}}{% else %}/media/images/40x40_avatar.png{% endif %}"></div>
        <div class="donation-item-right">
          <p>
          {% if donation.display_name %}
          {{donation.display_name|truncate_string:12}}
          {% else %}
          {% if donation.user %}
          <a href="{% url "account" donation.user.username %}">{{ donation.user.username|truncate_string:12 }}</a>
          {% endif %} 
          {% endif %} 
          <br /> {{donation.amount}} {{donation.currency}}
          </p>
        </div>
      </div>
    {% endfor %}
    {% endfor %}
    </div>
    <div style="clear:both;padding-top: 15px;">
    {% show_paginator page_obj.paginator page_obj page_obj.number request "donations" %}
    </div>
{% block section_content %}

{% endblock %}
</div> <!-- END of Content area -->

<br class="clear" />

{% endblock %}


