{% extends "base.html" %}
{% load absurl %}
{% block title %}Donate{% endblock %}
{% block content %}
<div id="content_full"> <!-- START of Content area -->

  <h1>Donations</h1>
    <p>
        Thanks for supporting Freesound!
    </p>
    <p>
        Please use the form below to make a donation. Note that donations are managed through the <b>Phonos Foundation</b>, an institution linked to the <b>Music
        Technology Group</b> for the promotion of social and cultural initiatives. Click here to see the <a href="{% url 'donors' %}">full list of Freesound donors and and donations</a>.
    </p>
    <p>
        Are you asking yourself "<b>why should I donate to Freesound?</b>"
        <a href="javascript:void(0);" onclick="show_donate_reasons();">Here are some reasons</a>, let's see if we can
        convince you :)
    </p>

    <div id="why_should_donate" style="display:none;">
    <h3>Why should I donate to Freesound?</h3>
        <p>
            Freesound is a website that was <a href="https://freesound.org/help/about/" target="_blank">started in 2005</a>
            at the <a href="http://mtg.upf.edu/" target="_blank">Music Technology Group</a> (MTG) of <a href="http://upf.edu/" target="_blank">Universitat Pompeu Fabra</a>.
            Freesound has always been developed and maintained by researchers at the MTG. However, the cost of maintaining
            Freesound has been increasing as the site has grown, and it is not an easy task to find resources (both human
            and machine) to maintain and keep improving Freesound.
        </p>
        <p>
            We need your donations in order to be able dedicate more resources to Freesound and not only maintain it but also
            make it better, add new features, improve existing ones, etc. Because of the nature of Freesound and the philosophy
            of openness, sharing and reuse that we promote, we think that the sustainability model that best fits our case
            is one based on user donations (like Wikipedia).
        </p>
        <p>
            Considering the huge amount of users that <a href="http://blog.freesound.org/?p=666" target="_blank" rel="nofollow">
            regularly download content from Freesound</a> and benefit from the site, we estimate that with a very small yearly
            contribution from some of these users, we can collect enough to keep Freesound in good shape :)
        </p>
        <p>
            Want to know more? Check this <a href="/forum/freesound-project/40188/">forum thread</a> in which we discussed our
            ideas regarding Freesound sustainability with the community.
        </p>
    </div>

    <!-- donations -->
    <div id="donation_form_wrapper">

      <div id="donation_form">
        <form method="post" action="{% url 'donate' %}">
          <ul class="errorlist nonfield"></ul>
          <ul style="list-style-type: none;padding-left:0px;line-height: 18px;">
          {% csrf_token %}

          <p>
            Please choose the <b>name</b> that will appear with the donation:
          </p>
          {% for choice in form.donation_type %}
          <li>
              <input type="radio"
                     name="{{ form.donation_type.name }}"
                     value="{{ choice.data.value }}"
                     id="id_{{ form.donation_type.name }}_{{ forloop.counter0 }}"
                     {% if form.donation_type.value == choice.data.value %}
                         checked='checked'
                     {% endif %}/>
              {{ choice.choice_label }}
              {% if choice.data.value == '2' %} {{form.name_option}} {% endif %}
          </li>
          {% endfor %}
          </ul>
          <p>{{form.amount.label_tag }}
            <span class="currency">&euro;</span>
            {{ form.amount}}
          </p>
          <p>
            {{ form.recurring.label_tag }}
            {{ form.recurring}}
          </p>
          <p>
            {{ form.show_amount.label_tag }}
            {{ form.show_amount}}
          </p>
          <button class="donation_button">Donate with</button>

        </form>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function (){

        $('#donation_form form').submit(function(e) {
          $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(), // serializes the form's elements.
            success: function(data)
            {
              if (data.errors != null) {
                  $('.errorlist').html("");
                $.each(data.errors['__all__'], function (index, error) {
                  $('.errorlist').append("<li>"+error+"</li>");
                });
              } else {
                form = $('<form />', {
                  action: data.url,
                  method: "POST",
                  style: 'display: none;'
                });
                $.each(data.params,function (name, value) {
                  $('<input />', {
                    type: 'hidden',
                    name: name,
                    value: value
                  }).appendTo(form);
                });
                form.appendTo('body').submit();
              }
            }
          });
          e.preventDefault(); // avoid to execute the actual submit of the form.
        });
      });

      function show_donate_reasons(){
          $('#why_should_donate').show(200);
      }
    </script>

{% block section_content %}

{% endblock %}
</div> <!-- END of Content area -->

<br class="clear" />

{% endblock %}


