{% extends "base.html" %}
{% load absurl %}

{% block content %}
<div id="content_full"> <!-- START of Content area -->

  <h1>Donations</h1>
  <p>
  Thanks for supporting Freesound! Please choose the name that will appear with the donation:
  </p>
  <!-- donations -->
    <div id="donation_form">
      <form method="post" action="{% url 'donate' %}">
        <ul style="list-style-type: none;">
        {% csrf_token %}
        {% for choice in form.donation_type %}
        <li>
            <input type="radio"
                   name="{{ form.donation_type.name }}"
                   value="{{ choice.choice_value }}"
                   id="id_{{ form.donation_type.name }}_{{ forloop.counter0 }}"
                   {% if form.donation_type.value == choice.choice_value %}
                       checked='checked'
                   {% endif %}/>
            {{ choice.choice_label }}
            {% if choice.choice_value == "2" %} {{form.name_option}} {% endif %}
        </li> 
        {% endfor %}
        </ul>
        <p>  
          {{ form.show_amount.label_tag }}
          {{ form.show_amount}}
        </p>
        <input type="submit" value="Donate Now" class="donation_button" />
      </form>
    </div>
    <script type="text/javascript">
      $(document).ready(function (){
      
        $('#donation_form form').submit(function(e) {
          $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(), // serializes the form's elements.
            success: function(data)
            {
              form = $('<form />', {
                action: data.url,
                method: "POST",
                style: 'display: none;'
              });
              $.each(data.params,function (name, value) {
                $('<input />', {
                  type: 'hidden',
                  name: name,
                  value: value
                }).appendTo(form);
              });
              form.appendTo('body').submit();
            }
          });
          e.preventDefault(); // avoid to execute the actual submit of the form.          
        });
      });
    </script>
    <div>
      <ul style="list-style-type: none;"><li><a href="{% url 'donors' %}">See full list of donations</a></li></ul>
    </div>
{% block section_content %}

{% endblock %}
</div> <!-- END of Content area -->

<br class="clear" />

{% endblock %}


