{% extends "molecules/modal_base.html" %}
{% load static %}
{% load bw_templatetags %}

{% block id %}bookmarkSoundModal{% endblock %}
{% block extra-class %}modal-width-60{% endblock %}
{% block aria-labelledby %}bookmarkSoundModalLabel{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h5 class="v-spacing-5">Bookmark this sound</h5>
    </div>
    <div class="v-spacing-4">
        {% if bookmarks %}
            <div class="v-spacing-4 text-grey">
            {% bw_icon 'bookmark-filled' %}This sound is already in your bookmarks{% if not categories_aready_containing_sound %} under no category{% endif %}
            {% if categories_aready_containing_sound %}
                under the categories:
                {% if sound_has_bookmark_without_category %}
                    <span class="text-black">Uncategorized</span>, 
                {% endif %}
                {% for cat in categories_aready_containing_sound %}
                    <span class="text-black">{{cat.name}}</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        {% endif %}
        <form>
            {{ form }}
            <button class="btn-primary v-spacing-top-2">Add bookmark</button>
        </form>
    </div>
</div>
{% endblock %}
