{% extends "simple_page.html" %}

{% block title %}Page not found{% endblock %}
{% block page-title %}Page not found{% endblock %}

{% block page-content %}
    <p>It seems that either we've pointed you in the wrong direction or misplaced something <b>-or-</b>
        that you've requested a page that doesn't exist. Either way, you've reached a dead end.
    <p>We recommend you click the browser's back button and curse at the screen for a minute. Then listen to some of Freesound's
        soothing soundscapes. That'll make you feel better.
{% endblock %}
