<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=575, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>Server Error</title>
    <meta name="description" content="Freesound: collaborative database of creative-commons licensed sound for musicians and sound lovers. Have you freed your sound today?">
    <meta name="keywords" content="free, sound">
    <link id="style" rel="stylesheet" href="/static/bw-frontend/dist/index.css" data-forced-theme="yes">
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <div class="bw-page">

        <nav class="bw-nav bw-nav--expanded">
            <div class="container bw-nav__container">
                <form method="get" action="/search/">
                    <div class="bw-nav__logo-search-container">
                        <div class="bw-nav__logo-with-text">
                            <a href="/" class="no-hover"></a>
                        </div>
                        <div class="input-wrapper">
                            <input name="q" type="search" class="bw-nav__search" placeholder="Search sounds..." autocomplete="off" />
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container">
            <div class="navbar-space-filler v-spacing-7 v-spacing-top-5">
                <div class="no-paddings col-12 v-spacing-3">
                    <h1>Server Error</h1>
                </div>
                <div class="col-12 no-paddings v-spacing-5">
                    <p>Ouch.. we screwed something up! You found some part of Freesound that's broken.</p>
                    <p>Luckily, we'll get an email about it and we'll try to fix it as soon as possible. In the
                        meantime, try some other parts of website we haven't managed to break yet.</p>
                        <p class="text-light-grey v-spacing-top-6 divider-light padding-top-2">Django is sad... sorry about that! (nginx 500 internal server error)</p>
                    </div>
                </div>
            </div>

            <footer class="bw-footer padding-7 v-spacing-top-7">
                <div class="center">
                    <div class="footer-logo-container">
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="https://www.upf.edu/web/mtg" class="no-hover">
                                    <img class="w-100" src="/static/bw-frontend/public/upf_logo.png" />
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="https://www.upf.edu/web/phonos/" class="no-hover">
                                    <img class="w-100" src="/static/bw-frontend/public/phonos_logo.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row v-spacing-top-4 center">
                    <a class="bw-link--grey h-spacing-1" href="/help/about/">About Freesound</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/tos_web/">Terms of use</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/privacy/">Privacy</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/cookies_policy/">Cookies</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/developers/">Developers</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/faq/">Help</a>
                    <a class="bw-link--grey h-spacing-1" href="/donations/donors/">Donations</a>
                    <a class="bw-link--grey h-spacing-1" href="https://blog.freesound.org">Blog</a>
                    <a class="bw-link--grey h-spacing-1" href="https://labs.freesound.org">Freesound Labs</a>
                    <a class="bw-link--grey h-spacing-1" href="/help/tshirt/">Get your t-shirt!</a>
                </div>
                <div class="center v-spacing-top-4">
                    <span>© 2023</span>
                </div>
                <div class="center">
                    <span>Freesound</span>
                </div>

            </footer>

            <script>
                const siteWidth = 580;  // Minimum expected width. If screen is smaller, scale website.
                const scale = window.innerWidth / siteWidth;
                if (scale < 1){
                    document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=' + siteWidth + ', initial-scale=' + scale);
                }
                const userIsAuthenticated = false;
            </script>
            <script src="/static/bw-frontend/dist/index.js"></script>
        </div>
    </div>
</body>
</html>