{% load cache %}
{% load sound_tickets_count %}
{% load pending_sounds %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

    <head>

        {% block head %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Freesound: collaborative database of creative-commons licensed sound for musicians and sound lovers. Have you freed your sound today?" />
        <meta name="keywords" content="free, sound" />
        <link rel="stylesheet" type="text/css" href="{{media_url}}css/all.css?v={{ last_restart_date }}" />
        <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{media_url}}css/ie6.css?v={{ last_restart_date }}" /><![endif]-->
        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
        <title>Freesound - {% block title %}{% endblock %}</title>
        <script src="{{media_url}}js/jquery-1.5.2.min.js" type="text/javascript"></script>
        <script src="{{media_url}}js/jquery-ui-1.8.11.custom.min.js" type="text/javascript"></script>
        <script src="{{media_url}}js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{{media_url}}js/swfobject.js" type="text/javascript"></script>
        <script src="{{media_url}}js/jquery.watermarkinput.js" type="text/javascript"></script>
        <script type="text/javascript">
            var isLoggedIn = {{request.user.is_authenticated|yesno:"true,false"}};
            var loginUrl = "{% url 'login' %}?next={{request.path}}";
            $(document).ready(function() {
                 $("#search input[name=q]").Watermark("search sounds");
            });
            function clearWatermark(){
			   $.Watermark.HideAll()
			   return true
			}
        </script>
        <script src="{{media_url}}js/freesound.js?v={{ last_restart_date }}" type="text/javascript"></script>
    	<script src="{{media_url}}js/ajax_utils.js" type="text/javascript"></script>
        <!-- next couple of lines are used for the HTML player -->
        <link href='//fonts.googleapis.com/css?family=Inconsolata&v1' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="{{ media_url }}html_player/player.css" />
        <script src="{{ media_url }}html_player/soundmanager2.js"></script>
        <script type="text/javascript" src="{{ media_url }}html_player/player.js"></script>

        <script defer data-domain="freesound.org" src="{{media_url}}js/plausible.manual.js"></script>
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        <script>
          let url = window.location.href;
          let redactedUrl = url.replace(/\/\d+\//g, "/_ID_/"); // Replace numberic IDs
          redactedUrl = redactedUrl.replace(/people\/(\w+)\//ig, "people/_ID_/");  // Replace usernames
          plausible('pageview', { u: redactedUrl });
        </script>

        {% endblock %}

        {% if load_anniversary_content  %}
            <link rel="stylesheet" type="text/css" href="{{media_url}}css/anniversary.css?v={{ last_restart_date }}" />
            <script src="{{ media_url }}js/anniversary.js"></script>
        {% endif %}

    </head>

    <body id="{% block page_css_id %}{% endblock %}" onload="{% block onload %}{% endblock%}" onunload="{% block onunload %}{% endblock %}">

        {% comment %}
            Below is the code for adding a global banner
            Place it inside the comment block to hide it
            On click, the banner will redirect to the URL defined in openSurveyPage() JS function

        <div id="footerBanner" class="floating_banner">
            <script type="text/javascript" src="{{ media_url }}js/survey_banner.js"></script>
            <div class="floating_banner_close_button"><a href="javascript:void(0);" onclick="hideFooterBanner();setSurveyVisited(1);">&#10006;</a></div>
            <div class="floating_banner_contents">
                <a href="javascript:void(0);" onclick="openSurveyPage();hideFooterBanner();setSurveyVisited(30);">
                <img src="/media/images/content/freesound-out-of-ordinary-survey-2019.png"/></a>
            </div>
        </div>
        {% endcomment %}

        <div id="header">
            <div id="account_nav">
                {% if request.user.is_authenticated %}
                    {% cache 3600 user_header request.user.id %}
                    <a href="{% url 'account' request.user.username %}"><div id="account_user"><img src="{{media_url}}images/user_icon.png" alt="user icon" />{{request.user.username}}</div></a>
                    <a href="{% url 'messages' %}">Messages</a><div class="messages_count" id="message_indicator_{{ num_messages }}"><div>{{ num_messages }}</div></div>
                    {% if new_tickets_count > -1 %}
                        <a href="{% url 'tickets-moderation-home' %}">Mod</a> <div class="new_tickets_count" id="new_tickets_indicator_{{ new_tickets_count }}"><div>{{ new_tickets_count }}</div></div>
                    {% endif %}
                    {% if num_pending_sounds %}
                        <a href="{% url 'accounts-pending' %}">Uploads</a> <div class="new_tickets_count" id="pending_indicator_{{ num_pending_sounds }}"><div>{{ num_pending_sounds }}</div></div>
                    {% endif %}
                    <a href="{% url 'accounts-edit' %}">Settings</a>
                    <a href="{% url 'logout' %}?next=/">Log Out</a>
                    {% endcache %}
                {% else %}
                    <a href="{% url 'accounts-register' %}">Register</a>
                    <a href="{% url 'login' %}?next={% block next %}{{request.path}}{% endblock %}">Log In</a>
                {% endif %}
                <a href="{% url 'accounts-upload' %}" id="upload_button"></a>
            </div>

            <a href="/" id="logo"></a>

            <div id="search">
                <form method="get" onsubmit="return clearWatermark()" action="{% url 'sounds-search' %}">
                    <fieldset>
                       <input type="text" name="q" value="" size="30" />
                       <input type="submit" value="" id="search_submit" />
                    </fieldset>
                </form>
            </div>

            <ul id="site_nav">
                {% if request.user.is_authenticated %}
                    <li class="{% block tab_home_active %}{% endblock %}"><a href="{% url 'accounts-home' %}" id="site_nav_home"><span class="site_nav_icon"></span>Home</a></li>
                {% endif %}
                <li class="{% block tab_sounds_active %}{% endblock %}"><a href="{% url 'sounds' %}" id="site_nav_sounds"><span class="site_nav_icon"></span>Sounds</a></li>
                <li class="{% block tab_forums_active %}{% endblock %}"><a href="{% url 'forums-forums' %}" id="site_nav_forums"><span class="site_nav_icon"></span>Forums</a></li>
                <li class="{% block tab_people_active %}{% endblock %}"><a href="{% url 'accounts' %}" id="site_nav_people"><span class="site_nav_icon"></span>People</a></li>
                <li class="{% block tab_help_active %}{% endblock %}"><a href="{% url 'wiki' %}faq/" id="site_nav_help"><span class="site_nav_icon"></span>Help</a></li>

            </ul>
        </div>

        <div id="wrapper">
            <div id="container">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}
            {% endblock %}

            </div>
        </div>

        <div id="footer_wrapper">
            <div id="footer">
                <div id="cookie-bar">
                    <div style="float:left">
                        <p>
                            We use cookies to ensure you get the best experience on our website. By browsing our site you agree to our use of cookies.
                            <br>
                            For more information check out our <a href="/help/cookies_policy">cookies policy</a>.
                        </p>
                    </div>
                    <div style="float:right; margin-top:10px;margin-right:10px;">
                        <button id="cookie-accept">Ok</button>
                    </div>
                    <br class="clear">

                </div>
                <div id="footer_links">
                    <a href="/help/developers/">Developers</a>
                    <a href="https://blog.freesound.org/">Blog</a>
                    <a href="/help/about/">About</a>
                    {% comment %}<a href="/contact/">Contact</a>{% endcomment %}
                    <a href="/help/tos_web/">Terms of use</a>
                </div>
                <div id="footer_credits">
                    Design by <a href="http://www.pixelshell.com">Pixelshell</a>. Code by <a href="https://www.upf.edu/web/mtg">MTG (UPF)</a>. Some Rights Reserved.
                </div>
            </div>
        </div>

        <div id="fsmodal" class="modal"></div>
    </body>
    {% block extra_headers %}
    {% endblock %}
</html>
