{% load static %}
{% load bw_templatetags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=0">
    <meta name="theme-color" content="#000000">
    <title>Freesound{% if request.resolver_match.url_name != "front-page" %} - {% block title %}{% endblock %}{% endif %}</title>
    <meta name="description" content="Freesound: collaborative database of creative-commons licensed sound for musicians and sound lovers. Have you freed your sound today?">
    <meta name="keywords" content="free, sound">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fd5b65">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fd5b65">
    {% block extrahead %}
    {% endblock %}
    {% if request.user.profile.ui_theme_preference == 'l' %}
    <link id="style" rel="stylesheet" href="{% static 'bw-frontend/dist/index.css' %}" data-forced-theme="yes">
    {% elif request.user.profile.ui_theme_preference == 'd' %}
    <link id="style" rel="stylesheet" href="{% static 'bw-frontend/dist/index-dark.css' %}" data-forced-theme="yes">
    {% else %}
    {% if system_prefers_dark_theme %}
    <link id="style" rel="stylesheet" href="{% static 'bw-frontend/dist/index-dark.css' %}">
    {% else %}
    <link id="style" rel="stylesheet" href="{% static 'bw-frontend/dist/index.css' %}">
    {% endif %}
    {% endif %}
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    {% include 'accounts/modal_login.html' %}
    {% include 'accounts/modal_login_problems.html' %}
    {% include 'accounts/modal_registration_feedback.html' %}
    {% include 'molecules/confirmation_modal.html' %}
    {% include 'molecules/edit_modal.html' %}
    <div id="genericModalWrapper"></div>
    {% include 'molecules/toast.html' %}
    <div class="notifications-wrapper"></div>
    {% if messages %}
    <div id="django-messages-content" class="display-none">
        <ul>
            {% for message in messages %}
            <li><span class="h-spacing-1">·</span>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="bw-page" aria-hidden="false">
        {% block navbar %}
        {% comment %}This block can be overriden by pages that use a different navbar{% endcomment %}
        {% include 'molecules/navbar.html' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% include 'molecules/footer.html' %}
    </div>
    {% bw_plausible_scripts %}
    {% bw_maps_js_scripts %}
    <script>
        {% if request.user.is_authenticated %}
        document.cookie = "preferSpectrogram={{request.user.profile.prefer_spectrograms|yesno}};path=/";
        document.cookie = "disallowSimultaneousAudioPlayback={{request.user.profile.allow_simultaneous_playback|yesno:'no,yes'}};path=/"
        {% else %}
        document.cookie = "preferSpectrogram=no;path=/";
        document.cookie = "disallowSimultaneousAudioPlayback=no;path=/"
        {% endif %}
        const userIsAuthenticated = {{ request.user.is_authenticated|yesno:'true,false' }};
    </script>
    <script src="{% static 'bw-frontend/dist/index.js' %}"></script>
    {% block extrabody %}
    {% endblock %}
</body>
</html>
