{% load pledgie %}

{% get_pledgie_campaign_details pledgie_campaign as pledgie %}
{% if pledgie %}
<div id="donation_box">
    <p><strong>Love Freesound?</strong> <span id="count_down">Only <strong>{{ pledgie.to_go }}&euro;</strong> to go!</span></p>
    <a class="donation_button" href="{{pledgie.url}}">Donate Now</a>
    <div id="donation_meter_box"><span id="meter" style="width:{{ pledgie.campaign.percent_towards_goal }}%">{{ pledgie.campaign.percent_towards_goal }}%</span></div>
</div>
{% endif %}