{% extends "accounts/_section.html" %}

{% block title %}Tagging interface instructions{% endblock %}

{% block section_content %}

    <link rel=StyleSheet href="{{media_url}}css/tag_recommendation.css" type="text/css" >
    <!--script type="text/javascript" src="/tagrecommendation/media/js/jquery-ui-1.10.4.min.js"></script-->
    <script type="text/javascript" src="{{media_url}}js/tag_recommendation.js"></script>
    <script type="text/javascript">
        var MEDIA_URL = {{ media_url }};
        var INTERFACE_IDS = [];
        INTERFACE_IDS.push(0);

        function log(){
        }

        var CURRENT_INTERFACE_ID;
        if (INTERFACE_IDS.length > 0){
            CURRENT_INTERFACE_ID = INTERFACE_IDS[0];
        } else {
            CURRENT_INTERFACE_ID = -1;
        }
        $(document).ready(function() {
          for (var i in INTERFACE_IDS){
              $("#interfaces").append(create_new_ontology_tag_recommendation_interface_basic_html(i,no_titles=true));
                RECOMMENDATION_INTERFACES.push(create_new_ontology_tag_recommendation_interface(INTERFACE_IDS[i]));
            }
        });

    </script>

    <style>
        .image_example{
            margin-left:20px;
            border-left: solid 2px #cccccc;
            padding-left:5px;
            margin-bottom: 5px;
        }
    </style>

    <div style="width:750px;">
    <h2>Experimental tagging interface instructions</h2>

    <p>
        Start introducing your tags by clicking on the dashed input box.
        Press 'space' or 'enter' to intorduce a new tag.
        <div class="image_example">
            <img src="{{media_url}}images/tagrecommendation/ss_empty_small.png">
        </div>
    </p>

    <p>
        Click on the 'minus' icon next to each introduced tag to remove it from the list.
        Click on the cross at the right top corner to remove all introduced tags.
        <div class="image_example">
            <img src="{{media_url}}images/tagrecommendation/ss_four_tags_small.png">
        </div>
    </p>

    <p>
        Using this new interface, the tags you assign to your sounds can also have categories.
        Tags that have categories consist of a category name and a tag:
        <div class="image_example">
            <img src="{{media_url}}images/tagrecommendation/ss_tag_category_small.png">
        </div>
    </p>

    <p>
        The category name must be choosen from a list of tag categories that you'll find below your introduced tags,
        but the tag in itself can be any textual label you want, just like normal tags.
    </p>

    <p>
        You can add a tag with category by clicking on a category name from the list of tag categories. Once you click on the category name,
        it will be added in your list of introduced tags and you will be able to type a tag for that category.
        Also, a popover will be displayed with a description of the kind of information that a tag under the selected
        category should describe about your sound, and with a list of recommended tags for the selected category.
        <div class="image_example">
            <img src="{{media_url}}images/tagrecommendation/ss_two_tags_plus_recommendation_small.png">
        </div>
    </p>

    <p>
        Once you have introduced a tag with a category, you can add more tags to that category by clicking on the 'plus' icon
        next to the category name.
        <div class="image_example">
            <img src="{{media_url}}images/tagrecommendation/ss_add_new_tag_for_category_small.png">
        </div>
    </p>

    <p>
        Using tag categories, your descriptions will become more accurate and your sounds more easily findable and reusable by other Freesound users.
        Therefore, we strongly encourage you to use them.
        However, you do not need to introduce all of your tags under a tag category, there might be some cases in which there are no suitable categories for your tags.
    </p>


    <p>
        Extra hints for advanced users:
        <ul>
            <li>You can drag and drop your introduced tags to move them inside and outside categories.</li>
            <li>You can also add tag categories without clicking on the category name. To do that, type a valid category name into a new tag followed by a colon (:) character.</li>
        </ul>
    </p>

    <br>
    <h3>Live demo</h3>

    <p>
        Try and learn how to use the experimental tagging interface using the following live demo:
    </p>
    </div>

    <div id="interfaces" class="tagrecommendation_body"></div>


{% endblock %}