{% extends "base.html" %}

{% block title %}Test tag recommendation page{% endblock %}

{% block head %}
{{ block.super }}

<script type="text/javascript">


    $(document).ready(function() {

        // Clear header and footer
        $("#header").text("")
        $("#footer").text("")

        var textarea_elements = $("textarea[id$='-tags']");
        var timer;                     //timer identifier
        var doneTypingInterval = 500;  //time in ms

        // Listen to keyup events in tags textareas to display tags
        textarea_elements.keyup(function(event) {
            clearTimeout(timer);

            var textarea_id = $(this)[0].id;
            var textarea_used_element = $("#" + textarea_id);
            var cursor_position = textarea_used_element.getCursorPosition();

            if (textarea_used_element.val) {
                // display properties menu in textarea_id when last character is ":"
                if(event.keyCode == 186) { // ":"
                    // Display list of properties, etc...
                }

                // recommend tags when last character is " " or "\n"
                if ((event.keyCode == 32) || (event.keyCode == 13)) { // " " or "\n"
                    get_tags(textarea_id)
                }

                timer = setTimeout(function(){
                    get_tags(textarea_id)
                }, doneTypingInterval);

            }else{
                clear_recommendations(textarea_id)
            }

        });

        // Listen to cut, paste and focusin events to recommend tags
        textarea_elements.bind('cut paste focusin', function() {
            var textarea_id = $(this)[0].id;
            get_tags(textarea_id)
        });
    });

    function get_tags(textarea_id)
    {
        if ($("#" + textarea_id).val() != ""){
            $.ajax({
                type: 'POST',
                url: '{% url recommend-tags %}',
                data: {
                    input_tags: $("#" + textarea_id).val()
                },
                success: function(data) {
                    display_recommended_tags(textarea_id, data);
                }
            });
        }else{
            clear_recommendations(textarea_id)
        }
    }

    function display_recommended_tags(textarea_id, data){
        var parsedData = JSON.parse(data)
        var tags = parsedData[0]
        var community = parsedData[1]

        if (tags.length > 0){
            var html = "";
            html += "<ul id=\"" + textarea_id + "-recommended-list\">";
            for (var i in tags){
                html += "<li><a onclick=\"add_tag(\'" + textarea_id + "\',\'" + tags[i] + "\')\">" + tags[i] + "</a></li>"
            }
            html += "</ul><br>"
            $("#" + textarea_id + "-recommended").text("")
            $("#" + textarea_id + "-recommended").append("<span style=\"color: #AB4646;font-size:12px;\">Suggestions of other possibly relevant tags given your input&nbsp</span> (click on the tags to add them, <a style=\"color:gray\" onclick=\"clear_recommendations(\'" + textarea_id + "\')\">click here to clear the recommendation</a>)")
            $("#" + textarea_id + "-recommended").append(html)
            $("#" + textarea_id + "-recommended-list").addClass("tags")
            $("#" + textarea_id + "-recommended-list").css("margin-top","5px")
            $("#" + textarea_id + "-recommended-list").css("margin-bottom","5px")
        }else{
            $("#" + textarea_id + "-recommended").text("")
            $("#" + textarea_id + "-recommended").append("")
        }

        if (community != "-"){
            $("#" + textarea_id + "-community").text("Community: " + community)
        }else{
            $("#" + textarea_id + "-community").text("")
        }
    }

    function add_tag(textarea_id, tag){
        $("#" + textarea_id).val($("#" + textarea_id).val() + " " + tag)
        get_tags(textarea_id)
    }

    function clear_recommendations(textarea_id){
        $("#" + textarea_id + "-recommended").text("")
        $("#" + textarea_id + "-community").text("")
    }

    // Function to get the current position of cursor in text area
    (function ($, undefined) {
        $.fn.getCursorPosition = function() {
            var el = $(this).get(0);
            var pos = 0;
            if('selectionStart' in el) {
                pos = el.selectionStart;
            } else if('selection' in document) {
                el.focus();
                var Sel = document.selection.createRange();
                var SelLength = document.selection.createRange().text.length;
                Sel.moveStart('character', -el.value.length);
                pos = Sel.text.length - SelLength;
            }
            return pos;
        }
    })(jQuery);

</script>

{% endblock head %}

{% block content %}

    <h3>Type input tags:</h3>
    <textarea id="id_0-tags" rows="3" cols="80" name="0-tags"></textarea>

    <div id="id_0-tags-recommended" style="font-size: 10px;margin-top:0px;width: 670px;"></div>
    <div id="id_0-tags-community" style="font-size: 12px;margin-top:0px;width: 670px;"></div>


{% endblock %}
