{% extends "base.html" %}

{% block title %}Test tag recommendation page{% endblock %}

{% block head %}
{{ block.super }}


<style>
    #project-label {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
    }
    #project-icon {
        float: left;
        height: 32px;
        width: 32px;
    }
    #project-description {
        margin: 0;
        padding: 0;
    }

</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">

    var separator_value = 186; //190; -> "." // 186 -> :
    var separator_char = ":";
    var availableProps = [
        {value: "note", desc:"textual description note..."},
        {value: "instrument", desc:"textual description inst..."},
        {value: "attack", desc:"textual description..."},
        {value: "bpm", desc:"textual description..."},
        {value: "tempo", desc:"textual description..."},
        {value: "action", desc:"textual description..."},
        {value: "recorder", desc:"textual description..."},
        {value: "processing", desc:"textual description..."},
        {value: "type", desc:"textual description..."},
    ];
    var use_autocomplete = true;
    var use_tagrecommendation = true;

    // show info on each category
    // what happens on focusout?

    $(document).ready(function() {

        // Clear header and footer
        $("#header").text("");
        $("#footer").text("");
        var textarea_elements = $("textarea[id$='-tags']");
        set_up_textarea_elements(textarea_elements);

        var timer;                     //timer identifier
        var doneTypingInterval = 500;  //time in ms

        // Listen to keyup events in tags textareas to display tags
        textarea_elements.keyup(function(event) {
            clearTimeout(timer);

            var textarea_id = $(this)[0].id;
            var textarea_element = $("#" + textarea_id);

            if (textarea_element.val() != "") {
                var current_position = textarea_element.getCursorPosition();
                textarea_element.data("at_last_position", textarea_element.data("at_current_position"));
                textarea_element.data("at_current_position", current_position);
                // detect that separator ":" was entered (also we do a trick because sometimes browser gets
                // confused when rpessing shift + . to produce ":" and it returns the code of "." instead of ":"
                if ((event.keyCode == separator_value) || ((event.keyCode == 190) && (textarea_element.data("at_last_keycode")==16))){ // ":"
                    textarea_element.data("at_last_inserted_separator_position", current_position);
                    textarea_element.data("at_property_mode", !textarea_element.data("at_property_mode"));
                }

                // recommend tags when last character is " " or "\n"
                if  ((event.keyCode == 32) || (event.keyCode == 13)) { // " " or "\n"
                    get_tags(textarea_id);
                    textarea_element.data("at_property_mode",false);
                }

                // If position is the same as last separator
                if (current_position == textarea_element.data("at_last_inserted_separator_position") - 1){
                    textarea_element.data("at_property_mode",false);
                }

                timer = setTimeout(function(){
                    get_tags(textarea_id)
                }, doneTypingInterval);

            }else{
                clear_recommendations(textarea_id);
                set_up_textarea_element(textarea_element);
            }
            textarea_element.data("at_last_keycode", event.keyCode);

            if (use_autocomplete){
                change_textarea_color(textarea_element);
                if ((event.keyCode != 40) && (event.keyCode != 38)){
                    trigger_autocomplete(textarea_element);
                }
            }
;
        });

        textarea_elements.click(function(event) {
            var textarea_id = $(this)[0].id;
            var textarea_element = $("#" + textarea_id);
            textarea_element.data("at_property_mode",false);
            textarea_element.autocomplete("close");
            textarea_element.autocomplete("disable");
            change_textarea_color(textarea_element);
        });

        // Listen to cut, paste and focusin events to recommend tags
        textarea_elements.bind('cut paste focusin', function() {
            var textarea_id = $(this)[0].id;
            get_tags(textarea_id)
        });

        /*
        textarea_elements.bind('focusout', function() {
            var textarea_id = $(this)[0].id;
            var textarea_element = $("#" + textarea_id);
            textarea_element.data("at_property_mode",false);
            textarea_element.autocomplete("close");
            textarea_element.autocomplete("disable");
            change_textarea_color(textarea_element);
        });*/

    });


    function set_up_textarea_elements(textarea_elements){
        textarea_elements.each(function (i) {
            set_up_textarea_element($("#" + this.id));
        });
    }

    function set_up_textarea_element(textarea_element){
        textarea_element.data("at_current_position", 0);
        textarea_element.data("at_last_position", 0);
        textarea_element.data("at_property_mode", false);
        textarea_element.data("at_last_inserted_separator_position", 0);
        textarea_element.data("at_last_keycode",-1);
        change_textarea_color(textarea_element);

        textarea_element.autocomplete({
            disabled: true,
            minLength: 0,
            source: availableProps,
            focus: function() {
                // prevent value inserted on focus
                    return false;
                },
            select: function( event, ui ) {
                textarea_element.val(textarea_element.val().remove(
                        textarea_element.data("at_last_inserted_separator_position"), // add -1 if we want to remove separator too
                        textarea_element.data("at_current_position") + 1
                ));
                textarea_element.val(textarea_element.val().insert(
                        textarea_element.data("at_last_inserted_separator_position"),
                        ui.item.value + ":"
                ));
                textarea_element.setCursorPosition(
                        textarea_element.data("at_last_inserted_separator_position") + ui.item.value.length + 1
                );

                textarea_element.data("at_property_mode", false);
                change_textarea_color(textarea_element);
                return false;
            }
        });

        textarea_element.data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a>" + item.label + "<br><span style='font-size:10px;'>" + item.desc + "</span></a>" )
                    .appendTo( ul );
        };



    }

    function change_textarea_color(textarea_element){
        if (textarea_element.data("at_property_mode") == true){
            textarea_element.css("background-color","red");
        }else{
            textarea_element.css("background-color","white");
        }
    }

    function trigger_autocomplete(textarea_element){
        if (textarea_element.data("at_property_mode") == true){
            textarea_element.autocomplete("enable");
            var query_text = textarea_element.val().slice(
                    textarea_element.data("at_last_inserted_separator_position"),
                    textarea_element.data("at_current_position")
            );
            textarea_element.data("at_query_text", query_text);
            textarea_element.autocomplete("search", textarea_element.data("at_query_text"));
        }else{
            textarea_element.autocomplete("close");
            textarea_element.autocomplete("disable");
            change_textarea_color(textarea_element);
        }
    }

    function get_tags(textarea_id)
    {
        var textarea_element = $("#" + textarea_id);
        if ((use_tagrecommendation) && (textarea_element.data("at_property_mode") == false)){
            if ( textarea_element.val() != ""){
                $.ajax({
                    type: 'POST',
                    url: '{% url recommend-tags %}',
                    data: {
                        input_tags: prepare_tags_for_recommendation(textarea_element.val())
                    },
                    success: function(data) {
                        display_recommended_tags(textarea_id, data);
                    }
                });
            }else{
                clear_recommendations(textarea_id)
            }
        }
    }

    function prepare_tags_for_recommendation(s){
        s = s.replace(/:/g, " ");
        return s
    }

    function display_recommended_tags(textarea_id, data){

        var parsedData = JSON.parse(data);
        var tags = parsedData[0];
        var community = parsedData[1];

        if (tags.length > 0){
            var html = "";
            html += "<ul id=\"" + textarea_id + "-recommended-list\">";
            for (var i in tags){
                html += "<li><a onclick=\"add_tag(\'" + textarea_id + "\',\'" + tags[i] + "\')\">" + tags[i] + "</a></li>"
            }
            html += "</ul><br>";
            $("#" + textarea_id + "-recommended").text("");
            $("#" + textarea_id + "-recommended").append("<span style=\"color: #AB4646;font-size:12px;\">Suggestions of other possibly relevant tags given your input&nbsp</span> (click on the tags to add them, <a style=\"color:gray\" onclick=\"clear_recommendations(\'" + textarea_id + "\')\">click here to clear the recommendation</a>)");
            $("#" + textarea_id + "-recommended").append(html);
            $("#" + textarea_id + "-recommended-list").addClass("tags");
            $("#" + textarea_id + "-recommended-list").css("margin-top","5px");
            $("#" + textarea_id + "-recommended-list").css("margin-bottom","5px");
        }else{
            $("#" + textarea_id + "-recommended").text("");
            $("#" + textarea_id + "-recommended").append("");
        }

        if (community != "-"){
            $("#" + textarea_id + "-community").text("Community: " + community)
        }else{
            $("#" + textarea_id + "-community").text("")
        }
    }

    function add_tag(textarea_id, tag){
        var textarea_element = $("#" + textarea_id);
        textarea_element.val(textarea_element.val() + " " + tag);
        get_tags(textarea_id);
    }

    function clear_recommendations(textarea_id){
        $("#" + textarea_id + "-recommended").text("")
        $("#" + textarea_id + "-community").text("")
    }

    // Function to get the current position of cursor in text area
    (function ($, undefined) {
        $.fn.getCursorPosition = function() {
            var el = $(this).get(0);
            var pos = 0;
            if('selectionStart' in el) {
                pos = el.selectionStart;
            } else if('selection' in document) {
                el.focus();
                var Sel = document.selection.createRange();
                var SelLength = document.selection.createRange().text.length;
                Sel.moveStart('character', -el.value.length);
                pos = Sel.text.length - SelLength;
            }
            return pos;
        }
    })(jQuery);

    // Function to set the position of the cursor
    $.fn.setCursorPosition = function(pos) {
        this.each(function(index, elem) {
            if (elem.setSelectionRange) {
                elem.setSelectionRange(pos, pos);
            } else if (elem.createTextRange) {
                var range = elem.createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        });
        return this;
    };

    String.prototype.insert = function (index, string) {
        if (index > 0)
            return this.substring(0, index) + string + this.substring(index, this.length);
        else
            return string + this;
    };

    String.prototype.remove = function (index_start, index_end) {
        if (index_start < index_end)
            return this.substring(0, index_start) + this.substring(index_end, this.length);
        else
            return this;
    };

</script>


{% endblock head %}

{% block content %}

    <h3>Type input tags:</h3>
    <textarea id="id_0-tags" rows="3" cols="80" name="0-tags"></textarea>
    <div id="id_0-tags-recommended" style="font-size: 10px;margin-top:0;width: 670px;"></div>
    <div id="id_0-tags-community" style="font-size: 12px;margin-top:0;width: 670px;"></div>

    <br>

    {% comment %}

    <h3>Type input tags:</h3>
    <textarea id="id_1-tags" rows="3" cols="80" name="1-tags"></textarea>
    <div id="id_1-tags-recommended" style="font-size: 10px;margin-top:0;width: 670px;"></div>
    <div id="id_1-tags-community" style="font-size: 12px;margin-top:0;width: 670px;"></div>

    <br>

    <h3>Type input tags:</h3>
    <textarea id="id_2-tags" rows="3" cols="80" name="2-tags"></textarea>
    <div id="id_2-tags-recommended" style="font-size: 10px;margin-top:0;width: 670px;"></div>
    <div id="id_2-tags-community" style="font-size: 12px;margin-top:0;width: 670px;"></div>

    {% endcomment %}

{% endblock %}
