{% load cache %}
{% load util %}
{% load display_sound %}
{% load bw_templatetags %}

<div class="bw-display-pack v-spacing-3 overflow-hidden">
    <div class="bw-carousel-container">
        <div class="bw-carousel-wrapper">
            <div class="bw-carousel with-dots dots-distance-02">
                {% for sound in header_sounds %}
                    <div>
                        {% display_sound_small_no_info_no_buttons sound %}
                    </div>
                {% empty %}
                    <div class="bw-player-small-thumbnail-empty-space"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="between line-height-percentage-150 v-spacing-top-1">
        <h5 class="ellipsis">
            <span class="bw-icon-bookmark h-spacing-1 text-light-grey"></span><a class="bw-link--black" href="{% url "collection" collection.id %}" title="{{ collection.name }}">{{ collection.name }}</a>
        </h5>
    </div>
    <div class="between">
        <div class="ellipsis">
            <a href="{% url "account" collection.user.username %}" title="Username: {{ collection.user.username }}">{{ collection.user.username|truncate_string:15 }}</a><span class="text-grey h-spacing-left-1 h-spacing-1"></span>
        </div>
        <div class="right text-light-grey col-auto" style="max-height: 22px;overflow: hidden;padding-right:0px!important;padding-left:0px!important;">
            <div class="h-spacing-left-1" title="This collection has {{ collection.num_sounds }} sound{{ collection.num_sounds|pluralize }}">
                <span class="bw-icon-wave"></span> {{ collection.num_sounds|formatnumber }}
            </div>
            {% if collection.num_downloads %}
            <div class="h-spacing-left-1" title="{{ collection.num_downloads }} download{{ collection.num_downloads|pluralize }}">
                <a href="{% url 'download-collection' collection.id %}" class="bw-link--grey-light">
                    <span class="bw-icon-download" style="font-size:90%;"></span> {{ collection.num_downloads|formatnumber }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div>
        <span class="text-grey">{{ collection.created|date:"F jS, Y" }}</span>
    </div>
    <div class="v-spacing-top-1 bw-player__description-height">
        {% if collection.description %}
            {% with collection.description|striptags|safe as preprocessed_description %}
            <div {% if preprocessed_description|length >= 55%}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                {{ preprocessed_description|truncatechars_html:55 }}
            </div>
            {% endwith %}
        {% endif %}
    </div>
</div>