{% load cache %}
{% load util %}
{% load display_sound %}
{% load bw_templatetags %}

<div class="bw-display-pack">
   {% if ft_sound %}
    <div class="row no-margins" style="margin-left: -15px">
        <div class="col-12">
            {% display_sound_small_no_info_no_buttons ft_sound %}
        </div>
    </div>
    {% else %}
        <div class="bw-player-small-thumbnail-empty-space"></div>
    {% endif %}
    <div class="between v-spacing-top-1">
        <div>
            <h5><span class="bw-icon-bookmark h-spacing-1 text-light-grey"></span><a class="bw-link--black ellipsis" href="{% url "collection" collection.name|slugify collection.id %}" title="{{ collection.name }}">{{ collection.name }}</a></h5>
        </div>
    </div>
    <div class="between">
        <div class="text-black v-spacing-top-1 padding-right-2 v-spacing-1">
            {% if collection.description %}
                {% with collection.description|striptags|safe as preprocessed_description %}
                <div {% if preprocessed_description|wordcount >= 10%}title="{{ preprocessed_description|truncatewords_html:200|force_escape }}"{% endif %}>
                    {{ preprocessed_description|truncatewords_html:10 }}
                </div>
                {% endwith %}
            {% else %}
                This collection has no description.
            {% endif %}
        </div>
    </div>
    <div class="between middle v-spacing-2">
        <div class="">
            <div class="middle text-grey h-spacing-1">
                <div class="h-spacing-1">
                    {% bw_user_avatar collection.user.profile.locations.avatar.S.url collection.user.username 32 %}
                </div>
                <a href="{% url 'account' collection.user %}">{{ collection.user | truncate_string:15 }}</a>
            </div>
        </div>
        <div class="text-light-grey right padding-right-1">
            <div title="{{ collection.num_sounds|bw_intcomma }} sound{{ collection.num_sounds|pluralize }}">
                <span class="bw-icon-wave"></span> {{ collection.num_sounds|formatnumber }}
            </div>
            <div class="h-spacing-left-2" title="{{ collection.num_downloads|bw_intcomma }} download{{ collection.num_downloads|pluralize }}">
                <a href="{% url 'download-collection' collection.name|slugify collection.id %}" class="bw-link--grey-light">
                    <span class="bw-icon-download"></span> {{ collection.num_downloads|formatnumber }}
                </a>
            </div>
        </div>
    </div>
</div>