{% extends "simple_page.html" %}
{% load static %}
{% load util %}
{% load bw_templatetags %}
{% load sounds_selector %}
{% load users_selector %}
{% load custom_form_display %}

{% block title %}Edit collection - {{ collection.name }}{% endblock %}
{% block page-title %}Edit collection{% endblock %}

{% block page-content %}
<div class="v-spacing-5 v-spacing-top-2">
    <p>You can specify a <b>name</b> for the collection, a <b>description</b>, and the <b>sounds</b> that are part of the it. You can add <b>any moderated sound in Freesound</b>.

    </p>
</div>
<div class="row no-gutters">
    <div class="col-lg-8 offset-lg-2">
        <h2 class="v-spacing-3">{{ collection.name }}</h2>
        {% if not is_owner %}
        <span class="help-block text-grey">You don't have permissions to edit collection's name nor description</span>
        {% endif %}
        <form class="bw-form disable-on-submit" method="post" novalidate>{% csrf_token %}
            <!-- the following code will be available when Django version is updated to 5.0
            {{ form.name.as_field_group }}
            {{ form.description.as_field_group }}            
            {{ form.public.as_field_group }}            
            {{ form.maintainers.as_field_group }}
             while this does not happen I'll have to survive with the following -->
            {% custom_form_display form display_fields as custom_fields%}
            {% for field in custom_fields %}
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext"><i>{{field.help_text|safe}}</i></span>
                {% endif %}
            {% endfor %}
            <div class="select-sound-field v-spacing-2">
                {{ form.collection_maintainers }}
                <label>Maintainers</label>
                {% if not form.collection_maintainers.value %}
                <div class="v-spacing-4 v-spacing-top-2">This collection has no maintainers</div>
                {% endif %}
                {% users_selector form.collection_maintainers_objects%}
                {% if is_owner %}
                    <div class="between v-spacing-2">
                        <button class="btn-inverse" data-toggle="add-maintainers-modal" data-selected-maintainers-hidden-input-id="{{form.collection_maintainers.id_for_label}}" data-modal-url="{% url 'add-maintainers-modal' collection.id%}?ajax=1" data-reload-on-success="false" title="Add maintainers" aria-label="Add maintainers">Add maintainers</button>
                        <button class="btn-inverse">{% bw_icon 'trash' %}Remove selected maintainers from collection</button>
                    </div>
                {% endif %}
            </div>
            <div class="select-sounds-field v-spacing-5">
                {{ form.collection_sounds }}
                <label>Sounds in collection ({{ form.collection_sound_objects|length }})</label>
                {% if not form.collection_sounds.value %}
                <div class="v-spacing-4 v-spacing-top-2">No sounds have been added to this collection yet</div>
                {% endif %}
                {% sounds_selector form.collection_sound_objects %}
                <div class="between v-spacing-top-2">
                    <button class="btn-inverse" data-toggle="add-sounds-modal" data-selected-sounds-hidden-input-id="{{ form.collection_sounds.id_for_label }}" data-modal-url="{% url 'add-sounds-modal-collection' collection.id %}">{% bw_icon 'plus' %}Add sounds</button>
                    <button class="btn-inverse">{% bw_icon 'trash' %}Remove selected sounds from collection</button>
                </div>
            </div>
            <button class="btn-primary w-100">Save collection</button>
        </form>
        <button class="btn-secondary w-100 v-spacing-top-3" data-toggle="confirmation-modal" data-modal-confirmation-title="Are you sure you want to delete this collection?" data-modal-confirmation-help-text="Note that all sounds inside this collection will also be removed" data-modal-confirmation-url="{% url "delete-collection" collection.id %}">Delete Collection</button>
    </div>
</div>
{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/collectionEdit.js' %}"></script>
{% endblock %}
