{% extends "molecules/modal_base.html" %}
{% load static %}
{% load bw_templatetags %}

{% block id %}createCollectionModal{% endblock %}
{% block extra-class %}{% if request.user.is_authenticated %}modal-width-60{% endif %}{% endblock %}
{% block aria-label %}Create collection modal{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Create collection</h4>
        <form method="post" action="{% url 'create-collection' %}?ajax=1." class = "disable-on-submit">{% csrf_token %}
            {{form}}
            <button class="btn-primary v-spacing-top-3">Create collection</button>
        </form>
    </div>
    <div class="v-spacing-4">
        
    </div>
</div>
{% endblock %}