{% extends "molecules/modal_base.html" %}
{% load static %}
{% load bw_templatetags %}

{% block id %}addMaintainerModal{% endblock %}
{% block extra-class %}{% if request.user.is_authenticated %}modal-width-60{% endif %}{% endblock %}
{% block aria-label %}Add maintainer modal{% endblock %}

{% block body %}
<div class="col-12">
    {% if not request.user.is_authenticated %}
        <div class="text-center">
            <h4 class="v-spacing-5">Can't add maintainer</h4>
        </div>
        <div class="v-spacing-4 text-center">
            <div class="v-spacing-4">For this action, you need to be logged in with your Freesound account.</div>
            <button class="btn-primary" data-dismiss="modal">Ok</button>
        </div>
    {% else %}
    <div class="center">
        <h4 class="v-spacing-5">Add maintainer to collection</h4>
    </div>
    <div class="v-spacing-4">
        {% if collections_with_maintainer%}
            <div class="v-spacing-4">
            {% bw_icon 'bookmark-filled' %}This user is already a maintainer for: 
            {% for col in collections_with_maintainer %}
            <span class="text-black font-weight-bold">{{col.name}}</span>{% if not forloop.last%},{% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <form>
            {{ form }}
            <button class = "btn-primary v-spacing-top-2">Add maintainer</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}