{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load display_sound %}
{% load util %}
{% load display_collections %}

{% block title%}Your Collections{%endblock title%}
{% block page-title%}Your Collections{%endblock page-title%}
{% block page-content %}
<div class="v-spacing-top-5">
    <div class="row no-gutters">
        <div class="col-lg-2 offset-lg-1 order-lg-last v-spacing-3">
            <h4>Your collections</h4>
            <div class="v-spacing-top-3">
                <ul class="list-style-type-none">
                    <li><a class="cursor-pointer" data-toggle="modal-default-with-form" data-modal-content-url="{% url 'create-collection' %}?ajax=1" data-reload-on-success= "true" title="Create new collection" aria-label="Create new collection">
                        Create a new collection <span style="margin-left: 5px">{% bw_icon 'bookmark' %}</span></a></li>
                    {% if user_collections %}
                        <li><span> Your collections: {{user_collections|length}} </span></li>
                    {% else %}
                    <span class=text-light-grey> You don't have any collections yet... </span>
                    {% endif %}
                    {% if maintainer_collections %}
                        <li><span> Collections where you're a maintainer: {{maintainer_collections|length}} </span></li>
                    {% endif %}
                </ul>    
            </div>
        </div>
        <div class="col-lg-9">
            <h3>Owned</h3>
            <div class="col-lg-12">
                <div class="v-spacing-top-3">
                {% if user_collections %}
                    <div class="row">
                        {% for collection in user_collections %}
                            <div class="col-md-6 col-lg-4 v-spacing-top-3">
                                {% display_collection collection.id %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="v-spacing-top-3">
                    <span class=text-light-grey> You don't have any collection yet...</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-10 order-lg-last v-spacing-3">
            <h3>Maintained</h3>
            <div class="col-lg-12">
                <div class="v-spacing-top-3">
                {% if maintainer_collections %}
                    <div class="row">
                        {% for collection in maintainer_collections %}
                            <div class="col-md-6 col-lg-4 v-spacing-top-3">
                                {% display_collection collection.id %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="v-spacing-top-3">
                    <span class=text-light-grey> You're not a maintainer of any collection yet...</span>
                </div>
                {% endif %}
            </div>
    </div>
</div>         
{% endblock page-content %}