{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load display_sound %}
{% load util %}
{% load display_collections %}

{% block title %}Your Collections{% endblock title %}
{% block page-title %}Your Collections{% endblock page-title %}

{% block page-content %}
<div class="v-spacing-top-5">
    <div class="row no-gutters">
        <div class="col-lg-2 offset-lg-1 order-lg-last v-spacing-3">
            <div class="v-spacing-top-3">
                <div>
                    <a class="btn btn-primary cursor-pointer" data-toggle="modal-default-with-form" data-modal-content-url="{% url 'create-collection' %}?ajax=1" data-reload-on-success= "true" title="Create new collection" aria-label="Create new collection">
                        {% bw_icon "plus" %} New collection</a>
                </div>      
            </div>
        </div>
        <div class="col-lg-9">
            <h3>Owned ({{user_collections|length}})</h3>
            <div class="v-spacing-top-3">
                {% if user_collections %}
                <div class="row">
                    {% for collection in user_collections %}
                    <div class="col-md-6 col-lg-4 v-spacing-top-3">
                        {% display_collection collection %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="v-spacing-top-3">
                    <span class="text-grey">You don't have any collections yet...</span>
                </div>
                {% endif %}
            </div>
            <div class="v-spacing-top-5">
                <h3>Maintained ({{maintainer_collections|length}})</h3>
                <div class="v-spacing-top-3">
                    {% if maintainer_collections %}
                    <div class="row">
                        {% for collection in maintainer_collections %}
                        <div class="col-md-6 col-lg-4 v-spacing-top-3">
                            {% display_collection collection %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="v-spacing-top-3">
                        <span class="text-grey">You're not a maintainer of any collections yet...</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>         
{% endblock %}