{% extends "monitor/base.html" %}

{% load static %}
{% load bw_templatetags %}
{% load util %}

{% block title %}Monitor - Sound Analysis{% endblock %}

{% block main_content %}

    <h1>Sound analyzers</h1>
    <div class="v-spacing-4">
        <table class="v-spacing-top-4" style="min-width:500px;">
        {% for analyzer_name, analyzer_data in analyzers_data %}
            {% if forloop.counter0 == 0 %}
                <tr><td><b>analyzer</b></td><td><b>% done</b></td><td><b>missing</b></td><td><b>queued</b></td><td><b>ok</b></td><td><b>skipped</b></td><td><b>failed</b></td></tr>
            {% endif %}
            <tr><td>{{ analyzer_name }}</td><td>{{ analyzer_data.Percentage|floatformat:3 }}</td><td>{{ analyzer_data.Missing }}</td><td>{{ analyzer_data.QU }}</td><td>{{ analyzer_data.OK }}</td><td>{{ analyzer_data.SK }}</td><td>{{ analyzer_data.FA }}</td></tr>
        {% endfor %} 
        </table>
    </div>

    <h1>Consolidated sound analysis</h1>
    <table class="v-spacing-top-4" style="min-width:500px;">
        <tr><td><b>ok</b></td><td><b>skipped</b></td><td><b>failed</b></td><td><b>queued</b></td></tr>
        <tr><td>{{ consolidated.ok }} ({{ consolidated.percentage_ok|floatformat:3 }}%)</td><td>{{ consolidated.sk }}</td><td>{{ consolidated.fa }}</td><td>{{ consolidated.qu }}</td></tr>
    </table>

    <h1>Similarity spaces</h1>
    <div class="v-spacing-4">
        <table class="v-spacing-top-4" style="min-width:500px;">
        {% for similarity_space_name, similarity_space_data in sim_vector_stats.items %}
            {% if forloop.counter0 == 0 %}
                <tr><td><b>similarity space</b></td><td><b>num sounds (solr)</b></td><td><b>num vectors (solr)</b></td><td><b>num vectors (db, public sounds only)</b></td></tr>
            {% endif %}
            <tr><td>{{ similarity_space_name }}</td><td>{{ similarity_space_data.num_sounds }}</td><td>{{ similarity_space_data.num_sounds  }}</td><td>{{ similarity_space_data.num_vectors_in_db }}</td></tr>
        {% endfor %} 
        </table>
    </div>

    <h1>RabbitMQ queue status</h1>
    <div class="v-spacing-4">
        <div id="queuesStatus" data-url="{{ queues_stats_url }}"></div>
        <a href="/rabbitmq-admin/" target="_blank">More RabbitMQ stats</a>
    </div>

{% endblock %}
