{% extends "base.html" %}


{% block title %}
    Monitor
{% endblock title %}

{% block head %}
{{ block.super }}
<style>
.moderator{ 
  margin: 10px auto;
  width: 360px;
  height: 170px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.moderators-container{
  display:flex;
  flex-wrap: wrap;
}
.area {
    fill: steelblue;
    clip-path: url(#clip);
}

</style>
{% endblock head %}

{% block content %}

    <h2>Monitor</h2>
    <h3>Moderators Stats</h3>
    <div class="moderators-container">
      {% for numb_mod, moderator in moderators%}
      <div data-moderator="{{moderator.id}}" class="moderator" > 
        <div class="active_user" style="height: 33px; margin-left: 5px;">
          <span style="float:right;">#{{forloop.counter}} </span>
          <div class="active_user_info">
           <img src="{{moderator.profile.locations.avatar.M.url}}" alt="avatar" />
          <div class="post_author">
            <a href="{% url "account" moderator.username %}">{{moderator.username}}</a>
          </div><!-- .post_author -->

            <div class="people_user_info">
             Moderations: {{numb_mod}}
            </div>         
          </div><!-- .active_user_info -->
        </div>
          <div style="background-color: #f6f8fa; height: 122px;">
          <svg width="355" height="130"></svg>
          </div>

      </div>
      {% endfor %}
    </div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<script>
$( document ).ready(function() {
    $(".moderator").each(function(){
      var that = $(this);
      $.get('{% url "monitor-moderator-stats-ajax" %}', 
          {user_id: that.data("moderator")}, 
          function(data){
            data.sort(function(a, b) { return d3.ascending(new Date(a["day"]), new Date(b["day"]));});
            var svg = d3.select(that.find('svg').get(0)),
            margin = {top: 20, right: 20, bottom: 30, left: 60},
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;
            var x = d3.scaleTime().rangeRound([0, width]);
            var formatDate = d3.timeFormat("%d %m");

            var y = d3.scaleLinear()
            .rangeRound([height, 0]);

            var xAxis = d3.axisBottom(x),
            yAxis = d3.axisLeft(y);

            svg.append("defs").append("clipPath")
            .attr("id", "clip")
            .append("rect")
            .attr("width", width)
            .attr("height", height);

            var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var concat = [].concat.apply([], data);

            var maxDay = new Date(); 
            var minDay = new Date(); 
            minDay.setDate(maxDay.getDate()-6*365/12); 
            x.domain([minDay, maxDay]);
            y.domain([0, d3.max(concat, function(d) { return parseInt(d['id__count'])})]);

            var area = d3.area()
            .curve(d3.curveMonotoneX)
            .x(function(d) { return x(d.day); })
            .y0(height)
            .y1(function(d) { return y(parseInt(d.id__count)); });
            var domain = x.domain(); 
            var buckets = d3.timeDays(domain[0], domain[1]); 
            var newData = [];
            for (var i=0;i<buckets.length;i++) { 
              newData[i] = {};
              newData[i]['day'] = buckets[i];
              newData[i]['id__count'] = 0;

              for (var z=0;z<data.length;z++) { 
                var date1 = newData[i]['day'];
                var date2 = new Date(data[z]['day']);
                if (formatDate(date1) == formatDate(date2)) {
                  newData[i]['id__count'] = parseInt(data[z]['id__count']);
                }
              }
            }

            g.append("path")
              .datum(newData)
              .attr("class", "area")
              .attr("d", area);

            g.append("g")
              .attr("class", "axis axis--x")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

            g.append("g")
              .attr("class", "axis axis--y")
              .call(yAxis);

      });
    });
});
</script>
{% endblock content %}
