{% extends "base.html" %}

{% block title %}
    Monitor
{% endblock title %}

{% block content %}

    <h2>Monitor</h2>
    <!-- include permission checks here -->
    <h3>Sound moderation status</h3>
    <ul>
        <li>{{new_upload_count}} new sound{{ new_upload_count|pluralize }}</li>
        <li>{{tardy_moderator_sounds_count}} tardy moderator{{ tardy_moderator_sounds_count|pluralize }} sound{{ tardy_moderator_sounds_count|pluralize }}</li>
        <li>{{tardy_user_sounds_count}} tardy user{{ tardy_moderator_sounds_count|pluralize }} sound{{ tardy_user_sounds_count|pluralize }}</li>
        <li>See <a href="{% url 'monitor-moderators-stats' %}">moderator's activity stats</a></li>
    </ul>

    <h3>Processing system status</h3>
    <ul>
        <li>{{ sounds_pending_count }} sound{{ sounds_pending_count|pluralize }} pending to process - <a href="{% url "monitor-processing-process" %}?prs=PE">send to process</a></li>
        <li>{{ sounds_queued_count }} sound{{ sounds_queued_count|pluralize }} are queued for processing - <a href="{% url "monitor-processing-process" %}?pros=QU">send to process</a></li>
        <li>{{ sounds_processing_count }} sound{{ sounds_processing_count|pluralize }} currently processing - <a href="{% url "monitor-processing-process" %}?pros=PR">send to process</a></li>
        <li>{{ sounds_failed_count }} sound{{ sounds_failed_count|pluralize }} failed processing - <a href="{% url "monitor-processing-process" %}?prs=FA">send to process</a></li>
        <li>{{ sounds_ok_count }} sound{{ sounds_ok_count|pluralize }} processed ok</li>
    </ul>

    <h3>Analysis system status</h3>
    <ul>
        <li>{{ sounds_analysis_pending_count }} sound{{ sounds_analysis_pending_count|pluralize }} pending to analyze - <a href="{% url "monitor-processing-process" %}?ans=PE">send to analysis</a></li>
        <li>{{ sounds_analysis_queued_count }} sound{{ sounds_analysis_queued_count|pluralize }} are queued for analysis - <a href="{% url "monitor-processing-process" %}?ans=QU">send to analysis</a></li>
        <li>{{ sounds_analysis_failed_count }} sound{{ sounds_analysis_failed_count|pluralize }} failed analysis - <a href="{% url "monitor-processing-process" %}?ans=FA">send to analysis</a></li>
        <li>{{ sounds_analysis_skipped_count }} sound{{ sounds_analysis_skipped_count|pluralize }} skipped analysis - <a href="{% url "monitor-processing-process" %}?ans=SK">send to analysis</a></li>
        <li>{{ sounds_analysis_ok_count }} sound{{ sounds_analysis_ok_count|pluralize }} are analyzed ok</li>
    </ul>

    {%  if request.user.is_staff %}
    <script>
        setInterval(function(){
            $.get("{{ queues_stats_url }}", function(data){
                console.log(data)
                $('#queuesStatus').html(data);
              });
            }, 1000);
    </script>
    <div id="queuesStatus"></div>
    {% endif %}

{% endblock content %}
