{% extends "base.html" %}

{% block head %}
{{ block.super }}
<style type="text/css">
  .tags{
    font-family: Arial, sans-serif;
    font-size:10px;
  }
  .axis path,.axis line {
    fill: none;
    stroke: #b6b6b6;
    shape-rendering: crispEdges;
  }
  g.journal.active{
    cursor: pointer;
  }
  text.label{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  text.value{
    font-size: 12px;
    font-weight: bold;
  }
  g.legend { 
    font: 10px sans-serif;
  }
</style>
{% endblock head %}

{% block title %}
    Monitor
{% endblock title %}

{% block content %}

    <h2>Global numbers</h2>
    <h3>total number of registered elements</h3>
    <div>
    <ul>
      <li><b>Active Users:</b> <span id="total-users"></span></li>
      <li><b>Users with sounds:</b> <span id="users-with-sounds"></span></li>
      <li><b>Sounds:</b> <span id="total-sounds"></span></li>
      <li><b>Packs:</b> <span id="total-packs"></span></li>
      <li><b>Downloads:</b> <span id="total-downloads"></span></li>
      <li><b>Average downloads per sound:</b> <span id="avg-downloads"></span></li>
      <li><b>Comments:</b> <span id="total-comments"></span></li>
      <li><b>Average comments per sound:</b> <span id="avg-comments"></span></li>
      <li><b>Ratings:</b> <span id="total-ratings"></span></li>
      <li><b>Average ratings per sound:</b> <span id="avg-ratings"></span></li>
      <li><b>Tags:</b> <span id="total-tags"></span></li>
      <li><b>Tags instances:</b> <span id="total-used-tags"></span></li>
      <li><b>Posts:</b> <span id="total-posts"></span></li>
      <li><b>Threads:</b> <span id="total-threads"></span></li>
    </ul>


    </div>
 
    <h2>Users</h2>
    <h3>Registered users on lasts week</h3>
    <div class='users'>
    </div>
    
    <h2>Sounds</h2>
    <h3>Sounds created on lasts week</h3>
    <div class='uploads'>
    </div>
    
    <h2>Downloads</h2>
    <h3>Downloads on lasts week</h3>
    <div class='downloads'>
    </div>

    <h2>Tags</h2>
    <h3>Most used tags on lasts week</h3>
    <div class='tags'>
    </div>


    <script>
      var totalUsersDataUrl = '{% url 'monitor-total-users-stats-ajax' %}';
      var totalSoundsDataUrl = '{% url 'monitor-total-sounds-stats-ajax' %}';
      var totalActivityDataUrl = '{% url 'monitor-total-activity-stats-ajax' %}';
      var totalTagsDataUrl = '{% url 'monitor-total-tags-stats-ajax' %}';
      var totalForumDataUrl = '{% url 'monitor-total-forum-stats-ajax' %}';
      var tagsDataUrl = '{% url 'monitor-tags-stats-ajax' %}';
      var downloadsDataUrl = '{% url 'monitor-downloads-stats-ajax' %}';
      var soundsDataUrl = '{% url 'monitor-sounds-stats-ajax' %}';
      var usersDataUrl = '{% url 'monitor-users-stats-ajax' %}';
    </script>
    <script src="https://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v1.min.js"></script>
    <script src="https://d3js.org/d3-path.v1.min.js"></script>
    <script src="https://d3js.org/d3-shape.v1.min.js"></script>
    <script src="{{media_url}}js/stats.js" type="text/javascript"></script>
{% endblock content %}
