{% extends "base.html" %}
{% load url from future %}

{% block tab_home_active %}active_tab{% endblock %}

{% block content %}
<div id="content_full"> <!-- START of Content area -->

<div id="messages_header">
	<h2>Messages</h2>

	<div class="messages_pagination">
		{% block message_pagination %}{% endblock message_pagination %}

		<ul id="message_tabs">
			<li class="{% block tab_messages_inbox_active %}{% endblock %}"><a href="{% url "messages" %}">Inbox</a></li>
			<li class="{% block tab_messages_sent_active %}{% endblock %}"><a href="{% url "messages-sent" %}">Sent messages</a></li>
			<li class="{% block tab_messages_archived_active %}{% endblock %}"><a href="{% url "messages-archived" %}">Archived messages</a></li>
			<li class="{% block tab_messages_new_active %}{% endblock %}"><a href="{% url "messages-new" %}">New message</a></li>
		</ul>
	</div>
</div>

{% block section_content %}
{% endblock %}

</div> <!-- END of Content area -->
{% endblock %}
