{% load bw_templatetags %}

<div class="bw-message__container row middle">
    <div class="col-1 d-md-flex d-none">
        {% comment %}In smaller sizes, we don't show the checkbox column (and also the corresponding column in the navbar){% endcomment %}
        <label for="message{{ message.id }}" class="checkbox padding-left-3">
        <div class="bw-search__filter-checkbox">
            <input type="checkbox" class="bw-checkbox message-checkbox" id="message{{ message.id }}" onchange="">
        </div>
        </label>
    </div>
    <div class="col-lg-1 col-2 middle center">
        {% if list_type == 'sent' %}
        <a class="no-hover" href="{% url "account" message.user_from.username %}">{% bw_user_avatar message.user_to.profile.locations.avatar.M.url message.user_to.username %}</a>
        {% else %}
        <a class="no-hover" href="{% url "account" message.user_from.username %}">{% bw_user_avatar message.user_from.profile.locations.avatar.M.url message.user_from.username %}</a>
        {% endif %}
    </div>
    <div class="col-xl-7 col-5 bw-message__info {% if active %} active {% endif %} {% if not message.is_read and list_type != 'sent' %} unread {% endif %}" data-link-url="{% url "message" message.id %}">
        <a class="no-hover" href="{% url 'message' message.id %}">
        <h6 class="no-margins text-16" title="Message from: {{ message.user_from.username }}, to: {{ message.user_to.username }}">{% if list_type == 'sent' %}{{ message.user_to.username }}{% else %}{{ message.user_from.username }}{% endif %}<span class="h-spacing-left-1 h-spacing-1 text-grey">·</span>{{ message.subject }}</h6>
        <p class="no-margins ellipsis text-light-grey">{{ message.body.body | truncatewords:20 }}</p>
        </a>
    </div>
    <div class="col-xl-2 col-md-4 col-5 bw-message__actions middle right padding-right-3">
        <div class="date">{{ message.created|date:"F jS, Y" }}</div>
        <div class="icons text-18" data-message-id="{{ message.id }}">
            {% if not hide_toggle_read_unread %}<a title="Mark as {% if message.is_read %}un{% endif %}read" aria-label="Mark as {% if message.is_read %}un{% endif %}read" class="bw-link--grey message-action" data-action-value="r">{% if message.is_read %}{% bw_icon "eye-blocked" %}{% else %}{% bw_icon "eye" %}{% endif %}</a>{% endif %}
            {% if not hide_archive_unarchive %}<a title="{% if message.is_archived %}Unarchive{% else %}Archive{% endif %} message" aria-label="{% if message.is_archived %}Unarchive{% else %}Archive{% endif %} message" class="bw-link--grey message-action" data-action-value="a">{% if message.is_archived %}{% bw_icon "box-remove" %}{% else %}{% bw_icon "box-add" %}{% endif %}</a>{% endif %}
            <a title="Delete message" aria-label="Delete message" class="bw-link--grey message-action" data-action-value="d">{% bw_icon "trash" %}</a>
        </div>
    </div>
</div>


