{% extends "messages/_section.html" %}


{% load util %}
{% load smileys %}
{% load flag_user %}

{% block title %}messages - {{message.subject}} - {{message.user_from.username}}{% endblock %}

{% block section_content %}

<div class="message_container">

	<dl class="message_header">
		<dt>From: </dt> <dd><a href="{% url "account" message.user_from.username %}">{{message.user_from.username}}</a></dd>
		<dt>To: </dt> <dd><a href="{% url "account" message.user_to.username %}">{{message.user_to.username}}</a></dd>
		<dt>Date: </dt> <dd>{{message.created|date:"F jS, Y"}}</dd>
		<dt>Subject:</dt> <dd>{{message.subject}}</dd>
        <dt>&nbsp</dt> <dd></dd>
	</dl>

	<div class="message-body">
		{{message.body.body|smileys|safe|linebreaks}}
	</div>
	<span class="reply_button"><a href="{% url "message-reply" message.id %}">Reply</a></span>
    <div style="font-size: 11px;font-weight: normal;margin-left: 5px">{% flag_user "PM" message message.user_from %}</div>
</div>

{% endblock %}

