{% extends "messages/_section.html" %}

{% load paginator %}

{% block message_pagination %}
	{% show_paginator paginator page current_page request "message" %} 
{% endblock message_pagination %}

{% block section_content %}

<form method="post" action="{% url messages-change-state %}" class="messages_form">{% csrf_token %}
	<table class="messages_table">
		<tr>
			<th id="messages_table_header_checkbox"><input id="select_all" type="checkbox" /></th>
			<th id="messages_table_header_subject">Subject</th>
			<th id="messages_table_header_from">From</th>
			<th id="messages_table_header_to">To</th>
			<th id="messages_table_header_date">Date</th>
		</tr>
		{% for message in page.object_list %}
		<tr {% if not message.is_read %} class="unread"{% endif %}>
			<td><input name="cb_{{message.id}}" type="checkbox" class="message_checkbox" /></td>
			<td><a href="{% url message message.id %}">{{message.subject}}</a></td>
			<td><a href="{% url account message.user_from.username %}">{{message.user_from.username}}</a></td>
			<td><a href="{% url account message.user_to.username %}">{{message.user_to.username}}</a></td>
			<td>{{message.created|date:"F jS, Y"}}</td>
		</tr>
		{% endfor %}
	</table>

	<select name="choice" id="id_choice">
	{% block options %}
	{% endblock %}
	</select>
	<input type="hidden" name="next" value="{{request.path}}" />
	<input type="submit" name="submit" value="go!" />

	<div class="messages_pagination">
		{% show_paginator paginator page current_page request "message" %} 
	</div>
</form>

<script type="text/javascript">
	$('#select_all').click(function(event) {
		var selectionOn = this.checked;
		$('.message_checkbox').each( function (index, element) { 
			element.checked = selectionOn;
		});
	})
</script>

{% endblock %}