{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load smileys %}
{% load flag_user %}
{% load util %}
{% block title %}Messages - {{message.subject}} - {{message.user_from.username}}{% endblock %}
{% block page-title %}Messages{% endblock %}

{% block page-content %}
    {% include 'messages/messages_navbar.html' %}
    <div class="v-spacing-top-4">
        <div class="row bw-message__message_page">
            <div class="col-lg-3">
                {% if request.user != message.user_from %}
                    <div class="text-light-grey font-weight-normal text-20 v-spacing-3">Message from:</div>
                    <div class="row middle">
                        <div class="col-3 col-lg-4">
                            {% bw_user_avatar message.user_from.profile.locations.avatar.L.url message.user_from.username 70 %}
                        </div>
                        <div class="col-8">
                            <h6 class="ellipsis"><a href="{% url "account" message.user_from.username %}">{{ message.user_from.username }}</a></h6>
                            <p class="text-grey no-margins">{{ message.user_from.profile.num_sounds|bw_intcomma }} sound{{ message.user_from.profile.num_sounds|pluralize }}</p>
                            <p class="text-grey no-margins">{{ message.user_from.profile.num_posts|bw_intcomma }} post{{ message.user_from.profile.num_posts|pluralize }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="text-light-grey font-weight-normal text-20 v-spacing-3">Message to:</div>
                    <div class="row middle">
                        <div class="col-3 col-lg-4">
                            {% bw_user_avatar message.user_to.profile.locations.avatar.L.url message.user_to.username 70 %}
                        </div>
                        <div class="col-8">
                            <h6 class="ellipsis"><a href="{% url "account" message.user_to.username %}">{{ message.user_to.username }}</a></h6>
                            <p class="text-grey no-margins">{{ message.user_to.profile.num_sounds|bw_intcomma }} sound{{ message.user_to.profile.num_sounds|pluralize }}</p>
                            <p class="text-grey no-margins">{{ message.user_to.profile.num_posts|bw_intcomma }} post{{ message.user_to.profile.num_posts|pluralize }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="text-light-grey v-spacing-top-2 v-spacing-4">Sent {{message.created|timesince}} ago</div>
            </div>
            <div class="col-lg-9">
                <h5>{{ message.subject }}</h5>
                <div>
                    {{ message.body.body|smileys|safe|linebreaks|strip_unnecessary_br }}
                </div>
                <div class="right">{% flag_user "PM" message.user_from.username message.id "" message.user_from.profile.num_sounds %}</div> 
            </div>
        </div>            
        <div class="col-12">
            <div class="v-spacing-top-5 text-center" data-message-id="{{ message.id }}">
                <a class="btn-primary no-hover" href="{% url "message-reply" message.id %}"><i class="text-16 padding-right-1 bw-icon-reply" ></i>Reply</a>
                        {% if not hide_archive_unarchive %}<a title="{% if message.is_archived %}Unarchive{% else %}Archive{% endif %} message" 
                            aria-label="{% if message.is_archived %}Unarchive{% else %}Archive{% endif %} message" 
                            class="h-spacing-left-2 btn-inverse no-hover message-action" 
                            href=""
                            data-action-value="a">
                            {% if message.is_archived %}{% bw_icon "box-remove" %}{% else %}{% bw_icon "box-add" %}{% endif %}
                            </i>{% if message.is_archived %}Unarchive{% else %}Archive{% endif %}</a>{% endif %}
                        <a title="Delete message" 
                            aria-label="Delete message" 
                            class="h-spacing-left-2 btn-inverse no-hover message-action" 
                            href=""
                            data-action-value="dm">
                            {% bw_icon "trash" %}</i>Delete</a>
            </div>
        </div> 
    </div>
{% endblock %}

{% block extrabody %}
<script src="{% static 'bw-frontend/dist/messages.js' %}"></script>
{% endblock %}