{% extends "messages/_section.html" %}


{% block tab_messages_new_active %}active{% endblock %}

{% block title %}messages - new message{% endblock %}

{% block section_content %}

<style> #username_check, #check_success, #spinner { display:none; color: #bd2d33; font-style: italic; } #check_success {color:green;}</style>
<script type="text/javascript" src="{{media_url}}js/jquery.autocomplete.min.js"></script>
<script>
    $(function() {
      unsecureImageCheck($('#{{ form.body.id_for_label }}'));

      $.get('{% url "messages-username_lookup" %}', function(data){
        $('#id_to').autocomplete(data);
      });
      $("#id_to").focus();

      $('#id_to').parent().append('<div id="spinner"> Checking...<img src="{{ media_url }}images/indicator.gif" /></div><div id="username_check">Sorry, this username is not correct.</div><div id="check_success">Username is correct</div>');

      // When the user enters a username we check if it's available
      $("#id_to").focusout(function(){
        $('#username_check').hide();
        $('#check_success').hide();
        if ($("#id_to").val()) {
          $('#spinner').show();
          $.get('{% url "check_username" %}',
              {'username': $("#id_to").val()},
              function(data){
                $('#username_check').toggle(data.result);
                $('#spinner').hide();
                $('#check_success').toggle(!data.result);
              }, "json" );
        }
      });
    });
</script>

<form method="post" action=".">{% csrf_token %}
    {{form.as_p}}
<input type="submit" value="send" />
</form>

{% endblock %}
