{% extends "messages/_section.html" %}

{% block tab_messages_new_active %}active{% endblock %}

{% block title %}messages - new message{% endblock %}

{% block section_content %}

<script type="text/javascript" src="{{media_url}}js/jquery.autocomplete.min.js"></script>
<script>
	$(function()
		    {
		    		auto_suggest("#id_to","{% url messages-username_lookup %}");
		    });
</script>

<form method="post" action=".">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="send" />
</form>

{% endblock %}