{% extends "messages/_section.html" %}


{% block tab_messages_new_active %}active{% endblock %}

{% block title %}messages - new message{% endblock %}

{% block section_content %}

<script type="text/javascript" src="{{media_url}}js/jquery.autocomplete.min.js"></script>
<script>
    $(function() {
        $('#id_to').autocomplete('{% url "messages-username_lookup" %}', {
            dataType: 'json',
            width: 500,
            max: 50,
            parse: function(data) {
                return $.map(data, function(row) {
					return { data:row, value:row[0], result:row[1] };
                });
            }
            }).result(
                function(e, data, value) {
                    $("#id_to").val(data[0]);
                }
            );
        }
    );
</script>

<form method="post" action=".">{% csrf_token %}
    {{form.as_p}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey={{ form.captcha_key}}></div>
    <p class="help-block"> {{ form.recaptcha_response.errors }} </p>
<input type="submit" value="send" />
</form>

{% endblock %}
