{% extends "accounts/_notab.html" %}


{% block title %}{% if is_owner %}Tags you are following{% else %}Tags followed by {{ user.username }}{% endif %}{% endblock %}

{% block tab_home_active %}{% if is_owner %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not is_owner %}active_tab{% endif %}{% endblock %}

{% block section_content %}


<h1>{% if is_owner %}Tags that you are following{% else %}Tags followed by <a href="{% url "account" user.username %}">{{ user.username }}</a>{% endif %}</h1>



<div id="content">
<div class="content_box">
{% if following_tags %}
	<div id="following_tags">
	<h3>{% if is_owner %}You are{% else %}{{ user.username }} is {% endif %} following {{ following_tags|length }} tag{{ following_tags|pluralize }} (or tag group{{ following_tags|pluralize }})</h3>

	<ul>
        {% for follow_tag_item in following_tags %}
            <span class="tag_group" onclick="location.href='{% url "tags" follow_tag_item.get_slash_tags %}'">
            <ul class="tags" id="following_tags">
            {% for tag in follow_tag_item.get_split_tags %}
                <li><a>{{ tag }}</a></li>
            {% endfor %}
            </ul></span>
        {% endfor %}

    </ul>
	</div>
{% else %}
    <h3>&nbsp;</h3>
	<p>{% if is_owner %}You are{% else %}{{ user.username }} is {% endif %} not following any tags yet.</p>
{% endif %}
</div>
</div><!-- #content -->
<div id="sidebar">
<div class="content_box">
    <h3>More...</h3>
    <ul>
        <li><a href="{% url "user-following-users" user.username  %}">Users that {% if is_owner %}you are{% else %}{{ user.username }} is{% endif %} following</a></li>
        <li><a href="{% url "user-followers" user.username  %}">Users following {% if is_owner %}you{% else %}{{ user.username }}{% endif %}</a></li>
    </ul>
</div>
</div>


<br class="clear" /><!-- Clearing element -->

{% endblock %}
