{% extends "accounts/_notab.html" %}

{% load util %}

{% block title %}{% if is_owner %}Users following you{% else %}Users following {{ user.username }}{% endif %}{% endblock %}

{% block tab_home_active %}{% if is_owner %}active_tab{% endif %}{% endblock %}
{% block tab_people_active %}{% if not is_owner %}active_tab{% endif %}{% endblock %}

{% block section_content %}


<h1>{% if is_owner %}Users following you{% else %}Users following <a href="{% url "account" user.username %}">{{ user.username }}</a>{% endif %}</h1>


<div id="content">
<div class="content_box">
{% if followers %}
	<h3>{% if is_owner %}You have{% else %}{{ user.username }} has {% endif %} {{ followers|length }} follower{{ followers|pluralize }}</h3>
	<ul>
        {% for follow_user_item in followers %}
		 	    <div class="followers_page_user_info">
			        <img src="{{follow_user_item.user_from.profile.locations.avatar.M.url}}" alt="avatar" />
			        <div class="post_author"><a href="{% url "account" follow_user_item.user_from.username %}">{{follow_user_item.user_from.username|truncate_string:12}}</a></div>
			        <div class="people_user_info">
			            {{follow_user_item.user_from.profile.num_sounds}} sound{{follow_user_item.user_from.profile.num_sounds|pluralize}}<br>
			            {{follow_user_item.user_from.profile.num_posts}} post{{follow_user_item.user_from.profile.num_posts|pluralize}}<br>
			        </div>
		    	</div>
        {% endfor %}
    </ul>
{% else %}
	<h3>&nbsp;</h3>
	<p>{% if is_owner %}You have{% else %}{{ user.username }} has {% endif %} no followers yet.</p>
{% endif %}
</div>
</div><!-- #content -->
<div id="sidebar">
<div class="content_box">
	<h3>More...</h3>
	<ul>
	    <li><a href="{% url "user-following-users" user.username %}">Users that {% if is_owner %}you are{% else %}{{ user.username }} is{% endif %} following</a></li>
	    <li><a href="{% url "user-following-tags" user.username %}">Tags that {% if is_owner %}you are{% else %}{{ user.username }} is{% endif %} following</a></li>
	</ul>
</div>
</div>

<br class="clear" /><!-- Clearing element -->

{% endblock %}
