{% extends "base.html" %}

{% load display_sound %}

{% block title %}Stream{% endblock title %}

{% block content %}

    <script type="text/javascript">
        $(function () {

            $('select option[value="{{ select_value }}"]').attr("selected", true);

            if ('{{ select_value }}' != "specific_dates") {
                $("#date_pickers").hide();
                $("#date_submit").css("margin-left", "0");
            }
            else {
                $("#date_to").val('{{ date_to }}');
                $("#date_from").val('{{ date_from }}');
            }


            $("#time_lapse").change(function() {
                select_value = $("#time_lapse option:selected").val();
                if (select_value == "specific_dates") {
                    $("#date_pickers").show();
                }
                else {
                    $("#date_pickers").hide();
                }
            });

            $("#date_from").datepicker({
                showOn: "button",
                buttonImage: "/media/images/calendar.gif",
                // buttonImage: "{{ MEDIA_URL }}images/calendar.gif",
                buttonImageOnly: true,
                defaultDate: "-1w",
                dateFormat: "yy-mm-dd",
                changeYear: true,
                // changeMonth: true,
                onClose: function(selectedDate) {
                    $("#date_to").datepicker("option", "minDate", selectedDate);
                }
            });

            $("#date_to").datepicker({
                showOn: "button",
                buttonImage: "/media/images/calendar.gif",
                buttonImageOnly: true,
                dateFormat: "yy-mm-dd",
                // changeMonth: true,
                changeYear: true,
                maxDate: 0, // for today
                onClose: function(selectedDate) {
                    $("#date_from").datepicker("option", "maxDate", selectedDate);
                }
            });

        });
    </script>

    <h1>Stream</h1>

    <form action="." method="post">
        {% csrf_token %}
        <span id="stream_period">Select time period:</span>
        <select id="time_lapse" name="time_lapse">
            {% for key, value in SELECT_OPTIONS.items %}
                <option value="{{ key}}">{{ value }}</option>
            {% endfor %}

        </select>

        <div id="date_pickers">
            <label id="lbl_date_from" for="date_from">From:</label>
            <input id="date_from" name="date_from" type="text" placeholder="yyyy-mm-dd"/>
            <label id="lbl_date_to" for="date_to">To:</label>
            <input id="date_to" name="date_to" type="text" placeholder="yyyy-mm-dd"/>
        </div>

        {% comment %}<input type="submit" id="date_submit" style="margin-left:20px" value="Go!"/>{% endcomment %}
        <input type="submit" id="date_submit" value="Go!"/>
    </form>

    <div id="stream_box" class="content_box">

        <h3>Updates</h3>

        {% if not users_sound_ids and not tags_sound_ids %}

            <div class="left">
                <p>No updates...</p>
            </div>

        {% else %}

            {% for user, more_count, more_url, sound_ids in users_sound_ids %}

                <div class="left">
                    {% for sound_id in sound_ids %}
                        {% display_sound sound_id %}
                    {% endfor %}
                    {% if more_count > 0 %}
                       <p><a href="{{ more_url }}">See all results ({{ more_count }} more)</a></p>
                    {% endif %}
                </div>

                <div class="right">
                    {% include "accounts/active_user.html" %}
                </div>

            {% endfor %}

            {% for tags, more_count, more_url, sound_ids in tags_sound_ids %}

                <div class="left">
                    {% for sound_id in sound_ids %}
                        {% display_sound sound_id %}
                    {% endfor %}
                    {% if more_count > 0 %}
                       <p><a href="{{ more_url }}">See all results ({{ more_count }} more)</a></p>
                    {% endif %}
                </div>

                <div class="right" id="following_tags">
                    <span class="tag_group" onclick="location.href='{% url tags tags|join:"/" %}'">
                        <ul class="tags" id="following_tags">
                            {% for tag in tags %}
                                <li><a href="">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>

            {% endfor %}

        {% endif %}

    </div>

{% endblock %}
