{% load display_sound %}
{% load bw_templatetags %}

<div>
    <div id="infoWindowPlayerWrapper-{{ sound.id }}" class="w-75">
        {% display_sound_minimal sound %}
    </div>

    <div class="overflow-hidden">
        <a target="_blank" href="{% url "sound" sound.user.username sound.id %}">
        {{sound.original_filename}}</a>
        by <a target="_blank" class="user" href="{% url "account" sound.user.username %}">
        {{sound.user.username}}</a> | <a class="cursor-pointer" id="infoWindowZoomLink-{{ sound.id }}" data-lat="{{ sound.geotag.lat }}" data-lon="{{ sound.geotag.lon }}" data-zoom="{{ sound.geotag.zoom }}">{% bw_icon 'search' %}</a>
    </div>
</div>