{% load bw_templatetags %}
{% load cache %}

<div class="bw-threads">
    <div class="row">
        <div class="col-md-1">
            {% if thread.last_post.created > request.last_action_time and thread.forum.last_post.author != request.user %}
                {% bw_user_avatar thread.author.profile.locations.avatar.M.url thread.author.username 50 "new-posts-notification" %}
            {% else %}
                {% bw_user_avatar thread.author.profile.locations.avatar.M.url thread.author.username 50 %}
            {% endif %}
        </div>
        <div class="col-md-5">
            <h6><a href="{% url "forums-thread" thread.forum.name_slug thread.id %}" {% if thread.status != 2 %}class="text-black"{% endif %}>{{ thread.title|safe }}</a></h6>
            <p>Started by <a href="{% url 'account' thread.author.username%}">{{ thread.author.username }}</a> {{thread.first_post.created|timesince}} ago · {{ thread.num_posts }} repl{{ thread.num_posts|pluralize:"y,ies" }}</p>
        </div>
        <div class="col-md-4 offset-md-2">
            {% cache 86400 bw_thread_common_commenters thread.id %}
                <div class="bw-threads__avatars-block">
                    {% with thread.get_most_relevant_commenters_info_for_avatars as info %}
                        {% for user_avatar_url, username in info.common_commenters %}
                            <div class="bw-threads__avatar-mini-container">
                                {% bw_user_avatar user_avatar_url username 32 %}
                            </div>
                        {% endfor %}
                        {% if info.num_extra_commenters > 0 %}
                            <div class="bw-threads__avatar-mini-container">
                                <div class="bw-threads__avatar-mini-cover">+{{ info.num_extra_commenters }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            {% endcache %}
            {% if thread.last_post.id %}
                <p class="text-right">
                    <a href="{% url "forums-post" thread.forum.name_slug thread.id thread.last_post.id %}">Latest reply</a> by <a href="{% url "account" thread.last_post.author.username %}">{{ thread.last_post.author.username }}</a> {{ thread.last_post.created|timesince }} ago
                </p>
            {% endif %}
        </div>
    </div>
</div>