{% extends "base.html" %}
{% load bw_templatetags %}

{% block title %}Forums{% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar-space-filler v-spacing-3 v-spacing-top-7">
            <h1>Freesound forums</h1>
            <div class="divider-light v-spacing-top-4"></div>
            <div class="row padding-top-3 padding-bottom-3">
                <div class="col-md-7 middle">
                    {% comment %}In original design, forum tabs were placed here{% endcomment %}
                    <form method="get" action="{% url "forums-search" %}">
                        <input type="hidden" name="advanced_search"  value="0"/>
                        <input type="search" name="q" class="bw-forums__input-search" placeholder="Search in the forum..." />
                    </form>
                </div>
                {% comment %}<div class="col-md-4 offset-md-1 text-right">
                    <button class="btn-inverse btn-profile-adapt"><span class="text-18 padding-right-1">+</span> New thread</button>
                </div>{% endcomment %}
            </div>
            <div class="divider-light"></div>
            <div class="v-spacing-top-4">
                {% for forum in forums %}
                    <div class="bw-threads">
                        <div class="row">
                            <div class="col-md-1">
                                {% bw_icon 'atom' 'text-50 text-red' %}
                            </div>
                            <div class="col-md-4">
                                <h6><a href="{{forum.get_absolute_url}}">{{ forum.name }}</a></h6>
                                <p>{{forum.num_threads}} thread{{forum.num_threads|pluralize}} · {{forum.num_posts}} repl{{forum.num_posts|pluralize:"y,ies"}}</p>
                            </div>
                            {% if forum.last_post %}
                                <div class="col-md-4 offset-md-1">
                                    <p class="bw-threads__last_thread">{{ forum.last_post.thread.title }}</p>
                                    <p class="text-left"><a href="{% url "forums-post" forum.name_slug forum.last_post.thread.id forum.last_post.id %}">Latest reply</a> {{forum.last_post.created|timesince}} ago</p>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="inline-block padding-bottom-1">{% bw_user_avatar forum.last_post.author.profile.locations.avatar.M.url forum.last_post.author.username 30 %}</div>
                                    <p>by <a href="{% url "account" forum.last_post.author.username %}">{{forum.last_post.author.username}}</a></p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}