{% extends "simple_page.html" %}
{% load bw_templatetags %}
{% load display_forum_objects %}

{% block title %}Forums{% endblock %}
{% block page-title %}Freesound Forums{% endblock %}

{% block page-content %}
    {% include 'forum/main_forums_navbar.html' %}
    <div class="v-spacing-top-4">
        {% for forum in forums %}
            {% display_forum forum %}
            {% if not forloop.last %}
                <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}