{% extends "base.html" %}
{% load bw_templatetags %}
{% load smileys %}
{% load flag_user %}
{% load filter_img %}

{% block title %}Forums search{% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar-space-filler v-spacing-3 v-spacing-top-7">
            <h1>Freesound Forums Search</h1>
            <div class="divider-light v-spacing-top-4"></div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="navbar-forums-hot navbar-breadcrumb">
                            <li class="nav-item">
                                  <a class="nav-link" href="{% url "forums-forums" %}">Freesound Forums</a>
                            </li>
                            {% if forum %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{forum.get_absolute_url}}">{{ forum.name }}</a>
                                </li>
                            {% endif %}
                            <li class="nav-item text-16">
                                Search
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 offset-md-1 between middle">
                        <form method="get" action="{% url "forums-search" %}">
                            <input type="hidden" name="advanced_search"  value="0"/>
                            <input type="hidden" name="forum" value="{% if forum %}{{forum.name_slug}}{% else %}{{current_forum.name_slug}}{% endif %}"/>
                            <input type="search" name="q" class="bw-forums__input-search" placeholder="Search in this forum..." value="{{ query }}"/>
                        </form>
                        <div class="text-grey">
                            {{ paginator.count }} result{{ paginator.count|pluralize }} found
                        </div>
                    </div>
                </div>
            <div class="divider-light"></div>
            <div class="v-spacing-top-4">
                {% for post in page.object_list  %}
                    <div class="bw-post">
                        <div class="row">
                            <div class="col-md-1">
                                {% bw_user_avatar post.author.profile.locations.avatar.L.url post.author.username 70 %}
                            </div>
                            <div class="col-md-2">
                                <h6><a href="{% url "account" post.author.username %}">{{ post.author.username }}</a></h6>
                                <p class="text-grey no-margins">{{ post.author.profile.num_sounds }} sound{{ post.author.profile.num_sounds|pluralize }}</p>
                                <p class="text-grey no-margins">{{ post.author.profile.num_posts }} post{{ post.author.profile.num_posts|pluralize }}</p>
                            </div>
                            <div class="col-md-9">
                                <div class="v-spacing-1">
                                    <span class="text-light-grey">Found in: </span>
                                    <a class="text-grey h-spacing-left-1 h-spacing-1" href="{{post.thread.forum.get_absolute_url}}">{{ post.thread.forum.name }}</a>
                                    > <a class="text-grey h-spacing-left-1" href="{% url "forums-thread" post.thread.forum.name_slug post.thread.id %}">{{ post.thread.title }}</a>
                                </div>
                                <div>
                                    <span class="text-grey text-14">{{post.created|timesince}} ago</span>
                                </div>
                                <div class="text-black v-spacing-top-1">
                                    {% with post.body|replace_img|smileys|safe|linebreaks as pre_processed_text %}
                                        {% highlight_text_and_truncate pre_processed_text query 70 10 %}
                                    {% endwith %}
                                </div>
                                <div class="v-spacing-top-2">
                                    <a href="{% url 'forums-post' post.thread.forum.name_slug post.thread_id post.id %}">Read full post...</a>
                                </div>
                            </div>
                        </div>
                        <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="v-spacing-top-5">
                {% bw_paginator paginator page current_page request "" -1 %}
            </div>
        </div>
    </div>
{% endblock %}