{% extends "simple_page.html" %}
{% load bw_templatetags %}
{% load display_forum_objects %}

{% block title %}Forums - {{forum.name}} - {{thread.title}}{% endblock %}
{% block page-title %}Freesound Forums{% endblock %}

{% block page-content %}

    <div class="divider-light v-spacing-top-4 v-spacing-2"></div>
    <div class="row middle">
        <div class="col-12">
            <ul class="navbar-forums-hot navbar-breadcrumb v-spacing-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "forums-forums" %}">Freesound Forums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{forum.get_absolute_url}}">{{ forum.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-black" href="{% url "forums-thread" forum.name_slug thread.id %}">{{ thread.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider-light v-spacing-top-2"></div>
   
    <div class="row between middle v-spacing-top-3">
        <div class="col-lg-8">
            <h3>{{ thread.title }}</h3>
        </div>
        <div class="col-lg-4 text-lg-right v-spacing-2 v-spacing-top-4">
            {% if has_subscription %}
                <a title="Unsubscribe to stop receiving email notifications" class="no-hover btn-secondary" href="{% url "forums-thread-unsubscribe" forum.name_slug thread.id %}">Unsubscribe</a>
            {% else %}
                <a title="Subscribe to receive email notifications" class="no-hover btn-inverse btn-profile-adapt" href="{% url "forums-thread-subscribe" forum.name_slug thread.id %}">Subscribe</a>
            {% endif %}
            <a title="Post a reply" class="btn-primary" href="{% url "forums-reply" forum.name_slug thread.id %}"><i class="text-16 padding-right-1 bw-icon-reply" ></i>Post reply</a>
        </div>
    </div>
    {% if thread.last_post.id %}
        <p class="text-grey v-spacing-7">Started {{ thread.first_post.created|date:"F jS, Y" }}  ·  {{thread.num_posts}} repl{{thread.num_posts|pluralize:"y,ies"}}  ·  <a href="{% url "forums-post" forum.name_slug thread.id thread.last_post.id %}">Latest reply</a> by <a href="{% url "account" thread.last_post.author.username %}">{{ thread.last_post.author.username }}</a> {{ thread.last_post.created|timesince }} ago</p>
    {% endif %}
    <div class="v-spacing-top-4">
        {% for post in page.object_list %}
            <a name="post{{ post.id }}"></a>
            {% display_post post forloop.counter post_counter_offset %}
            {% if not forloop.last %}
                <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="v-spacing-top-7 text-center">
        <a class="btn-primary" href="{% url "forums-reply" forum.name_slug thread.id %}"><i class="text-16 padding-right-1 bw-icon-reply" ></i>Post reply</a>
    </div>
    <div class="v-spacing-top-4">
        {% bw_paginator paginator page current_page request "thread" %}
    </div>
{% endblock %}