{% extends "base.html" %}
{% load bw_templatetags %}

{% block title %}Forums - {{forum.name}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar-space-filler v-spacing-3 v-spacing-top-7">
            <h1>Freesound Forums</h1>
            <div class="divider-light v-spacing-top-4"></div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="navbar-forums-hot navbar-breadcrumb">
                        <li class="nav-item">
                              <a class="nav-link" href="{% url "forums-forums" %}">Freesound Forums</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-black" href="{{forum.get_absolute_url}}">{{ forum.name }}</a>
                        </li>
                  </ul>
                </div>
                <div class="col-md-5 offset-md-1 between middle">
                    <form method="get" action="{% url "forums-search" %}">
                        <input type="hidden" name="advanced_search"  value="0"/>
                        <input type="hidden" name="forum" value="{% if forum %}{{forum.name_slug}}{% else %}{{current_forum.name_slug}}{% endif %}"/>
                        <input type="search" name="q" class="bw-forums__input-search" placeholder="Search in this forum..." />
                    </form>
                    <a class="no-hover" href="{% url "forums-new-thread" forum.name_slug %}"><button class="btn-inverse btn-profile-adapt"><span class="text-18 padding-right-1">+</span> New thread</button></a>
                </div>
            </div>
            <div class="divider-light"></div>
            <div class="v-spacing-top-4">
                {% for thread in page.object_list %}
                    <div class="bw-threads">
                        <div class="row">
                            <div class="col-md-1">
                                {% bw_user_avatar thread.author.profile.locations.avatar.M.url thread.author.username 50 %}
                            </div>
                            <div class="col-md-5">
                                <h6><a href="{% url "forums-thread" forum.name_slug thread.id %}" {% if thread.status != 2 %}class="text-black"{% endif %}>{{thread.title|safe}}</a></h6>
                                <p>Started by <a href="{% url 'account' thread.author.username%}">{{ thread.author.username }}</a> {{thread.first_post.created|timesince}} ago · {{thread.num_posts}} repl{{thread.num_posts|pluralize:"y,ies"}}</p>
                            </div>
                            <div class="col-md-4 offset-md-2">
                                {% if thread.last_post.id %}
                                    {% comment %}<div class="bw-threads__avatars-block">{{avatars([1,2,3,4,5,6,7,8,9, 50] | random)}}</div>{% endcomment %}
                                    <div class="bw-threads__avatars-block">
                                        {% bw_user_avatar thread.last_post.author.profile.locations.avatar.M.url thread.last_post.author.username 30 %}
                                    </div>
                                    <p class="text-right">
                                        <a href="{% url "forums-post" forum.name_slug thread.id thread.last_post.id %}">Latest reply</a> by <a href="{% url "account" thread.last_post.author.username %}">{{thread.last_post.author.username}}</a> {{thread.last_post.created|timesince}} ago
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <div class="divider-light v-spacing-top-3 v-spacing-3"></div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="bw-threads">
                        <div class="row">
                            This forum has no threads
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="v-spacing-top-7">
                {% bw_paginator paginator page current_page request "thread" %}
            </div>
        </div>
    </div>
{% endblock %}