<div class="divider-light v-spacing-top-4 v-spacing-1"></div>
<div class="row middle">
    <div class="col-md-5 v-spacing-1 v-spacing-top-1">
        <label for="selectAll" class="between w-100 label-message-action">
            <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="selectAll" onchange="">
                <span class="bw-checkbox-container"><span class="bw-icon-checkbox"></span></span>
            </div>
            <div class="bw-search__filter-name text-grey text-16 line-height-21">
            Select all
            </div>
        </label>
    </div>
    <div class="col-md-5 v-spacing-1 v-spacing-top-1">
        <ul class="navbar-messages">
            <li class="nav-item">
                <a class="nav-link active " href="{% url 'messages' %}">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'messages-sent' %}">Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'messages-archived' %}">Archived</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 v-spacing-1 v-spacing-top-1 right">
        <a class="btn-inverse btn-profile-adapt" href="{% url 'messages-new' %}">New message</a>
    </div>
</div>
<div class="divider-light v-spacing-top-1"></div>
