{% extends "simple_page.html" %}
{% load staticfiles %}
{% load bw_templatetags %}
{% load display_message %}
{% load smileys %}
{% load flag_user %}
{% block title %}Messages - {{message.subject}} - {{message.user_from.username}}{% endblock %}
{% block page-title %}Messages{% endblock %}

{% block page-content %}
    {% include 'messages/messages_navbar.html' %}
    <div class="v-spacing-top-4">
        <div class="row bw-message__message_page">
            <div class="col-lg-3">
                {% if request.user != message.user_from %}
                    <div class="text-light-grey font-weight-normal text-20 v-spacing-3">Message from:</div>
                    <div class="row middle">
                        <div class="col-3 col-lg-4">
                            {% bw_user_avatar message.user_from.profile.locations.avatar.L.url message.user_from.username 70 %}
                        </div>
                        <div class="col-8">
                            <h6><a href="{% url "account" message.user_from.username %}">{{ message.user_from.username }}</a></h6>
                            <p class="text-grey no-margins">{{ message.user_from.profile.num_sounds }} sound{{ message.user_from.profile.num_sounds|pluralize }}</p>
                            <p class="text-grey no-margins">{{ message.user_from.profile.num_posts }} post{{ message.user_from.profile.num_posts|pluralize }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="text-light-grey font-weight-normal text-20 v-spacing-3">Message to:</div>
                    <div class="row middle">
                        <div class="col-3 col-lg-4">
                            {% bw_user_avatar message.user_to.profile.locations.avatar.L.url message.user_to.username 70 %}
                        </div>
                        <div class="col-8">
                            <h6><a href="{% url "account" message.user_to.username %}">{{ message.user_to.username }}</a></h6>
                            <p class="text-grey no-margins">{{ message.user_to.profile.num_sounds }} sound{{ message.user_to.profile.num_sounds|pluralize }}</p>
                            <p class="text-grey no-margins">{{ message.user_to.profile.num_posts }} post{{ message.user_to.profile.num_posts|pluralize }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="text-light-grey v-spacing-top-2 v-spacing-4">Sent {{message.created|timesince}} ago</div>             
            </div>
            <div class="col-lg-9">
                <h5>{{message.subject}}</h5>
                <div>
                    {{message.body.body|smileys|safe|linebreaks}}
                </div>
            </div>
        </div>            
        <div class="col-12">
            <div class="v-spacing-top-5 text-center">
                <a class="btn-primary" href="{% url "message-reply" message.id %}"><i class="text-16 padding-right-1 bw-icon-reply" ></i>Reply</a>
            </div>
            <div class="right">{% flag_user "PM" message.user_from.username message.id "" message.user_from.profile.num_sounds %}</div> 
        </div>   
    </div>
{% endblock %}