<div class="divider-light v-spacing-top-4 v-spacing-1"></div>
<div class="row middle">
    <div class="col-md-4 col-6 row v-spacing-1 v-spacing-top-1">
        <label for="selectAll" class="padding-left-2 between w-100 label-message-action">
            <div class="bw-search__filter-checkbox">
                <input type="checkbox" class="bw-checkbox" id="selectAll" onchange="">
            </div>
            <div class="bw-search__filter-name text-grey text-16 padding-top-0">
                Select all
            </div>
        </label>
    </div>
    <div class="col-md-4 col-6 center v-spacing-1 v-spacing-top-1">
        <ul class="navbar-messages">
            <li class="nav-item">
                <a class="nav-link active " href="{% url 'messages' %}">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'messages-sent' %}">Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'messages-archived' %}">Archived</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-12 v-spacing-1 v-spacing-top-1 right">
        <a class="btn-primary" href="{% url 'messages-new' %}"><span class="padding-right-1">+</span>New message</a>
    </div>
</div>
<div class="divider-light v-spacing-top-1"></div>
