{% extends "simple_page.html" %}
{% load staticfiles %}
{% load bw_templatetags %}
{% load smileys %}
{% load flag_user %}
{% block title %}Messages - New message{% endblock %}
{% block page-title %}Messages{% endblock %}

{% block page-content %}
    {% include 'messages/messages_navbar.html' %}
    <div class="v-spacing-top-4">
        <form method="post" action="." class="bw-new-thread__form w-100 disable-on-submit">{% csrf_token %}
            <div class="row">
                <div class=" offset-lg-2 col-lg-8 ">
                    <h5 class="v-spacing-4">{% if form.initial %}Reply to message{% else %}New message{% endif %}</h5>
                    <div id="typeahead-wrapper"></div>
                    {{form.as_p}}
                    {% if form.recaptcha_response %}
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha" data-sitekey={{ recaptcha_public_key }}></div>
                        <p class="help-block"> {{ form.recaptcha_response.errors }} </p>
                    {% endif %}
                </div>
            </div>
            <div class="row v-spacing-top-5 v-spacing-3">
                <div class="col-lg-8 offset-lg-2">
                    <button class="btn-primary w-100">Send message</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extrabody %}
<script src="{% static 'bw-frontend/dist/messages.c4975674.js' %}"></script>

{% endblock %}