{% extends "base.html" %}

{% block tab_home_active %}active_tab{% endblock %}

{% block content %}

<h1>Moderation</h1>

{% if perms.tickets.can_moderate %}
<div id="ticket_menu">
  <ul>
    <li><a class="button {%if selected == "assigned"%}selected{%endif%}" href="{% url "tickets-moderation-home" %}">Assign Sounds</a></li>
        <li><a class="button {%if selected == "queue"%}selected{%endif%}" href="{% url "tickets-moderation-assigned" request.user.id %}">Your sound queue {% if moderator_tickets_count > -1 %} ({{moderator_tickets_count}}){% endif %}</a></li>
        <li><a class="button {%if selected == "guide"%}selected{%endif%}" href="{% url "tickets-moderation-guide" %}">Moderation guide</a></li>
    </ul>
</div>
{% endif %}

{% block section_content %}
{% endblock %}
{% endblock %}
