{% extends "tickets/_section.html" %}

{% block title %}
    Moderation Guide
{% endblock title %}

{% block section_content %}
<div id="moderation_guide">
    <h2>Moderation Guide</h2>

    <p>Because we want Freesound to be full of sounds that have good names, 
    descriptions and tags, the sounds that are uploaded to Freesound have to be
    approved by the moderator team before they show up on the website. If you 
    are part of the moderator team or the staff you can help to moderate the 
    sounds.</p>

    <p>This guide will teach you how the moderation pages work. Please
    read the <a href="{% url 'wiki' %}moderators/">moderation tips wiki page</a>
    to get lots of useful advice and tips for moderating sounds. It is a wiki
    page, so feel free to update it and make it even more useful for other
    moderators :)</p>

    <h3>Moderation pages</h3>

    <p>In short the moderation workflow consists of two steps: 1) assigning
    new sounds to your moderation queue and 2) going through your queue and
    moderating each sound in it. We'll walk you through the different pages.

    <p><b>1 - Getting to the moderation pages</b></p>

    <p>If you have the permission to moderate sounds a new link will appear on
    your home page. Clicking this link will take you to the moderation section.

    <img src="{{ media_url }}images/moderation_guide/moderation_link_location.png" alt="screen shot of link to moderation section"/>

    <p><b>2 - The moderation section</b></p>

    <p>In the moderation section you'll see a menu at the top, with the items 
    'Assign Sounds', 'Your sound queue' and 'Moderation guide'.￼

    <img src="{{ media_url }}images/moderation_guide/moderation_menu.png" alt="screen shot of moderation home"/>

    <p>The menu item 'Assign Sounds' takes you back to this initial page, where
    you can start moderating uploaded sounds by assigning them to your 
    moderation queue.

    <p><b>3 - Assigning sounds to your moderation queue</b></p>

    <img src="{{ media_url }}images/moderation_guide/moderation_sounds.png" alt="screen shot of sounds assignation page"/>

    <p>We now see that there are many users with newly uploaded sounds. 
    For example, user scriotxstudios has uploaded 2 new sounds and it's been 2
    days in queue. All users have a link that says 'Assign to me'. Clicking 
    this link will assign all the new sounds from that user to your moderation
    queue. Don't start assigning all the sounds to yourself at once, because 
    it doesn't leave anything for other moderators who might be working at the
    same time. If later your moderation queue is empty and you would like to 
    moderate more sounds, go back to this page and assign the rest. You can 
    directly access this page by clicking the "Mod" link in the top of 
    Freesound header.<br/>
    
    <img src="{{ media_url }}images/moderation_guide/moderation_top_panel.png" alt="screen shot of moderation link in top panel"/>

    <p>The number next to the link indicates the number of newly uploaded sounds that
    have not been assigned to any moderator.

    <p>Once you have assigned a user's new sounds to your queue a message will
    appear notifying you of this and the user will disappear from the list. The
    sounds are now in your queue and you are responsible for moderating them.<br/>

    <img src="{{ media_url }}images/moderation_guide/moderation_assigned_msg.png" alt="screen shot of assigned sound message"/>
    
    <p><b>4 - Your sound moderation queue</b></p>

    <p>To get to your personal sound moderation queue click 'Your sound queue' 
    and you will see the following page.</p>

    <img src="{{ media_url }}images/moderation_guide/moderation_queue.png" alt="screen shot of moderation queue"/>

    <p>The moderation queue has several sections. The main section shows a list
    of all the sounds in your queue. It shows the name, the uploader, the date 
    of the upload and lastly the ticket status (we'll explain this later).</p>

    <p>You can select any sound in this list by clicking his name and the other
    sections will load the information for that sound, you can also select many
    sounds at the same time by clicking the checkboxes.</p>

    <p>In the title of the right column it will be indicated the number that 
    identifies the selected sound or the number of selected sounds in the case
    you selected more than one.</p>

    <p>In this right column you can see a first row of radio buttons that 
    determine what will happen to the selected sound(s). Let's walk through 
    the different options.</p>

    <p><ul>
        <li><b>Approve</b> - The sound(s) will be approved and will show up on Freesound and the user will be notified</li>
        <li><b>Delete</b> - The sound(s) will be deleted and the user will be notified.</li>
        <li><b>Defer</b> - The sound(s) will not be approved just yet and it will stay in
        your sound queue. This gives you the possibility to ask the user for
        more information about the sound.</li>
        <li><b>Return</b> - If you're not sure about what to do with the sound you can
        return it to the sounds page. Other moderators can have a look at
        the sound and discuss what should be done.
        <li><b>Whitelist</b> - The user will be whitelisted, which means that all of
        his sounds currently in the queue will be directly approved and all of
        his future uploads as well. If more than one sound was selected, all the authors of
        the different selected sounds will be whitelisted.
        Use with caution and check the 'user information' section and the 'user annotations'.
    </ul></p>

    <p>The 'insufficient tags', 'insufficient description', incompatible,
    illegal and 'not a sound' buttons will add a standard text to the text box.
    This is just to save you some time but you can always write your own message
    or edit the standard text. If you leave a message in the text box the user
    will be notified of this message. However, if you check the 'Moderator only'
    check box the user will not be notified and the message can only be read
    by other moderators. This is useful if you want to return the message to the
    sounds page to be handled by other moderators and you want to leave a
    message for them.</p>

    <p>Most of the time you will not need to discuss anything and just approve
    the sound, but if you would like to ask the user for a better description 
    or ask about the legality of the sound you can do this by leaving a message 
    here. </p>

    <p>The section below shows information of the sound(s) that you have 
    selected in the left column. You can listen to the sound, and see the 
    description and tags. Also, you can see the discussion between the 
    moderators and the uploader.</p>
    
    <p>In the left column you will see the 'User annotations' section which is
    to leave messages about the user to other moderators, this section will be
    shown only when one sound is selected or if all the selected sounds are
    from the same user. This is useful e.g. if a user uploads music or illegal
    files. You can leave a message for other moderators informing them that the
    user has uploaded illegal sounds and they should be careful the next time 
    the user uploads sounds.</p>

    <p>When a user replies to one of your questions you'll receive an email
    notification of this. All communication is done through these messages so
    you will never have to use your own email account to communicate with the
    users.</p>

    <h3>Tickets</h3>

    <p>Earlier we said we would come back to the sound's status as you see it in
    the list of sounds. This is in fact the status of the moderation ticket and
    not of the sound. 
    A ticket is basically a way to keep track of this tasks that need to be done
    by the moderators and the programmers of Freesound when a user uploads a 
    sound.</p>

    <p>A ticket has a state that indicates whether it is active or not. A state
    of 'new' indicates that nobody has looked at the ticket and nobody is taking
    care of it yet. Accepted means that the ticket, and therefore the task, has
    been assigned to someone. The 'Accepted' state that you see in your sound
    queue is in fact the state of the ticket. This state can become 'Deferred'
    as well, indicating that you are waiting for a user to respond. Lastly,
    when you finally delete or approve the sound, or whitelist the uploader, the
    ticket status will be set to closed and it will not appear anymore in your
    queue.</p>

    <p>Try clicking the 'see full ticket' link in your sound queue if you are
    curious about tickets. It'll show you some more details.</p>

    <h3>Tardy moderators and Tardy users sounds</h3>
    
    <p>In the moderation initial page you can find the sections 'Sounds by 
    tardy moderators' and 'Sounds by tardy users', followed by a list of sounds,
    you will also be able to assign them for moderation.</p>
    
    <p>'Tardy moderators sounds' are those sounds that have already been assigned
    for moderation but that have not been moderated during the last day (probably
    because the moderator who assigned them to himself did not have time to moderate 
    them all or just forgot). These sounds can be assigned to other moderators and 
    in that case they will disappear from the sounds queue of the former moderator.</p>
    
    <p>Moreover, 'Tardy users sounds' are those whose moderation process has started
    but their status is 'Deferred', and the user who uploaded the sound has not given
    any response during the last two days. For example, if a moderator picks a sound and
    asks the user for a better description but the user does not answer in two days, this sound
    will apear in the 'Tardy users sounds' list. In that case, it is a good idea to remind
    the user that moderators are waiting for some response, and in case there is no response
    at all the sound can be deleted. This is to avoid having lots of deferred sounds lost forever
    in the moderation stage.</p>

</div>

{% endblock section_content %}




