{% for message in ticket.messages.all reversed %}
    {% if not message.moderator_only or can_view_moderator_only_messages %}
    <div class="message-list-message-header">
        <div class="message-list-message-sender"><p>{% if message.sender %} <a href="{% url account message.sender.username %}">{{ message.sender.username }}</a> {% else %} Anonymous {% endif %} </div>
        <div class="message-list-message-date">({{ message.created }})</div>
        <br style="clear: both;">
    </div>
    <p class="message-list-message message-list-message{% if message.moderator_only %}-mod{% else %}-nomod{%endif%}">{{ message.text|safe }}</p>
    <br>
    {% endif %}
{% endfor %}
