{% extends "tickets/_section.html" %}

{% block title %}
    Sound Moderation
{% endblock title %}

{% block section_content %}

    <h2>Assign Sounds</h2>
    
    {% if new_sounds_users %}
        <h3>Users with new sounds</h3>
        <p><div class="moderation-user-list">

            {% for user, new_count, time in new_sounds_users %}
                <div class="moderation-user-list-user">
                    <div class="moderation-user-list-user-left">
                    <img src="{{user.profile.locations.avatar.L.url}}"/>
                    </div>
                    <div class="moderation-user-list-user-right">
                        <p>
                            <a href="{% url "account" user.username %}">{{ user.username }}</a>
                            <br><a href="{% url "tickets-user-pending_sounds" user.username %}">{{ new_count }} new sound{{ new_count|pluralize }}</a>, {{ time }} day{{ time|pluralize }} in queue
                            <br><a href="{% url 'tickets-moderation-assign-user-new' user.id %}">
                            <img src="{{media_url}}images/moderation_plus.png"/>Assign to me</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div style="clear: both;"></div>
        </div>
        <br>
    {% else %}
       <h3>No new sounds</h3>
       <p>There are currently no new sounds to be moderated.
    {% endif %}

    {% if tardy_moderator_tickets %}
        <h3>Sounds by tardy moderators {% if tardy_moderator_tickets_count > 5 %} (only showing first 5, {{tardy_moderator_tickets_count}} in total, <a href="{% url "tickets-moderation-tardy-moderators" %}">see all</a>) {% endif %}</h3>
        <p>Sounds in this list have already been assigned to a moderator but have still not been moderated. Feel free to moderate any of these sounds.</p>
        {% for ticket in tardy_moderator_tickets %}
            <div style="height:90px;">
            {% include 'tickets/ticket_sound.html' %}
            </div>
            <div style="margin-top:-20px;height:30px;width:100px;margin-bottom:18px">
            {% if ticket.assignee.id != request.user.id %}
                <p>
                    <a href="{% url 'tickets-moderation-assign-single-ticket' user.id ticket.id %}">
                        <img style="position: relative; top: 5px;" src="{{media_url}}images/moderation_plus.png" />Assign to me
                    </a>
                </p>
            {% endif %}
            </div>
        {% endfor %}
        <br>
    {% endif %}

    {% if tardy_user_tickets %}
        <h3>Sounds by tardy users {% if tardy_user_tickets_count > 5 %} (only showing first 5, {{tardy_user_tickets_count}} in total, <a href="{% url "tickets-moderation-tardy-users" %}">see all</a>) {% endif %}</h3>
        <p>Sounds in this list belong to users that are not responding to moderators requests.</p>
        {% for ticket in tardy_user_tickets %}
            <div style="height:90px;">
            {% include 'tickets/ticket_sound.html' %}
            </div>
            <div style="margin-top:-20px;height:30px;width:100px;margin-bottom:18px">
            {% if ticket.assignee.id != request.user.id %}
                <p>
                    <a href="{% url 'tickets-moderation-assign-single-ticket' user.id ticket.id %}">
                        <img style="position: relative; top: 5px;" src="{{media_url}}images/moderation_plus.png" />Assign to me
                    </a>
                </p>
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    {% if unsure_tickets %}
        <br>
        <h3>Returned</h3>
        <div class="moderation-unsure-list">
            {% for ticket in unsure_tickets %}
                {% include 'tickets/ticket_sound.html' %}
                <div style="margin-top:-20px;height:30px;width:100px;margin-bottom:18px">
                <p>
                    <a href="{% url 'tickets-moderation-assign-single-ticket' user.id ticket.id %}">
                        <img style="position: relative; top: 5px;" src="{{media_url}}images/moderation_plus.png" />Assign to me
                    </a>
                </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock section_content %}
