{% extends "base.html" %}

{% block title %}
	Moderation
{% endblock title %}

{% block content %}
	<h1>Users with new sounds</h1>
	<!-- include permission checks here -->
	<p>
	<div class="moderation-user-list-wrapper">
		<div class="moderation-user-list">
		{% for user, new_count in users.items %}
			<div class="moderation-user-list-user">
				<div class="moderation-user-list-user-left">
				<img src="{{ user.profile.locations.avatar.L.url }}"/>
				</div>
				<div class="moderation-user-list-user-right">
				<p>{{ user.username }} 
				<br>{{ new_count }} new sounds
					<br><a href="{% url tickets-moderation-asign-user user.id %}">
						<img src="{{media_url}}images/moderation_plus.png"/>Add to queue
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	
	
{% endblock content %}
