{% extends "tickets/_section.html" %}

{% load util %}
{% load paginator %}
{% block head %}
{{ block.super }}
<style type="text/css" media="all">

</style>
<script type="text/javascript">
    function moderate(ticket_ids) {
        $("#sounds_info").html('');
        for (var i in ticket_ids){
            var ticket_id = ticket_ids[i];
            var sound_url = $("#row_" + ticket_id).data('sound-url');
            var messages_url = $("#row_" + ticket_id).data('messages-url');
            $("#sounds_info").append(
                '<div class="sample_player_small sound_list_moderation" id="sound_' + i + '"></div>' +
                '<div id="moderation-ticket-messages-' + i + '"></div>' +
                '<div class="ticket_link" id="moderation-ticket-link-' + i + '"></div>'
            );
            $("#sound_" + i).load(sound_url, function() { makePlayer('.player') });
            $("#moderation-ticket-messages-" + i).load(messages_url+'messages/');
            $("#moderation-ticket-link-" + i).get(0).innerHTML =
                    '<p><a href="'+messages_url+'" target="_blank">open full ticket...</a><p>';
            var N = {{ max_selected_tickets_in_right_panel }};
            if (i == N - 1){
                var n_remaining = ticket_ids.length - N;
                $("#sounds_info").append('<br><p>' + n_remaining + ' more selected sounds...</p>');
                break;
            }
        }
    }

    function highlight_row_only(row_id) {
        $('.mod-selected-row').removeClass('mod-selected-row');
        $('#' + row_id).addClass('mod-selected-row');
    }

    var set_uploader_id = function(uploader_id) {
        loadUrl = '{% url "tickets-user-annotations" 0 %}'.replace('0', ''+uploader_id);
        $('#user-annotations-section').load(loadUrl);
    };
 
    var selectAllOnClick = true;
    $(document).ready(function() {

        {% if moderator_tickets_count %}

        $("#select-all").click(function(){
            if (selectAllOnClick){
                $("#select-all").html("select none");
            } else {
                $("#select-all").html("select all");
            }
            $('.ticket-check').attr('checked', selectAllOnClick);
            selectAllOnClick = !selectAllOnClick;
            updateSelectedTickets();
        });

        $("#select-all-same-user").click(function(){
            var selectedUserIds = {};
            $('.ticket-check:checked').each(function () {
                var ticket_id = $(this).data('id');
                var user_id = $("#row_" + ticket_id).data('sender-id');
                selectedUserIds[user_id] = true;
            });
            if (Object.keys(selectedUserIds).length == 1){
                var target_user_id = Object.keys(selectedUserIds)[0];
                $('.ticket-check').each(function () {
                    var ticket_id = $(this).data('id');
                    var t_user_id = $("#row_" + ticket_id).data('sender-id');
                    if (t_user_id == target_user_id){
                        $("#row_" + ticket_id).find('.ticket-check').attr('checked', true);
                    }
                });
            }
            updateSelectedTickets();
        });
        
        // Checkbox select or unselect event
        $(".ticket-check").change(function(evt){
            stopAll(); // stop all sounds, defined in player.js
            updateSelectedTickets();
            return false;
        });

        // Click on ticket at list
        $(".ticket-select").click(function(){
            stopAll(); // stop all sounds, defined in player.js
            $('.ticket-check').attr('checked', false);
            var checked = $('#row_'+$(this).data('id')).find('.ticket-check');
            checked.attr('checked', true);
            updateSelectedTickets();
            return false;
        }); 
       
        //Load initial selected values when page is loading
        var selected = $('#id_ticket').get(0).value;
        var selectedTickets = [];
        if (selected == '') {
          selectedTickets = ["{{page.object_list.0.id}}"];
        }else{
          selectedTickets = $('#id_ticket').get(0).value.split('|');
        }
        for (t in selectedTickets){
          $('#row_'+ selectedTickets[t]).find('.ticket-check').attr("checked", true);
        }
        updateSelectedTickets();

      {% endif %}

        unsecureImageCheck($('#{{ msg_form.message.id_for_label }}'));
    });

    function updateSelectedTickets() {
        var selectedTickets = [];
        var selectedSoundUrls = [];
        var selectedUserIds = {};
        $('.mod-selected-row').removeClass('mod-selected-row');
        $('.ticket-check:checked').each(function () {
            var ticket_id = $(this).data('id');
            selectedTickets.push(ticket_id);
            selectedSoundUrls.push($("#row_" + ticket_id).data('sound-url'));
            var user_id = $("#row_" + ticket_id).data('sender-id');
            selectedUserIds[user_id] = true;
            $('#row_' + ticket_id).addClass('mod-selected-row');
        });

        $('#moderation-form-wrapper').show();
        if (selectedTickets.length == 0) {
            $('#moderation-form-wrapper').hide();
            $('#select-all-same-user-wrapper').hide();
        } else if (selectedTickets.length == 1) {
            var ticketElem = $("#row_"+selectedTickets[0]);
            moderate(selectedTickets);
            highlight_row_only('row_'+selectedTickets[0]);
            set_uploader_id(ticketElem.data('sender-id'));
            $('#moderate-form-title-label').html('Moderate sound ' + ticketElem.data('sound-id'));
            $('#select-all-same-user-wrapper').show();
        } else {
            moderate(selectedTickets);
            //$('#current_sound').html('<p>'+selectedTickets.length+' Sounds Selected</p>');
            $('#moderation-ticket-messages').html('<p>'+selectedTickets.length+' Sounds Selected</p>');
            $('#moderation-ticket-link').html('');
            $('#moderate-form-title-label').html('Moderate sounds (' + selectedTickets.length + ') selected');

            if (Object.keys(selectedUserIds).length == 1){
                // All selected sound belong to the same user
                set_uploader_id(Object.keys(selectedUserIds)[0]);
                $('#select-all-same-user-wrapper').show();
            } else {
                $('#user-annotations-section').html('');
                $('#select-all-same-user-wrapper').hide();
            }
        }
        $('#id_ticket').get(0).value=selectedTickets.join('|');
    }
    
    // Implementation of CSRF for ajax post requests
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% endblock head %}


{% block title %}
    Moderation
{% endblock title %}

{% block section_content %}

    <!-- include permission checks here -->

    <div id="moderation-queue">

        <div id="moderation-queue-left">
          {% comment %} <h4>Assigned tickets {% if moderator_tickets_count > 0 %} ({{moderator_tickets_count}}) {% endif %}</h4>
            <br>{% endcomment %}
            {% if not moderator_tickets_count %}
                <p>You've finished all the sounds in your queue.
                <p>Back to <a href="{% url "tickets-moderation-home" %}">moderation home</a>
            {% else %}
                <a id="select-all">select all</a>
                <span id="select-all-same-user-wrapper">| <a id="select-all-same-user">select other sounds from same user</a></span>
            {% endif %}
            <div id="assigned-tickets-table-wrapper">
                <table id="assigned-tickets-table">
                {% for ticket in page.object_list %}
                    {% if ticket.sound %}
                        <tr id="row_{{ ticket.id }}" class="alternate-row-{% cycle 'odd' 'even' %} {% if ticket.status == "deferred" %}ticket-row-highlighted{% endif %}"
                            data-sound-id="{{ ticket.sound.id  }}"
                            data-sound-url="{% url "sound-display" ticket.sound.user.username ticket.sound.id %}"
                            data-messages-url="{% url "tickets-ticket" ticket.key %}"
                            data-sender-id="{{ticket.sender.id}}"
                            data-ticket-status="{{ticket.status}}">
                          <td><input type="checkbox" class="ticket-check" data-id="{{ticket.id}}"/> </td>
                          <td><a href="#" class="ticket-select" data-id="{{ticket.id}}">{{ticket.sound.original_filename|truncate_string:20}}</a></td>
                            <td>{{ticket.sender.username | truncatechars:12}}</td>
                            <td>{{ticket.created|date:"d/m/Y" }}</td>
                            <td>{{ticket.status|capfirst}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>

            </div>
            {% if show_pagination %}
                {% show_paginator paginator page current_page request "ticket" %}
            {% endif %}

            <div id="user-annotations-section"></div>

        </div><!-- /#moderation-queue-left -->

        <div id="moderation-queue-right">

            <div id="moderation-form-wrapper">
                <h4 id="moderate-form-title-label"></h4>
                <br>
                <div id="moderation-form">
                    <form action="." method="post" class="disable-on-submit">{% csrf_token %}

                           <div id="moderation-decision-form">
                               {{ mod_sound_form.as_p }}
                           </div>
                            <div style="clear:both;">
                           {% include 'tickets/moderation_options.html' %}

                          <p>{{ msg_form.as_p }}
                        <br style="clear: both;">
                           <input type="submit" value="send" id="submit-moderation"/>

                       </form>
                </div>  

                <div id="sounds_info"></div>

            </div>

            <div style="clear:both;"></div>

        </div><!-- /#moderation-queue-left -->
    </div><!-- /#moderation-queue -->
    <br style="clear: both;">


{% endblock section_content %}
