{% extends "tickets/_section.html" %}
{% load paginator %}
{% block title %}
    Sound Moderation
{% endblock title %}

{% block section_content %}

    <h2>Sounds by tardy moderators</h2>

    {% if tardy_moderators_tickets %}
        {% show_paginator paginator page current_page request "sound" %}

        {% for ticket in page.object_list %}
            <div style="height:90px;">
                {% include 'tickets/ticket_sound.html' %}<br>
            </div>

            <div style="margin-top:-20px;height:30px;width:100px;margin-bottom:18px">
            {% if ticket.assignee.id != request.user.id %}
                <p>
                    <a href="{% url 'tickets-moderation-assign-single-ticket' user.id ticket.id %}?next=tardy_moderators&p={{ current_page }}">
                        <img style="position: relative; top: 5px;" src="{{media_url}}images/moderation_plus.png" />Assign to me
                    </a>
                </p>
            {% endif %}
            </div>

        {% endfor %}

        {% show_paginator paginator page current_page request "sound" %}
    {% endif %}


{% endblock section_content %}
