{% with sound=ticket.content.content_object num_messages=ticket.messages.all|length last_message=ticket.messages.all.0 %}
<div class="moderation-unsure-ticket">
	<div class="moderation-unsure-ticket-player small_player">
		{% include "sounds/player_medium.html" %}
 			</div>
 			<div class="moderation-unsure-ticket-info">
 				<a href="{% url tickets-ticket ticket.key %}">{{ ticket.title }}</a> <em>by</em> {{ ticket.content.content_object.user.username }}
 				<br>assigned to {% if ticket.assignee %}{{ticket.assignee}}{% else %}no one{% endif %} | {{ num_messages }} message{{ num_messages|pluralize }} | last by {% if last_message.sender %}{{last_message.sender.username}}{% else %}anonymous{% endif %}
 				<div style="height: 1px; background-color: #ccc;"></div>
 				<em>"{{ last_message.text }}"</em>
 			</div>
 			<div style="clear: both;"></div>
</div>
{% endwith %}