{% extends "tickets/_section.html" %}

{% block title %}
    Moderation
{% endblock title %}

{% block section_content %}

    <h2>Moderation home</h2>
    <!-- include permission checks here -->
    <h3>Sound moderation status</h3>
    <ul>
        <li>{{new_upload_count}} new sound{{ new_upload_count|pluralize }}</li>
        <li>{{tardy_moderator_sounds_count}} tardy moderator{{ tardy_moderator_sounds_count|pluralize }} sound{{ tardy_moderator_sounds_count|pluralize }}</li>
        <li>{{tardy_user_sounds_count}} tardy user{{ tardy_moderator_sounds_count|pluralize }} sound{{ tardy_user_sounds_count|pluralize }}</li>
        <a href="{% url tickets-moderation-home %}">Moderate sounds!</a>
        
        <!-- <li>
            <a href="{% url tickets-support-home %}">moderate support requests</a>
                - ({{new_support_count}} new requests)
        </li> -->
    </ul>

    <h3>Processing system status</h3>
    <ul>
        <li>{{ sounds_queued_count }} sound{{ sounds_queued_count|pluralize }} are queued for processing</li>
        <li>{{ sounds_processing_count }} sound{{ sounds_processing_count|pluralize }} currently processing</li>
        <li>{{ sounds_failed_count }} sound{{ sounds_failed_count|pluralize }} failed processing</li>
    </ul>
{% endblock section_content %}
