{% extends "base.html" %}

{% load display_sound %}

{% block title %}
    Ticket {{ ticket.key }}
{% endblock title %}

{% block content %}
    <h2>Ticket #{{ ticket.id }} - {{ ticket.title }}</h2>

    <h3>Ticket details</h3>
    <div id="ticket-details">
        <ul id="ticket-details-left">
            <li><em>created by</em>
                 {% if ticket.sender %}
                        <a href="{% url "account" ticket.sender.username %}">{{ ticket.sender.username }}</a>
                        (<a href="{% url "tickets-user-pending_sounds" ticket.sender.username %}">{{ num_sounds_pending }} pending</a>)
                 {% else %}
                     anonymous
                 {% endif %}</li>
            <li><em>assigned to</em>
                 {% if ticket.assignee %}
                     {{ ticket.assignee.username }}
                 {% else %}
                     no one
                 {% endif %}

                 {# Show 'assign to me' link if the assigned moderator is not you #}
                 {% if ticket.assignee.id != user.id %}
                 (<a href="{% url 'tickets-moderation-assign-single-ticket' ticket.sender.id ticket.id %}?next=ticket">assign to me</a>)
                 {% endif %}
            </li>
            <li><em>status is</em> {{ ticket.status|capfirst }}</li>
            <li><em>queue is</em> {{ ticket.queue.name }}</li>
        </ul>
        <ul id="ticket-details-right">
            <li><em>created on</em> {{ ticket.created }}</li>
            <li><em>last modified on</em> {{ ticket.modified }}</li>
            {% if ticket.sound %}
                <li><em>related to</em> Sound {{ ticket.sound.id }}  </li>
            {% endif %}
        </ul>
        <br style="clear: both;">
    </div>

    <div id="ticket-wrapper">
        <div id="ticket-left">

            <h3>Messages</h3>

            {% include 'tickets/message_list.html' %}
			{% if request.user.is_authenticated %}
            <h3>Add new message to the ticket</h3>
            <div id="ticket-page-form">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{tc_form.as_p}}
                    <input type="submit" value="send" />
                </form>
            </div>
            {% else %}
            <p>Please <a href="{% url "accounts-login" %}?next={% url "tickets-ticket" ticket.key %}">log in</a> to add messages</center>
            {% endif %}

        </div> <!-- /#ticket-left -->

        <div id="ticket-right">
            {% if perms.tickets.can_moderate %}
            <h3>Ticket controls</h3>
            <form action="." method="post">{% csrf_token %}
                {{ ticket_form.as_p }}
                {{ sound_form.as_p }}
                <input type="submit" value="send" />
            </form>
            {% endif %}
            
            <h3>Ticket linked content</h3>
            {% if ticket.sound %}
                  <div class="sound_list_moderation">
                      {% display_sound ticket.sound %}
                      {% if perms.sound.can_edit or ticket.sound.user == request.user %}
                          {% if ticket.sound.processing_state == 'OK' %}
                              <ul id="sound_links" style="background: none; padding: 0 0 20px;"><li><a href="{% url "sound-edit" ticket.sender.username ticket.sound.id %}" class="icon" id="edit_link" title="edit sound">Edit sound information</a></li></ul>
                          {% else %}
                              <ul id="sound_links" style="background: none; padding: 0 0 20px;"><li><em>Sound is processing, cannot edit.</em></li></ul>
                          {% endif %}
                      {% endif %}
                  </div>
                  <p>Sound's moderation state is set to <b>{% if ticket.sound.moderation_state == 'PE' %}
                                                              Pending {% else %} OK {% endif %}</b>
                  <br>Sound's processing state is set to <b>{% if ticket.sound.processing_state == 'PE' %}
                                                              Pending {% else %} OK {% endif %}</b>
            {% else %}
                <p>No linked content
            {% endif %}

            


        </div> <!-- /#ticket-right -->
        <br style="clear: both;">
    </div> <!-- /#ticket-wrapper -->

<script>
  $(function() {
    unsecureImageCheck($('#{{ tc_form.message.id_for_label }}'));
  })
</script>

{% endblock content %}
