<div class="user-annotations-wrapper">
    <br>
    <h4>User information</h4>
    <br>
    <div class="user-annotations-info">
        <img src="{{ user.profile.locations.avatar.L.url }}"/>
        <p><a href="{% url 'account' user.username %}">{{ user.username }}</a>
        <br>{{ num_sounds_ok }} sounds ok, <a href="{% url "tickets-user-pending_sounds" user.username %}">{{ num_sounds_pending }} pending</a>
        {% if user.profile.home_page %}
            <br>home page: <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a>
        {% endif %}
        <br>Has a been a user for {{user.date_joined|timesince}}
        <br>Number of forum posts: {{user.profile.num_posts}}
    </div>
    <br style="clear: both;">
    <br>
    <h4>User annotations</h4>
    <br>
    {% for annotation in annotations %}
        <div class="user-annotation">
            <p><a href="{% url 'account' annotation.sender.username %}">{{ annotation.sender }}</a> wrote:
            <p class="message-list-message">{{ annotation.text|linebreaksbr|safe }}
        </div>
    {% endfor %}
    <form>
    {{ form.as_p }}
    <input type="button"
           value="submit"
           onClick="
               var text = $('#id_text').get(0).value;
               console.debug(text);
            $.post('{% url "tickets-user-annotations" user.id %}',
                   { text: text },
                   function(data) { $('#user-annotations-section').html(data); });">
    </form>
</div>

<script>
  $(function() {
    unsecureImageCheck($('#{{ form.text.id_for_label }}'));
  })
</script>
