{% extends "simple_page.html" %}
{% load static %}
{% load bw_templatetags %}
{% load display_ticket %}
{% block title %}Moderation - Assign sounds{% endblock %}
{% block page-title %}Moderation{% endblock %}

{% block page-content %}
{% include 'moderation/moderation_navbar.html' %}
<div class="v-spacing-top-4">
    <h3>Unassigned sound tickets ({{ num_sounds_pending }})</h3>    
    {% if new_sounds_users %}
        <form action="." method="GET">
        <div class="v-spacing-top-4 v-spacing-2">
            <span class="text-light-grey"><b>Sort by:</b></span>
            <select id="sort-by" name="order" onchange="this.form.submit()">
                <option value="" {% ifequal order "" %}selected{% endifequal %}>Days in queue</option>
                <option value="username" {% ifequal order "username" %}selected{% endifequal %}>Username</option>
                <option value="new_count" {% ifequal order "new_count" %}selected{% endifequal %}>Sounds in queue</option>
                <option value="num_uploaded_sounds" {% ifequal order "num_uploaded_sounds" %}selected{% endifequal %}>Uploaded sounds</option>
            </select>
        </div>
        </form>
        <div class="row v-spacing-top-4">
        {% for item in new_sounds_users %}
        <div class="col-6 col-md-4 col-lg-3">
            <div class="start">
                <div>
                    {% bw_user_avatar item.user.profile.locations.avatar.L.url item.user.username 70 %}
                </div>
                <div class="padding-left-3">
                    <a href="{% url "account" item.username %}">{{ item.username }}</a>
                    <br><a class="bw-link--black" data-toggle="pending-moderation-modal" data-modal-content-url="{% url "tickets-user-pending_sounds" item.username %}?ajax=1" href="javascript:void(0);">
                        {{ item.new_count }} unassigned sound{{ item.new_count|pluralize }}
                    </a>
                    <br><span class="text-grey">{{ item.time }} day{{ item.time|pluralize }} in queue</span>
                    <br><span class="text-grey">{{ item.num_uploaded_sounds }} uploaded sound{{ item.num_uploaded_sounds|pluralize }}</span>
                </div>
            </div>
            <div class="v-spacing-top-2 padding-bottom-5 center">
                <a class="btn-inverse no-hover" href="{% url 'tickets-moderation-assign-user-new' item.user.id %}">{% bw_icon "plus" %}Assign to me</a>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="v-spacing-top-4 center">
            <a class="btn-primary no-hover" href="{% url 'tickets-moderation-assign-all-new' %}">{% bw_icon "plus" %}Assign all new sounds to me</a>
        </div>
    {% else %}
        <div class="v-spacing-top-4 v-spacing-2">
            <h5>No new sounds... &#128522</h5>
            <p class="text-grey v-spacing-2">It looks like there are no sounds to moderate</p>
        </div>
    {% endif %}
</div>

<div class="v-spacing-top-6">
    <h3>Tickets with tardy moderators ({{tardy_moderator_tickets_count}})</h3>
    <p>Sound moderation tickets in this list have already been assigned to a moderator but have still not been moderated. Feel free to assign any of this to your queue.</p>
    <div class="row v-spacing-top-4">
    {% for ticket in tardy_moderator_tickets %}
        <div class="col-6 col-md-4 col-lg-3">
            {% display_ticket_with_message ticket %}
        </div>
    {% endfor %}
    </div>
    {% if tardy_moderator_tickets_count > tardy_moderator_tickets|length %}
    <div class="v-spacing-top-4 center">
        <button class="btn-primary" data-toggle="tardy-moderators-modal" data-modal-content-url="{% url "tickets-moderation-tardy-moderators" %}?ajax=1" data-modal-activation-param="tardy_moderators">See all tickets with tardy moderators</a>
    </div>
    {% endif %}
</div>

<div class="v-spacing-top-6">
    <h3>Tickets with tardy users ({{tardy_user_tickets_count}})</h3>   
    <p>Sound moderation tickets in this list belong to users that are not responding to moderators' requests.</p>
    <div class="row v-spacing-top-4">
    {% for ticket in tardy_user_tickets %}
        <div class="col-6 col-md-4 col-lg-3">
            {% display_ticket_with_message ticket %}
        </div>
    {% endfor %}
    </div>
    {% if tardy_user_tickets_count > tardy_user_tickets|length %}
    <div class="v-spacing-top-4 center">
        <button class="btn-primary" data-toggle="tardy-users-modal" data-modal-content-url="{% url "tickets-moderation-tardy-users" %}?ajax=1" data-modal-activation-param="tardy_users">See all tickets with tardy users</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% comment %}
In the old UI there used to be a section here with "returned" sounds, but I quite certain this was not being used as sounds returned to the
queue appeared at the top section of this page. I'm not adding this section to the new UI for now. If it is needed in the future, we can add it. 
{% endcomment %}

{% block extrabody %}
<script src="{% static 'bw-frontend/dist/moderation.js' %}"></script>
{% endblock %}
