@mixin border-bottom-on-hover {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    height: 2px;
    background: currentColor;
    opacity: 0;
    transition: opacity 0.2s ease;
    box-shadow: none;
  }

  @include active() {
    &:before {
      opacity: 1;
    }
  }
}

@mixin reset-border-bottom-on-hover {
  &:before {
    all: unset !important;
  }
}

@mixin underline-on-hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;

  @include active() {
    text-decoration-color: currentColor;
    transition: 0.2s ease;
  }
}

@mixin rounded-button($color, $hover-color, $font-color) {
  padding-top: 13px;
  padding-right: 28px;
  padding-bottom: 13px;
  padding-left: 28px;
  border-radius: $button-border-radius;
  background-color: $color;
  color: $font-color;
  font-weight: bold;
  line-height: 1.15;
  transition: background-color 0.2s ease;

  @include active() {
    &:focus-visible {
      outline-width: 0;
    }
  }

  @include active() {
    &:not(:disabled){
      background-color: $hover-color;
    }
  }

  &:disabled {
    cursor: default;
    opacity: $disabled-button-opacity;
  }

}

@mixin reset-rounded-button($color, $hover-color) {
  color: $color;
  background-color: transparent;
  padding: unset;
  border-radius: 0;

  @include border-bottom-on-hover;

  @include active() {
    &:not(:disabled){
      color: $hover-color;
    }

    &:focus {
      outline-width: 5px;
    }
  }
}
