{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="navbar-space-filler v-spacing-7 v-spacing-top-5">
            <div class="no-paddings col-12 v-spacing-3">
                <h1>Account settings</h1>
            </div>
            <div class="row bw-edit-profile">
                <div class="col-md-8 bw-edit-profile__info">
                    {% block main_content %}
                    {% endblock %}
                </div>
                <aside class="col-md-3 offset-lg-1 v-spacing-3">
                    <ul class="navbar-profile bw-sticky-top padding-0">
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'profile'%} active {% endif %}" href="{% url 'accounts-edit' %}">Edit profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'email'%} active {% endif %}" href="{% url "accounts-email-reset" %}">Change email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'password'%} active {% endif %}" href="{% url "password_change" %}">Change password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'notifications'%} active {% endif %}" href="{% url "accounts-email-settings" %}">Email notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'api'%} active {% endif %}" href="{% url "access-tokens" %}">Manage API permissions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if activePage == 'account'%} active {% endif %}" href="{% url "accounts-delete" %}">Delete account</a>
                        </li>
                        {% if user.profile.has_sounds_with_old_cc_licenses %}
                        <li class="nav-item text-grey padding-top-4">
                            <span class="text-black">Warning:</span> We detected that some of your uploaded sounds still have old Creative Commons 3.0 licenses. Please <a href="{% url "update-old-cc-licenses" %}?next={% url "accounts-edit" %}">click here</a> to upgrade your licenses to Creative Commons 4.0 equivalents.
                        </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}