{% extends "base.html" %}

{% load display_sound %}
{% load display_pack %}
{% load static %}
{% load filter_img %}
{% load bw_templatetags %}
{% load tags %}
{% load util %}
{% load cache %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row navbar-space-filler v-spacing-top-6 v-spacing-4 bw-profile__hero">
            <div>
                {% bw_user_avatar user.profile.locations.avatar.XL.url user.username 100 %}
            </div>
            <div class="bw-profile__username v-spacing-top-2">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="v-spacing-top-3">
                {% if home %}
                    <a class="no-hover btn-inverse btn-profile-adapt" href="{% url 'accounts-manage-sounds' 'published' %}">Manage sounds</a>
                    <a class="no-hover btn-inverse h-spacing-left-2 btn-profile-adapt" href="{% url 'accounts-edit' %}">Account settings</a>
                {% else %}
                    {% if not user.profile.is_deleted_user %}
                        {% if show_unfollow_button %}
                            <a class="no-hover btn-secondary" href="{% url 'unfollow-user' user.username %}?next={{ next_path }}">Unfollow</a>
                        {% else %}
                            <a class="no-hover btn-inverse btn-profile-adapt" href="{% url 'follow-user' user.username %}?next={{ next_path }}">Follow</a>
                        {% endif %}
                        <a class="no-hover btn-inverse h-spacing-left-2 btn-profile-adapt" href="{% url "messages-new" user.username %}">Message</a>
                    {% endif %}
                {% endif %}
                {% if perms.tickets.can_moderate or request.user.is_staff %}
                    <div class="dropdown display-inline-block">
                        <a class="no-hover dropdown-toggle" id="mod-actions-menu" aria-haspopup="true"
                           aria-expanded="false" data-toggle="dropdown"><button class="btn-inverse h-spacing-left-2 btn-profile-adapt">Mod actions</button></a>
                        <ul class="dropdown-menu" aria-labelledby="mod-actions-menu">
                            {% if not user.profile.is_whitelisted %}
                                <li class="bw-nav__action dropdown-item text-light-grey">
                                    This user is whitelisted
                                </li>
                            {% endif %}
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "user-downloaded-sounds" user.username %}">
                                    See downloaded downloads
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "user-downloaded-packs" user.username %}">
                                    See downloaded packs
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "forums-search" %}?f=post_author:%22{{ user.username }}%22">
                                    See all forum posts
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "comments-by-user" user.username %}">
                                    See all comments
                                </a>
                            </li>
                            <li class="bw-nav__action dropdown-item">
                                <a class="bw-link--black" href="{% url "tickets-user-pending_sounds" user.username %}">
                                    Sounds pending moderation ({{ num_sounds_pending_count }})
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                                <li class="bw-nav__action dropdown-item">
                                    <a class="bw-link--red" href="{% url "admin:auth_user_change" user.id %}">
                                        Edit in admin
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if not user.profile.is_deleted_user %}
                <div class="bw-profile__description v-spacing-top-3">
                    {% if user.profile.about and show_about %}
                        {{ user.profile.about|replace_img|safe|linebreaks|strip_unnecessary_br }}
                    {% endif %}
                    {% if user.profile.home_page and user.profile.get_total_downloads > 0 %}
                        <div class="v-spacing-top-3">
                            <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__stats v-spacing-top-1 padding-left-4 padding-right-4">
                    <div class="text-grey">Has been a user for {{user.date_joined|timesince}}</div>
                    <div><a id="user-followers-button" data-modal-activation-param="followers" data-modal-content-url="{% url 'user-followers' user.username %}?ajax=1&page={{ followers_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_followers_count user.id %}{% with followers.count as followers_count %}{{ followers_count|bw_intcomma }} follower{{ followers_count|pluralize }}{% endwith %}{% endcache %}</a></div>
                    <div><a id="user-following-users-button" data-modal-activation-param="following" data-modal-content-url="{% url 'user-following-users' user.username %}?ajax=1&page={{ following_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_following_count user.id %}{{ following.count }}{% endcache %} following</a></div>
                    <div><a id="user-following-tags-button" data-modal-activation-param="followingTags" data-modal-content-url="{% url 'user-following-tags' user.username %}?ajax=1&page={{ following_tags_modal_page }}" href="javascript:void(0);">{% cache 43200 bw_user_profile_following_tags_count user.id %}{% with following_tags.count as following_tags_count %}{{ following_tags.count|bw_intcomma }} tag{{ following_tags_count|pluralize }} following{% endwith %}{% endcache %}</a></div>
                </div>
            {% endif %}
        </div>
        <div class="divider-light"></div>
        <div class="row bw-profile__taps_nav">
            <ol>
                <li class="active" data-toggle="tap" data-target="#sounds">Latest sounds</li>
                <li data-toggle="tap" data-target="#packs">Latest packs</li>
                {% comment %}<li data-toggle="tap" data-target="#tapDownloaded">Downloads</li>{% endcomment %}
            </ol>
        </div>
        <div class="divider-light"></div>
        <div class="row">
            <div class="col-md-8 v-spacing-top-4">
                <div class="bw-profile__tap_container bw-profile__tap_container__active" id="sounds">
                    {% if latest_sounds %}
                        <div class="row">
                            {% for sound in latest_sounds %}
                                <div class="col-6 col-lg-4">
                                    {% display_sound_small sound %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="v-spacing-top-4 text-center">
                            <a class="no-hover btn-primary" href="{{ user.profile.get_user_sounds_in_search_url }}">See all sounds by {{ user.username }}</a>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5>No sounds... &#128543</h5>
                            <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has not uploaded any sounds yet</div>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__tap_container" id="packs">
                    {% if latest_packs %}
                        <div class="row">
                            {% for pack in latest_packs %}
                                <div class="col-6 col-lg-4">
                                    {% display_pack pack %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="v-spacing-top-4 text-center">
                            <a class="no-hover" href="{% url "sounds-search" %}?f=username:%22{{ user.username }}%22&s=Date+added+(newest+first)&g=1&only_p=1"><button class="btn-primary">See all packs by {{ user.username }}</button></a>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5>No packs... &#128543</h5>
                            <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has not uploaded any packs yet</div>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__tap_container" id="tapDownloaded">
                    downloaded
                </div>
            </div>
            <aside class="col-md-4 col-extra-left-padding-middle-md bw-profile__sections">
                <div class="divider-light v-spacing-top-6 v-spacing-5 d-md-none"></div>
                {% cache 3600 bw_user_profile_stats user.id %}
                <section class="bw-profile__section_stats v-spacing-top-4">
                    <ol>
                        <li class="v-spacing-3">
                            {% bw_icon 'wave' 'text-light-grey' %} <a class="text-19 bw-link--black" title="{{ user.username }} has uploaded {{ user.profile.num_sounds|bw_intcomma }} sound{{ user.profile.num_sounds|pluralize }}" href="{{ user.profile.get_user_sounds_in_search_url }}">{{ user.profile.num_sounds|formatnumber }} sound{{ user.profile.num_sounds|pluralize }}</a>
                        </li>
                        <li class="v-spacing-3">
                            {% with user.profile.num_packs as num_packs %}{% bw_icon 'stack' 'text-light-grey' %} <a class="text-19 bw-link--black" title="{{ user.username }} has created {{ num_packs|bw_intcomma }} pack{{ num_packs|pluralize }}" href="{% url "sounds-search" %}?f=username:%22{{ user.username }}%22&s=Date+added+(newest+first)&g=1&only_p=1">{{ num_packs|formatnumber }} pack{{ num_packs|pluralize }}</a>{% endwith %}
                        </li>
                        <li class="v-spacing-3">
                            {% with user.profile.get_total_uploaded_sounds_length as total_uploaded_sounds_length %}{% bw_icon 'clock' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds together account for {{ total_uploaded_sounds_length|duration_hours }} hours of audio">{{ total_uploaded_sounds_length|duration_hours }} hours of audio</span>{% endwith %}
                        </li>
                        <li class="v-spacing-3">
                            {% with user.profile.avg_rating_0_5 as avg_rating_0_5 %}{% bw_icon 'star' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds have an average rating of {{ avg_rating_0_5|floatformat:1 }}">{{ avg_rating_0_5|floatformat:1 }} average rating</span>{% endwith %}
                        </li>
                        <li class="v-spacing-3">
                            {% with user.profile.num_downloads_on_sounds_and_packs as num_downloads %}{% bw_icon 'download' 'text-light-grey' %} <span class="text-19" title="{{ user.username }}'s sounds and packs have been downloaded {{ num_downloads }} times">{{ num_downloads|formatnumber }} download{{ num_downloads|pluralize }}</span>{% endwith %}
                        </a>
                        <li class="v-spacing-3">
                            {% bw_icon 'comments' 'text-light-grey' %} <span class="text-19" title="{{ user.username }} has written {{ user.profile.num_posts }} forum posts">{{ user.profile.num_posts|formatnumber }} forum post{{ user.profile.num_posts|pluralize }}</span>
                        </li>
                    </ol>
                </section>
                {% endcache %}
                {% if last_geotags_serialized %}
                <div class="divider-light"></div>
                <section id="latest_geotags" class="v-spacing-top-4 v-spacing-4" data-map-loaded="false">
                    <h5 class="padding-bottom-3">Latest geotags</h5>
                    <div id="static_map_wrapper"  class="map sidebar-map w-100 middle center cursor-pointer" data-pins="{{ last_geotags_serialized }}"></div>
                    <div id="map_canvas" class="map sidebar-map display-none w-100" data-geotags-url="{% url "geotags-for-user-latest-barray" user.username %}"></div>
                    <div class="v-spacing-top-2 center">
                        <a class="no-hover" href="{% url "geotags-for-user" user.username %}">See all geotags by {{ user.username }}</a>
                    </div>
                </section>
                {% endif %}
                {% if tags %}
                <div class="divider-light"></div>
                <section class="v-spacing-top-4 v-spacing-4">
                    <h5 class="padding-bottom-3">Most used tags</h5>
                    {% for tag in tags|add_sizes:"count:0.1:1.0" %}
                        {% bw_tag tag.name 1 '' tag.browse_url tag.size %}
                    {% endfor %}
                </section>
                {% endif %}
            </aside>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    {% bw_maps_js_scripts %}
    <script src="{% static 'bw-frontend/dist/profile.js' %}"></script>
{% endblock %}