{% extends "base.html" %}

{% load display_sound %}
{% load display_pack %}
{% load staticfiles %}
{% load filter_img %}
{% load bw_templatetags %}
{% load tags %}
{% load util %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row navbar-space-filler v-spacing-top-6 v-spacing-6 bw-profile__hero">
            <div>
                <img src="{{user.profile.locations.avatar.XL.url}}" onerror="this.src='{{user.profile.locations.avatar.L.url}}'"/>
            </div>
            <div class="bw-profile__username v-spacing-top-2">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="v-spacing-top-3">
                {% if home %}
                    <button class="btn-inverse btn-profile-adapt">Manage uploads</button>
                    <a class="no-hover" href="{% url 'accounts-edit' %}"><button class="btn-inverse h-spacing-left-2 btn-profile-adapt">Edit profile</button></a>
                {% else %}
                    {% if not user.profile.is_deleted_user %}
                        {% if show_unfollow_button %}
                            <a class="no-hover" href="{% url 'unfollow-user' user.username %}?next={{ next_path }}"><button class="btn-secondary">Unfollow</button></a>
                        {% else %}
                            <a class="no-hover" href="{% url 'follow-user' user.username %}?next={{ next_path }}"><button class="btn-inverse btn-profile-adapt">Follow</button></a>
                        {% endif %}
                        <a class="no-hover" href="{% url "messages-new" user.username %}"><button class="btn-inverse h-spacing-left-2 btn-profile-adapt">Message</button></a>
                    {% endif %}
                {% endif %}
            </div>
            {% if not user.profile.is_deleted_user %}
                <div class="bw-profile__description v-spacing-top-3">
                    {% if user.profile.about and show_about %}
                        {{ user.profile.about|replace_img|safe|linebreaksbr }}
                    {% endif %}
                    {% if user.profile.home_page and user.profile.get_total_downloads > 0 %}
                        <div class="v-spacing-top-3">
                            <a href="{{user.profile.home_page}}" rel="nofollow">{{user.profile.home_page}}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__stats v-spacing-top-3">
                    <div class="text-grey">Has been a user for {{user.date_joined|timesince}}</div>
                    <div><a href="">{{ followers_count }} followers</a></div>
                    <div><a href="">{{ following_count }} following</a></div>
                    <div><a href="">{{ following_tags_count }} tags following</a></div>
                </div>
            {% endif %}
        </div>
        <div class="divider-light"></div>
        <div class="row bw-profile__taps_nav">
            <ol>
                <li class="active" data-toggle="tap" data-target="#tapSounds">Latest sounds</li>
                <li data-toggle="tap" data-target="#tapPacks">Latest packs</li>
                <li data-toggle="tap" data-target="#tapDownloaded">Downloads</li>
            </ol>
        </div>
        <div class="divider-light"></div>
        <div class="row no-gutters">
            <div class="col-8 v-spacing-top-4">
                <div class="bw-profile__tap_container bw-profile__tap_container__active" id="tapSounds">
                    {% for sounds_chunk in latest_sounds|chunks:3 %}
                        <div class="row no-margins">
                            {% for sound in sounds_chunk %}
                                <div class="col-4">
                                    {% display_sound_small sound %}
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <div class="text-center">
                            <h5>No sounds... &#128543</h5>
                            <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has not uploaded any sounds yet</div>
                        </div>
                    {% endfor %}
                    {% if latest_sounds %}
                        <div class="v-spacing-top-4 text-center">
                            <a class="no-hover" href="{% url "sounds-search" %}?f=username:%22{{ user.username }}%22&s=created+desc&g=1"><button class="btn btn-primary">See all sounds by {{ user.username }}</button></a>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__tap_container" id="tapPacks">
                    {% for packs_chunk in latest_packs|chunks:3 %}
                        <div class="row no-margins">
                            {% for pack in packs_chunk %}
                                <div class="col-4">
                                    {% display_pack pack %}
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <div class="text-center">
                            <h5>No packs... &#128543</h5>
                            <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has not uploaded any packs yet</div>
                        </div>
                    {% endfor %}
                    {% if latest_packs %}
                        <div class="v-spacing-top-4 text-center">
                            <a class="no-hover" href="{% url "sounds-search" %}?f=username:%22{{ user.username }}%22&s=created+desc&g=1&only_p=1"><button class="btn btn-primary">See all packs by {{ user.username }}</button></a>
                        </div>
                    {% endif %}
                </div>
                <div class="bw-profile__tap_container" id="tapDownloaded">
                    downloaded
                </div>
            </div>
            <aside class="col-3 offset-1 bw-profile__sections">
                <section class="bw-profile__section_stats v-spacing-top-7">
                    <ol>
                        <li>
                            {% bw_icon 'wave' 'text-light-grey' %} <span class="text-black">{{ user.profile.num_sounds }}</span> <span>sounds</span>
                        </li>
                        <li>
                            {% bw_icon 'list-bullets' 'text-light-grey' %} <span class="text-black">{{ user.profile.num_packs }}</span> <span>packs</span>
                        </li>
                        <li>
                            {% bw_icon 'star' 'text-light-grey' %} <span class="text-black">{{ user.profile.get_average_rating|floatformat:1 }}</span> <span>average rating</span>
                        </li>
                        <li>
                            {% bw_icon 'download' 'text-light-grey' %} <span class="text-black">{{ user.profile.num_sound_downloads|add:user.profile.num_pack_downloads }}</span> <span>downloads</span>
                        </li>
                        <li>
                            {% bw_icon 'comments' 'text-light-grey' %} <span class="text-black">{{ user.profile.num_posts }}</span> <span>forum posts</span>
                        </li>
                    </ol>
                </section>

                {% if tags %}
                    <div class="divider-light"></div>
                    <section class="v-spacing-top-5 padding-bottom-5">
                        <h5 class="padding-bottom-3">Most used tags</h5>
                        {% for tag in tags|add_sizes:"count:0.1:1.0" %}
                            {% bw_tag tag.name 1 '' tag.get_browse_tag_url tag.size %}
                        {% endfor %}
                    </section>
                {% endif %}

                <div class="divider-light"></div>
                <section id="latest_geotags" class="v-spacing-top-5 display-none">
                    <h5 class="padding-bottom-3">Latest geotags</h5>
                    <div id="map_canvas" class="sidebar-map" data-geotags-url="{% url "geotags-for-user-latest-barray" user.username %}"></div>
                    <div class="v-spacing-top-1 center">
                        <a class="no-hover" href="{% url "geotags-for-user" user.username %}">See all geotags by {{ user.username }}</a>
                    </div>
                </section>
            </aside>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    {% bw_maps_js_scripts %}
    <script src="{% static 'bw-frontend/dist/profile.e8e37934.js' %}"></script>
{% endblock %}