{% extends "simple_page.html" %}
{% load bw_templatetags %}
{% load absurl %}
{% load util %}

{% block title %}Attribution{% endblock %}
{% block page-title %}Attribution{% endblock %}

{% block page-content %}
<p>
	This is the list of files you have downloaded. When you use freesound samples (under the "attribution" or "attribution non-commercial license"), you have to <a href="{% url "wiki-page" "faq" %}#how-do-i-creditattribute">credit the original creator of the sound</a> in your work. This list makes it a little bit easier to do so. "S" means sound, "P" means pack.<br/>
</p><p>
    There are 3 flavors of this list: <a href="?format=regular">regular</a>, <a href="?format=html">html</a> or <a href="?format=plaintext">plain text</a>.
    You can also <b>download</b> the complete list as <a href="{% url "accounts-download-attribution" %}?dl=csv">csv</a> or <a href="{% url "accounts-download-attribution" %}?dl=txt">plain text</a>.
</p>

<div class="v-spacing-top-4 v-spacing-6">

{% regroup page.object_list by created|date:"F jS, Y" as downloads %}

{% ifequal format "regular" %}
	{% for group in downloads %}
		<h4 class="v-spacing-top-4">Downloaded on {{group.grouper}}</h4>
		<ul>
        {% for download_item in group.list %}
            {% if download_item.download_type == 'sound' %}
                <li>S: <a href="{% absurl 'sound' download_item.sound__user__username download_item.sound_id %}">{{download_item.sound__original_filename }}</a> by <a href="{% absurl 'account' download_item.sound__user__username  %}">{{download_item.sound__user__username }}</a> | <span class="text-grey">License: </span>{% if download_item.license__name %}{{ download_item.license__name|license_with_version:download_item.license__deed_url}}{% else %}{{ download_item.sound__license__name|license_with_version:download_item.sound__license__deed_url }}{% endif %}</li>
            {% else %}
                {% comment %}NOTE: in the line below, even though we're displaying information about a pack download, we use download_item.X where X takes the same names as in the line above when we were displaying
                information about sound download. This is beacuse after doing the uninon of the two QuerySets (see accounts.views.attribution) the names of the columns are "unified" and taken from the main QuerySet{% endcomment %}
                <li>P: <a href="{% absurl 'pack' download_item.sound__user__username download_item.sound_id %}">{{download_item.sound__original_filename}}</a> by <a href="{% absurl 'account' download_item.sound__user__username  %}">{{download_item.sound__user__username}}</a></li>
            {% endif %}
        {% endfor %}
		</ul>
	{% endfor %}
{% endifequal %}

{% ifequal format "html" %}
<p>
	{% for group in downloads %}
		{% filter force_escape %}<h4>Downloaded on {{group.grouper}}</h4>{% endfilter %}<br />
		{% filter force_escape %}<ul>{% endfilter %}<br />
			{% for download_item in group.list %}
				&nbsp;&nbsp;&nbsp;&nbsp;{% filter force_escape %}
				{% if download_item.download_type == 'sound' %}
                    <li>S: <a href="{% absurl 'sound' download_item.sound__user__username download_item.sound_id %}">{{download_item.sound__original_filename }}</a> by <a href="{% absurl 'account' download_item.sound__user__username  %}">{{download_item.sound__user__username }}</a> | License: {% if download_item.license__name %}{{ download_item.license__name|license_with_version:download_item.license__deed_url}}{% else %}{{ download_item.sound__license__name|license_with_version:download_item.sound__license__deed_url }}{% endif %}</li>
				{% else %}
                    {% comment %}NOTE: in the line below, even though we're displaying information about a pack download, we use download_item.X where X takes the same names as in the line above when we were displaying
                    information about sound download. This is beacuse after doing the uninon of the two QuerySets (see accounts.views.attribution) the names of the columns are "unified" and taken from the main QuerySet{% endcomment %}
                    <li>P: <a href="{% absurl 'pack' download_item.sound__user__username download_item.sound_id %}">{{download_item.sound__name}}</a> by <a href="{% absurl 'account' download_item.sound__user__username  %}">{{download_item.sound__user__username}}</a></li>
				{% endif %}
				{% endfilter %}<br />
			{% endfor %}
		{% filter force_escape %}</ul>{% endfilter %}<br />
	{% endfor %}
</p>
{% endifequal %}

{% ifequal format "plaintext" %}
<p>
	{% for group in downloads %}
    Downloaded on {{group.grouper}}<br />
    {% for download_item in group.list %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if download_item.download_type == 'sound' %}
            S: {{download_item.sound__original_filename}} by {{download_item.sound__user__username}} -- {% absurl 'short-sound-link' download_item.sound_id %} -- License: {% if download_item.license__name %}{{ download_item.license__name|license_with_version:download_item.license__deed_url}}{% else %}{{ download_item.sound__license__name|license_with_version:download_item.sound__license__deed_url }}{% endif %}<br />
        {% else %}
            {% comment %}NOTE: in the line below, even though we're displaying information about a pack download, we use download_item.X where X takes the same names as in the line above when we were displaying
            information about sound download. This is beacuse after doing the uninon of the two QuerySets (see accounts.views.attribution) the names of the columns are "unified" and taken from the main QuerySet{% endcomment %}
            P: {{download_item.sound__name}} by {{download_item.sound__user__username}} -- {% absurl 'pack' download_item.sound__user__username download_item.sound_id %}<br/>
        {% endif %}
    {% endfor %}
	{% endfor %}
</p>
{% endifequal %}

</div>

{% bw_paginator paginator page current_page request "download" %}

{% endblock %}