{% extends "simple_page.html" %}

{% block title %}Describe sounds - pick a pack{% endblock %}
{% block page-title %}Describe sounds{% endblock %}

{% block page-content %}
<h2 class="text-grey">Pick a pack</h2>
<div class="v-spacing-5 v-spacing-top-2">If you would like to add all {{ num_files }} selected files to a pack you can do so now.
    Pick an existing pack or create a new one by specifying its name. If you don't want to add the sounds to any pack, you can leave this form empty. 
    You can change individual sound's pack later on.</div>
<div class="col-lg-8 offset-lg-2">
<form action="." method="post" class="bw-form">{% csrf_token %}
    <div>
        <div class="pack-select v-spacing-1">
            {{ form.pack.errors }}
            {{ form.pack.label_tag }}
            {{ form.pack }}
        </div>
        <div class="new-pack-name display-none">
            {{ form.new_pack.errors }}
            {{ form.new_pack.label_tag }}
            {{ form.new_pack }}
        </div>
    </div>
    <button type="submit" class="btn-primary v-spacing-top-6 w-100 center">Save and continue with description</button>
</form>
</div>
{% endblock %}