{% extends "accounts/account_settings_base.html" %}

{% load staticfiles %}
{% load filter_img %}
{% load bw_templatetags %}
{% load util %}

{% block title %}Email notifications{% endblock %}

{% block main_content %}

    <h1>Email notifications</h1>

    <div class="v-spacing-top-7 w-100 v-spacing-5">
        <p class="text-grey v-spacing-4">Send me an email when:</p>
        <form method="post" action="." class="bw-edit-profile__form w-100">{% csrf_token %}
            <div class="bw-multiple-checkbox">
                {{ form }}
            </div>
            <button class="btn-primary w-100 v-spacing-top-5">Update Email notifications</button>
        </form>
    </div>

{% endblock %}
