{% load static %}
{% if no_show %}
    <!-- do noting -->
{% else %}
    {% if user_sounds < 1 %}
        <div>
            <span class="text-light-grey" id="{{content_obj_id}}{{flag_type}}_link">
            {% if flagged %}
                Marked as spam/offensive
            {% else %}
                <a class="text-grey post-flag" data-content-obj-id="{{content_obj_id}}" data-flag-type="{{ flag_type }}" data-post-flag-url="{% url "flag-user" username %}" href="javascript:void(0)">{{ link_text }}</a>
            {% endif %}
            </span>
            <span class="text-light-grey" id="{{content_obj_id}}{{flag_type}}_wheel"></span>
        </div>
    {% endif %}
{% endif %}
