{% extends "simple_page.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block page-title %}Log in to Freesound{% endblock %}

{% block page-content %}
    <div class="login-page-form">
        <div class="row no-gutters">
            <div class="v-spacing-5 v-spacing-top-5 col-lg-4 ">
                <form method="post" action=".">{% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="submit" class="btn-primary">Log in</button>
                </form>
            </div>
        </div>
        <div>
            <a class="bw-link--grey cursor-pointer" data-link="forgottenPasswordModal">Problems logging in?</a>
        </div>
        <div class="v-spacing-top-2">
            <a class="bw-link--grey cursor-pointer" data-link="registerModal">Don't have an account? Join now</a>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/loginAndRegistration.6554cfde.js' %}"></script>
{% endblock %}
