{% extends "simple_page.html" %}
{% load static %}
{% load sounds_selector %}
{% load bw_templatetags %}
{% load display_pack %}
{% load filefunctions %}

{% block title %}Manage sounds{% endblock %}
{% block page-title %}Manage sounds{% endblock %}

{% block page-content %}

<div class="divider-light v-spacing-top-4 v-spacing-4"></div>
    <ul class="navbar-messages center">
        <li class="nav-item">
            <a class="nav-link {% if tab == "published" %}active{% endif %}" href="{% url 'accounts-manage-sounds' 'published' %}">Published{% if sounds_published_count %} ({{ sounds_published_count }}){% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == "pending_moderation" %}active{% endif %}" href="{% url 'accounts-manage-sounds' 'pending_moderation' %}">Moderation{% if sounds_moderation_count %} ({{ sounds_moderation_count }}){% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == "processing" %}active{% endif %}" href="{% url 'accounts-manage-sounds' 'processing' %}">Processing{% if sounds_processing_count %} ({{ sounds_processing_count }}){% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == "pending_description" %}active{% endif %}" href="{% url 'accounts-manage-sounds' 'pending_description' %}">Pending description{% if sounds_pending_description_count %} ({{ sounds_pending_description_count }}){% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == "packs" %}active{% endif %}" href="{% url 'accounts-manage-sounds' 'packs' %}">Packs{% if packs_count %} ({{ packs_count }}){% endif %}</a>
        </li>
    </ul>
<div class="divider-light v-spacing-top-4 v-spacing-4"></div>

<div class="row no-gutters">
    <div class="{% if tab != "packs" %}col-lg-8{% else %}col-12{% endif %} v-spacing-4">
        {% if tab != 'pending_description' %}
            <div class="v-spacing-4">
                <form method="get" action=".">
                <div class="row middle">
                    <div class="col-md-5">
                        <div class="input-wrapper w-100" style="padding:11px;">
                            <i class="bw-icon-search input-icon"></i><input name="q" type="search" placeholder="Filter {% if tab == "packs" %}packs{% else %}sounds{% endif %}" autocomplete="off" {% if filter_query %}value="{{ filter_query }}"{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-2 font-weight-bold text-center d-none d-md-inline">
                        {{ paginator.count }} {% if tab == "packs" %}pack{% else %}sound{% endif %}{{ paginator.count|pluralize }}
                    </div>
                    <div class="col-md-5 text-right v-spacing-top-2 v-spacing-2">
                        <span class="text-light-grey"><b>Sort by:</b></span>
                        <select id="sort-by" name="s">
                            {% for option in sort_options %}
                                <option value="{{ option.0 }}" {% if option.0 == sort_by %}selected{% endif %}>{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                </form>
            </div>
            {% if tab == "packs" %}
                {%  if packs %}
                    <div class="row no-margins">
                    {% for pack in packs %}
                        <div class="col-4 col-sm-3">
                            {% display_pack pack %}
                            {% with pack.num_sounds_unpublished as num_sounds_unpublished %}
                            {% if num_sounds_unpublished %}
                                <div class="v-spacing-3 v-spacing-top-negative-2 text-red">
                                    {% bw_icon "notification" %}Has {{ num_sounds_unpublished}} unpublished sounds
                                </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                    </div>
                    {% bw_paginator paginator page current_page request "pack" %}
                {% else %}
                    <div class="v-spacing-7 v-spacing-top-6 text-center">
                        <h5>No packs...</h5>
                        {% if filter_query %}
                        <div class="text-grey v-spacing-2 v-spacing-top-1">Maybe try with a different filter?</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% if sounds_to_select %}
                    {% sounds_selector sounds_to_select %}
                    {% bw_paginator paginator page current_page request "sound" %}
                {% else %}
                    <div class="v-spacing-7 v-spacing-top-6 text-center">
                        <h5>No sounds...</h5>
                        {% if filter_query %}
                        <div class="text-grey v-spacing-2 v-spacing-top-1">Maybe try with a different filter?</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if describe_enabled %}
                {% if not n_files %}
                    <div class="v-spacing-7 w-100">
                        <h5>No files to describe... &#128543</h5>
                        <p class="text-grey v-spacing-2">It looks like you have not uploaded any audio files yet or all your files have already been described.
                        <br>Please <a href="{% url 'accounts-upload' %}">upload some more files</a> before coming back here :).</p>
                    </div>
                {% else %}
                    <div class="v-spacing-5">
                        <h5 class="v-spacing-3">Select the files you want to describe:</h5>
                        <div class="v-spacing-2">
                            <button id="select-all" class="btn-inverse">Select all</button>
                            <button id="select-none" class="btn-inverse">Select none</button>
                        </div>
                        <div id="describe-file-checkboxes">
                            {% show_file file_structure True %}
                        </div>
                    </div>
                {% endif %}
                {% if unclosed_bulkdescribe %}
                    <h5 class="v-spacing-2">Bulk description processes</h5>
                    <p>Here is a list of your ongoing bulk description processes. Please click on the names of the data files to see more details and to modify them.</p>
                    {% for bulk_describe in unclosed_bulkdescribe %}
                        {% with bulk_describe.get_description_progress_info as progress_info %}
                        <li>
                        <a href="{% url "accounts-bulk-describe" bulk_describe.id %}">{{ bulk_describe.original_csv_filename }}</a>. <span class="text-grey">Created on {{bulk_describe.created}}</span>
                            {% if bulk_describe.progress_type == 'F' and progress_info.n_sounds_processing %}
                                <span class="text-orange">{% bw_icon "cogs" %} {{ bulk_describe.get_progress_type_display }} ({{ progress_info.n_sounds_processing }} sounds still processing)</span>
                            {% elif bulk_describe.progress_type == 'F' and not progress_info.n_sounds_processing %}
                                <span class="text-green">{% bw_icon "check" %} Finished</span> (pending closing)
                            {% elif bulk_describe.progress_type == 'V' and bulk_describe.has_line_validation_errors %}
                                <span class="text-red">{% bw_icon "notification" %} Errors in validation</span>
                            {% elif bulk_describe.progress_type == 'V' and bulk_describe.has_global_validation_errors %}
                                <span class="text-red">{% bw_icon "notification" %} Errors in validation</span>
                            {% else %}
                                <span class="text-blue">{% bw_icon "clock" %}{{ bulk_describe.get_progress_type_display }}</span>
                            {% endif %}
                        </li>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="v-spacing-7 v-spacing-top-6 w-100">
                    <h5>Describing sounds is disabled... &#128543</h5>
                    <p class="text-grey v-spacing-2">We're deeply sorry but describing sounds is <b>temporarily disabled</b>. We'll enable it again as soon as possible.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if tab != "packs" %}
    <div class="col-lg-3 offset-lg-1 d-lg-block">
        <div class="bw-sticky-top">
            {% if tab == 'published' or tab == 'pending_moderation' %}
                <form action="." method="post">{% csrf_token %}
                    <input type="hidden" name="sound-ids" value="">
                    <button id="edit-button" class="no-hover btn-secondary display-inline-block w-100 text-center v-spacing-3" disabled  name="edit">Edit description</button>
                </form>
            {% elif tab == 'pending_description' %}
                <form action="." method="post" id="fileform">{% csrf_token %}
                    <div class="display-none">{{form.as_p}}</div>
                    <button id="describe-button" class="no-hover btn-secondary display-inline-block w-100 text-center v-spacing-3" name="describe" disabled>Describe sound files</button>
                    <button id="remove-button" class="no-hover btn-primary display-inline-block w-100 text-center v-spacing-3" name="delete_confirm" disabled>Remove sound files</button>
                    {% if request.user.profile.can_do_bulk_upload %}
                    <button id="bulk-describe-button" class="no-hover btn-blue display-inline-block w-100 text-center v-spacing-3" {% if not n_files %}disabled{% endif %} {% if csv_form.errors %}data-form-has-errors="true"{% endif %}>Bulk description with data file</button>
                    {% endif %}
                    <button id="remove-button-hidden" class="display-none" name="delete_confirm"></button>
                    <a href="{% url 'accounts-upload' %}" class="no-hover btn-inverse display-inline-block w-100 text-center v-spacing-3">{% bw_icon 'plus' %}Upload new sound files</a>
                </form>
            {% elif tab == 'processing' %}
                <form action="." method="post">{% csrf_token %}
                    <input type="hidden" name="sound-ids" value="">
                    <button id="reprocess-button" class="no-hover btn-secondary display-inline-block w-100 text-center v-spacing-3" disabled name="process">Re-process sounds</button>
                    <button id="remove-button" class="no-hover btn-primary display-inline-block w-100 text-center v-spacing-3" name="delete" disabled>Remove sounds</button>
                    <button id="remove-button-hidden" class="display-none" name="delete_confirm"></button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% if request.user.profile.can_do_bulk_upload %}
    {% include "accounts/modal_bulk_describe.html" %}
{% endif %}
{% endblock %}

{% block extrabody %}
    <script src="{% static 'bw-frontend/dist/manageSounds.js' %}"></script>
{% endblock %}