{% extends "molecules/modal_base.html" %}

{% block id %}newPasswordModal{% endblock %}
{% block aria-labelledby %}newPasswordModalLabel{% endblock %}

{% block body %}
    <div class="text-center">
        <h5>Please, enter a new password</h5>
        <form>
            <input type="password" name="password" placeholder="New password" />
            <input type="password" name="confirm" placeholder="Confirm your new password" />
        </form>
    </div>
{% endblock %}

{% block footer %}
    <button class="v-spacing-top-3" type="button" class="btn btn-primary">Create new password</button>
{% endblock %}
