{% extends "molecules/modal_base.html" %}

{% load bw_templatetags %}
{% load display_user %}
{% load util %}
{% load bw_templatetags %}

{% block id %}followModal{% endblock %}
{% block extra-class %}modal-width-70{% endblock %}
{% block aria-label %}Followers modal{% endblock %}

{% block body %}
<div class="col-12 col-lg-10 offset-lg-1">
    {% if follow_page == 'followers' %}
        <div class="text-center">
            <h4 class="v-spacing-5">{{ user.username }}'s followers ({{paginator.count}})</h4>
        </div>
        {% for follow_user_item in page.object_list %}
            {% display_user_follow_lists follow_user_item.user_from %}
            <div class="padding-left-3">
                <div class="col-md-11 offset-1 v-spacing-top-3 v-spacing-3 divider-light"></div>
            </div>
        {% empty %}
            <div class="text-center">
                <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} has no followers yet... &#128543</div>
            </div>
        {% endfor %}
        <div class="v-spacing-top-5">
            {% bw_paginator paginator page current_page request "" -1 %}
        </div>

    {% elif follow_page == 'following' %}
        <div class="v-spacing-5 text-center">
            <h4>Users followed by {{ user.username }} ({{paginator.count}})</h4>
        </div>
        {% for follow_user_item in page.object_list %}
            {% display_user_follow_lists follow_user_item.user_to %}
            <div class="padding-left-3">
                <div class="col-md-11 offset-1 v-spacing-top-3 v-spacing-3 divider-light"></div>
            </div>
        {% empty %}
            <div class="text-center">
                <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} is not following any users yet... &#128543</div>
            </div>
        {% endfor %}
        <div class="v-spacing-top-5">
            {% bw_paginator paginator page current_page request "" -1 %}
        </div>

    {% elif follow_page == 'tags' %}
        <div class="v-spacing-5 text-center">
            <h4>Tags followed by {{ user.username }} ({{paginator.count}})</h4>
        </div>
        {% for follow_tag_item in page.object_list %}
            <div class="row bw-follows middle">
                <div class="col-8">
                    {% if follow_tag_item.get_split_tags|length > 1 %}
                        <a href="{% url 'tags' follow_tag_item.get_slash_tags %}"  class="no-hover btn-inverse text-black font-weight-normal border-grey-light text-center no-border-radius padding-1 no-text-wrap h-spacing-1 line-height-fs-3 no-letter-spacing opacity-050 tag-container v-spacing-top-1">
                            {% for tag in follow_tag_item.get_split_tags %}
                                {{ tag }}{% if not forloop.last %}<span class="h-spacing-left-1 h-spacing-1">·</span>{%endif%}
                            {% endfor %}
                        </a> 
                    {% else %}
                        {% bw_tag follow_tag_item.get_split_tags.0 %}
                    {% endif %}
                </div>
                <div class="col-4 text-right">
                    {% if request.user|user_following_tags:follow_tag_item.get_slash_tags %}
                        <a class="no-hover btn-primary" href="{% url 'unfollow-tags' follow_tag_item.get_slash_tags %}?next={{ next_path }}">Unfollow</a>
                    {% else %}
                        <a class="no-hover btn-inverse btn-profile-adapt" href="{% url 'follow-tags' follow_tag_item.get_slash_tags %}?next={{ next_path }}">Follow</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 v-spacing-top-3 v-spacing-3 divider-light"></div>
        {% empty %}
            <div class="text-center">
                <div class="text-grey v-spacing-top-1">Looks like {{ user.username }} is not following any tags yet... &#128543</div>
            </div>
        {% endfor %}
        <div class="v-spacing-top-5">
            {% bw_paginator paginator page current_page request "" -1 %}
        </div>
    {% endif %}
</div>
{% endblock %}
