{% extends "molecules/modal_base.html" %}

{% block id %}feedbackRegistration{% endblock %}
{% block aria-labelledby %}feedbackRegistrationLabel{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h5 class="v-spacing-5">Almost there!</h5>
        <p class="main-text">We've sent a verification link by email</p>
        <p class="secondary-text">Didn't receive the email? Check your Spam folder, it may have been caught by a filter. If you still don't see it, you can <a>resend the verification email</a>.</p>
    </div>
</div>
{% endblock %}
