{% extends "molecules/modal_base.html" %}

{% block id %}registerModal{% endblock %}
{% block aria-label %}Registration modal{% endblock %}

{% block body %}
<div class="col-12">
    <div class="text-center">
        <h4 class="v-spacing-5">Join Freesound</h4>
        <form id="registerModalForm" class="disable-on-submit" method="post" action="{% url 'accounts-register' %}?in_modal=1" data-check-username-url="{% url 'check_username' %}" novalidate>{% csrf_token %}
            {{ registration_form }}
            <button type="submit" class="btn-primary v-spacing-top-3">Join</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra %}
    <a data-link="loginModal">Already have an account? Sign in here</a>
{% endblock %}
