.bw-search__filter-value-list {
  list-style: none;
  padding-left: 0;
}

.bw-search__filter-tags-list {
  margin: 23px 0;
}

.bw-search__filter-value {
  display: flex;
  justify-content: space-between;
  &,
  & label {
    cursor: pointer;
  }

  &:hover .bw-icon-checkbox {
    opacity: 0.3;
  }
}

.bw-search__filter-checkbox {
  flex: 0 0 25px;
}

.bw-search__filter-name {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.bw-search__filter-count {
  color: $navy-grey;
}

.bw-cluster-name {
  margin-right: 50px;
}

.bw-search__filter-clustering-icon-box {
  padding-top: 2px;
  position: absolute;
  right: 55px;
}

.bw-search__filter-section {
  margin-left: $small-spacing;
  margin-right: $small-spacing;

  padding-top: $small-spacing;
  padding-bottom: $small-spacing;

  .bw-search__filter-section-name > span {
    font-size: 18px;
  }
}

.bw-search__advanced-search-filter-section {

  padding-top: $small-spacing;

  .bw-search__filter-section-name > span {
    font-size: 18px;
  }
}

.bw-search__player-small {
  flex: 0 0 120px;
}

.bw-search__result {
  padding-top: $smedium-spacing;
  padding-bottom: $smedium-spacing;
}

.bw-search__active-filters-button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;

  .bw-icon-close {
    font-size: 10px;
  }
}

.bw-search__input {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  width: 90%;
  text-align: center;

  &::placeholder {
    color: $navy-light-grey;
  }
}

.bw-search_remove-query {
  cursor: pointer;
  opacity: 0;
  width: 0;
}

.bw-search__filter-duration {
  color: $navy-grey;
  font-size: 14px;

  > span {
    margin-left: 12px;
  }

  .bw-search_input-duration {
    padding: 16px 13px;
    border: 1px solid $navy-light-grey;
    border-radius: 5px;
    font-size: 14px;
    max-width: 85px;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.browse__search-overview-sorter {
  display: flex;
  align-items: center;

  > span {
    width: max-content;
  }
}

.bw_search-tab {
  font-size: 18px;
}

.tag-container {
  &:hover {
    opacity: 1;
  }
}

.bw_search_navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.08);
}

.bw_sound-info-extended {
  display: flex;
  flex-wrap: wrap;
}


// graph clustering
#h1 {
  padding: 3px;
  font-size: 20px;
  margin: 5px 0;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.graph-node-card {
  overflow-wrap: break-word;
  width: 220px;
  text-align: center;
  border-style: solid;
  border-color: rgba(37, 37, 37, 0.3);
  background-color: rgba(82, 82, 82, 0.4);
  font-family: Verdana, sans-serif;
}

.graph-node-card-header {
  background-color: rgba(156, 156, 156, 0.4);
  border-radius: 2px;
  padding: 3px;
  font-size: 16;
  max-height: 40px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.graph-node-card-content {
  background-color: rgba(116, 116, 116, 0.4);
  border-radius: 2px;
  padding: 3px;
  max-height: 75px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 14;
}

.graph-node-card-image {
  border-radius: 2px;
  padding: 10px;
  height: 70px;
}

.graph-node-card-image img {
  position: relative;
  z-index: 100;
}

.graph-node-card .clustering-loader {
  position: absolute;
  margin-top: 26px;
}

#cluster-labels {
  float: right;
  margin-right: 20px;
  z-index: 10;
  position: relative;
  pointer-events: none;
}

#cluster-labels span {
  pointer-events: auto;  
}

#cluster-labels li {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14px;
}

.label-over {
  background-color: rgba(218, 91, 32, 0.1);
}

#h2 {
  padding: 3px;
  font-size: 18px;
  margin: 2px 0;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  z-index: 10;
  float: left;
}

.close-bookmark {
  font-weight: bold;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  color: #AB4646;
  cursor: pointer; 
}

#clustering-graph {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

#clustering-graph .modal-header {
  margin-bottom: 0px;
}

#chart-container {
  background-color: rgba(128, 128, 128, 0.1);
  width: 100%;
  height: 600px;
  position: relative;
}

#graph {
  position: absolute;
  top: 0;
  left: 0;
}

.clustering-facet{
  margin: 5px;
}

.clustering-loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#graph-loader {
  border: 8px solid #ffffff; /* white */
  border-top: 8px solid #3498db; /* Blue */
  width: 24px;
  height: 24px;
  position: relative;
  left: 48%;
  top: 40%;
}