.bw-search__filter-value-list {
  list-style: none;
  padding-left: 0;
}

.bw-search__filter-tags-list {
  margin: 23px 0;
}

.bw-search__filter-value {
  display: flex;
  justify-content: space-between;
  &,
  & label {
    cursor: pointer;
  }

  &:hover .bw-icon-checkbox {
    opacity: 0.3;
  }
}

.bw-search__filter-checkbox {
  flex: 0 0 25px;
}

.bw-search__filter-name {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.bw-search__filter-count {
  color: $navy-grey;
}

.bw-search__filter-section {
  margin-left: $small-spacing;
  margin-right: $small-spacing;

  padding-top: $small-spacing;
  padding-bottom: $small-spacing;

  .bw-search__filter-section-name > span {
    font-size: 18px;
  }
}

.bw-search__player-small {
  flex: 0 0 120px;
}

.bw-search__result {
  padding-top: $smedium-spacing;
  padding-bottom: $smedium-spacing;
}

.bw-search__active-filters-button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;

  .bw-icon-close {
    font-size: 10px;
  }
}

.bw-search__input {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  width: 300px;

  &::placeholder {
    color: $navy-light-grey;
  }
}

.bw-search_remove-query {
  cursor: pointer;
  opacity: 0;
  width: 0;
}

.bw-search__filter-duration {
  color: $navy-grey;
  font-size: 14px;

  > span {
    margin-left: 12px;
  }

  .bw-search_input-duration {
    padding: 16px 13px;
    border: 1px solid $navy-light-grey;
    border-radius: 5px;
    color: $navy-light-grey;
    font-size: 14px;
    max-width: 85px;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.browse__search-overview-sorter {
  display: flex;
  align-items: center;

  > span {
    width: max-content;
  }
}

.tag-container {
  &:hover {
    opacity: 1;
  }
}
