.bw-edit-profile {

  &__info {
    display: flex;
    flex-direction: column;

    h1 {
      color: $black;
      font-size: 32px;
    }
  }

  &__username h2 {
    color: $red;
    font-size: 22px;
    line-height: 26px;
  }

  &__label_file {
    cursor: pointer;
  }

  &__input_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__textarea_block {
    position: relative;

    .edit-profile-textarea-counter {
      color: $navy-grey;
      position: absolute;
      bottom: 50px;
      right: 10px;
      font-size: 14px;
    }
  }
}
