.bw-forums {
  &__input-search {
    width: 160px;

    &::placeholder {
      color: $navy-light-grey;
    }

    &:before {
      content: '\e907';
    }
  }
}

.bw-new-thread {
  &__form {
    display: flex;
    flex-direction: column;

    label {
      width: 100%;
    }

    input,
    textarea {
      margin-top: 12px;
      margin-bottom: 39px;
      width: 100%;
      //border: 1px solid $border-input-profile; TODO After edit page merged change
      border: 1px solid #efeff2;
      background-color: $background-textarea;
      padding: 10px 20px;
      border-radius: 5px;

      &::placeholder {
        color: $navy-light-grey;
      }

      &:focus {
        background-color: $white;
        border: 1px solid $black;
      }
    }

    textarea {
      min-height: 100px;
      resize: none;

      &:focus {
        background-color: $white;
        border: 1px solid $black;
        outline: none;
      }
    }

    button {
      font-size: 17px;
    }
  }
}
