.bw-front__hero-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  padding-top: 200px;
  padding-bottom: 88px;

  header {
    text-align: center;
  }
}

.bw-front__subheader {
  color: $navy-grey;
}

.bw-front__hero-container--search {
  margin-top: 100px;

  .input-wrapper {
    height: 50px;
  }
}

.bw-front__content {
  margin-top: 50px;
}

.bw-front__donate-amount-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $black;
}

.bw-front__freesound_labs_logo {
  max-width: 225px;
  padding-top: 20%;
  background-image: url('assets/logos/logo-labs-text.svg');
  background-repeat: no-repeat;
}