.login-page-form {

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 48px;
      border-radius: 5px;
      padding: 14px 21px;
      margin-bottom: 32px;
      background-color: #f4f4f6;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $black;
        background-color: $white;
      }

      &::placeholder {
        color: $navy-grey;
      }
    }
  }

}