.bw-messages {
  .input-icon {
    left: 0;
  }

  .bw-nav__search {
    margin-left: 20px;

    &::placeholder {
      color: $navy-light-grey;
    }
  }

  .label-message-action {
    cursor: pointer;

    &:hover {
      .bw-search__filter-name {
        color: $black;
      }
    }
  }

  .archive-action {
    cursor: pointer;
    margin-top: -4px;
    display: block;

    &:hover {
      color: $black;
    }

    &:before {
      display: none;
    }
  }

  .checked-action {
    display: none;
  }

  &__messages-list {
    height: 60vh;
    overflow: scroll;
  }

  &__detail-message-container {
    background-color: $white;
    border-bottom: 1px solid $navy-light-grey;
    box-shadow: 0px 8px 4px -5px rgb(0 0 0 / 8%);
    position: sticky;
    top: 80px;
    z-index: 55;
  }

  &__detail-messages-container {
    height: 53vh;
    overflow: scroll;
  }

  &__detail-write-message-container {
    border-top: 1px solid $navy-light-grey;
    box-shadow: 0 -8px 5px -5px rgb(0 0 0 / 8%);
    z-index: 55;
    align-items: center;

    textarea {
      width: 100%;
      border: none;
      outline: none;
      resize: none;
    }
  }
}
