.bw-profile {
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  &__username {
    color: $red;
    font-size: 38px;
  }

  &__description {
    font-size: 15px;
    max-width: 568px;
    text-align: center;
  }

  &__stats {
    display: flex;
    color: $navy-grey;
    font-size: 15px;

    div:after {
      content: ' ';
      background-color: $navy-grey;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      margin: 0 12px 3px;
      display: inline-block;
    }
    div:last-child:after {
      display: none;
    }
  }

  &__taps_nav {
    margin-top: 25px;
    margin-bottom: 25px;

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      width: 100%;
      justify-content: center;

      li {
        margin: 0 12px;
        font-size: 18px;
        color: $navy-light-grey;
        cursor: pointer;
      }

      .active {
        color: $black;
      }
    }
  }

  &__tap_container {
    display: none;

    &__active {
      display: block;
    }
  }

  &__section_stats {
    padding-bottom: 32px;

    ol {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 16px;

        span {
          margin: 0 5px;
          font-size: 21px;

          &:nth-child(2) {
            color: $navy-grey;
          }

          &:last-child {
            color: $navy-light-grey;
          }
        }
      }
    }
  }

  &__sections {
    h5 {
      font-size: 26px;
    }
  }
}
