.bw-search__filter-value-list {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.bw-search__filter-tags-list {
  margin: 13px 0;
}

.bw-search__filter-value {
  display: flex;
  justify-content: space-between;
  &,
  & label {
    cursor: pointer;
  }

  &:hover .bw-icon-checkbox {
    opacity: 0.3;
  }

  &:hover .bw-icon-checkbox.disabled {
    opacity: 1.0;
  }
}

.bw-search__filter-checkbox {
  flex: 0 0 25px;
}

.bw-search__filter-name {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.bw-search__filter-count {
  color: $navy-grey;
}

.bw-search__filter-section {

  padding-top: $tiny-spacing;

  .bw-search__filter-section-name > span {
    font-size: 18px;
  }
}

.bw-search__player-small {
  flex: 0 0 120px;
}

.bw-search__result {
  padding-bottom: $tiny-spacing;

  .bw-player__img-container {
    height: 135px;

    @include md-and-above {
      height: 115px;
    }
  }

  .stars-margin-top-middle-player {
    margin-top: -5px;
    
    @include md-and-above {
      height: 0px;
    }
  }
}

.bw-search__active-filters-button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;

  .bw-icon-close {
    font-size: 10px;
  }
}

.bw-search__input2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  width: 90%;
  text-align: center;

  &::placeholder {
    color: $navy-light-grey;
  }
}

.bw-search__input_wrapper {
  width: 80%;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  background-color: $search-bg;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.bw-search__input {
  font-weight: bold;
  width: 100%;
  /*padding-left: 60px;*/
  color: $black;
  text-align: center;
  
  &::placeholder {
    color: $navy-light-grey;
  }
}

.bw-search_remove-query {
  cursor: pointer;
  opacity: 0;
  width: 0;
  margin-left: 20px;
}

.bw-search__filter-range {
  color: $navy-grey;
  font-size: 14px;

  > span {
    margin-left: 12px;
  }

  .bw-search_input-range {
    padding: 16px 13px;
    border: 1px solid $navy-light-grey;
    background-color: $background-input;
    border-radius: 5px;
    font-size: 14px;
    max-width: 65px;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &:focus {
      background-color: $white;
      border: 1px solid $black;
    }
  }
}

.bw-search_input {
  border: 1px solid $border-input;
  color: $black;
  background-color: $background-input;
  padding: 10px 20px;
  border-radius: 5px;

  &::placeholder {
    color: $navy-light-grey;
  }

  &:focus {
    background-color: $white;
    border: 1px solid $black;
  }
}

.browse__search-overview-sorter {
  display: flex;
  align-items: center;

  > span {
    width: max-content;
  }
}

.bw_search-tab {
  font-size: 18px;
}

.tag-container {
  &:hover {
    opacity: 1;
  }
}

.bw_search_navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.08);
}

.bw_sound-info-extended {
  display: flex;
  flex-wrap: wrap;
}
