.bw-sound-page {
  &__information {
    h1 {
      font-size: 36px;
    }
  }

  &__user {
    p {
      margin: 0;
    }
  }
}

.bw-sound__sidebar {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      > span {
        margin: 0 3px;
      }

      > a {
        > span {
          margin: 0 3px;
        }
      }
    }
  }
}

.dot-separated-divs {
  div:not(:last-child):after {
    content: "·";
    color: $navy-grey;
    margin-left: $tiny-spacing;
    margin-right: $tiny-spacing;
  }
}