.bw-upload {
  div.queue-container {
    padding: 1px;
    margin-left: 4px;
  }

  div.progress-container {
    height: 15px;
    width: 100%;
    border: 1px solid $red;
    display: inline-block;
  }
  div.progress {
    height: 100%;
    width: 0%;
    background-color: $red;
  }

  div.progress-done {
    height: 100%;
    background-color: $red;
    width: 100%;
  }

  div.progress-failed {
    height: 100%;
    background-color: $red;
    width: 100%;
  }

  .html_upload_form {
    margin-left: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-align: left;
  }

  .drop-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 30px $red;
    display: none;
  }

  #size-table {
    margin-bottom: 10px;
    border: 1px solid $navy-light-grey;
  }
}
