.bw-wiki {

  a {
    &:target {  // This is to make sure wii titles are aligned on top when scrolling
      display: block;
      position: relative;
      top: 20px;
      visibility: hidden;
    }
  }

  h1 {
    margin-bottom: 24px;
  }

  h2 {
    margin-bottom: 12px;
    margin-top: 40px;

    a {
      color: $black;
    }
  }

  h3 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 18px;
    padding: 4px;
  }

  th {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding: 6px 6px 6px 12px;
  }

  td {
    padding: 6px 6px 6px 12px;
  }

  tr:nth-child(even) {
    background: #efefef;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 48px;
      border-radius: 5px;
      padding: 14px 21px;
      margin-bottom: 32px;
      background-color: #f4f4f6;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $black;
        background-color: $white;
      }

      &::placeholder {
        color: $navy-grey;
      }
    }

    input[type=radio] {
      padding: 0;
      margin: 0;
      height: initial;
      margin-right: 8px;
    }

    textarea {
      display: block;
      width: 100%;
      padding: 20px 24px 5px;
      resize: none;
      border-radius: 5px;
      background-color: $background-textarea;
      border: none;
      font-size: 16px;
    }
  }

  table.diff {font-family:Courier; border:medium;}
  .diff_header {background-color:#e0e0e0}
  td.diff_header {text-align:right}
  .diff_next {background-color:#c0c0c0}
  .diff_add {background-color:#aaffaa}
  .diff_chg {background-color:#ffff77}
  .diff_sub {background-color:#ffaaaa}

}