{% extends "forum/_section.html" %}

{% load smileys %}
{% load filter_img %}

{% block title %}forum - delete post{% endblock %}

{% block forum_search %}{% endblock %}

{% block section_content %}

<h2>Do you really want to delete your post?</h2>

<div id="confirm_deletion">
<h4><a href="{% url "forums-post" post.thread.forum.name_slug post.thread.id post.id %}">No</a></h4>
    <form method="post" action="{% url "forums-post-delete-confirm" post.id %}" style="margin: 0; padding: 0">
        {% csrf_token %}
        <button type="submit">Yes</button>
    </form>
</div>
<br style="clear: both;" />
<br><br>
<div id="posts">
    <div class="post">{{post.body|replace_img|smileys|safe|linebreaks}}</div>
</div>

{% endblock %}
