{% load bw_templatetags %}
{% load smileys %}
{% load flag_user %}
{% load util %}
{% load filter_img %}

<div class="bw-post">
    <div class="row">
        <div class="col-9 col-lg-3 v-spacing-3">
            <div class="row middle">
                <div class="col-3 col-lg-5 col-xl-4">
                    {% bw_user_avatar post.author.profile.locations.avatar.L.url post.author.username 70 %}
                </div>
                <div class="col-8 col-lg-7 col-xl-8">
                    <h6 class="ellipsis"><a href="{% url "account" post.author.username %}">{{ post.author.username }}</a></h6>
                    <p class="text-grey no-margins">{{ post.author.profile.num_sounds|bw_intcomma }} sound{{ post.author.profile.num_sounds|pluralize }}</p>
                    <p class="text-grey no-margins">{{ post.author.profile.num_posts|bw_intcomma }} post{{ post.author.profile.num_posts|pluralize }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 word-wrap-break-word">
            <div class="{% if show_action_icons %}between{% endif %}">
                {% if show_post_location %}
                    <div class="v-spacing-1">
                        <span class="text-light-grey">Found in: </span>
                        <a class="text-grey h-spacing-left-1 h-spacing-1" href="{{ post.thread.forum.get_absolute_url }}">{{ post.thread.forum.name }}</a>
                        > <a class="text-grey h-spacing-left-1" href="{% url "forums-thread" post.thread.forum.name_slug post.thread.id %}">{{ post.thread.title }}</a>
                    </div>
                {% endif %}
                <div class="text-light-grey text-14">{{post.created|timesince}} ago</div>
                {% if show_action_icons %}
                <div class="text-14">
                    <span class="padding-right-2">
                        <a class="bw-link--grey" href="{% url "forums-reply-quote" post.thread.forum.name_slug post.thread.id post.id %}" title="Quote and reply" aria-label="Quote and reply"><i class="bw-icon-quote-reverse"></i><i class="bw-icon-quote"></i></a>
                    </span>
                    {% if post.author == request.user or perms.forums.change_post %}
                    <span class="padding-right-2">
                        <a class="bw-link--grey" href="{% url "forums-post-edit" post.id %}" title="Edit post" aria-label="Edit post"><i class="bw-icon-edit"></i></a>
                    </span>
                    {% endif %}
                    {% if post.author == request.user or perms.forums.delete_post %}
                    <span class="padding-right-2">
                        <a class="bw-link--grey cursor-pointer" data-toggle="confirmation-modal" data-modal-confirmation-title="Are you sure you want to delete this post?" data-modal-confirmation-url="{% url "forums-post-delete-confirm" post.id %}" title="Delete post" aria-label="Delete post"><i class="bw-icon-trash-filled"></i></a>
                    </span>
                    {% endif %}
                    {% if post_number > 0 %}
                        <a class="bw-link--grey" href="{% url "forums-post" post.thread.forum.name_slug post.thread.id post.id %}">
                            #{{ post_number }}
                        </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% if highlighted_content %}
                <div class="text-black v-spacing-top-1">
                    {{ highlighted_content|safe|truncatewords_html:70 }}
                </div>
                <div class="v-spacing-top-2">
                    <a href="{% url 'forums-post' post.thread.forum.name_slug post.thread_id post.id %}">Read full post...</a>
                </div>
            {% else %}
                <div class="text-left text-black v-spacing-top-1">
                {{ post.body|replace_img|smileys|safe|linebreaks|strip_unnecessary_br }}
                {% if post.author.profile.signature %}
                    <div class="text-grey">
                        {{post.author.profile.signature|replace_img|smileys|safe}}
                    </div>
                {% endif %}
                </div>
            {% endif %}
            {% if show_report_actions %}
            <div class="between middle v-spacing-top-3">
                {% if request.user.is_staff %}
                    <div class="text-light-grey">Edit in the admin:
                        <a class="text-grey" href="{% url "admin:forum_post_change" post.id %}">Post</a> |
                        <a class="text-grey" href="{% url "admin:forum_thread_change" post.thread.id %}">Thread</a>
                    </div>
                {% else %}
                    <div></div>
                {% endif %}
                <div class="text-right text-13 bw-post__report">
                    {% flag_user "FP" post.author.username post.id "" post.author.profile.num_sounds %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>