{% comment %}
<p style="color:red">As a temporary measure to avoid spam, <strong>new registered</strong>
users are not able to create new threads or post replies until a week has
passed since their registration date. If that is your case, your post or thread won't be published
when clicking to the "create thread" or "reply" button.</p>
{% endcomment %}


<p>To format your text you can use the following HTML tags: a, img, strong, b, em, li, u, p, br, blockquote, code.<br>
    Anything between '< >' except for the tags above will be removed.

