{% extends "forum/_section.html" %}


{% load paginator %}
{% load smileys %}

{% block title %}Latest forum posts{% endblock %}

{% block breadcrumb %}&#187; Latest forum posts{% endblock %}

{% block section_content %}

<div class="forum_pagination">
    {% show_paginator paginator page current_page request "post" %}
</div>

<ul id="posts">
{% for post in page.object_list %}
    <li class="post">
        <a name="post{{post.id}}"></a>
        <a href="{% url "account" post.author.username %}"><img src="{{post.author.profile.locations.avatar.S.url}}" width="32" height="32" alt="avatar" class="avatar" /></a>
        <div class="post_author"><a href="{% url "account" post.author.username %}">{{post.author.username}}</a></div>
        <div class="post_details">
            {{post.author.profile.num_sounds}} sound{{post.author.profile.num_sounds|pluralize}}<br/>
            {{post.author.profile.num_posts}} post{{post.author.profile.num_posts|pluralize}}<br>
            <!-- Joined: {{post.author.date_joined|date:"d M Y"}}<br/> -->
            <div class="post_date">{{post.created|timesince}} ago</div>
        </div>
        <div class="subject">
            <a href="{% url "forums-post" post.thread.forum.name_slug post.thread.id post.id %}" class="topic_subject">{{post.thread.title|safe}}</a><br />
        </div>
        <br>
        {{post.body|smileys|safe|linebreaks}}
    </li>
{% endfor %}
</ul>

<div class="forum_pagination">
    {% show_paginator paginator page current_page request "post" %}
</div>
{% endblock %}
