{% extends "forum/_section.html" %}

{% load smileys %}
{% load filter_img %}

{% block title %}Unmoderated forum posts{% endblock %}

{% block section_content %}
<br/>
<h3> Unmoderated posts:</h3>

    <ul id="posts">
        {% for post in post_list %}
            <li class="post">
                <a name="post{{post.post.id}}"></a>
                <a href="{% url "account" post.post.author.username %}"><img src="{{post.post.author.profile.locations.avatar.S.url}}" width="32" height="32" alt="avatar" class="avatar" /></a>
                <div class="post_author"><a href="{% url "account" post.post.author.username %}">{{post.post.author.username}}</a></div>
                <div class="post_details">
                    {{post.post.author.profile.num_sounds}} sound{{post.post.author.profile.num_sounds|pluralize}}<br/>
                    {{post.post.author.profile.num_posts}} post{{post.post.author.profile.num_posts|pluralize}}<br>
                    <!-- Joined: {{post.post.author.date_joined|date:"d M Y"}}<br/> -->
                    <div class="post_date">{{post.post.created|timesince}} ago</div>
                </div>
                <div class="subject">
                    <a href="{% url "forums-post" post.post.thread.forum.name_slug post.post.thread.id post.post.id %}" class="topic_subject">{{post.post.thread.title|safe}}</a><br />
                </div>
                <br>
                {{post.post.body|replace_img|smileys|safe|linebreaks}}

                {% if post.post.author.profile.signature %}
                    <div class="signature">{{post.post.author.profile.signature|replace_img|smileys|safe}}</div>
                {% endif %}

            </li>
            <form action="." method="post">{% csrf_token %}
                {{ post.form.as_p }}
                <input type="submit" value="send" />
            </form>
        {% endfor %}
    </ul>

{% endblock %}
