{% extends "forum/_section.html" %}


{% block title %}forum - new thread{% endblock %}

{% block breadcrumb %}&#187; <a href="{% url "forums-new-thread" forum.name_slug %}">New thread</a>{% endblock %}

{% block forum_search %}{% endblock %}

{% block section_content %}

<form method="post" action="." class="disable-on-submit">{% csrf_token %}

{% include 'forum/html_explanation.html' %}

<div>
    {{ form.non_field_errors }}
    {{ form.title.errors }}
<p>
    <label for="{{ form.title.id_for_label }}">Thread title:</label><br>
    {{ form.title }}
</p>
    {{ form.body.errors }}
<p>
    <label for="{{ form.body.id_for_label }}">Message:</label><br>
    {{ form.body }}
</p>
<p>
    {{ form.subscribe }} <label for="{{ form.subscribe.id_for_label }}">{{ form.subscribe.help_text }}</label><br>
</p>
</div>
<input type="submit" value="create thread" />
</form>

<script>
  $(function() {
    unsecureImageCheck($('#{{ form.body.id_for_label }}'));
  })
</script>


{% endblock %}
