{% extends "forum/_section.html" %}

{% block title %}forum - reply{% endblock %}

{% block forum_search %}{% endblock %}

{% block section_content %}

<h2>Edit post</h2>

<!-- wrapping in edit_post_form so we can hide the subscribe button -->
<div id="edit_post_form">
    <form method="post" action=".">{% csrf_token %}
        {% include 'forum/html_explanation.html' %}
<div>
    {{ form.non_field_errors }}
    {{ form.body.errors }}
<p>
    <label for="{{ form.body.id_for_label }}">Message:</label><br>
    {{ form.body }}
</p>
</div>
        <input type="submit" value="submit" />
    </form>
</div>

<script>
  $(function() {
    unsecureImageCheck($('#id_body'));
  })
</script>
{% endblock %}
