{% extends "forum/_section.html" %}

{% load filter_img %}

{% block title %}forum - reply{% endblock %}

{% block breadcrumb %} &#187; <a href="{% url "forums-reply" forum.name_slug thread.id %}">Post Reply</a>{% endblock %}

{% block forum_search %}{% endblock %}

{% block section_content %}

<form method="post" action="." class="disable-on-submit">{% csrf_token %}
{% include 'forum/html_explanation.html' %}
{{form.as_p}}
<input type="submit" value="reply" />
</form>
<h2>Latest posts in thread:</h2>
<div style="height:400px; overflow: auto; margin: 10px;">
{% for post in latest_posts %}
    <p>
    <a href="{% url "account" post.author.username %}">{{post.author.username}}</a>, {{post.created|timesince}} ago:</br>
    {{post.body|replace_img|safe|linebreaks}}
    </p>
{% endfor %}
</div>

<script>
  $(function() {
    unsecureImageCheck($('#id_body'));
  })
</script>

{% endblock %}
