{% extends "forum/_section.html" %}

{% load paginator %}
{% load util %}

{% block title %}forums - {{forum.name}}{% endblock %}

{% block breadcrumb %}
&#187; <a href="{{forum.get_absolute_url}}">{{forum.name}}</a>
{% endblock %}

{% block section_content %}
<div class="forum_pagination">
	<div class="forum_button"><a href="{% url forums-new-thread forum.name_slug %}">New Topic</a></div>
	{% show_paginator paginator page current_page request "thread"%} 
</div>

<ul id="topics">
{% for thread in page.object_list %}
	<li{% if thread.status == 2 %} class="highlighted"{% endif %}>
		<div class="latest_post">
			{% if thread.last_post.id %}
			<a href="{% url forums-post forum.name_slug thread.id thread.last_post.id %}">Latest post</a> by <a href="{% url account thread.last_post.author.username %}">{{thread.last_post.author.username}}</a><br />
			{{thread.last_post.created|timesince}} ago
			{% endif %}
		</div>

		{% if thread.last_post.created > last_action_time and forum.last_post.author != request.user %}
			<img src="{{media_url}}images/forum_new.png" width="20" height="20" alt="new posts">
		{% else %}
			<img src="{{media_url}}images/forum_nonew.png" width="20" height="20" alt="no new posts">
		{% endif %}

		{% comment %}use url tag here because get_absolute_url does more queries!{% endcomment %}
		<a href="{% url forums-thread forum.name_slug thread.id %}" class="topic_subject">{{thread.title|safe}}</a><br />
		{{thread.num_posts}} post{{thread.num_posts|pluralize}}
	</li>
{% endfor %}
</ul>

<div class="forum_pagination">
	<div class="forum_button"><a href="{% url forums-new-thread forum.name_slug %}">New Topic</a></div>
	{% show_paginator paginator page current_page request "thread" %} 
</div>
{% endblock %}