

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    color: #AB4646;
    margin-top: 7px;
    margin-bottom: 7px;
}





.player.small {
    display: inline;
    float: left;
    margin-right: 5px;
}

#avatar {
    display: inline;
    float: left;
    margin-right: 5px;
}

body {
    color: #333333;
    margin: 0;
    padding: 0;
}

/* Large */

body.large {
    background: #F3F3F3 url(../images/widgets/large_bg.png) no-repeat top left;
}

.widget.large .player.large {
    margin-left: 10px;
    margin-top: 8px;
}

.widget.large .sample_info {
    width: 920px;
}

.widget.large .sample_info h3 {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.widget.large .avatar {
    margin-left: 14px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    float: left;
}

.widget.large .sample_info .cc_license {
    float: right;
    margin-right: 12px;
    margin-top: 8px;
/*     display: block; */
}

.widget.large .sample_info  a {
    width: 88px;
    height: 18px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    background-image: url(../images/widgets/see_on.png);
}

.widget.large .sample_info a:hover {
    background-image: url(../images/widgets/see_on_hover.png);
}


/* Medium */

body.medium {
    background: #ffffff url(../images/widgets/medium_bg.png) no-repeat top left;
}

.widget.medium .player_wrapper {
    float: left;
    width: 120px;
    padding: 8px;
}

.widget.medium .avatar {
    margin-right: 5px;
    float: left;
}

.widget.medium .title {
    width: 100%;
    overflow: hidden;
}

.widget.medium .title img {
    float: left;
    margin-top: 5px;
}

.widget.medium .title h3 {
    width: 310px;
    float: left;
}

.widget.medium .sample_info_left {
    width: 160px;
    margin-left: 10px;
    float: left;
    margin-top: 8px;
    overflow: hidden;
}

.widget.medium .sample_info {
    width: 345px;
    float: left;
}

.widget.medium .username {
    float: left;
    width: 115px;
}

.widget.medium .sample_info_left  a {
    width: 88px;
    height: 18px;
    display: block;
    float: left;
    background-image: url(../images/widgets/see_on.png);
}

.widget.medium .sample_info_left a:hover {
    background-image: url(../images/widgets/see_on_hover.png);
}

.widget.medium .sample_info_right {
    width: 170px;
    float: left;
}

.widget.medium ul#tags {
    padding: 0;
    margin: 0;
    line-height: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 56px;
}

.widget.medium #tags li {
    display: block;
    float: right;
    margin: 2px;
    height: 23px;
    background-color: #F7F5D9;
    border-bottom: solid 1px #D3C9AA;
}

.widget.medium #tags li span {
    display: block;
    padding: 3px 6px 0 12px;
    min-height: 21px;
    font-size: 11px;
    font-weight: bold;
    background: url(../images/tag_edge.png) no-repeat left top;
}
